{% extends 'base.html' %}
{% block content %}
{% load i18n %}

<!-- Please enter you email id
<form method="post" action="{% url 'DMSaccount:reset'%}" enctype="multipart/form-data">
   {% csrf_token %}
<input type="text" name="email">
<input type="submit" value="Submit">
</form> -->
<form method="post" action="{% url 'DMSaccount:reset'%}" autocomplete="off" enctype="multipart/form-data">
  {% csrf_token %}
<div class="center-div_fixed"></div>
   <div class="text-center col-6 mx-auto">
          <div class="tile" style="margin:auto">
              <div class="tile-header" style=" width:100%;" >
              </div>
          <div class="tile-body">
                <h6>{% trans "Let's get you into your account" %}</h6>
                <label for="email" class="form-input">
                    <input type="email" name="email" placeholder="{% trans 'Email ID' %}" autocomplete="off" required />
                    <div class="underline"></div>
                </label>
                <br/>
                <input type="submit" class="btn btn-lg btn-danger btn-block" value="{% trans 'Submit' %}"><br>
          </div>
          </div>
       <br>
   </div>
</form>

 {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}

{% endblock %}
