{% extends 'base.html' %}

{% block content %}
<div class="center-div_fixed"></div>
<br/>
<div class="col-md-12 mx-auto">
    <div class="card card.bg-success.text-white" style="border-radius: 2.25rem;background: #2c6ee1;color: white;padding:2.5rem">
  <h6>
    We've emailed you instructions for setting your password, if an account exists with the email you entered.
    You should receive them shortly.
  </h6>
  <h6>
    If you don't receive an email, please make sure you've entered the address you registered with,
    and check your spam folder.
  </h6>
  <button type="button" name="button" onclick="window.history.back();">Back</button>
  </div>
  </div>

{% endblock %}
karans@adroitcorporate.com
