{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
  {% if validlink %}

    <div class="center-div_fixed"></div>
    <br/>
    <div class="col-12 mx-auto">
        <div class="card card.bg-success.text-white">
          <div class="card-header text-center bg-primary text-white">Change Password</div>
          <div class="card-body">
            <form method="post" autocomplete="off">
              {% csrf_token %}
              {% for field in form %}
              <span>{{ field.label_tag }} {% if field.field.required %} * {% endif %}</span>
              <span>{{ field }}</span><br>
              {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
              {% endfor %}
              {% endfor %}
              {% if messages %}
                {% for message in messages %}
                  <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}<span><a href="{% url 'user_login'%}"> Login&nbsp;</a>now.</span>
                  </div>

                {% endfor %}
            {% endif %}


        <div class="text-center"><button type="submit" class="btn btn-primary" id="bb">Submit</button>
        <button class="btn btn-primary" type="reset">Cancel</button></div>
          </form>
           </div>
          </div>
    </div>
    <div class="center-div_fixed"></div>
  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
{% endblock %}
