{% extends 'header.html' %}
{% block body_block %}
<title> {% block title %} Administration {% endblock %}</title>
{% load i18n %}
<br/>
<div class="breadcrumb_dms">
        <nav>
            <ol class="breadcrumb breadcrumb_lbl">
                <li class="breadcrumb-item"><a href="{% url 'DMS:home' %}">{% trans 'Home' %}</a></li>
                <li class="breadcrumb-item active">{% trans 'Administration' %}</li>
            </ol>
        </nav>
    </div>

<div class="breadcrumb  accord"><a href="{% url 'DMSaccount:user_roles' %}">User Roles</a></div>

<div class="breadcrumb  accord"><a href="{% url 'DMS:table_request_form' %}">MIS/Admin Query</a></div>

{% endblock %}
