<title> {% block title %} Administration {% endblock %} </title>
<div class="table-responsive">
      <table id="book-table" class = 'table table-bordered table-hover table-striped table-sm' >
     <thead class='table-info text-center' >
      <tr>
        <th>Sr. No.</th>
        <th>User Name</th>
        <th>Superuser</th>
        <th>Manager</th>
        <th>Checker</th>
        <th>Maker</th>
        <th>Department</th>
        <th>Edit</th>
      </tr>
      </thead>
      <tbody class="text-center">
      {% for user in users %}
       {% for profile in profiles %} 
        {% if profile.username.id == user.pk %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{user}}</td>
            <td>{{user.is_superuser}}</td>
            <td>{{user.is_manager}}</td>
            <td>{{user.is_checker}}</td>
            <td>{{user.is_maker}}</td>
             <td>{% if profile.Department %} {{profile.Department}} {% else %} {% endif %}</td>
            <td><a href="{% url 'DMSaccount:change_role_for_user' user.id %}" class="edit_class btn btn-sm btn-primary"><i class="fa fa-edit"></i></a></td>
        </tr>
        {% endif %}
      {% endfor %}
      {% endfor %}
      </tbody>
    </table>
 </div>
<script>
    var myTable = $('#book-table').DataTable({
        });
</script>
