{% extends 'header.html' %}
{% load i18n %}
{% block body_block %}
<title> Change User Role </title>
<style>
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #0d4c91;
}

input:focus + .slider {
  box-shadow: 0 0 1px #0d4c91;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
</style>
<br/>

	<div class="breadcrumb_dms">
        <nav>
            <ol class="breadcrumb breadcrumb_lbl">
                <li class="breadcrumb-item"><a href="{% url 'DMS:home' %}">{% trans 'Home' %}</a></li>
				<li class="breadcrumb-item"><a href="{% url 'DMSaccount:administration' %}"> Administration</a></li>
				<li class="breadcrumb-item"><a href="{% url 'DMSaccount:user_roles' %}">User Roles </a> </li>
                <li class="breadcrumb-item active">{% trans 'Change Role' %}</li>
            </ol>
        </nav>
    </div>

        <!--Username: {{ requested_user }}<br/>-->
        <!--First Name:{{ requested_user.first_name }}<br/>-->
        <!--Last Name: {{ requested_user.last_name }}<br/>-->
        <!--Email ID:{{ requested_user.email }}-->
<div class="col-md-4 mx-auto">
<div class="card">
    <div class="card-header bg-primary text-white">User Roles : <strong style="font-size: large;">{{ requested_user }}</strong></div>
    <div class="card-body">

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

      {% for field in form %}
    {{ field.label_tag }} {% if field.field.required %} * {% endif %}

            {{ field }} <br>
            {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
      {% endfor %}
<div class="text-center">
    <input type="submit" class="btn btn-sm btn-primary" value="Submit">
    </div>

</form>
    </div>
</div>
    </div>

{% endblock %}
