{% extends 'header.html' %}
{% load i18n %}
{% load static %}
{% block body_block %}

<br/>
<head>
    <link rel = "stylesheet" type = "text/css" href = "{% static 'table/css/jquery.dataTables.css' %}"/>

    <script src = "{% static 'table/js/jquery.dataTables.js' %}"></script>
</head>
<div class="breadcrumb_dms">
        <nav>
            <ol class="breadcrumb breadcrumb_lbl">
                <li class="breadcrumb-item"><a href="{% url 'DMS:home' %}">{% trans 'Home' %}</a></li>
				<li class="breadcrumb-item"><a href="{% url 'DMSaccount:administration' %}">Administration</a></li>
                <li class="breadcrumb-item active">{% trans 'User Roles' %}</li>
            </ol>
        </nav>
    </div>

{% if messages %}
  {% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      {{ message }}
    </div>
  {% endfor %}
{% endif %}

  <div class="row">
    <div class="col-md-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"></h3>
        </div>
        <div class="list-group border p-2" style="overflow-y:auto;height:23rem">

            <strong>Super User :</strong>
            {% for user in users %}
                {% if user.is_superuser %}
                 {{user }}<br/>
                {% endif %}
            {% endfor %}

            <br/>
            <strong>Active Users :</strong>
            {% for user in users %}
                {% if user.is_active %}
                 {{user }}<br>
                {% endif %}
            {% endfor %}

            <br/>
            <strong>Manager:</strong>
            {% for user in users %}
                {% if user.is_manager %}
                 {{user }}<br>
                {% endif %}
            {% endfor %}

            <br/>
            <strong>Checker:</strong>
            {% for user in users %}
                {% if user.is_checker %}
                 {{user }}<br>
                {% endif %}
            {% endfor %}

            <br/>
            <strong>Maker:</strong>
            {% for user in users %}
                {% if user.is_maker %}
                 {{user }}<br>
                {% endif %}
            {% endfor %}


                </div>
            </div>
        </div>

<div class="col-md-10">
    {% include 'administration/all_user_info.html' %}
</div>
</div>
<br/>
{% endblock %}
