
{% if files %}
{% for file in files %}
<tr>
    <td>{{ file.fields.srNo }}</td>
    <td>{{ file.fields.Uploader }}</td>
    <td>{{ file.fields.Filename  }}</td>
    <td>{{ file.fields.file_type }}</td>
    <td>{{ file.fields.user }}</td>
    <td> {{ file.fields.uploaded_at }} </td>
    <td> {{ file.fields.edited_at }} </td>
    <td> <a href="{%url 'DMSloader:file_loader' file.pk %}" title="Edit File" class="btn btn-sm btn-primary" ><i class="fa fa-edit fa-lg"></i></a></td>
</tr>
{% endfor %}
{% else %}

 <tr>
    <td colspan="8"><h1 id="no">No Records Found</h1></td>
  </tr>

{% endif %}
