{% extends 'header.html' %}
{% block body_block %}
{% load i18n %}
{% load staticfiles %}
{% if user.is_authenticated %}

<p class="breadcrumb breadcrumb_lbl"><a href="{%url 'home'%}">Home</a> / <a href="{%url 'DMS:notification_files' %}">Notifications</a></p>
<br>
<p class="breadcrumb  accord"><strong> All Accounts </strong></p>
<br>
    <table id="notification_list" class = 'table'>
            <thead >
                <tr>
                    <th> {% trans 'Sr. No.' %} </th>
                    <th> {% trans 'Customer Name' %} </th>
                    <th> {% trans 'Identity' %}</th>
                    <th> {% trans 'Identity Proof' %} </th>
                    <th> {% trans 'Pan Card' %} </th>
                    <th> {% trans 'Photo' %} </th>
                    <th> {% trans 'Signature' %} </th>
                    <th> {% trans 'Status' %} </th>
                    <th> {% trans 'Change' %} </th>
                </tr>
            </thead>
            <tbody>
                    {% for task in all_accounts %}
                        <tr>
                            <td> {{ forloop.counter }} </td>
                            <td> {{ task.customer_name }} </td>
                            <td> {{ task.identity }} </td>
                            <td> <a href="{{ task.identity_proof.url}}" class="btn btn-primary">Identity proof
                                 </a>
                            </td>
                            <td>
                                <a href="{{ task.Pan_Card.url }}" class="btn btn-primary">Pan Card
                                </a>
                            </td>

                            <td>
                                <a href="{{ task.Photo.url }}" class="btn btn-primary">Photo
                                </a>
                            </td>
                            <td><a href="{{ task.Signature.url }}" class="btn btn-primary">Signature
                                </a>
                                 </td>
                             <td> {{ task.status }} </td>
                            <td>
                                <button type="button" class="btn btn-info modal_type" data-url="{% url 'DMS:approval_form_for_account_opening' task.id %}">Edit
                                  </button>
                            </td>
                        </tr>
                    {% endfor %}
            </tbody>
    </table>


    <div class="modal fade" id="modal_id">
      <div class="modal-dialog">
        <div class="modal-content"></div>
      </div>
    </div>

   {% else %}
    You are not Logged In. Please login
   {% endif %}

<script>
      $('.modal_type').on("click",function (){
         $.ajax({
           url: $(this).attr("data-url"),
           dataType: 'json',
           beforeSend: function () {
             $("#modal_id").modal("show");
           },
           success: function (data) {
             $("#modal_id .modal-content").html(data.html_form);
           }
         });

      });
</script>

{% endblock %}
