{% extends 'header.html' %}
{% load static %}
{% load i18n %}
{% block body_block %}
{% if user.is_authenticated %}
<style>
    td,th
    {
        text-align:center;
    }
    #no{
      color:gray;
    }
</style>


<div class="breadcrumb_dms">
        <nav>
            <ol class="breadcrumb breadcrumb_lbl">
                <li class="breadcrumb-item"><a href="{% url 'DMS:home' %}">{% trans 'Home' %}</a></li>
				 <li class="breadcrumb-item active"><a href="{% url 'DMS:dashboard' %}">{% trans 'Document Management' %}</a></li>
				 <li class="breadcrumb-item active">{% trans 'Encrypt Document' %} </li>
            </ol>
        </nav>
    </div>

<div style="float:left;">
  <form class="form-inline" autocomplete="off">
    <input class="form-control mr-sm-2" type="text" style="width:300px;" placeholder="{% trans 'Search By File Name or User Name' %}" aria-label="Search" name="searchMe" id="more_search" data-url="{% url 'DMS:encryption' %}">

  </form>
</div><br><br>


<div class="table-responsive">
 <table class = 'table table-bordered table-hover table-sm table-striped access_history_table' id="book-table" style="white-space:nowrap">
      <thead class='table-info'>
      <tr>
        <th>{% trans 'Sr. No.' %}</th>
        <th>{% trans 'Uploader' %}</th>
        <th>{% trans 'Filename' %}</th>
        <th>{% trans 'File Type' %} </th>
        <th>{% trans 'Download' %} </th>
        <th>{% trans 'Encrypt' %} </th>



      </tr>
      </thead>
      <tbody>
        {% include 'files/encrypt_files.html' %}

      </tbody>
    </table>

    <div class="mypage">
           {% include 'files/pagination.html' %}
         </div>
       <div class="modal fade" id="modal-book">
         <div class="modal-dialog">
           <div class="modal-content"></div>
         </div>
       </div>
     </div>

</div>
{% else %}
  You are not logged in.
{% endif %}
<script type="text/javascript">


  $('#more_search').on('keyup', function() {
    if ($(this).val()){

      var val = this.value;
      console.log(val);
    }else{

      var val='0'
    }

    var url = $(this).attr("data-url");

    $.ajax({
            url: url,
            data:{
              'searchVal' : val
            },

            success: function (data) {
              if (data.form_is_valid) {

                $("#book-table tbody").html(data.html_book_list);
                $(".mypage").html(data.page_div);
              }
              else {

                $("#modal-book .modal-content").html(data.html_form);
              }
            }
          });
          return false;
  });

</script>




{% endblock %}
