<div id="myForm" class="panel panel-default chat-popup" >
        <div class="panel-heading"><strong>Chat With Us</strong></div>
        <div id="msg-list-div" class="panel-body" style="overflow-y:scroll;height: 200px;width:280px;">
            <ul id="msg-list" class="list-group">
                <li class="text-left response list-group-item" id="chatme">
                </li>

            </ul>
        </div>
    <form id="chat-form" method="post" action="#" autocomplete="off" >
    <div id="chat-bottom" class="input-group">
        <input type="text" id="chat-msg" name="chat-msg" class="form-control"/>
        <span class="input-group-btn">
            <input class="btn btn-danger" id="send" type="submit" value="Send"/>

            <button type="button" class="btn btn-cancel" onclick="closeForm()">Close</button>
        </span>
    </div>
    </form>
</div>

<button type="button" onclick="openForm()" class="btn btn-success mybtn fa fa-comments " style="height: 40px;width:200px; font-size:25px;">Chat</button>
