{%load static%}
{% load i18n %}
{% if files %}
{% for notif in files %}
        <tr class="{% if notif.fields.unread %} a1 {% endif %}" id="myclass_{{notif.pk}}">
            {% if notif.fields.receiver == request.user.id %}
            <td> {{ notif.fields.srNo }} </td>
            <td style="text-align:left"> {{notif.fields.sender}} has changed the status of Application Form  <i><u>{{ notif.fields.customer_id }}</u></i>  to {{notif.fields.type}} for {{ notif.fields.wf_name }}</td>
            <td>
                <a class="btn btn-info btn-sm btn-notification" title="Change Record" data-cities-url="{% url 'DMS:mark_read_account' notif.pk %}">
                     <i class="fa fa-envelope {% if not notif.fields.unread %} fa-envelope-open {% endif %}">
                     </i>
                 </a>
            </td>
            <td>
                <button type="button" data-cities-url="{% url 'DMS:delete_notification_for_workflow' notif.pk %}" title="Delete Notification" class="btn btn-sm btn-danger deletebtn"><i class="fa fa-trash"></i></button>
            </td>
	    <td>
                {% if notif.fields.type == 'Rejected' %}
                <a  href="{% url 'WorkflowManagement:all_rejected_forms' notif.fields.status notif.pk %}" title="Check Record" class="btn btn-sm btn-info"><i class="fa fa-link"></i></a>
                {% elif notif.fields.type == 'Drafted' %}
                <a href="{% url 'WorkflowManagement:customer_data_for_approval' notif.fields.status notif.pk %}" title="Check Record" class="btn btn-sm btn-info"><i class="fa fa-link"></i></a>
                {% elif notif.fields.type == 'Approved' %}
                <a href="{% url 'WorkflowManagement:all_wf_forms' notif.fields.wf_id 'Approved' notif.pk %}" title="Check Record" class="btn btn-sm btn-info"><i class="fa fa-link"></i></a>
                {% elif notif.fields.type == 'Pending' %}
                <a href="{% url 'WorkflowManagement:all_user_forms_workflow' notif.fields.status notif.pk %}" title="Check Record" class="btn btn-sm btn-info"><i class="fa fa-link"></i></a>
                {% endif %}
            </td>
            {%endif%}

        </tr>
    {% endfor %}
{% else %}
<tr>
    <td colspan="5"><h1 id="no">{% trans 'No Records Found' %}</h1></td>
  </tr>
{% endif %}

<script src="{% static 'javascript/notification.js' %}"></script>
