{% extends 'base.html' %}
{% load static %}
{% block content %}

        {% if file.is_protected %} File is protected with a password. To view or download the same,
                Please enter the password..!! {% endif %} <br>

        <strong>File Name:</strong> {{ file.Filename }}<br>
        <strong>Download File:</strong> <a data-cities-url="{% url 'DMS:download' file.id 'user_files' %}" class = "btn btn-primary btn-sm btn_download_externally" name="{{file.id}}">Download File
            <span class="fa {% if file.is_protected %} fa-lock {% endif %}"></span>
        </a>

<script src="{% static 'javascript/externally_shared_doc.js' %}"></script>
{% endblock %}
