{% extends 'header.html' %}
{% if user.is_authenticated %}
{% block body_block %}

<div>
<a href="{% url 'home' %}">Home</a> / <a href="{%url 'DMS:workflow_management'%}">Workflow Management</a>
</div>

<h1 class="page-header">
    <small> {% block title %}{% endblock %}</small>
  </h1>
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"></h3>
        </div>
        <div class="list-group">
          <a href="{% url 'DMS:approved_forms_for_AO' %}" class="list-group-item">
            Approved Forms
          </a>
          <a href="{% url 'DMS:rejected_forms_for_AO' %}" class="list-group-item">
            Rejected Forms
          </a>
        </div>
      </div>
    </div>

<div class="col-md-9">
  {% block form_content %}
  {% endblock %}
</div>
  </div>
{% endblock %}
{% endif %}