{% for notif in files %}

    <tr class="{% if notif.fields.unread %} a1 {% endif %}">
        {% if notif.fields.sender == request.user.id %}
        <td>{{ notif.fields.srNo }}</td>
        <td > Your Request to share the file {{ notif.fields.object_type.Filename }} with  {{ notif.fields.status.requested_user }} has been {{ notif.fields.status }}</td>
        <td>  <a class="btn btn-info btn-sm btn-notification" title="Change Status" data-cities-url="{% url 'DMS:mark_read' notif.pk %}">
                 <i class=" fa fa-envelope {% if not notif.fields.unread %} fa-envelope-open {% endif %}">
                 </i>
             </a>
        </td>
        {%endif%}
        {% if notif.fields.receiver == request.user.id %}
        <td> {{ notif.fields.srNo}} </td>
        <td>{{ notif.fields.status.user }} has shared a file {{ notif.fields.object_type.Filename }} with you </td>
        <td>  <a data-cities-url="{% url 'DMS:mark_read' notif.pk %}" title="Change Status" class="btn btn-info btn-sm btn-notification" >
                <i class=" fa fa-envelope {% if not notif.fields.unread %} fa-envelope-open {% endif %}">
                 </i>
                </a>
        </td>
        {% endif %}

    </tr>
{% endfor %}
