{% for notif in files %}

        <tr class="{% if notif.fields.unread %} a1 {% endif %}">
            {% if notif.fields.sender == request.user and notif.fields.type == "notification changed"%}
            <td> {{ notif.fields.srNo }} </td>
            <td> Your Request to share the file {{ notif.fields.object_type.Filename }} with {{ notif.fields.receiver}} has been {{ notif.fields.status }}</td>
            <td>
                <a class="btn btn-info btn-sm btn-notification"  title="Change Status" data-cities-url="{% url 'DMS:mark_read' notif.pk %}">
                     <i class="fa fa-envelope {% if not notif.fields.unread %} fa-envelope-open {% endif %}">
                     </i>
                 </a>
            </td>
            {%endif%}
            {% if notif.fields.receiver == request.user and notif.fields.type == "notification changed" %}
            <td> {{ notif.fields.srNo }} </td>
            <td> {{ notif.fields.sender }} has shared a file {{ notif.fields.object_type.Filename }}with you </td>
            <td>
                <a class="btn btn-info btn-sm btn-notification" title="Change Status" data-cities-url="{% url 'DMS:mark_read' notif.pk %}">
                     <i class=" fa fa-envelope {% if not notif.fields.unread %} fa-envelope-open {% endif %}">
                     </i>
                 </a>
            </td>
            {% endif %}
            {% if notif.fields.type == "Share File" %}
            <td> {{ notif.fields.srNo }} </td>
            <td>{{ notif.fields.sender }} has requested to share file{{notif.fields.object_type.Filename}} with {{ notif.fields.receiver }} </td>
            <td>
                 <a class="btn btn-info btn-sm btn-notification" title="Change Status" data-cities-url="{% url 'DMS:mark_read' notif.pk %}">
                     <i class=" fa fa-envelope {% if not notif.fields.unread %} fa-envelope-open {% endif %}">
                     </i>
                 </a>
            </td>
            {% endif %}
        </tr>
    {% endfor %}
