{% extends 'other_files/forms.html' %}
{% load static %}
{% if user.is_authenticated %}
{% block title %}
Approved Forms
{% endblock %}

{% block form_content %}
 <table class="table" id="book-table">
      <thead >
      <tr>
        <th>Sr. No.</th>
        <th>Customer Name</th>
        <th>Status</th>
        <th> Remarks </th>
        <th>Approved By</th>
        <th> Download </th>

      </tr>
      </thead>
      <tbody>
        {% for account in account %}
        <tr>
            <td> {{ forloop.counter}}</td>
            <td>{{account.customer_name}}</td>
            <td> {{account.status}} </td>
            <td> {{account.remarks}} </td>
            <td>{{account.for_approval}}</td>
            <td> <a href="#">Download Docs.</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

{% endblock %}
{% endif %}