{% extends 'header.html' %}
{% load i18n %}
{% load staticfiles %}
{% block  body_block %}
<title> {% block title %} Administration {% endblock %}</title>
<br/>

<div class="breadcrumb_dms">
        <nav>
            <ol class="breadcrumb breadcrumb_lbl">
                <li class="breadcrumb-item"><a href="{% url 'DMS:home' %}">{% trans 'Home' %}</a></li>
				 <li class="breadcrumb-item active"><a href="{% url 'DMSaccount:administration' %}">{% trans 'Administration' %}</a> </li>
				 <li class="breadcrumb-item active">{% trans 'MIS-Admin Query' %}</li>
            </ol>
        </nav>
    </div>


<form method="post" id="tableForm" style="text-align: center;">
    {% csrf_token %}
        {{ table_form.as_p }}
    <button type="submit" class="btn btn-sm btn-primary">Submit</button>
    <button type="reset" class="btn btn-sm btn-danger">Reset</button>
</form>
<button id="htmlToExcel" class="btn btn-sm btn-primary" style="text-align: center;">Export To Excel File</button>
        <div id="message_container">
            {% include 'messages.html' %}
        </div>
            <table  class="tblData">
                <thead>
                    <tr>
                        <th>Label </th>
                        <th>Data</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in table_data %}
                        {% for i,j in data.items %}
                    <tr><td>{{i}} :</td><td>{{j}}</td></tr>
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>




<script>
$('#htmlToExcel').on('click', function(){
  $(".tblData").table2excel({
    exclude: ".noExl",
    name: "Excel Document Name",
    filename: "Downloaded_files.xls",
    fileext: ".xls",
    exclude_img: true,
    exclude_links: true,
    exclude_inputs: true
  });
});

  </script>

{% endblock %}
