{% extends 'header.html' %}
{% load i18n %}
{% block body_block %}
<title> {% block title %} Themes Management {% endblock %} </title>
<br/>
<div class="breadcrumb_dms">
        <nav>
            <ol class="breadcrumb breadcrumb_lbl">
                <li class="breadcrumb-item"><a href="{% url 'DMS:home' %}">{% trans 'Home' %}</a></li>
				 <li class="breadcrumb-item active"><a href="{% url 'DMSaccount:dms_settings' %}">{% trans 'Settings'%}</a></li>
				 <li class="breadcrumb-item active">{% trans 'Theme Management' %}</li>
            </ol>
        </nav>
    </div>    


      <form action="{% url 'DMS:theme_management_selection' %}" method="post">
          {% csrf_token %}
            {{ form.as_p }}

          <button type="submit" value="Submit">Button</button>

        </form>


{% endblock %}
