{% extends 'header.html' %}
{% load staticfiles %}
{% block body_block %}
<style>
  div.absolute {
  position: absolute;
  top: 300px;
  right: 100px;
  width: 400px;
  height: 200px;
  border: 2px solid ;
}
</style>

<div>
<a href="{% url 'DMS:home' %}">Home</a>
</div>
<br/>

<p><a href="{% url 'DMS:account_open' %}">Fill Form</a></p>
<p><a href="#">Scan Document</a></p>

<div class="absolute">
    <h3>Processed forms.</h3>
    <p><a href="{% url 'DMS:approved_forms_for_AO' %}">Approved Forms</a></p>

</div>

{% endblock %}