{% extends 'header.html' %}
{% load static %}
{% block body_block %}
<head>
	<style>
		#editor1 {
			visibility: hidden;
		}
	</style>
	<meta charset="UTF-8">
	<script src="{% static 'js/ckeditor/ckeditor.js' %}"></script>

	<script src="{% static 'js/FileSaver.js' %}"></script>
	<script src="{% static 'javascript/html2docx.js' %}"></script>
	<script src="{% static 'javascript/jszip.js' %}"></script>

	<title>Document Editor</title>

</head>
<body>


<div class="container">
	<h2><label for="editor1">Document Editor</label></h2>
	<textarea id="editor1">
		{{html_data}}
	</textarea>
</div>

<div id="screenshot">

</div>


<script type="text/javascript">
          CKEDITOR.replace( 'editor1', {
          	  skin: 'moonocolor,/static/js/ckeditor/skins/moono/',
          	  removeButtons: 'About,Source,Image,Smiley',
			  fullPage: true,
			  allowedContent: true,
			  extraPlugins: 'wysiwygarea',
			  })
          </script>

<script type="text/javascript">
            $(document).ready(function () {
                 CKEDITOR.config.uiColor = '#66AB16';
                 CKEDITOR.config.height = 500;
            });

  </script>

<script>
   CKEDITOR.plugins.registered['save'] = {

      init: function (editor) {
         var command = editor.addCommand('save',
         {
              modes: { wysiwyg: 1, source: 1 },
              exec: function (editor) { // Add here custom function for the save button
              var editor_data = CKEDITOR.instances['editor1'].getData();

				var parser = new DOMParser();
				var docu = parser.parseFromString(editor_data, "text/html");

				var html_blob_data = convertAllUrlImagesToBase64(docu);

				  var doc_data = new FormData();
				  doc_data.append('data', html_blob_data);
				  doc_data.append('csrfmiddlewaretoken', '{{ csrf_token }}');
				  doc_data.append('filename', '{{file.Filename}}')
				  doc_data.append('editor_data_html', editor_data)

				  var url = "/save_as_editor/" + {{file.id}}
				  $.ajax({
					 type: "POST",
					 url: url,
					 data: doc_data,
					 processData: false,
					contentType: false,
				  success: function (data) { 
						swal("Saved!", "Your file has been Saved.", "success");
					}
					 });

				  }
			 });
			 editor.ui.addButton('Save', { label: 'Save', command: 'save', toolbar: 'clipboard,50' });
		  }
	  }

</script>
<!--<script>-->
	<!--CKEDITOR.replace( 'editor1', {-->
		<!--// Define the toolbar: http://docs.ckeditor.com/ckeditor4/docs/#!/guide/dev_toolbar-->
		<!--// The full preset from CDN which we used as a base provides more features than we need.-->
		<!--// Also by default it comes with a 3-line toolbar. Here we put all buttons in a single row.-->
		<!--toolbar: [-->
			<!--{ name: 'document', items: [ 'Print' ] },-->
			<!--{ name: 'clipboard', items: [ 'Undo', 'Redo' ] },-->
			<!--{ name: 'styles', items: [ 'Format', 'Font', 'FontSize' ] },-->
			<!--{ name: 'basicstyles', items: [ 'Bold', 'Italic', 'Underline', 'Strike', 'RemoveFormat', 'CopyFormatting' ] },-->
			<!--{ name: 'colors', items: [ 'TextColor', 'BGColor' ] },-->
			<!--{ name: 'align', items: [ 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock' ] },-->
			<!--{ name: 'links', items: [ 'Link', 'Unlink' ] },-->
			<!--{ name: 'paragraph', items: [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote' ] },-->
			<!--{ name: 'insert', items: [ 'Image', 'Table' ] },-->
			<!--{ name: 'tools', items: [ 'Maximize' ] },-->
			<!--{ name: 'editing', items: [ 'Scayt' ] }-->
		<!--],-->

		<!--// Since we define all configuration options here, let's instruct CKEditor to not load config.js which it does by default.-->
		<!--// One HTTP request less will result in a faster startup time.-->
		<!--// For more information check http://docs.ckeditor.com/ckeditor4/docs/#!/api/CKEDITOR.config-cfg-customConfig-->
		<!--customConfig: '',-->

		<!--// Sometimes applications that convert HTML to PDF prefer setting image width through attributes instead of CSS styles.-->
		<!--// For more information check:-->
		<!--//  - About Advanced Content Filter: http://docs.ckeditor.com/ckeditor4/docs/#!/guide/dev_advanced_content_filter-->
		<!--//  - About Disallowed Content: http://docs.ckeditor.com/ckeditor4/docs/#!/guide/dev_disallowed_content-->
		<!--//  - About Allowed Content: http://docs.ckeditor.com/ckeditor4/docs/#!/guide/dev_allowed_content_rules-->
		<!--disallowedContent: 'img{width,height,float}',-->
		<!--extraAllowedContent: 'img[width,height,align]',-->

		<!--// Enabling extra plugins, available in the full-all preset: http://ckeditor.com/presets-all-->
		<!--extraPlugins: 'tableresize,uploadimage,uploadfile',-->

		<!--/*********************** File management support ***********************/-->
		<!--// In order to turn on support for file uploads, CKEditor has to be configured to use some server side-->
		<!--// solution with file upload/management capabilities, like for example CKFinder.-->
		<!--// For more information see http://docs.ckeditor.com/ckeditor4/docs/#!/guide/dev_ckfinder_integration-->

		<!--// Uncomment and correct these lines after you setup your local CKFinder instance.-->
		<!--// filebrowserBrowseUrl: 'http://example.com/ckfinder/ckfinder.html',-->
		<!--// filebrowserUploadUrl: 'http://example.com/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Files',-->
		<!--/*********************** File management support ***********************/-->

		<!--// Make the editing area bigger than default.-->
		<!--height: 800,-->

		<!--// An array of stylesheets to style the WYSIWYG area.-->
		<!--// Note: it is recommended to keep your own styles in a separate file in order to make future updates painless.-->
		<!--&lt;!&ndash;contentsCss: [ 'https://cdn.ckeditor.com/4.8.0/full-all/contents.css', 'mystyles.css' ],&ndash;&gt;-->

		<!--// This is optional, but will let us define multiple different styles for multiple editors using the same CSS file.-->
		<!--bodyClass: 'document-editor',-->

		<!--// Reduce the list of block elements listed in the Format dropdown to the most commonly used.-->
		<!--format_tags: 'p;h1;h2;h3;pre',-->

		<!--// Simplify the Image and Link dialog windows. The "Advanced" tab is not needed in most cases.-->
		<!--removeDialogTabs: 'image:advanced;link:advanced',-->

		<!--// Define the list of styles which should be available in the Styles dropdown list.-->
		<!--// If the "class" attribute is used to style an element, make sure to define the style for the class in "mystyles.css"-->
		<!--// (and on your website so that it rendered in the same way).-->
		<!--// Note: by default CKEditor looks for styles.js file. Defining stylesSet inline (as below) stops CKEditor from loading-->
		<!--// that file, which means one HTTP request less (and a faster startup).-->
		<!--// For more information see http://docs.ckeditor.com/ckeditor4/docs/#!/guide/dev_styles-->
		<!--stylesSet: [-->
			<!--/* Inline Styles */-->
			<!--{ name: 'Marker', element: 'span', attributes: { 'class': 'marker' } },-->
			<!--{ name: 'Cited Work', element: 'cite' },-->
			<!--{ name: 'Inline Quotation', element: 'q' },-->

			<!--/* Object Styles */-->
			<!--{-->
				<!--name: 'Special Container',-->
				<!--element: 'div',-->
				<!--styles: {-->
					<!--padding: '5px 10px',-->
					<!--background: '#eee',-->
					<!--border: '1px solid #ccc'-->
				<!--}-->
			<!--},-->
			<!--{-->
				<!--name: 'Compact table',-->
				<!--element: 'table',-->
				<!--attributes: {-->
					<!--cellpadding: '5',-->
					<!--cellspacing: '0',-->
					<!--border: '1',-->
					<!--bordercolor: '#ccc'-->
				<!--},-->
				<!--styles: {-->
					<!--'border-collapse': 'collapse'-->
				<!--}-->
			<!--},-->
			<!--{ name: 'Borderless Table', element: 'table', styles: { 'border-style': 'hidden', 'background-color': '#E6E6FA' } },-->
			<!--{ name: 'Square Bulleted List', element: 'ul', styles: { 'list-style-type': 'square' } }-->
		<!--]-->
	<!--} );-->


<!--</script>-->

</body>
{% endblock %}
