{% extends 'header.html' %}
{% block body_block %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/toolset.css' %}">
 <script src={% static 'js/jquery-1.8.3.js' %}></script>

        <div class="split right">
          <div class="centered_right">
            {% for file in files %}
              <table>
                <thead>
                <tr><td>ID: {{ file.id }}</td></tr>
                <tr><td>Uploader: {{ file.Uploader }}</td></tr>
                <tr><td>Filename: {{ file.Filename }}</td></tr>
                <tr><td>File_Type: {{ file.file_type }}</td></tr>
                <tr><td>User: {{ file.user }}</td></tr>
                </thead>
              </table>
            {% endfor %}
          </div>
        </div>

     <div class="split left">
        <div class="centered_left">
        {% for file in files %}
              <img id="MyImage" src="{{ file.File1.url }}" alt="Invoice" width="20" height="10">
        {% endfor %}
        <p><table>
       <tr>
            <td>
            <fieldset id="toolset">
            <br>
            <br>
            <button id="penciltool" type="button" style="height: 25px; width: 100px;" onclick="pencil()">Pencil</button>
            <br>
            <br>
            <br>
            <button id="linetool" type="button" style="height: 25px; width: 100px;" onclick="line()">Line</button>
            <br>
            <br>
            <br>
            <button id="rectangletool" type="button" style="height: 25px; width: 100px;" onclick="rectangle()">Rectangle</button>
            <br>
            <br>
            <br>
            <button id="circletool" type="button" style="height: 25px; width: 100px;" onclick="circle()">Circle</button>
            <br>
            <br>
            <br>
            <button id="erasertool" type="button" style="height: 25px; width: 100px;" onclick="eraser()">Eraser</button>
            <br>
            <br>
            <br>
              <a id="btn-download" download="dsf.png" >
                  <button type="button" style="height: 25px; width: 100px;">Download</button>
              </a>
            <br>
            <br>
            <br>
            <button id="resettool" type="button" style="height: 25px; width: 100px;" onclick="reset()">Reset</button>
            </fieldset>
            </td>
            <td>
                <div style="max-height: 500px;max-width:7500px;overflow: scroll;">
                    <canvas id="paint" width="500" height="450" style="border: 1px solid #000000;">

                    </canvas>
                </div>
            </td>
        </tr>
    </table>

        <fieldset id="colorset">

    <table>
        <tr>
            <td><button style="height: 20px; width: 80px;" onclick="fill()">Fill</button>
            <td><button style="background-color: #000000; height: 20px; width: 20px;" onclick="color('#000000')"></button>
         </tr>
         <tr>
            <td><button style="height: 20px; width: 80px" onclick="outline()">Outline</button>
            <td><button style="background-color: #71C671; height: 20px; width: 20px;" onclick="color('#71C671')"></button>
        </tr>
        <tr>
            <td><label>Line Width</label></td>
            <td><button id="pixel_plus" type="button" onclick="add_pixel()" style="width: 25px;">+</button></td>
            <td><button id="pixel_minus" type="button" onclick="reduce_pixel()" style="width: 25px;">-</button></td>
        </tr>
        </table>
        <label>file name</label><input id="fname" type="text"><button id="save" onclick="save()">Save</button>
        </fieldset>
        </div>
     </div>

<script src= "{% static 'javascript/script.js' %}"></script>

{% endblock %}
