{% if user.is_authenticated %}
<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="{% static 'css/file.css' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min_new.css' %}">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <link href= "{% static 'css/style5.css' %}" rel="stylesheet">
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
       var $y = jQuery.noConflict();
    </script>
      <script type="text/javascript">
 $(function () {
$('[data-toggle="tooltip"]').tooltip()
});
</script>

  </head>
  <body style="overflow: auto;">
    <div class="navbar-container">
      <div class="bg-light navbar-light" data-sticky="top">
          <div class="topnav">
		<a href="http://www.adroitcorporate.com" title="Adroit Corporate Services Pvt. Ltd."><img src="{% static 'images/Adroit-logo.png' %}" class="img-responsive" style="margin-top: 6px;" width="110" alt="Adroit Corporate Services Pvt. Ltd."></a>
			  <div class="search-container">
                  <br/>
                <a style="float: right;font-size: inherit;color:red">Last Login: {{user.last_login}}</a><br/>
                <a style="float:right;padding:5px;font-size:x-large;" class="fa fa-power-off" href="{% url 'DMSaccount:logout' %}"></a>
			  </div>
      </div>
      </div>
    </div>

    <div class="container">
    {% block body_block %}
    {% endblock %}
    </div>
<br/>
<br/>
        <!--<script src="{% static 'js/datepicker1.js' %}"></script>-->
        <script src="{% static 'js/datepicker2.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/datepicker.css' %}">


        <script src="{% static 'js/table2excel.js' %}"></script>
        <script src="{% static 'js/html2canvas.min.js' %}"></script>
        <script src="{% static 'js/pdfmake.min.js' %}"></script>

        <script src="{% static 'js/sweetalert.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/sweetalert.css' %}">

        <script type="text/javascript">

          $(document).ready(function(){

              $("#changeId").change(function(){
                  $(this).find("option:selected").each(function(){
                      var optionValue = $(this).attr("value");

                      if(optionValue=='1'){


                            $(".me").datepicker({
                                changeMonth: true,
                                changeYear: true,
                                yearRange: '1950:2050',
                                dateFormat: 'dd-mm-yy'
                            }).hide();
                            $(".B1").hide();
                            $("." + optionValue).show();

                      } else{


                            $(".me").hide();
                            $(".B1").hide();

                      }
                      if(optionValue=='2'){



                            $(".sup").datepicker({
                                changeMonth: true,
                                changeYear: true,
                                yearRange: '1950:2050',
                                dateFormat: 'dd-mm-yy'
                            }).hide();
                            $(".G3").hide();
                            $("." + optionValue).show();

                      } else{

                            $(".sup").datepicker({
                                changeMonth: true,
                                changeYear: true,
                                yearRange: '1950:2050',
                                dateFormat: 'dd-mm-yy'
                            }).hide();
                            $(".G3").hide();



                      }
                      if(optionValue=='10'|| optionValue=='11' || optionValue=='12' || optionValue=='13' || optionValue=='14' || optionValue=='15'){
                        $(".sup").datepicker({
                            changeMonth: true,
                            changeYear: true,
                            yearRange: '1950:2050',
                            dateFormat: 'dd-mm-yy'
                        }).hide();

                        $(".sup").datepicker({
                            changeMonth: true,
                            changeYear: true,
                            yearRange: '1950:2050',
                            dateFormat: 'dd-mm-yy'
                        }).show();
                      }






                  });
              }).change();



          });




        </script>
        <script>
          var pdfurl = '{% static 'images/pdf.jpg' %}';
          var csvurl = '{% static 'images/csv.png' %}';
          var excelurl = '{% static 'images/excel.png' %}';
          var texturl = '{% static 'images/text.png' %}';
          var wordurl = '{% static 'images/word.png' %}';
        </script>

        <script type="text/javascript" src="{% static 'js/file.js' %}"></script>
        <script src="{% static 'js/bootstrap_modal_box.min.js' %}"></script>
    <footer>

    <div class="row_foot">
        <div class="container">
        <p style="color:white" class="foot_p">© <span id="year"><script>document.write(new Date().getFullYear())</script></span> <a style="color: #337ab7;" href="http://www.adroitcorporate.com/" target="_blank" title="Adroit Corporate Services Pvt.Ltd."> Adroit Corporate Services Pvt. Ltd</a> &nbsp;|&nbsp; All rights reserved.</p>
    </div>
    </div>
    </footer>
  </body>

</html>
{% else %}
{% include 'login.html' %}
{% endif %}
