<!DOCTYPE html>
{% load staticfiles %}
{% load  i18n %}
    <title>Spread.Sheets ExcelIO</title>

    <!-- <script src="http://code.jquery.com/jquery-2.1.3.min.js" type="text/javascript"></script> -->
    <!-- <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js" type="text/javascript"></script> -->
   <script src="{% static 'javascript/excel3.js' %}"></script>

    <script src="{% static 'javascript/excel2.1.js' %}"></script>
    <script src="{% static 'javascript/excel1.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/excel.css' %}">
      <script src="{% static 'js/jquery.min.js'%}" ></script>
      <script src="{% static 'js/sweetalert.min.js' %}"></script>
      <link rel="stylesheet" href="{% static 'css/sweetalert.css' %}">


      <!--&lt;!&ndash;<link rel="stylesheet" href="{% static 'assets/js/vendor/sweet-alert.css' %}" >&ndash;&gt;-->
       <link rel="stylesheet" href="{% static 'assets/css/swal-forms.css' %}" >
      <!--<script src="{% static 'assets/js/vendor/sweet-alert.js' %}"></script>-->
      <script src="{% static 'assets/js/vendor/swal-forms.js' %}"></script>

      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>DMS</title>
      {% load staticfiles %}

     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <!-- <link href="css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
      <!-- Our Custom CSS -->
      <link href= "{% static 'css/style5.css' %}" rel="stylesheet">


    <script type="text/javascript">
        var workbook, excelIO, jsonData;
        $(document).ready(function () {
            $.support.cors = true;
             GC.Spread.Sheets.LicenseKe=[""];
            workbook = new GC.Spread.Sheets.Workbook(document.getElementById("ss"));

            excelIO = new GC.Spread.Excel.IO();

            function ImportFile() {
               // var excelUrl = "./myfile.xlsx";
                var excelUrl = $("#importUrl").val();

                var oReq = new XMLHttpRequest();
                oReq.open('get', excelUrl, true);
                oReq.responseType = 'blob';
                oReq.onload = function () {
                    var blob = oReq.response;
                    excelIO.open(blob, LoadSpread, function (message) {

                        console.log(message);
                    });
                };
                oReq.send(null);
            }

            function LoadSpread(json) {
                jsonData = json;
                workbook.fromJSON(json);

                workbook.setActiveSheet("Revenues (Sales)");
            }

             document.getElementById("addRow").onclick = function () {
                workbook.suspendPaint();
                workbook.suspendCalcService();

                var sheet = workbook.getActiveSheet();
                sheet.addRows(10000000000,1);
               // sheet.copyTo(10, 1, 11, 1, 1, 29, GC.Spread.Sheets.CopyToOptions.style);

                //sheet.setValue(-1,-1 ,"Revenue 8");


                var data = new GC.Spread.Sheets.Range(11, 3, 1, 12);
                var setting = new GC.Spread.Sheets.Sparklines.SparklineSetting();
                setting.options.seriesColor = "Text 2";
                setting.options.lineWeight = 1;
                setting.options.showLow = true;
                setting.options.showHigh = true;
                setting.options.lowMarkerColor = "Text 2";
                setting.options.highMarkerColor = "Text 1";




               // sheet.copyTo(10, 17, 11, 17, 1, 13, GC.Spread.Sheets.CopyToOptions.formula);

                workbook.resumeCalcService();
                workbook.resumePaint();
            }


 document.getElementById("addCol").onclick = function () {
                workbook.suspendPaint();
                workbook.suspendCalcService();

                var sheet = workbook.getActiveSheet();
                sheet.addColumns(10000000000,1);
                //sheet.copyTo(10, 1, 11, 1, 1, 29, GC.Spread.Sheets.CopyToOptions.style);

                //sheet.setValue(-1,-1 ,"Revenue 8");


                var data = new GC.Spread.Sheets.Range(11, 3, 1, 12);
                var setting = new GC.Spread.Sheets.Sparklines.SparklineSetting();
                setting.options.seriesColor = "Text 2";
                setting.options.lineWeight = 1;
                setting.options.showLow = true;
                setting.options.showHigh = true;
                setting.options.lowMarkerColor = "Text 2";
                setting.options.highMarkerColor = "Text 1";




               // sheet.copyTo(10, 17, 11, 17, 1, 13, GC.Spread.Sheets.CopyToOptions.formula);

                workbook.resumeCalcService();
                workbook.resumePaint();
            }
            document.getElementById("export").onclick = function () {
                ExportFile();
            }

            function ExportFile() {
                var fileName = $("#exportFileName").val();
                if (fileName.substr(-5, 5) !== '.xlsx') {
                    fileName += '.xlsx';
                }
                var json = JSON.stringify(workbook.toJSON());

                excelIO.save(json, function (blob) {
                    saveAs(blob, fileName);
                }, function (e) {
                    if (e.errorCode === 1) {
                        alert(e.errorMessage);
                    }
                });
            }

            ImportFile();
        });
    </script>


  </head>
  <body>

  <div class="topnav">
  <a href="http://www.adroitcorporate.com" title="Adroit Corporate Services Pvt. Ltd."><img src="{% static 'images/Adroit-logo.png' %}" class="img-responsive" style="margin-top: 6px;" width="110" alt="Adroit Corporate Services Pvt. Ltd."></a>
      <div class="search-container">



      <form class="form-inline my-2 my-lg-0" id="search-form" action="{% url 'DMS:search_files' user.pk %}" autocomplete="off">


          <!-- <span style="margin-top:2px" <i class="fa fa-question"></span> -->

        <a style="float: right;font-size: inherit;color:red">Last Login: {{last_login}}</a>
        <br/>
        <span><a style="float: right;padding:5px;font-size: x-large;" class="fa fa-power-off" href="{% url 'DMSaccount:logout' %}"></a></span>
      </form>
      </div>
    </div>

<div class="container">
<br/>
<p class="breadcrumb breadcrumb_lbl"><a href="{% url 'home' %}">{% trans 'Home' %}</a>/<a href="{% url 'DMS:dashboard' %}">{% trans 'Document Management' %}</a>/ <a href="{% url 'DMSloader:user_file_info' %}">{% trans 'Edit Documents' %}</a>/ Excel Editor</p>
<br/>


      <div class="wrapper">



          <div id="content">
            <div id="ss"  style="height:480px" ></div>
            {% for file in files %}
            <input type="text" id="importUrl" value="{{file.File1.url}}"style="display: none;"  />
              {% endfor %}
              <div style="height:50px">
           <button id="addRow">Add Row</button>
            <button id="addCol">Add Col</button>
            <button id="export">Export File</button>
            <input type="text" id="exportFileName" placeholder="Export file name" value="export.xlsx" />
          </div>
          </div>
        </div>
      </div>




      <script src="{% static 'js/jquery-1.12.0.min.js'%}"></script>

       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</div>
  </body>
  <footer>
  <div class="row_foot">
      <p style="color:white" class="foot_p">© <span id="year"><script>document.write(new Date().getFullYear())</script></span> <a style="color: #337ab7;" href="http://www.adroitcorporate.com/" target="_blank" title="Adroit Corporate Services Pvt.Ltd."> Adroit Corporate Services Pvt. Ltd</a> &nbsp;|&nbsp; All rights reserved.</p>
  </div>
  </footer>
</html>
