
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
{% load static %}
<html>
  <head>
     <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"i>
     <title>Overly Simple Spreadsheet</title>
     <link rel="stylesheet" href="{% static 'css/smoothness/jquery-ui-1.8.5.custom.css' %}"
           type="text/css" media="screen" charset="utf-8" />
     <link rel="stylesheet" href="{% static 'css/slick.grid.css" type="text/css' %}"
           media="screen" charset="utf-8" />
     <link rel="stylesheet" href="{% static 'css/examples.css" type="text/css' %}"
           media="screen" charset="utf-8" />
     <link rel="stylesheet" href="{% static 'css/spreadsheet.css" type="text/css' %}"
           media="screen" charset="utf-8" />

     <script type="text/javascript" src="{% static 'js/jquery-1.4.3.min.js' %}"></script>
     <script type="text/javascript" src="{% static 'js/jquery.json.js' %}"></script>
     <script type="text/javascript" src="{% static 'js/jquery-ui-1.8.5.custom.min.js '%}">
         </script>
     <script type="text/javascript" src="{% static 'js/jquery.event.drag-2.0.min.js '%}">
         </script>
     <script type="text/javascript" src="{% static 'js/ui/jquery.ui.tabs.js' %}"></script>
     <script type="text/javascript" src="{% static 'js/slick.editors.js' }"></script>
     <script type="text/javascript" src="{% static 'js/slick.grid.js' }"></script>
     <script type="text/javascript" src="{% static 'js/spreadsheet.js' }"></script>

  </headi>
  <body>
<script>

function render_ui(){
    insert_menu_markup();
    insert_grid_markup();
    make_grid_component();
    add_newtab_button();
    insert_open_dialog_markup();
    make_open_dialog();
}
    function insert_menu_markup(){
    $("body").prepend(
       '<input type="text" id="workbook_name" name="workbook_name" value="">');
    $("body").prepend('<input id="save" type="button" value="save"/>');
    $("body").prepend('<input id="open" type="button" value="open"/>');
    $("body").prepend('<input id="new" type="button" value="new"/>');
}

</script>
  </body>
</html>