<!DOCTYPE html>
{% load i18n %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>DMS</title>
        {% load staticfiles %}

		   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
         <!-- Bootstrap CSS CDN -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- <link href="css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
        <!-- Our Custom CSS -->
        <link href= "{% static 'css/style5.css' %}" rel="stylesheet">
            <link href= "{% static 'css/excel2.css' %}" rel="stylesheet">

    </head>
    <body>

		<div class="topnav">
		<a href="http://www.adroitcorporate.com" title="Adroit Corporate Services Pvt. Ltd."><img src="{% static 'images/Adroit-logo.png' %}" class="img-responsive" style="margin-top: 6px;" width="110" alt="Adroit Corporate Services Pvt. Ltd."></a>
			  <div class="search-container">



			  <form class="form-inline my-2 my-lg-0" id="search-form" action="{% url 'DMS:search_files' user.pk %}" autocomplete="off">

				  <input type="text" id="note-textarea" placeholder="{% trans 'Search By Filename or Uploader Name' %}" name="searchMe" required>
            <!-- <span style="margin-top:2px" <i class="fa fa-question"></span> -->
				  <button type="submit"><i style="color:black;font-size:19px" class="fa fa-search"></i></button>
          <button id="start-record-btn" data-attr-value={{user.pk}}><b class="fa fa-microphone-slash" style="font-size:19px;color:red"></b></button>
          <button id="stop-btn" ><b class="fa fa-microphone" style="font-size:19px;color:green"></b></button>

          <br/>
          <a style="float: right;font-size: inherit;color:red">Last Login: {{last_login}}</a>
          <br/>
          <span><a style="float: right;padding:5px;font-size: x-large;" class="fa fa-power-off" href="{% url 'DMSaccount:logout' %}"></a></span>
			  </form>
			  </div>
			</div>
        <div class="wrapper">



            <div id="content">
            </div>
        </div>



        <!-- jQuery CDN -->
         <!--<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>-->
        <script src="{% static 'js/jquery-1.12.0.min.js'%}"></script>
         <!-- Bootstrap Js CDN -->
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



    </body>
    <footer>
    <div class="row_foot">
        <p style="color:white" class="foot_p">© <span id="year"><script>document.write(new Date().getFullYear())</script></span> <a style="color: #337ab7;" href="http://www.adroitcorporate.com/" target="_blank" title="Adroit Corporate Services Pvt.Ltd."> Adroit Corporate Services Pvt. Ltd</a> &nbsp;|&nbsp; All rights reserved.</p>
    </div>
    </footer>
</html>
<script src="{% static 'javascript/message_type_writer.js' %}"></script>
<script src="{% static 'javascript/speech_recognition.js' %}"></script>
