{% extends 'header.html' %}
{% block body_block %}
{% load static %}

<head>
	<style>
		#editor1 {
			visibility: hidden;
		}
	</style>
	<meta charset="UTF-8">
	<script src="{% static 'js/ckeditor/ckeditor.js' %}"></script>

	<script src="{% static 'js/FileSaver.js' %}"></script>
	<script src="{% static 'javascript/html2docx.js' %}"></script>
	<script src="{% static 'javascript/jszip.js' %}"></script>

	<title>Text Editor</title>

</head>
<body>


<div class="container">
	<h2><label for="editor1">Text Editor</label></h2>
	<textarea id="editor1">
		{{html_code}}
	</textarea>
</div>


<script type="text/javascript">
          CKEDITOR.replace( 'editor1', {

              toolbar: [
                    { name: 'document', items: ['Undo', 'Redo', '-', 'Preview', '-', 'Templates' ] },
                    [ 'Cut', 'Copy', 'Paste', 'PasteText'],
                    ['Save']
                ],
          	  skin: 'moonocolor,/static/js/ckeditor/skins/moono/',
          	  removeButtons: 'About,Source',
			  fullPage: true,
			  allowedContent: true,
			  extraPlugins: 'wysiwygarea',
			  })
          </script>

<script type="text/javascript">
            $(document).ready(function () {
                 CKEDITOR.config.uiColor = '#66AB16';
                 CKEDITOR.config.height = 500;
            });

  </script>
<script>
   CKEDITOR.plugins.registered['save'] = {

      init: function (editor) {
         var command = editor.addCommand('save',
         {
              modes: { wysiwyg: 1, source: 1 },
              exec: function (editor) { // Add here custom function for the save button
              var editor_data = CKEDITOR.instances['editor1'].getData();

				  var doc_data = new FormData();
				  doc_data.append('csrfmiddlewaretoken', '{{ csrf_token }}');
				  doc_data.append('editor_data', editor_data)

				  var url = "/save_text_from_editor/" + {{file.id}}
				  var crsf_token = '{{ csrf_token }}'
				  $.ajax({
					 type: "POST",
					 url: url,
					 data: doc_data,
					 processData: false,
					 contentType: false,
				     success: function (data) { 
					 	swal("Saved!", "Your file has been Saved.", "success");
					}
					  });

				  }
			 });
			 editor.ui.addButton('Save', { label: 'Save', command: 'save', toolbar: 'clipboard,50' });
		  }
	  }

</script>

</body>
{% endblock %}

