{% extends 'header.html' %}
{% block body_block %}
{% load staticfiles %}

<head>
<!--<link href= "{% static 'css/page_split.css' %}" rel ='stylesheet'>-->
<script src="{% static 'javascript/file_editor.js' %}"></script>
  <style>
    #toolset {
    width     : 100px;
    height    : 440px;
    position  : absolute;
    left      : 0px;
    top       : 40px;
    background: orange;
}

{
  font-family: Arial;
  color: black;
}

.split {
  height: 100%;
  width: 75%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 60px;
}

.left {
  left: 0;
  background-color: grey;
}

.right {
  right: 0;
  background-color: white;
}

.centered_left {
  position: absolute;
  top: 30%;
  left: 10%;
  transform: translate(-50%, -50%);
  text-align: left;
}

.centered_right {
  position: absolute;
  top: 20%;
  left: 80%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered_right img {
  width: 120px;
}
  </style>


</head>
<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>


<div class="split left">
  <div class="centered_left">
    {% for file in files %}
      <table>
        <thead>
        <tr><td>ID: {{ file.id }}</td></tr>
        <tr><td>Uploader: {{ file.Uploader }}</td></tr>
        <tr><td>Filename: {{ file.Filename }}</td></tr>
        <tr><td>File_Type: {{ file.file_type }}</td></tr>
        <tr><td>User: {{ file.user }}</td></tr>
        </thead>
      </table>
    {% endfor %}
  </div>
</div>

  <div class="split right">
    <div class="centered_right">
      {% for file in files %}
      <img id="MyImage" src="{{ file.File1.url }}" alt="Invoice">
      {% endfor %}
      <br>
      <p><table>
       <tr>
            <td>
            <fieldset id="toolset">
            <br>
            <br>
            <button id="clockwise" type="button" style="height: 25px; width: 100px;" >Rotate right</button>
            <br>
            <br>
            <button id="counterclockwise" type="button" style="height: 25px; width: 100px;" >Rotate left</button>
            <br>
            <button id="brush2" type="button" style="height: 25px; width: 100px;" >Line</button>
            <br>
            <button id="brushRed" type="button" style="height: 25px; width: 100px;" >Red Brush</button>
            <br>
            <button id="brushBlue" type="button" style="height: 25px; width: 100px;" >Blue Brush</button>
            <br>
              <a href="#" class="button" id="btn-download" download="{{ file.Filename }}" name="save">Download</a>
            <br>
              <button id="undo" type="button" style="height: 25px; width: 100px;" >Undo</button>
              <br>
              <input id="myText" placeholder="your text" maxlength="20" style="height: 25px; width: 100px;"/>
            </fieldset>
            </td>
        </tr>
    </table></p>

    </div>
            <div style="max-height: 450px;max-width:750px;overflow: scroll;">
                <canvas id="myCanvas" width="750" height="450" style="border: 5px solid #000000;">
                </canvas>
            </div>
  </div>


{% endblock %}