/*
    DEMO STYLE
*/
@import url("googleapis.font.poppins.css");

.breadcrumb_dms {
    margin: 20px;
}

body {
    font-family: 'Poppins', sans-serif;
        \* background: mistyrose; *\
           background: #fafafa;	
}
h5
{
	color:white
}

.table-max-height
{

    height: 450px;
}

.breadcrumb_lbl
{

background: #fff;
border:1px solid #e7e7e7;
color: #555;
font-weight: bold;

}
/*.breadcrumb_lbl:hover
{

background: #fff;
border:1px solid #e7e7e7;
color: blue;
}
*/


.lbl_image {
    border: none;
}

.fa:hover
{
color:pink;
}

.accord
{
	background: #0d4c91;
	font-weight: 700;
	color:white;
}
.row_foot {
    display: -ms-flexbox;
    background: #1a1a1a;
    bottom: 0;
    position: fixed;
    color: #D0D0D0;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
}
.foot_p {
    text-align: center;
    width: 100%;
    margin-top: 1%;
}
p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}
i.fa {
  /* display: inline-block; */
  /* border-radius: 60px; */
  /* box-shadow: 0px 0px 2px #888; */
  /* padding: 0.5em 0.6em; */
    display: inline-block;
    padding: 0.2em 0.2em;
	color:white;
}

a, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}


.navbar {
    padding: 15px 10px;
    background: lavender;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    align-items: stretch;
    perspective: 1500px;
}
.search-container button:hover {
  background: #ccc;
}
ul{
  /*padding: 0;*/
  list-style: none;
  li{
    width: 12.5%;
    float: left;
    font-size: 12px;
    height: 150px;
    padding: 10px;
    min-width: 150px;
    position: relative;
    &.header{
      width: 100%;
      &.hide{
        display: none !important;
      }
      h2{
        display: inline-block;
        width: 100%;
        text-align: left;
        color:#ccc;
        padding-left: 5px;
        padding-bottom: 5px;
        font-weight: 200;
        border-bottom: 1px solid #333;
      }
    }
    &.active{
      color: #00984A;
    }
    i{
      font-size: 50px;
      font-style:normal;
    }
    > p {
      text-transform: capitalize;
    }
  }
}
#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #616184;
    color: #fff;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
}

#sidebar.active {
    margin-left: -250px;
    transform: rotateY(100deg);
}

#sidebar .sidebar-header {
    padding: 10px;
    background: #9898bf;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #9898bf;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}


a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

.topnav {
  overflow: hidden;
  background-color: #e9e9e9;

}
.lbl_user
{
  font-weight: bold;
}
.doc_lbl
{
  font-size:  large;
  color:black;
}
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  /* padding: 2px 16px; */
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}



.topnav .search-container button:hover {
  background: #ccc;
}

.w3-responsive {
  overflow-x: auto
}

.w3-container:after,
.w3-panel:after,
.w3-row:after,
.w3-row-padding:after,
.w3-topnav:after,
.w3-clear:after,
.w3-btn-group:before,
.w3-btn-group:after,
.w3-btn-bar:before,
.w3-btn-bar:after {
  content: "";
  display: table;
  clear: both
}

.w3-col,
.w3-half,
.w3-third,
.w3-twothird,
.w3-threequarter,
.w3-quarter {
  float: left;
  width: 100%
}

.w3-col.s1 {
  width: 8.33333%
}

.w3-col.s2 {
  width: 16.66666%
}

.w3-col.s3 {
  width: 24.99999%
}

.w3-col.s4 {
  width: 33.33333%
}

.w3-col.s5 {
  width: 41.66666%
}

.w3-col.s6 {
  width: 49.99999%
}

.w3-col.s7 {
  width: 58.33333%
}

.w3-col.s8 {
  width: 66.66666%
}

.w3-col.s9 {
  width: 74.99999%
}

.w3-col.s10 {
  width: 83.33333%
}

.w3-col.s11 {
  width: 91.66666%
}

.w3-col.s12,
.w3-half,
.w3-third,
.w3-twothird,
.w3-threequarter,
.w3-quarter {
  width: 99.99999%
}

@media only screen and (min-width:601px) {
  .w3-col.m1 {
    width: 8.33333%
  }
  .w3-col.m2 {
    width: 16.66666%
  }
  .w3-col.m3,
  .w3-quarter {
    width: 24.99999%
  }
  .w3-col.m4,
  .w3-third {
    width: 33.33333%
  }
  .w3-col.m5 {
    width: 41.66666%
  }
  .w3-col.m6,
  .w3-half {
    width: 49.99999%
  }
  .w3-col.m7 {
    width: 58.33333%
  }
  .w3-col.m8,
  .w3-twothird {
    width: 66.66666%
  }
  .w3-col.m9,
  .w3-threequarter {
    width: 74.99999%
  }
  .w3-col.m10 {
    width: 83.33333%
  }
  .w3-col.m11 {
    width: 91.66666%
  }
  .w3-col.m12 {
    width: 99.99999%
  }
}

@media only screen and (min-width:993px) {
  .w3-col.l1 {
    width: 8.33333%
  }
  .w3-col.l2 {
    width: 16.66666%
  }
  .w3-col.l3,
  .w3-quarter {
    width: 24.99999%
  }
  .w3-col.l4,
  .w3-third {
    width: 18.99999%
  }
  .w3-col.l5 {
    width: 41.66666%
  }
  .w3-col.l6,
  .w3-half {
    width: 49.99999%
  }
  .w3-col.l7 {
    width: 58.33333%
  }
  .w3-col.l8,
  .w3-twothird {
    width: 66.66666%
  }
  .w3-col.l9,
  .w3-threequarter {
    width: 74.99999%
  }
  .w3-col.l10 {
    width: 83.33333%
  }
  .w3-col.l11 {
    width: 91.66666%
  }
  .w3-col.l12 {
    width: 99.99999%
  }
}

.w3-content {
  max-width: 980px;
  margin: auto
}

.w3-rest {
  overflow: hidden
}

.w3-hide {
  display: none!important
}

.w3-show-block,
.w3-show {
  display: block!important
}

.w3-show-inline-block {
  display: inline-block!important
}

@media (max-width:600px) {
  .w3-modal-content {
    margin: 0 10px;
    width: auto!important
  }
  .w3-modal {
    padding-top: 30px
  }
}

@media (max-width:768px) {
  .w3-modal-content {
    width: 500px
  }
  .w3-modal {
    padding-top: 50px
  }
}

@media (min-width:993px) {
  .w3-modal-content {
    width: 900px
  }
}

@media screen and (max-width:600px) {
  .w3-topnav a {
    display: block
  }
  .w3-navbar li:not(.w3-opennav) {
    float: none;
    width: 100%!important
  }
  .w3-navbar li.w3-right {
    float: none!important
  }
}

@media screen and (max-width:600px) {
  .w3-topnav .w3-dropdown-hover .w3-dropdown-content,
  .w3-navbar .w3-dropdown-click .w3-dropdown-content,
  .w3-navbar .w3-dropdown-hover .w3-dropdown-content {
    position: relative
  }
}

@media screen and (max-width:600px) {
  .w3-topnav,
  .w3-navbar {
    text-align: center
  }
}

@media (max-width:600px) {
  .w3-hide-small {
    display: none!important
  }
}

@media (max-width:992px) and (min-width:601px) {
  .w3-hide-medium {
    display: none!important
  }
}

@media (min-width:993px) {
  .w3-hide-large {
    display: none!important
  }
}

@media screen and (max-width:992px) {
  .w3-sidenav.w3-collapse {
    display: none
  }
  .w3-main {
    margin-left: 0!important;
    margin-right: 0!important
  }
}

@media screen and (min-width:993px) {
  .w3-sidenav.w3-collapse {
    display: block!important
  }
}

.w3-top,
.w3-bottom {
  position: fixed;
  width: 100%;
  z-index: 1
}

.w3-top {
  top: 0
}

.w3-bottom {
  bottom: 0
}

.w3-overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2
}

.w3-left {
  float: left!important
}

.w3-right {
  float: right!important
}

.w3-tiny {
  font-size: 10px!important
}

.w3-small {
  font-size: 12px!important
}

.w3-medium {
  font-size: 15px!important
}

.w3-large {
  font-size: 18px!important
}

.w3-xlarge {
  font-size: 24px!important
}

.w3-xxlarge {
  font-size: 36px!important
}

.w3-xxxlarge {
  font-size: 48px!important
}

.w3-jumbo {
  font-size: 64px!important
}

.w3-vertical {
  word-break: break-all;
  line-height: 1;
  text-align: center;
  width: 0.6em
}

.w3-left-align {
  text-align: left!important
}

.w3-right-align {
  text-align: right!important
}

.w3-justify {
  text-align: justify!important
}

.w3-center {
  text-align: center!important
}

.w3-display-topleft {
  position: absolute;
  left: 0;
  top: 0
}

.w3-display-topright {
  position: absolute;
  right: 0;
  top: 0
}

.w3-display-bottomleft {
  position: absolute;
  left: 0;
  bottom: 0
}

.w3-display-bottomright {
  position: absolute;
  right: 0;
  bottom: 0
}

.w3-display-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.w3-display-topmiddle {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%)
}

.w3-display-bottommiddle {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%)
}

.w3-circle {
  border-radius: 50%!important
}

.w3-round-small {
  border-radius: 2px!important
}

.w3-round,
.w3-round-medium {
  border-radius: 4px!important
}

.w3-round-large {
  border-radius: 8px!important
}

.w3-round-xlarge {
  border-radius: 16px!important
}

.w3-round-xxlarge {
  border-radius: 32px!important
}

.w3-round-jumbo {
  border-radius: 64px!important
}

.w3-border-0 {
  border: 0!important
}

.w3-border {
  border: 1px solid #ccc!important
}

.w3-border-top {
  border-top: 1px solid #ccc!important
}

.w3-border-bottom {
  border-bottom: 1px solid #ccc!important
}

.w3-border-left {
  border-left: 1px solid #ccc!important
}

.w3-border-right {
  border-right: 1px solid #ccc!important
}

.w3-margin {
  margin: 16px!important
}

.w3-margin-0 {
  margin: 0!important
}

.w3-margin-top {
  /* margin-top: 16px!important */
  margin-top: 40px!important
}

.w3-margin-bottom {
  margin-bottom: 16px!important
}

.w3-margin-left {
  margin-left: 16px!important
}

.w3-margin-right {
  margin-right: 16px!important
}

.w3-section {
  margin-top: 16px!important;
  margin-bottom: 16px!important
}

.w3-padding-tiny {
  padding: 2px 4px!important
}

.w3-padding-small {
  padding: 4px 8px!important
}

.w3-padding-medium,
.w3-padding,
.w3-form {
  padding: 8px 16px!important
}

.w3-padding-large {
  padding: 12px 24px!important
}

.w3-padding-xlarge {
  padding: 16px 32px!important
}

.w3-padding-xxlarge {
  padding: 24px 48px!important
}

.w3-padding-jumbo {
  padding: 32px 64px!important
}

.w3-padding-4 {
  padding-top: 4px!important;
  padding-bottom: 4px!important
}

.w3-padding-8 {
  padding-top: 8px!important;
  padding-bottom: 8px!important
}

.w3-padding-12 {
  padding-top: 12px!important;
  padding-bottom: 12px!important
}

.w3-padding-16 {
  padding-top: 16px!important;
  padding-bottom: 16px!important
}

.w3-padding-24 {
  padding-top: 24px!important;
  padding-bottom: 24px!important
}

.w3-padding-32 {
  padding-top: 32px!important;
  padding-bottom: 32px!important
}

.w3-padding-48 {
  padding-top: 48px!important;
  padding-bottom: 48px!important
}

.w3-padding-64 {
  padding-top: 64px!important;
  padding-bottom: 64px!important
}

.w3-padding-128 {
  padding-top: 128px!important;
  padding-bottom: 128px!important
}

.w3-padding-0 {
  padding: 0!important
}

.w3-padding-top {
  padding-top: 8px!important
}

.w3-padding-bottom {
  padding-bottom: 8px!important
}

.w3-padding-left {
  padding-left: 16px!important
}

.w3-padding-right {
  padding-right: 16px!important
}

.w3-topbar {
  border-top: 6px solid #ccc!important
}

.w3-bottombar {
  border-bottom: 6px solid #ccc!important
}

.w3-leftbar {
  border-left: 6px solid #ccc!important
}

.w3-rightbar {
  border-right: 6px solid #ccc!important
}

.w3-row-padding,
.w3-row-padding>.w3-half,
.w3-row-padding>.w3-third,
.w3-row-padding>.w3-twothird,
.w3-row-padding>.w3-threequarter,
.w3-row-padding>.w3-quarter,
.w3-row-padding>.w3-col {
  /* padding: 0 8px */
      padding: 0 3px 3px 3px;
}

.w3-spin {
  animation: w3-spin 2s infinite linear;
  -webkit-animation: w3-spin 2s infinite linear
}

@-webkit-keyframes w3-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg)
  }
}

@keyframes w3-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg)
  }
}

.w3-container {
  padding: 0.01em 16px
}

.w3-panel {
  padding: 0.01em 16px;
  margin-top: 16px!important;
  margin-bottom: 16px!important
}

.w3-example {
  background-color: #f1f1f1;
  padding: 0.01em 16px
}

.w3-code,
.w3-codespan {
  font-family: Consolas, "courier new";
  font-size: 16px
}

.w3-code {
  line-height: 1.4;
  width: auto;
  background-color: #fff;
  padding: 8px 12px;
  border-left: 4px solid #4CAF50;
  word-wrap: break-word
}

.w3-codespan {
  color: crimson;
  background-color: #f1f1f1;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 110%
}

.w3-example,
.w3-code {
  margin: 20px 0
}

.w3-card {
  border: 1px solid #ccc
}

.w3-card-2,
.w3-example {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)!important;

}

.w3-card-4,
.w3-hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)!important
}

.w3-card-8 {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)!important
}

.w3-card-12 {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19)!important
}

.w3-card-16 {
  box-shadow: 0 16px 24px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21)!important
}

.w3-card-24 {
  box-shadow: 0 24px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22)!important
}

.w3-animate-fading {
  -webkit-animation: fading 10s infinite;
  animation: fading 10s infinite
}

@-webkit-keyframes fading {
  0% {
    opacity: 0
  }
  50% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}

@keyframes fading {
  0% {
    opacity: 0
  }
  50% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}

.w3-animate-opacity {
  -webkit-animation: opac 1.5s;
  animation: opac 1.5s
}

@-webkit-keyframes opac {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

@keyframes opac {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

.w3-animate-top {
  position: relative;
  -webkit-animation: animatetop 0.4s;
  animation: animatetop 0.4s
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }
  to {
    top: 0;
    opacity: 1
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }
  to {
    top: 0;
    opacity: 1
  }
}

.w3-animate-left {
  position: relative;
  -webkit-animation: animateleft 0.4s;
  animation: animateleft 0.4s
}

@-webkit-keyframes animateleft {
  from {
    left: -300px;
    opacity: 0
  }
  to {
    left: 0;
    opacity: 1
  }
}

@keyframes animateleft {
  from {
    left: -300px;
    opacity: 0
  }
  to {
    left: 0;
    opacity: 1
  }
}

.w3-animate-right {
  position: relative;
  -webkit-animation: animateright 0.4s;
  animation: animateright 0.4s
}

@-webkit-keyframes animateright {
  from {
    right: -300px;
    opacity: 0
  }
  to {
    right: 0;
    opacity: 1
  }
}

@keyframes animateright {
  from {
    right: -300px;
    opacity: 0
  }
  to {
    right: 0;
    opacity: 1
  }
}

.w3-animate-bottom {
  position: relative;
  -webkit-animation: animatebottom 0.4s;
  animation: animatebottom 0.4s
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -300px;
    opacity: 0
  }
  to {
    bottom: 0px;
    opacity: 1
  }
}

@keyframes animatebottom {
  from {
    bottom: -300px;
    opacity: 0
  }
  to {
    bottom: 0;
    opacity: 1
  }
}

.w3-animate-zoom {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0)
  }
  to {
    -webkit-transform: scale(1)
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(1)
  }
}

.w3-animate-input {
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out
}

.w3-animate-input:focus {
  width: 100%!important
}

.w3-opacity,
.w3-hover-opacity:hover {
  opacity: 0.60;
  filter: alpha(opacity=60);
  -webkit-backface-visibility: hidden
}

.w3-opacity-off,
.w3-hover-opacity-off:hover {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-backface-visibility: hidden
}

.w3-text-shadow {
  text-shadow: 1px 1px 0 #444
}

.w3-text-shadow-white {
  text-shadow: 1px 1px 0 #ddd
}

.w3-transparent {
  background-color: transparent!important
}

.w3-hover-none:hover {
  box-shadow: none!important;
  background-color: transparent!important
}


/* Colors */

.w3-amber,
.w3-hover-amber:hover {
  color: #000!important;
  background-color: #ffc107!important
}

.w3-aqua,
.w3-hover-aqua:hover {
  color: #000!important;
  background-color: #00ffff!important
}

.w3-blue,
.w3-hover-blue:hover {
  color: #fff!important;
  background-color: #2196F3!important
}

.w3-light-blue,
.w3-hover-light-blue:hover {
  color: #000!important;
  background-color: #87CEEB!important
}

.w3-brown,
.w3-hover-brown:hover {
  color: #fff!important;
  background-color: #795548!important
}

.w3-cyan,
.w3-hover-cyan:hover {
  color: #000!important;
  background-color: #00bcd4!important
}

.w3-blue-grey,
.w3-hover-blue-grey:hover {
  color: #fff!important;
  background-color: #607d8b!important
}

.w3-green,
.w3-hover-green:hover {
  color: #fff!important;
  background-color: #4CAF50!important
}

.w3-light-green,
.w3-hover-light-green:hover {
  color: #000!important;
  background-color: #8bc34a!important
}

.w3-indigo,
.w3-hover-indigo:hover {
  color: #fff!important;
  background-color: #3f51b5!important
}

.w3-khaki,
.w3-hover-khaki:hover {
  color: #000!important;
  background-color: #f0e68c!important
}

.w3-lime,
.w3-hover-lime:hover {
  color: #000!important;
  background-color: #cddc39!important
}

.w3-orange,
.w3-hover-orange:hover {
  color: #000!important;
  background-color: #ff9800!important
}

.w3-deep-orange,
.w3-hover-deep-orange:hover {
  color: #fff!important;
  background-color: #ff5722!important
}

.w3-pink,
.w3-hover-pink:hover {
  color: #fff!important;
  background-color: #e91e63!important
}

.w3-purple,
.w3-hover-purple:hover {
  color: #fff!important;
  background-color: #9c27b0!important
}

.w3-deep-purple,
.w3-hover-deep-purple:hover {
  color: #fff!important;
  background-color: #673ab7!important
}

.w3-red,
.w3-hover-red:hover {
  color: #fff!important;
  background-color: #f44336!important
}

.w3-sand,
.w3-hover-sand:hover {
  color: #000!important;
  background-color: #fdf5e6!important
}

.w3-teal,
.w3-hover-teal:hover {
  color: #fff!important;
  background-color: #009688!important
}

.w3-yellow,
.w3-hover-yellow:hover {
  color: #000!important;
  background-color: #ffeb3b!important
}

.w3-white,
.w3-hover-white:hover {
  color: #000!important;
  background-color: #fff!important
}

.w3-black,
.w3-hover-black:hover {
  color: #fff!important;
  background-color: #000!important
}

.w3-grey,
.w3-hover-grey:hover {
  color: #000!important;
  background-color: #9e9e9e!important
}

.w3-light-grey,
.w3-hover-light-grey:hover {
  color: #000!important;
  background-color: #f1f1f1!important
}

.w3-dark-grey,
.w3-hover-dark-grey:hover {
  color: #fff!important;
  background-color: #616161!important
}

.w3-pale-red,
.w3-hover-pale-red:hover {
  color: #000!important;
  background-color: #ffdddd!important
}

.w3-pale-green,
.w3-hover-pale-green:hover {
  color: #000!important;
  background-color: #ddffdd!important
}

.w3-pale-yellow,
.w3-hover-pale-yellow:hover {
  color: #000!important;
  background-color: #ffffcc!important
}

.w3-pale-blue,
.w3-hover-pale-blue:hover {
  color: #000!important;
  background-color: #ddffff!important
}

.w3-text-amber,
.w3-hover-text-amber:hover {
  color: #ffc107!important
}

.w3-text-aqua,
.w3-hover-text-aqua:hover {
  color: #00ffff!important
}

.w3-text-blue,
.w3-hover-text-blue:hover {
  color: #2196F3!important
}

.w3-text-light-blue,
.w3-hover-text-light-blue:hover {
  color: #87CEEB!important
}

.w3-text-brown,
.w3-hover-text-brown:hover {
  color: #795548!important
}

.w3-text-cyan,
.w3-hover-text-cyan:hover {
  color: #00bcd4!important
}

.w3-text-blue-grey,
.w3-hover-text-blue-grey:hover {
  color: #607d8b!important
}

.w3-text-green,
.w3-hover-text-green:hover {
  color: #4CAF50!important
}

.w3-text-light-green,
.w3-hover-text-light-green:hover {
  color: #8bc34a!important
}

.w3-text-indigo,
.w3-hover-text-indigo:hover {
  color: #3f51b5!important
}

.w3-text-khaki,
.w3-hover-text-khaki:hover {
  color: #b4aa50!important
}

.w3-text-lime,
.w3-hover-text-lime:hover {
  color: #cddc39!important
}

.w3-text-orange,
.w3-hover-text-orange:hover {
  color: #ff9800!important
}

.w3-text-deep-orange,
.w3-hover-text-deep-orange:hover {
  color: #ff5722!important
}

.w3-text-pink,
.w3-hover-text-pink:hover {
  color: #e91e63!important
}

.w3-text-purple,
.w3-hover-text-purple:hover {
  color: #9c27b0!important
}

.w3-text-deep-purple,
.w3-hover-text-deep-purple:hover {
  color: #673ab7!important
}

.w3-text-red,
.w3-hover-text-red:hover {
  color: #f44336!important
}

.w3-text-sand,
.w3-hover-text-sand:hover {
  color: #fdf5e6!important
}

.w3-text-teal,
.w3-hover-text-teal:hover {
  color: #009688!important
}

.w3-text-yellow,
.w3-hover-text-yellow:hover {
  color: #d2be0e!important
}

.w3-text-white,
.w3-hover-text-white:hover {
  color: #fff!important
}

.w3-text-black,
.w3-hover-text-black:hover {
  color: #000!important
}

.w3-text-grey,
.w3-hover-text-grey:hover {
  color: #757575!important
}

.w3-text-light-grey,
.w3-hover-text-light-grey:hover {
  color: #f1f1f1!important
}

.w3-text-dark-grey,
.w3-hover-text-dark-grey:hover {
  color: #3a3a3a!important
}

.w3-border-amber,
.w3-hover-border-amber:hover {
  border-color: #ffc107!important
}

.w3-border-aqua,
.w3-hover-border-aqua:hover {
  border-color: #00ffff!important
}

.w3-border-blue,
.w3-hover-border-blue:hover {
  border-color: #2196F3!important
}

.w3-border-light-blue,
.w3-hover-border-light-blue:hover {
  border-color: #87CEEB!important
}

.w3-border-brown,
.w3-hover-border-brown:hover {
  border-color: #795548!important
}

.w3-border-cyan,
.w3-hover-border-cyan:hover {
  border-color: #00bcd4!important
}

.w3-border-blue-grey,
.w3-hover-blue-grey:hover {
  border-color: #607d8b!important
}

.w3-border-green,
.w3-hover-border-green:hover {
  border-color: #4CAF50!important
}

.w3-border-light-green,
.w3-hover-border-light-green:hover {
  border-color: #8bc34a!important
}

.w3-border-indigo,
.w3-hover-border-indigo:hover {
  border-color: #3f51b5!important
}

.w3-border-khaki,
.w3-hover-border-khaki:hover {
  border-color: #f0e68c!important
}

.w3-border-lime,
.w3-hover-border-lime:hover {
  border-color: #cddc39!important
}

.w3-border-orange,
.w3-hover-border-orange:hover {
  border-color: #ff9800!important
}

.w3-border-deep-orange,
.w3-hover-border-deep-orange:hover {
  border-color: #ff5722!important
}

.w3-border-pink,
.w3-hover-border-pink:hover {
  border-color: #e91e63!important
}

.w3-border-purple,
.w3-hover-border-purple:hover {
  border-color: #9c27b0!important
}

.w3-border-deep-purple,
.w3-hover-border-deep-purple:hover {
  border-color: #673ab7!important
}

.w3-border-red,
.w3-hover-border-red:hover {
  border-color: #f44336!important
}

.w3-border-sand,
.w3-hover-border-sand:hover {
  border-color: #fdf5e6!important
}

.w3-border-teal,
.w3-hover-border-teal:hover {
  border-color: #009688!important
}

.w3-border-yellow,
.w3-hover-border-yellow:hover {
  border-color: #ffeb3b!important
}

.w3-border-white,
.w3-hover-border-white:hover {
  border-color: #fff!important
}

.w3-border-black,
.w3-hover-border-black:hover {
  border-color: #000!important
}

.w3-border-grey,
.w3-hover-border-grey:hover {
  border-color: #9e9e9e!important
}

.w3-border-light-grey,
.w3-hover-border-light-grey:hover {
  border-color: #f1f1f1!important
}

.w3-border-dark-grey,
.w3-hover-border-dark-grey:hover {
  border-color: #616161!important
}

.w3-border-pale-red,
.w3-hover-border-pale-red:hover {
  border-color: #ffe7e7!important
}

.w3-border-pale-green,
.w3-hover-border-pale-green:hover {
  border-color: #e7ffe7!important
}

.w3-border-pale-yellow,
.w3-hover-border-pale-yellow:hover {
  border-color: #ffffcc!important
}

.w3-border-pale-blue,
.w3-hover-border-pale-blue:hover {
  border-color: #e7ffff!important
}
@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    padding: 20px;
    min-height: 80vh;
	width: 100%;
    transition: all 0.3s;
}

#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: #f5f5f5;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}
#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}


#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
        transform: rotateY(90deg);
    }
    #sidebar.active {
        margin-left: 0;
        transform: none;
    }
    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }
    #sidebarCollapse.active span {
        margin: 0 auto;
    }
    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }

}

