{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<h1> Contact </h1>
{% if confirm_message %}
{{ confirm_message }}
{% endif %}
<form method="POST" action="" enctype="multipart/form-data" autocomplete="off">
    {% csrf_token %}
    {{ form | crispy }}
    <button type="submit">Submit</button>
</form>


{% endblock %}
