{% extends 'header.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block body_block %}
<title>{% block title %} Workflow Report {% endblock %}</title>
{% if user.is_authenticated %}
{% load i18n %}
<head>
    <link rel = "stylesheet" type = "text/css" href = "{% static 'table/css/jquery.dataTables.css' %}"/>

    <script src = "{% static 'table/js/jquery.dataTables.js' %}"></script>
</head>
<br>
<p class="breadcrumb breadcrumb_lbl"><a href="{% url 'DMS:home' %}">{% trans 'Home' %}</a>/
<a href="{% url 'DMS:report_list' %}">{% trans 'Report List' %}</a>/{% trans 'Reports' %}</p>

<div class="col-md-17" id="outer">
    <div class="p-2 float-right">
    <input  type="button" id="Button" class="btn btn-primary btn-sm" value="Add" onclick="OpenAddWindow();">
    <input  type="button" id="Button1" class="btn btn-primary btn-sm" value="Modify" onclick="OpenModifyWindow();" disabled/>
    <input  type="button" id="Button2" class="btn btn-primary btn-sm" value="Delete" onclick="confirmDelete();" disabled/>
    <input  type="button" id="export" class="btn btn-secondary btn-sm" value="Export" onclick="OpenExportWindow();" disabled>
   </div>
</div>
    <!--<div class="inner"><input  type="button" id="Button4" value="More" style="background-color:grey"/></div>-->
    <div class="table-responsive">
        <table id = "case-table"  class = "table table-bordered table-sm table-striped" style="white-space:nowrap;">
        <thead class="table-info text-center">
            <tr>
                <th><input type="checkbox" id="selectAll"/></th>
                <th>{% trans 'Report Name' %}</th>
                <th>{% trans 'Query' %}</th>
                <th>{% trans 'Creation Date' %}</th>
                <th>{% trans 'Description' %}</th>


            </tr>
        </thead>

            <tbody id="tbody_id">
                {% if reports %}
                    {% include 'reports/workflow_report_list.html' %}
                {% else %}
                    <tr>
                        <td colspan="6"><h1>{% trans 'No Records Found' %}</h1></td>
                    </tr>
                {% endif %}
            </tbody>



        </table>
    </div>

<script>

        var myTable = $('#case-table').DataTable({
        });


        var query_id = '0';
        function OpenAddWindow(){
            window.open("workflow_add_report/"+query_id,null,"height=450px, width=600px,top=150px, left=400px, status=no, resizable=no");

        }

        function OpenExportWindow(){
             $("#tbody_id input[type=checkbox]:checked").each(function () {
                    var data = $(this).attr('data-attr-value');
                    var popup = window.open("workflow_export_report/"+data, "popup", "fullscreen");
                    if (popup.outerWidth < screen.availWidth || popup.outerHeight < screen.availHeight)
                      {
                        popup.moveTo(0,0);
                        popup.resizeTo(screen.availWidth, screen.availHeight);
                      }
                });
        }

 function confirmDelete(){

    var query_ids = [];

    //checkboxes should have a general class to traverse
    var rowcollection = myTable.$(".abc:checked", {"page": "all"});

    //Now loop through all the selected checkboxes to perform desired actions

    rowcollection.each(function(index,elem){
        //You have access to the current iterating row
        var checkbox_value = $(elem).attr('data-attr-value');
        query_ids.push(checkbox_value)
        //Do something with 'checkbox_value'
    });

<!--    $("#tbody_id input[type=checkbox]:checked").each(function () {-->
<!--        var data = $(this).attr('data-attr-value');-->
<!--        query_ids.push(data)-->
<!--    });-->

    swal({
        title: "Are you sure?",
        text: "You want to delete this query!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#DD6B55",
        confirmButtonText: "Yes, delete it!",
        closeOnConfirm: false
    }, function (isConfirm) {
        if (!isConfirm) return;
        $.ajax({
            url: "/delete_queries/",
            type: "POST",
            data: {'query_ids':JSON.stringify(query_ids)

            },
            dataType: 'json',
            success: function (response) {


                swal({
                      title: "Done!",
                      text: "Successfully Deleted!",
                      type: 'success',

                    }, function() {
                         myTable.clear().draw()
                         var $data = $(response);
                         console.log($data)
                         for (var i = 0; i < $data.length; i++) {

                                if ($data[i]) {
                                    myTable.row.add([
                                        '<input type="checkbox"></input>',
                                        $data[i].report_name,
                                        $data[i].query,
                                        $data[i].creation_date,
                                        $data[i].description,

                                    ])

                                }

                         }

                        myTable.draw();
                   }
                    );


            },
            error: function (xhr, ajaxOptions, thrownError) {
                swal("Error deleting!", "Please try again", "error");
            }
        });
    });


 }
</script>

{% endif %}
{% endblock %}
