{% extends 'admin/base.html' %}
{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}
{% load static %}
{% block branding %}
{% block extrastyle %}

  <link rel="stylesheet" type="text/css" href="{% static 'admin.css' %}">
<!--<link rel="stylesheet" type="text/css" href="{% static 'django_color.css' %}">-->
{% endblock %}
<h1>
Dms Administrator Panel
</h1>
{% endblock %}