{% extends "base.html" %}
{% block content %}
    <div class="jumbotron">
    <h2> All Files </h2>


{% for post in posts %}
<form method="post" >
<input type=button name="picname" value={{post.title}} onclick="load(this.value,this.id)"><br>
<script type="text/javascript">
function load(value){
document.location.href="/files/"+value;
}l
</script>
 {% endfor %}
</form>
    </div>
{% endblock %}
