{% extends 'base.html' %}
{% block content %}
{% if user.is_superuser %}
    <h1>Welcome to the DMS !</h1>
        <h2>Hello {{ request.user }}</h2>
{% else %}
    <h1> You are not authorised </h1>
{% endif %}
{% endblock %}


