{% extends 'header.html' %}
{% load staticfiles %}
{% load i18n %}
{% block body_block %}
{% if user.is_authenticated %}
<head>
  <style>
    #no{
      color:gray;
    }
        td,th
    {
    text-align:center;
    }
    td,th
    {
    text-align:center;
    }
    .input_img{
       width: 25px;
       margin-left: -29px;
       margin-top: -5px;
    }
    #yy{
      margin-left:81px;
    }
    #ye{
      margin-left:20px;
    }
    #G1{
      margin-left: 37px;
      width: 109px;
    }
    #G2{
      margin-left: 7px;
      width: 109px;
    }
    #G3{
      margin-left: 1136px;

    }
    .B1{
      margin-left: 12px;
    }

    #yz{
      margin-left: 9px;

    }
    label[for=changeId]{
      padding-bottom:1rem;
    }

  </style>
</head>
<body>
<br/>
<div class="breadcrumb_dms">
        <nav>
            <ol class="breadcrumb breadcrumb_lbl">
                <li class="breadcrumb-item"><a href="{% url 'DMS:home' %}">{% trans 'Home' %}</a></li>
                <li class="breadcrumb-item active">{% trans 'Archived Files' %}</li>
            </ol>
        </nav>
    </div>

<p class="breadcrumb  accord">{% trans 'Archived Files' %}: {{ request.user }}</p>
  {% with userId=user.pk %}
  <div class="actions">

      <form  id="personForm" method="post" data-cities-url="{% url 'DMS:archive_files' %}" autocomplete="off">
        {% csrf_token %}
          {{ NewChoiceForm }}


          <input type="text" name="fromDate" value="" placeholder="{% trans 'From Date' %}" class="1 me" id="yy">
          <img src="{% static 'images/calendar.png' %}" class="input_img 1 me">
          <input type="text" name="toDate" value="" placeholder="{% trans 'To Date' %}" class="1 me" id="ye">
          <img src="{% static 'images/calendar.png' %}" class="input_img 1 me">
          <input type="submit" name="" class="button 1 B1 js-filter-book" value="Go">

        </form>

    </div>
  <div class="results">
      <div class="table-responsive">
    <table class="table table-bordered table-hover table-striped" id="book-table">
      <thead class="table-info">
      <tr>
          <th>{% trans 'Sr. No.' %}</th>
          <th>{% trans 'Uploader' %}</th>
          <th>{% trans 'File Name' %}</th>
          <th>{% trans 'File Type' %}</th>
          <th>{% trans 'Category' %}</th>
          <th>{% trans 'View' %}</th>
          <!-- <th>Download</th> -->
          <!--<th>{% trans 'Uploaded At' %}</th>-->
          <th>{% trans 'Deleted At' %}</th>
          <th>{% trans 'Restore' %}</th>
          <th>{% trans 'Delete' %}</th>
      </tr>
      </thead>
      <tbody>
        {% include 'files/archve_files_table.html' %}
      </tbody>
    </table>
      </div>
      {% if files %}
      <div class="mypage">
        {% include 'files/pagination.html' %}
      </div>
      {% endif %}
    <div class="modal fade" id="modal-book">
      <div class="modal-dialog">
        <div class="modal-content"></div>
      </div>
    </div>
  </div>
  {% endwith %}
  {% else %}

    <h2>You are not logged In</h2>
  {% endif %}
   <script>
		$('#yy').attr('readonly', 'readonly');
		$('#ye').attr('readonly', 'readonly');
   </script> 
   <script type="text/javascript" src="{% static 'js/my.js' %}"></script>
  {% endblock %}
