{% extends 'header.html' %}
{% load crispy_forms_tags %}
{% block body_block %}
{% load i18n %}
{% if user.is_authenticated %}

<style>
 /* .list-group-item:hover
  {
   background:lavender
  }
*/

   .list-group-item{
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
    font-size: 18px;
  }

 .btn:hover {
  background-color: #666;
  color: white;
}
</style>

<br/>
<div class="breadcrumb_dms">
        <nav>
            <ol class="breadcrumb breadcrumb_lbl">
                <li class="breadcrumb-item"><a href="{% url 'DMS:home' %}">{% trans 'Home' %}</a></li>
                <li class="breadcrumb-item active">{% trans 'Document Upload' %}</li>
            </ol>
        </nav>
    </div>

  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"></h3>
        </div>
        <div class="list-group" id="myDIV">
          <a href="{% url 'DMS:fileupload' %}" class="list-group-item basic ">
            {% trans 'Document Upload' %}
          </a>
          <a href="{% url 'DMS:bulk_upload' %}" class="list-group-item bulk">
            {% trans 'Bulk Upload' %}
          </a>
        </div>
      </div>
    </div>


<div class="col-6 mx-auto">
  {% block upload_content %}
  {% endblock %}
</div>
</div>


<script>

  $(function() {
    var type = '{{type}}'
    if (type == 'basic'){
      $('.basic').addClass('active')
    }else if (type == 'bulk'){
      $('.bulk').addClass('active')
    }
  });

  $(function() {
    var index = localStorage.getItem("liIndex");
    $('.list-group-item').click(function() {
        localStorage.setItem("liIndex", $(this).index());
        $(".list-group-item").removeClass('active');
        $(this).addClass('active').removeClass('inactive');
    });
    if (index)
        $(".list-group-item").eq(index).trigger('click');
});



  $('.kClass').on('click',function(){
    localStorage.clear();

  })



</script>
{% endif %}
{% endblock %}
