{% extends 'header.html' %}
{% load crispy_forms_tags %}
{% block body_block %}
<form method="post" autocomplete="off">{% csrf_token %}
    <p>Are you sure you want to delete "{{ object }}"?</p>
    <input type="submit" value="Confirm">
</form>
{% endblock %}
