{% extends 'header.html' %}
{% load staticfiles %}
{% load i18n %}
{% block body_block %}
<title> {% block title %} Document Management {% endblock %} </title>
<style>
  div.absolute {
  position: absolute;
  top: 300px;
  right: 100px;
  width: 400px;
  height: 200px;
  border: 2px solid ;

p{
   font-weight: 550;
   color: black ;
}
}
</style>
{% if user.is_authenticated %}
<br/>
<div class="breadcrumb_dms">
        <nav>
            <ol class="breadcrumb breadcrumb_lbl">
                <li class="breadcrumb-item"><a href="{% url 'DMS:home' %}">{% trans 'Home' %}</a></li>
                <li class="breadcrumb-item active">{% trans 'Document Management' %}</li>
            </ol>
        </nav>
    </div>
<div class="card">
    <div class="card-header accord" id="headingOne">
        <div class="btn btn-link accord" style="margin-left: -12px;font-size: initial;text-decoration:none" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          {% trans 'Documents' %}
        </div>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <p style="color: black;font-weight:400;"><a href="{%url 'DMS:user_files' user.pk 'Documents'%}">{% trans 'Documents' %}</a></p>

	    <p style="color: black;font-weight: 400;"><a href="{%url 'DMS:user_files' user.pk 'Invoice'%}">{% trans 'Invoices' %}</a></p>

        <p style="color: black;font-weight: 400;"><a href="{%url 'DMS:user_files' user.pk 'HR Documents'%}">{% trans 'HR Documents' %}</a></p>
      </div>
    </div>
  </div>

<br/>
  <div class="card">
    <div class="card-header accord" id="headingOne">
        <div class="btn btn-link accord" style="margin-left: -12px;font-size: initial;text-decoration:none" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          {% trans 'Shared Documents' %}
        </div>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <p style="color: black;font-weight: 400;"><a href="{% url 'DMS:shared_document' %}">{% trans 'Shared by You' %}</a></p>
	{% if request.user.is_superuser %}
	<p style="color: black;font-weight: 400;"><a href="{% url 'DMS:all_shared_document' %}">{% trans 'Shared By All' %}</a></p>
	{% endif %}
        <p style="color: black;font-weight: 400;"><a href="{% url 'DMS:shared_by_other' %}">{% trans 'Shared By Others' %}</a></p>
      </div>
    </div>
  </div>


<br/>
  <p class="breadcrumb  accord"><a href="{%url 'DMS:encryption'%}">{% trans 'Encrypt Document' %}</a></p>
  <p class="breadcrumb  accord"><a href="{%url 'DMSloader:user_file_info'%}">{% trans 'Edit Document' %}</a></p>
{% else %}
  <h2>You are not logged in.Please login</h2>
{% endif %}
{% endblock %}
