{% extends 'header.html' %}
{% load staticfiles %}
{% block body_block %}
{% if user.is_authenticated %}
<style>
  img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>
<br/>
<p class="breadcrumb breadcrumb_lbl"><a href="{% url 'DMS:home' %}">Home&nbsp;</a> / Discussions</p>
<div class="container-flex">
<img src="{% static 'images/coming-soon.jpg' %}" class="rounded mx-auto d-block img-fluid" alt="Coming Soon">
</div>
<br/><br/>
{% else %}

Please login!

{% endif %}

{% endblock %}
