{% extends 'header.html' %}
{% load staticfiles %}
{% load i18n %}

{% block body_block %}
<br/>

<div class="breadcrumb_dms">
        <nav>
            <ol class="breadcrumb breadcrumb_lbl">
                <li class="breadcrumb-item"><a href="{% url 'DMS:home' %}">{% trans 'Home' %}</a></li>
                <li class="breadcrumb-item active">{% trans 'Document Upload' %}</li>
            </ol>
        </nav>
    </div>
<br>
<p class="breadcrumb  accord"><a href="{% url 'DMS:fileupload' %}" class="kClass">{% trans 'Document Upload' %}</a> </p>



<script>
  $('.kClass').on('click',function(){
    localStorage.clear();

  })
</script>
{% endblock %}
