{% extends "header.html" %}

<html lang="en">
{% load staticfiles%}
<head>
    <title> DMS - file upload </title>
</head>
<body>
{% block body_block %}

<h5> Your documents have been successfully uploaded. Please wait for Administrator approval</h5>

<p><a href="{% url 'home' %}">Return to home</a></p>

{% endblock %}
</body>
</html>