{% extends 'basic-upload.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block title %}{% trans 'Basic Upload' %}{% endblock %}
{% block upload_content %}
{% load static %}
<title> Document Upload </title>
<head>
    <script src="{% static 'javascript/sweetalert2@8.js' %}"></script>
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    <style>

        .swal2-container {
          zoom: 1.0;
        }

        td{
          width:180px;
        }
       
    </style>
</head>
<br/>


  <form method="post" class="my-form" id="this-form" action="{% url 'DMS:fileupload' %}" enctype="multipart/form-data" autocomplete="off">

<div class="col-9">
    <div class="card card.bg-success.text-white">
      <div class="card-header text-center bg-primary text-white" style="font-weight: bold;">{% trans 'Upload Documents' %}</div>
      <div class="card-body">

        <div id="message_container">
            {% include 'messages.html' %}
        </div>

    {% csrf_token %}
    {% for field in form %}
    <span>{{ field.label_tag }} {% if field.field.required %} * {% endif %}</span>
    <span>{{ field }}  </span><br>
    {% for error in field.errors %}
    <p style="color: red">{{ error }}</p>
    {% endfor %}
    {% endfor %}

<div style="border:1px soild">
    <canvas id="imageCanvas" width="20" height="20" style="margin-left:100px;"></canvas>
    <span id="word_id_p" style="vertical-align:top;color:red" class="mx-2"></span> 
</div>
    <div class="text-center"><button type="submit" class="btn btn-primary" id="bb">{% trans 'Upload' %}</button>
    <button class="btn btn-primary" type="reset" id="cancelBtn">{% trans 'Cancel' %}</button></div>
       </div>
      </div>
</div>
<br/>
  </form>
<div class="modal fade" id="modal-book">
      <div class="modal-dialog">
        <div class="modal-content"></div>
      </div>
    </div>

<script type="text/javascript" src="{% static 'js/file.js' %}"></script>
  <script>

        $("#cancelBtn").on('click', function (){
        canvas = document.getElementById('imageCanvas');
        ctx = canvas.getContext('2d');
        ctx.clearRect(0, 0, canvas.width, canvas.height);
        document.getElementById('word_id_p').innerHTML = '';
    });

        $("#yz").change(function(){
        var file = $(this).val().trim();


        var filewala = $('input[name="File1"]').get(0).files[0];



        if(file != '')
            {
            $.ajax({
              url: "/validate_filename/",
              cache:'false',
              dataType: 'json',
              type:"GET",
              data: {
                    'file': file
                  },
              success: function(data){

               if (data.is_taken){

                      Swal.fire({
                        title: "File With Same Name Already Exists!",

                        html: "<div><table><tr><td><label><strong>Filename: </strong></label></td><td><label>"+data.Filename+"</label></td></tr><tr><td><label><strong>File Type: </strong></label></td><td><label>"+data.File_type+"</label></td></tr><tr><td><label><strong>Uploader: </strong></label></td><td><label>"+data.Uploader+"</label></td></tr><tr><td><label><strong>Path: </strong></label></td><td><label>"+data.FilePath+"</label></td></tr><tr><td><label><strong>Uploaded At: </strong></label></td><td><label>"+data.uploaded_at+"</label></td></tr></table></div><div><button type='button' class='btn btn-warning cancel' ><i class='fa fa-close'></i> Cancel</button>&nbsp;<button type='button' class='btn btn-primary upload'><i class='fa fa-upload'></i> Upload Again</button>&nbsp;<button type='submit' class='btn btn-danger replace'><i class='fa fa-edit'></i> Replace File</button></div>",
                        showCancelButton: false,
                        showConfirmButton: false
                      });

                      $('.cancel').on('click',function (){

                          SweetAlert.close();
                          location.reload();
                      });

                      $('.upload').on('click',function (){
                          $("#yz").val(null);
                          canvas = document.getElementById('imageCanvas');
                          ctx = canvas.getContext('2d');
                          ctx.clearRect(0, 0, canvas.width, canvas.height);

                          SweetAlert.close();
                      });

                      $('.replace').on('click', function (){
                         var formData = new FormData($("#this-form")[0]);
                         console.log(data.is_protected)
                        if (data.is_protected == 'True'){
                           console.log("DSFDS")
                            var url = '/ask_replace_file_password/'+data.id+'/'
                            $.ajax({
                               url: url,
                               type:'POST',
                               data : formData,

                               processData: false,
                               contentType: false,
                               beforeSend: function () {
                                 $("#modal-book").modal("show");
                               },
                               success: function (data) {
                                 SweetAlert.close();
                                 $("#modal-book .modal-content").html(data.html_form);

                               }
                             });

                        }else{

                            SweetAlert.close();
                            swal("Done!", "File Replaced Successfully.", "success");


                            swal({

                                title: "Success",
                                text: "File Replaced Successfully",
                                icon: "success",
                                showConfirmButton: true


                            }, function() {
                                location.reload();
                            })


                            $.ajax({
                                type:'POST',
                                url :'/replace_file/',
                                data : formData,
                                processData: false,
                                contentType: false,

                                });
                          }
                      });
              }



             }
        });
        }
      });

     $('#id_Uploader').bind('keypress', function(e) {
        var k = e.which;
        var ok = k >= 65 && k <= 90 || // A-Z
            k >= 97 && k <= 122 || // a-z
            k >= 48 && k <= 57 || // 0-9
            k == 32; //Space
        if (!ok){
            e.preventDefault();
        }

    });



  //Words counts will be shown here....

$('.for_word1').on('change', function(e)  {
    document.getElementById('word_id_p').innerHTML = '';
    if (window.File && window.FileReader && window.FileList && window.Blob) {
        var filePath = $(this)[0].value;
        var extn = filePath.substring(filePath.lastIndexOf('.') + 1).toLowerCase();

        if (extn == "doc" || extn == "txt" || extn == "docx" || extn == "xls" || extn == "xlsx"){

           console.log("words");

        var doc = document.getElementById("yz");
            console.log(doc);
            var f = doc.files[0];
         //alert(f);   //var f = event.target.files[0];
            console.log('now here')
            //do your stuff!

            if (!f) {
                alert("Failed to load file");
                //validate file types yet to come
            } else if (false) {
                alert(f.type + " is not a valid text file.");
            } else {

                var r = new FileReader();//create file reader object
                r.readAsText(f);//read file as text

                //attach function to execute when loading file finishes.
                r.onload = function (e) {
                    var contents = e.target.result;
                    //Replace multiple spaces with single space
                    var newStr = contents.replace(/  +/g, ' ');
                    var res = newStr.split(" ");
                    console.log(res.length);
                    var fileInformation = "Word Count : "+res.length;
                var info = document.getElementById("word_id_p");
                info.innerHTML = fileInformation;

                }
            }

        }
    } else {
        alert('The File APIs are not fully supported by your browser.');
    }


});


 </script>

{% endblock %}
