{% extends 'header.html' %}
{% load staticfiles %}
{% load i18n %}
{% block body_block %}
{% if user.is_authenticated %}
{% if user.is_superuser %}
<div class="breadcrumb_dms">
        <nav>
            <ol class="breadcrumb breadcrumb_lbl">
                <li class="breadcrumb-item"><a href="{% url 'DMS:home' %}">{% trans 'Home' %}</a></li>
				<li class="breadcrumb-item"><a href="{% url 'DMS:dashboard' %}">{% trans 'Document Management' %}</a></li>
				<li class="breadcrumb-item"><a href="{% url 'DMS:user_files' 1 doc.category %}">{% trans 'User Files' %}</a></li>
				<li class="breadcrumb-item"><a href="{% url 'DMS:root_files' doc.user.id doc.category doc.user %}">{{doc.user.username}} {% trans 'Files' %}</a></li>
                <li class="breadcrumb-item active">{% trans 'Share Document' %}</li>
            </ol>
        </nav>
    </div>

{% else %}
	<div class="breadcrumb_dms">
        <nav>
            <ol class="breadcrumb breadcrumb_lbl">
                <li class="breadcrumb-item"><a href="{% url 'DMS:home' %}">{% trans 'Home' %}</a></li>
				<li class="breadcrumb-item"><a href="{% url 'DMS:dashboard' %}">{% trans 'Document Management' %}</a></li>
				<li class="breadcrumb-item"><a href="{% url 'DMS:root_files' doc.user.id doc.category doc.user %}">{{doc.user.username}} {% trans 'Files' %}</a></li>
                <li class="breadcrumb-item active">{% trans 'Share Document' %}</li>
            </ol>
        </nav>
    </div>
 

{% endif %}
</p>
<p class="breadcrumb  accord">{% trans 'Share Documents' %} </p>

<h1 class="page-header">
    <small> {% block title %}{% endblock %}</small>
  </h1>
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"></h3>
        </div>
        <div class="list-group">
          <a href="{% url 'DMS:share_document_to_user' doc.id %}" class="list-group-item active">
            {% trans 'Share Internally' %}
          </a>
          <a href="{% url 'DMS:share_files_externally' doc.id %}" class="list-group-item">
            {% trans 'Share Externally' %}
          </a>
        </div>
      </div>
    </div>

<div class="col-md-9">
    {% block share_content %}
    {% endblock %}
</div>
  </div>

<script type="text/javascript">
$(function() {
    var index = localStorage.getItem("liIndex");
    $('.list-group-item').click(function() {
        localStorage.setItem("liIndex", $(this).index());
		$(".list-group-item").removeClass('active');
        $(this).addClass('active').removeClass('inactive');
    });
    if (index)
        $(".list-group-item").eq(index).trigger('click');
});

</script>

{% endif %}
{% endblock %}
