{% extends 'header.html' %}
{% load staticfiles %}
{% load i18n %}
{% block body_block %}
<title> {% block title %} Access History {% endblock %} </title>
{% if user.is_authenticated %}
<style>
    td,th
    {
    text-align:center;
    }
    #no{
        color:gray;
        }

</style>
<br/>

<div class="breadcrumb_dms">
        <nav>
            <ol class="breadcrumb breadcrumb_lbl">
                <li class="breadcrumb-item"><a href="{% url 'DMS:home' %}">{% trans 'Home' %}</a></li>
                <li class="breadcrumb-item active">{% trans 'Access History' %}</li>
            </ol>
        </nav>
    </div>

<p class="breadcrumb  accord">{% trans 'Access History' %}</p>
<div style="float:left;">
  <form class="form-inline" autocomplete="off">
    <input class="form-control mr-sm-2" type="text" style="width:300px;" placeholder="{% trans 'Search By File Name or User Name' %}" aria-label="Search" name="searchMe" id="more_search" data-url="{% url 'DMS:access_history_table' %}">

  </form>
</div>
<div align="right">
<i class="fa fa-file-excel-o fa-2x" data-toggle="tooltip" title="Download Report in Excel" 
		 data-cities-url="{% url 'DMS:data_to_excel' %}" data-placement="bottom" style="color:green" id="btnExportToExcel" aria-hidden="true"></i>
<i class="fa fa-file-pdf-o fa-2x" data-toggle="tooltip" title="Download Report in PDF" 
		data-cities-url="{% url 'DMS:data_to_pdf' %}" data-placement="bottom" style="color:red" id="btnExportToPdf" aria-hidden="true"></i>
</div>
<div class="table-responsive">
        <table id="book-table" class = 'table table-bordered table-hover table-striped access_history_table' style="white-space:nowrap">
            <thead class='table-info'>
                <tr>

                    <th>{% trans 'Sr. No.' %}</th>
                    <th>{% trans 'User ID' %} </th>
                    <th>{% trans 'User Name' %} </th>
                    <th>{% trans 'File Name' %} </th>
                    <th>{% trans 'File Type' %}</th>
                    <th>{% trans 'Action Date' %} </th>
                    <th>{% trans 'Action' %} </th>
                </tr>
            </thead>
            {% if files %}
            <tbody>
                {% include 'files/history_list.html' %}
            </tbody>
            {% else %}
             <tr>
                <td colspan="7"><h1 id="no">No Records Found</h1></td>
              </tr>
            {% endif %}
        </table>
        {% if files %}
        <div class="mypage">
          {% include 'files/pagination.html' %}
        </div>
        {% endif %}
</div>
{% else %}
  You are not logged in.
{% endif %}
<script type="text/javascript">


  $('#more_search').on('keyup', function() {
    if ($(this).val()){

      var val = this.value;
      console.log(val);
    }else{

      var val='0'
    }

    var url = $(this).attr("data-url");

    $.ajax({
            url: url,
            data:{
              'searchVal' : val
            },

            success: function (data) {
              if (data.form_is_valid) {

                $("#book-table tbody").html(data.html_book_list);
                $(".mypage").html(data.page_div);
              }
              else {

                $("#modal-book .modal-content").html(data.html_form);
              }
            }
          });
          return false;
  });

</script>

<script src="{% static 'javascript/access_history_scripts.js' %}"></script>
{% endblock %}
