<!DOCTYPE html>
{% load i18n %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>DMS</title>
        {% load staticfiles %}

         <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">

         <!-- Bootstrap CSS CDN -->
        <link rel="stylesheet" href="{% static 'css/bootstrap-3.3.7.min.css' %}">
        <!-- <link href="css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
        <!-- Our Custom CSS -->
        <link href= "{% static 'css/style5.css' %}" rel="stylesheet">
        <style>
            .p1[data-count]:after{
            position:absolute;
            right: 169%;
            bottom: 183%;
            content: attr(data-count);
            font-size:160%;
            border-radius:50%;
            line-height:1em;
            color: white;
            background:rgba(255,0,0,.85);
            text-align:center;
            min-width: 1em;
            //font-weight:bold;
          }
          #start-record-btn { cursor: pointer; }

          #stop-btn { cursor: pointer; display: none; }

          {box-sizing: border-box;}

        /* Button used to open the chat form - fixed at the bottom of the page */
        .open-button {
          background-color: #555;
          color: white;
          padding: 16px 20px;
          border: none;
          cursor: pointer;
          opacity: 0.8;
          position: fixed;
          bottom: 23px;
          right: 28px;
          width: 280px;
        }
        span:hover{
        background-color:#D3D3D3;
            border-radius: 3px;
        }
        /* The popup chat - hidden by default */
        .form-popup {
          display: none;
          position: fixed;
          bottom: 0;
          right: 15px;
          border: 3px solid #f1f1f1;
          z-index: 9;
        }

        /* Add styles to the form container */
        .form-container {
          max-width: 300px;
          padding: 10px;
          background-color: white;
        }

        /* Full-width textarea */
        .form-container textarea {
          width: 100%;
          padding: 15px;
          margin: 5px 0 22px 0;
          border: none;
          background: #f1f1f1;
          resize: none;
          min-height: 200px;
        }

        /* When the textarea gets focus, do something */
        .form-container textarea:focus {
          background-color: #ddd;
          outline: none;
        }

        /* Set a style for the submit/login button */
        .form-container .btn {
          background-color: #4CAF50;
          color: white;
          padding: 16px 20px;
          border: none;
          cursor: pointer;
          width: 100%;
          margin-bottom:10px;
          opacity: 0.8;
        }

        /* Add a red background color to the cancel button */
        .form-container .cancel {
          background-color: red;
        }

        /* Add some hover effects to buttons */
        .form-container .btn:hover, .open-button:hover {
          opacity: 1;
        }

       #myForm{
            display:none;
            width: 280px;
        }



        .mybtn{
             width: 280px;
              -webkit-animation: glowing 1500ms infinite;
               -moz-animation: glowing 1500ms infinite;
               -o-animation: glowing 1500ms infinite;
              animation: glowing 1500ms infinite;
        }


        @-webkit-keyframes glowing {
              0% { background-color: #004A7F; -webkit-box-shadow: 0 0 3px #004A7F; }
              50% { background-color: #0094FF; -webkit-box-shadow: 0 0 10px #0094FF; }
              100% { background-color: #004A7F; -webkit-box-shadow: 0 0 3px #004A7F; }
            }

            @-moz-keyframes glowing {
              0% { background-color: #004A7F; -moz-box-shadow: 0 0 3px #004A7F; }
              50% { background-color: #0094FF; -moz-box-shadow: 0 0 10px #0094FF; }
              100% { background-color: #004A7F; -moz-box-shadow: 0 0 3px #004A7F; }
            }

            @-o-keyframes glowing {
              0% { background-color: #004A7F; box-shadow: 0 0 3px #004A7F; }
              50% { background-color: #0094FF; box-shadow: 0 0 10px #0094FF; }
              100% { background-color: #004A7F; box-shadow: 0 0 3px #004A7F; }
            }

            @keyframes glowing {
              0% { background-color: #004A7F; box-shadow: 0 0 3px #004A7F; }
              50% { background-color: #0094FF; box-shadow: 0 0 10px #0094FF; }
              100% { background-color: #004A7F; box-shadow: 0 0 3px #004A7F; }
            }

          a:hover {
               text-decoration: none;
           }


        .list-group-item {
            margin-bottom: 15px;
            border: 1px solid #fff;
        }

        .query {
            background: beige;
            text-align: right;
        }

        .response {
            background: aliceblue;
        }

        .chat-popup {
          display: none;
          position: fixed;
          bottom: 0;
          right: 15px;
          border: 3px solid #f1f1f1;
          z-index: 9;
        }
        h5
        {
        font-size: 86%;
        }

        ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          font-size:73%
        }
        ::-moz-placeholder { /* Firefox 19+ */
          font-size:73%
        }
        :-ms-input-placeholder { /* IE 10+ */
          font-size:73%
        }
        :-moz-placeholder { /* Firefox 18- */
          font-size:73%
        }
        </style>
    </head>
    <body  style="background:{{color}};">
    {% if user.is_authenticated %}
		<div class="topnav" style="background:{{header_color}}">
<!--	<a href="" title="Cosmos Bank"> <img src="{% static 'images/Logo_2.jpg' %}" class="img-responsive"  width="300" alt="Cosmos Bank"></a>-->
<a href="" title="Adroit Corporate Services Pvt. Ltd"><img src="{% static 'images/Adroit-logo-2.png' %}" class="img-responsive" width="90" alt="Adroit Corporate Services Pvt. Ltd"></a>	
		  <div class="search-container">



			  <form class="form-inline my-2 my-lg-0" id="search-form" action="{% url 'DMS:search_files' user.pk %}" autocomplete="off">
                  <input type="text" id="note-textarea" placeholder="{% trans 'Search By Filename/Uploader Name' %}" name="searchMe" required>
            <!-- <span style="margin-top:2px" <i class="fa fa-question"></span> -->
				  <button type="submit"><i style="color:black;font-size:19px" class="fa fa-search"></i></button>
          <button id="start-record-btn" data-attr-value={{user.pk}}><i class="fa fa-microphone-slash" style="font-size:19px;color:red"></i></button>
          <button id="stop-btn" ><i class="fa fa-microphone" style="font-size:19px;color:green"></i></button>
         <span onclick="window.location.href='{% url 'DMSaccount:logout' %}';" style="border:0.1px solid black;font-size:21px;hover:background-color: yellow;">
             <i class="fa fa-power-off" style="font-size:21px;color:black;padding-right: 9px;padding-left: 8px;">
             </i></span>

                 <!-- <button style="margin-left:1px !important;"><a style="float:right;font-size:19px;padding:0.3rem;" class="fa fa-power-off" href="{% url 'DMSaccount:logout' %}"></a></button>
&lt;!&ndash;                  <button style="margin-left:1px ;"><a class ="fa fa-power-off" style="float:right;font-size:25px;" href="{% url 'DMSaccount:logout' %}"></a></button>&ndash;&gt;
           <button><a class ="fa fa-power-off" style="font-size:25px;color:green;" href="{% url 'DMSaccount:logout' %}"></a></button>
         --> <br/>
          <a style="float: right;font-size: inherit;color:red;">{% trans "Last Login:" %} {{last_login}}</a>
          <br/>

			  </form>

			  </div>
			</div>
        <div class="wrapper">

            <!-- Sidebar Holder -->
            <nav id="sidebar" style="background:{{profile_title}}">
                <div class="sidebar-header" style="background:{{profile_content}}">
					<h3>{% trans 'My Profile' %}
          {% if profile.image %}
					<a href="{%url 'DMSaccount:user_profile'%}"><img src="{{ profile.image.url }}" width="60" height="50" alt="Avatar" style="border-radius: 50%;"></a>
         {% else %}
                 <a href="{%url 'DMSaccount:user_profile'%}"><img src="{% static 'images/user-image.jpg' %}" width="50" height="50" alt="Avatar" style="border-radius: 50%;" title="No Profile Photo"/></a>
          {% endif %}
          </h3>
                </div>
                <ul class="list-unstyled components">
                    <li><a>{% trans 'Username' %} : <span>{{ user.username }}</span></a></li>
                    <li><a>{% trans 'Name' %} : <span>{{ user.first_name }} {{ user.last_name }}</span></a></li>
                    <li><a>{% trans 'Designation' %} :&nbsp; <span>{% if profile.Designation is None %} {{' '}} {% else %}{{ profile.Designation }}{% endif %}</span></a></li>
                    <li><a>{% trans 'Employee Code' %} :&nbsp; <span>{% if profile.Employee_Code is None %} {{' '}} {% else %}{{ profile.Employee_Code}}{% endif %}</span></a></li>
	                 <li><a>{% trans 'Department' %} :&nbsp; <span>{% if profile.Department is None %} {{' '}} {% else %} {{ profile.Department }}{% endif %}</span></a></li>
                </ul>
                <ul>
                <li><a class="dropdown-item lbl_user" href="{% url 'DMSaccount:logout' %}">{% trans 'Logout' %}</a></li>
              </ul>
            </nav>
            <!-- Page Content Holder -->

            <div id="content">

               <!-- To show message on login -->
                     <h4 style="color:black" id="text_writer" name="{% if speaker %} speaker {% endif %}" data-attr-value="{{request.user.first_name}} {{request.user.last_name}}"> </h4>
             <!-- Edit here -->

                      <nav class="navbar">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" id="sidebarCollapse" class="navbar-btn">
                                <span></span>
                                <span></span>
                                <span></span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                          <!--  <ul class="nav navbar-nav navbar-right">-->
                              <ul class="nav navbar-nav navbar-left">
     				<li>&nbsp;&nbsp; &nbsp;</li>
				 <li class="active"><a class="doc_lbl" href="#">{% trans 'Dashboard' %}</a></li>
                                <!-- <li><a class="doc_lbl" href="{%url 'DMS:dashboard'%}">{% trans 'Document Management' %}</a></li> -->
                                <li><a class="doc_lbl" href="{% url 'DMSaccount:user_profile'%} ">{% trans 'My Account' %}</a></li>
                                {% if user.is_superuser %}
                                <li><a class="doc_lbl" href="{% url 'DMSaccount:all_users'%}">{% trans 'User Management' %}</a></li>
                                {% else %}
                                <li><a class="doc_lbl" href="#">{% trans 'User Management' %}</a></li>
                                {% endif  %}
								                <li><a class="doc_lbl" href="{% url 'DMSaccount:administration' %}">{% trans 'Administrator' %}</a></li>
								                <li><a class="doc_lbl" href="{% url 'DMSaccount:dms_settings' %}">{% trans 'Settings' %}</a></li>
                            </ul>
                            <a href="{% url 'DMS:meta_search' %}" title="Meta Search"><img border="0"  src="{% static 'images/1960112.png' %}" width="50" height="50"></a>
                        </div>
                    </div>
                </nav>
				<div class="w3-row-padding w3-margin-top">
              <div class="w3-third">
                <a href="{%url 'WorkflowManagement:workflow_management'%}">
                  <div class="w3-card-2 text-center" style="background: #0d4c91;">
                    <i class="fa fa-print fa-5x" aria-hidden="true"></i>
                    <div class="w3-container">
                      <h5><h5>{% trans 'WorkFlow Management' %}</h5></h5>
                    </div>
                  </div>
                </a>
              </div>
              <div class="w3-third">
                <a href="{%url 'DMS:dashboard'%}">
                  <div class="w3-card-2 text-center" style="background:  brown;">
                    <!-- <img src="images/starred.png" style="width:100%"> -->
                    <i class="fa fa-list-alt fa-5x"></i>
                    <div class="w3-container">
                      <h5>{% trans 'Document Management' %}</h5>
                    </div>
                  </div>
                </a>
              </div>
              <div class="w3-third">
                <a href="{% url 'DMS:fileupload' %}">
                  <div class="w3-card-2 text-center" style="background:olivedrab;">
                    <i class="fa fa-cloud-upload fa-5x" aria-hidden="true"></i>
                    <div class="w3-container">
                      <h5>{% trans 'Upload Documents' %}</h5>
                    </div>
                  </div>
                </a>
              </div>
              <div class="w3-third">
                <a href="{%url 'DMS:notification_files' %}">
                  <div class="w3-card-2 text-center" style="background: peru;">
                    <i class="fa fa-bell-o fa-5x fa-align-center" style="margin-left: 24px;"></i>
                        <span class="p1 fa fa-stack" data-count="{{total_count}}"></span>
                    <div class="w3-container">
                      <h5>{% trans 'My Notifications' %}</h5>
                    </div>
                  </div>
                </a>
              </div>

               <!-- <div class="w3-third">
                 <a href="{%url 'DMS:discussions'%}">
                  <div class="w3-card-2 text-center" style="background: blueviolet;">
                    <i class="fa fa-group fa-5x"></i>
                    <div class="w3-container">
                      <h5>{% trans 'Discussions' %}</h5>
                    </div>
                  </div>
                </a>
              </div> -->
               <div class="w3-third">
                 <a href="{%url 'DMS:access_history_table'%}">
                  <div class="w3-card-2 text-center" style="background: #452468;">
                    <i class="fa fa-history fa-5x"></i>
                    <div class="w3-container">
                      <h5>{% trans 'Access History' %}</h5>
                    </div>
                  </div>
                </a>
              </div>

            </div>

             <div class="w3-row-padding">

               <div class="w3-third">
                 <a href="{%url 'DMS:notes'%}">
                  <div class="w3-card-2 text-center" style="background: blueviolet;">
                    <i class="fa fa-sticky-note fa-5x"></i>
                    <div class="w3-container">
                      <h5>{% trans 'Sticky Notes' %}</h5>
                    </div>
                  </div>
                </a>
              </div>
            <!--  <div class="w3-third">
                <a href="{%url 'DMS:notification_files' %}">
                  <div class="w3-card-2 text-center" style="background: peru;">
                    <i class="fa fa-bell-o fa-5x fa-align-center" style="margin-left: 24px;"></i>
                        <span class="p1 fa fa-stack" data-count="{{total_count}}"></span>
                    <div class="w3-container">
                      <h5>{% trans 'My Notifications' %}</h5>
                    </div>
                  </div>
                </a>
              </div> -->

              <div class="w3-third">
                <a href="{% url 'DMS:report_list' %}">
                  <div class="w3-card-2 text-center" style="background: darkcyan;">
                   <i class="fa fa-file-text fa-5x"></i>
                    <div class="w3-container">
                      <h5>{% trans 'Reports' %}</h5>
                    </div>
                  </div>
                </a>
              </div>
                <div class="w3-third">
                  <a href="{%url 'DMS:starred_documents'%}">
                    <div class="w3-card-2 text-center" style="background:tomato;">
                      <i class="fa fa-star-o fa-5x"></i>
                      <div class="w3-container">
                        <h5>{% trans 'Starred Document' %}</h5>
                      </div>
                    </div>
                  </a>
              </div>
                <div class="w3-third">
                  <a href="{%url 'DMS:downloaded_files'%}">
                    <div class="w3-card-2 text-center" style="background: #60707A;">
                      <i class="fa fa-download fa-5x" aria-hidden="true"></i>
                      <div class="w3-container">
                        <h5>{% trans 'Download History' %}</h5>
                      </div>
                    </div>
                  </a>
              </div>

              <div class="w3-third">
                <a href="{%url 'DMS:archive_files'%}">
                  <div class="w3-card-2 text-center" style="background: #FF3361;">
                    <i class="fa fa-file-archive-o fa-5x" aria-hidden="true"></i>
                    <div class="w3-container">
                      <h5>{% trans 'Archive Documents' %} </h5>
                    </div>
                  </div>
                </a>
                <!--Enable below link to have chat bot in Application...-->
                  <!-- {% include 'other_files/chat_app.html' %} -->
              </div>

             </div>

            </div>
        </div>



        <!-- jQuery CDN -->
         <!--<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>-->
        <script src="{% static 'js/jquery-1.12.0.min.js'%}"></script>
         <!-- Bootstrap Js CDN -->
         <script src="{% static 'js/bootstrap-3.3.7.min.js'%}"></script>
		 <script src="{% static 'js/sweetalert.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/sweetalert.css' %}">
		
		{% if messages %}
        {% for message in messages %}

                    <script>
                        $(function() {
                            var url = '/confirm_login_if_stored_session/' + '{{message}}';
                            var else_url = '/user_logout_on_confirm'
                            var sharing = confirmLogin(url, else_url);
                            return false;
                         });


                        function confirmLogin(url, else_url){
                            swal({
                                  title: "User Already Logged in Another Computer",
                                  text: "Do you want to Login!!",
                                  type: "warning",
                                  showCancelButton: true,
                                  confirmButtonClass: "btn-warning",
                                  confirmButtonText: "Yes, Login!",
                                  cancelButtonText: "Cancel",
                                  closeOnConfirm: false,
                                  closeOnCancel: false
                                },
                                function(isConfirm){
                                    if(isConfirm){
                                            $.getJSON(url, function(result) {
                                                if (result.success) {
                                                    swal("Success!", "Logged In", "success");
                                                }
                                            });
                                    }
                                    else{
                                        $.getJSON(else_url, function(result) {
                                                if (result.success) {
                                                location.href = 'login'
                                                }
                                            });

                                    }
                                }
                        )}
                    </script>
                {% endfor %}
            {% endif %}

         <script type="text/javascript">
             $(document).ready(function () {
                 $('#sidebarCollapse').on('click', function () {
                     $('#sidebar').toggleClass('active');
                     $(this).toggleClass('active');
                 });


             });

             function openForm() {
              document.getElementById("myForm").style.display = "block";
               var chatme = document.getElementById("chatme")
               $('.mybtn').hide();
               var url = '/call_my_sp'
                   $.getJSON(url, function(result) {
                        string = result.result
                        string3 = string.toString()
                        var find = ','
                        var re = new RegExp(find, 'g');
                        string2 = string3.replace(re, '<br>');
                        chatme.innerHTML = string2;

                });
            }

            function closeForm() {
              document.getElementById("myForm").style.display = "none";
               $('.mybtn').show();
            }

             $('#chat-form').on('submit', function(event){
                event.preventDefault();

                $.ajax({
                    url : '/do_chat',
                    type : 'POST',
                    data : { msgbox : $('#chat-msg').val() },

                    success : function(json){
                        $('#chat-msg').val('');
                        $('#msg-list').append('<li class="text-left query list-group-item">' + json.query + '</li>');

                        <!--For break line in string -->
                        string = json.response
                        string3 = string.toString()
                        var find = ','
                        var re = new RegExp(find, 'g');
                        string2 = string3.replace(re, '<br>');
                        <!-- end string -->

                        $('#msg-list').append('<li class="text-left response list-group-item">' + string2 + '</li>');
                        var chatlist = document.getElementById('msg-list-div');
                        chatlist.scrollTop = chatlist.scrollHeight;
                    }
                });
            });


            var objDiv = document.getElementById("msg-list-div"); //Obtain the ID of the chat div
                function toBottom() {
                  objDiv.scrollTop = objDiv.scrollHeight; //Set the scroll offset position to the height of the chat div
                }
         </script>
    {% endif %}
    </body>
    <footer>
    <div class="row_foot" style="background:{{footer_color}}">
        <p style="color:white" class="foot_p">© <span id="year"><script>document.write(new Date().getFullYear())</script></span> <a href="http://www.adroitcorporate.com/" target="_blank" title="Adroit Corporate Services Pvt.Ltd."> Adroit Corporate Services Pvt. Ltd</a> &nbsp;|&nbsp; All rights reserved.</p>
    </div>
    </footer>
</html>
<script src="{% static 'js/materialize-0.95.1.min.js' %}"></script>

<script src="{% static 'javascript/message_type_writer.js' %}"></script>
<script src="{% static 'javascript/speech_recognition.js' %}"></script>
