{% extends 'header.html' %}
{% load staticfiles %}
{% block body_block %}
{% if user.is_authenticated %}

<br/>
<div class="breadcrumb_dms">
        <nav>
            <ol class="breadcrumb breadcrumb_lbl">
                <li class="breadcrumb-item"><a href="{% url 'DMS:home' %}">{% trans 'Home' %}</a></li>
				<li class="breadcrumb-item"><a href="{% url 'DMS:dashboard' %}">Document Management</a></li>

                <li class="breadcrumb-item active">{% trans 'Invoice' %}</li>
            </ol>
        </nav>
    </div>

<p class="breadcrumb  accord">Invoice File: {{ request.user }}</p>


<div class="table-responsive">
      <table id="result_list" class = 'table table-bordered table-hover table-striped' >
      <thead class='table-info text-center' >
     <tr>
        <th> Sr. No.</th>
        <th>File Name</th>
        <th>View</th>
        <th>Download</th>
        <th> Upload At</th>
        <th> Delete</th>
    </tr>
    </thead>
    <tbody class='text-center'>
      {% for file in invoice %}
      <tr>
        <td> {{ forloop.counter }} </td>
        <td>{{ file.Filename }}</td>
        <td> <a href=" {{ file.File2.url}}" class = "btn btn-primary btn-sm" target = _blank><i data-toggle="tooltip" title="View Record" data-placement="bottom" class="fa fa-eye"></i></a> </td>
        <td> <a href=" {{ file.File2.url }}" class = "btn btn-primary btn-sm" download = "{{file.Filename}}"><i data-toggle="tooltip" title="Download Record" data-placement="bottom" class="fa fa-download"></i></a> </td>
          <td>{{file.uploaded_at}}</td>
          <td>
              <form method = 'post' action="{% url 'DMS:delete_files_invoice' file.pk %} " autocomplete="off">
              {%csrf_token%}
              <button type="submit" class="btn btn-danger btn-sm"><i data-toggle="tooltip" title="Delete Record" data-placement="bottom" class="fa fa-trash"></i></button>
              </form>
          </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

  <div class = "pagination">
        <span class="step-links">
            {% if invoice.has_previous %}
                <a class="prev btn btn-info" href="?page=1">&laquo; first</a>
                <a class="prev btn btn-info" href="?page={{invoice.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ invoice.number }} of {{ invoice.paginator.num_pages }}
            </span>

            {%  if files.has_next %}
                <a class="prev btn btn-info" href="?page={{invoice.next_page_number}}" >next</a>
                <a class="prev btn btn-info" href="?page={{invoice.paginator.num_pages}}">last &raquo;</a>
            {% endif %}
        </span>
  </div>

{% else %}
  <h2>You are not logged in.Please login</h2>
{% endif %}
{% endblock %}
</div>
