{% extends 'header.html' %}
{% load crispy_forms_tags %}
{% block body_block %}
{% if user.is_authenticated %}
<br/>
<div class="breadcrumb_dms">
        <nav>
            <ol class="breadcrumb breadcrumb_lbl">
                <li class="breadcrumb-item"><a href="{% url 'DMS:home' %}">{% trans 'Home' %}</a></li>
				<li class="breadcrumb-item"><a href="{%url 'DMS:document_upload' %}"> Upload Documents </a></li>

                <li class="breadcrumb-item active">{% trans 'Invoice' %}</li>
            </ol>
        </nav>
    </div>  

<form method="post" enctype="multipart/form-data" autocomplete="off">

<div class="col-6 mx-auto">
    <div class="card card.bg-success.text-white">
      <div class="card-header text-center bg-primary text-white">Upload Invoice</div>
      <div class="card-body">
<form method="post" enctype="multipart/form-data" autocomplete="off">

  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}


    {% csrf_token %}
      <!-- {{ form | crispy }} -->

      {% for field in form %}
      <span>{{ field.label_tag }} {% if field.field.required %} * {% endif %}</span>
      <span>{{ field }}  </span><br>
      {% for error in field.errors %}
      <p style="color: red">{{ error }}</p>
      {% endfor %}
      {% endfor %}
      <canvas id="imageCanvas" width="20" height="20" style="margin-left:100px;"></canvas><br>
     <div class="text-center"><button type="submit" class="btn btn-primary" id="bb">Upload</button>
    <button class="btn btn-primary" type="reset">Cancel</button></div>
       </div>
      </div>
</div>
  </form>

{% else %}
  <h2>You are not logged in.Please login</h2>
{% endif %}
{% endblock %}
