{% extends 'header.html' %}
{% load staticfiles %}
{% load i18n %}
{% block body_block %}
<title> {% block title %} Meta Search {% endblock %} </title>
<head>
  <style>
    #no{
      padding-left:400px;
      color:gray;
    }

    <!--.loader {-->
      <!--border: 16px solid #f3f3f3; /* Light grey */-->
      <!--border-top: 16px solid #3498db; /* Blue */-->
      <!--border-radius: 50%;-->
      <!--width: 120px;-->
      <!--height: 120px;-->
      <!--animation: spin 2s linear infinite;-->
      <!--display: none;-->
      <!--margin-left: 479px;-->
      <!--margin-top: 100px;-->

    <!--}-->

    .loader {
        display: none;
        margin-left: 479px;
        margin-top: 100px;
    }

    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
    .table-responsive{
      display: none;
    }

    #range-msg{
        display:none;
    }
  </style>


</head>
{% if user.is_authenticated %}
<br/>
<p class="breadcrumb breadcrumb_lbl"><a href="{% url 'home' %}">{% trans 'Home' %}&nbsp;</a>/&nbsp;{% trans 'Meta Search' %}</p>

<div class="container">

    <div class="row">
        <div class="col-12">
            <div class="input-group">
                <form method="post" class="input-group" id="myform">
                {% csrf_token %}

                <input class="form-control border-secondary py-2" name="meta_data_search" id="data_meta_search" type="search" placeholder="Search By File Content" style="margin-left: -14px;">

                &nbsp;&nbsp;&nbsp;<input type="text" id="calendar" class="show_calendar" placeholder="From Date"/>
                &nbsp;&nbsp;&nbsp;<input type="text" id="calendar1" class="show_calendar2" placeholder="To Date"/>


                &nbsp;&nbsp;<div class="input-group-append">
                    <button class="btn btn-outline-secondary bulk_search" type="button" data-cities-url="{% url 'DMS:meta_search' %}" style="background-color:#0d4c91;">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
                </form>
                <br>

                <span id="range-msg" style="color:red;">Range of date should be less than or equal to 31 days.</span>
            </div>
        </div>
    </div>
</div>

<br>
<!--<div class="loader" ></div>-->
<div class="loader"><h2 style="margin-left: -192px;color: grey;">Please Wait...It will take few minutes.</h2><img src="{% static 'images/25.gif' %}" style="margin-left: 349px;margin-top: -71px;"></div>
<div class="table-responsive">
    <table id="book-table" class = 'table table-bordered table-hover table-striped' >
      <thead class='table-info text-center' >

    <tr>

      <th>{% trans 'Sr. No.' %}</th>
      <th>{% trans 'Uploader' %}</th>
      <th>{% trans 'File Name' %}</th>
      <th>{% trans 'File Type' %}</th>
      <th>{% trans 'View' %}</th>
      <th>{% trans 'Download' %}</th>
      <th>{% trans 'Uploaded At' %} </th>
      <th>{% trans 'Delete' %} </th>
      <th>{% trans 'Size' %} </th>
      <th>{% trans 'Fav' %} </th>
      <th>{% trans 'Share' %} </th>
      <th>{% trans 'Protect' %} </th>

    </tr>
    </thead>
	{% if files %}
    <tbody class="text-center">

      {% include 'files/user_files_table.html' %}

    </tbody>
	{% else %}
        <tr>
         <td colspan="12"><h1 id="no">{% trans 'No Records Found' %}</h1></td>
        </tr>
    {% endif %}
  </table>
  {% if files %}
  <div class="mypage">
    {% include 'files/pagination.html' %}
  </div>
  {% endif %}

  <div class="modal fade" id="modal-book">
    <div class="modal-dialog">
      <div class="modal-content"></div>
    </div>
  </div>



</div>

<script type="text/javascript">

	$('#calendar').attr('readonly', 'readonly');
    $('#calendar1').attr('readonly', 'readonly');

    $(".bulk_search").on('click', function(){

        if (!$('#data_meta_search').val() || !$('#calendar').val() || !$('#calendar1').val()) {
            $("#calendar").parent().next(".validation").remove();
            $("#calendar1").parent().next(".validation").remove();
            $("#data_meta_search").parent().next(".validation").remove();
            if (!$('#calendar').val()){

                $("#calendar").parent().after("<div class='validation' style='color:red;margin-bottom: 20px; margin-left:468px;margin-top: -1px;'>This field is required.</div>");
              }



            if (!$('#calendar1').val()){

                $("#calendar1").parent().after("<div class='validation' style='color:red;margin-bottom: 20px; margin-left:827px;'>This field is required!!.</div>");
            }




            if (!$('#data_meta_search').val())
            {

                $("#data_meta_search").parent().after("<div class='validation' style='color:red;margin-bottom: 20px;'>This field is required.</div>");
                $('.table-responsive').hide();
            }



        } else {
            function padNumber(number) {
                var string  = '' + number;
                string      = string.length < 2 ? '0' + string : string;
                return string;
            }


            var fromDate = $('#calendar').val();
            var toDate = $('#calendar1').val();
            var To_Date = toDate.split('-');
            dd = To_Date[0]
            mm = To_Date[1]
            yyyy = To_Date[2]
            var To_Date = yyyy+'-'+mm+'-'+dd
            To_Date = new Date(To_Date);
            next_date = new Date(To_Date.setDate(To_Date.getDate() + 1));
            formatted = next_date.getUTCFullYear() + '-' + padNumber(next_date.getUTCMonth() + 1) + '-' + padNumber(next_date.getUTCDate())
            var t_date = formatted.split('-')
            dd = t_date[2]
            mm = t_date[1]
            yyyy = t_date[0]
            var toDate = dd+'-'+mm+'-'+yyyy
            var nDays = diffDays(fromDate, toDate);

            if ( nDays >31){
                $('#range-msg').show();
            }

            else{
                console.log(toDate);
                $('#range-msg').hide();
                $("#data_meta_search").parent().next(".validation").remove();
                $('.loader').hide();
                $( document ).ajaxStart(function() {

                    $('.loader').show();
                    $('.table-responsive').hide();
                 });

                 $( document ).ajaxComplete(function() {

                    $('.loader').hide();
                    $('.table-responsive').show();
                 });


                var uri = $('.bulk_search').attr('data-cities-url');
                var search_text = $('#data_meta_search').val();
                $.ajax({
                  url: uri,
                  type: 'POST',
                  data:{'search_text':search_text,
                        'fromDate': fromDate,
                        'toDate': toDate,

                  },

                  success: function(data){


                    $("#book-table tbody").html(data.html_book_list);
                    $(".mypage").html(data.page_div);

                  },

                });
              }

        }





    });

    function diffDays(date1, date2)
    {
      console.log("HELLO calculating date")

      date1 = date1.split('-');
      dd = date1[0]
      mm = date1[1]
      yyyy = date1[2]

      new_date1 = mm+'-'+dd+'-'+yyyy
      date2 = date2.split('-');
      dd1 = date2[0]
      mm1 = date2[1]
      yyyy1 = date2[2]
      new_date2 = mm1+'-'+dd1+'-'+yyyy1

      date1 = new Date(new_date1);
      date2 = new Date(new_date2);
      var res = Math.abs(date1 - date2) / 1000;
      var days = Math.floor(res / 86400);
      return days;

    }

</script>


<script type="text/javascript" src="{% static 'js/my.js' %}"></script>
{% else %}
<h2>You are not logged In</h2>
{% endif %}
{% endblock %}
