{% extends 'header.html' %}
{% load staticfiles %}
{% load i18n %}
{% block body_block %}
<title> {% block title %} Notifications {% endblock %}</title>
{% if user.is_authenticated %}
<br/>
<div class="breadcrumb_dms">
        <nav>
            <ol class="breadcrumb breadcrumb_lbl">
                <li class="breadcrumb-item"><a href="{% url 'DMS:home' %}">{% trans 'Home' %}</a></li>

                <li class="breadcrumb-item active">{% trans 'Notifications' %}</li>
            </ol>
        </nav>
    </div>
 
<br>

{% if request.user.is_superuser %}
<p class="breadcrumb  accord"><a href="{% url 'DMS:files_for_approval' %}"> {% trans 'Request from Users for Approval' %} </a></p>
<p class="breadcrumb  accord"><a href="{% url 'DMS:share_notification_request' %}">{% trans 'User Notification '%}&nbsp;&nbsp;</a><span class="fa fa-bell">{{ total_count }}</span></p>
{% if request.user.is_manager %}
<p class="breadcrumb  accord"><a href="{% url 'DMS:account_opening_approval' %}">{% trans 'Account Opening Approval'%}</a><span class="fa fa-bell">{{ account_total }}</span></p>
{% endif %}

{% else %}
<p class="breadcrumb  accord"><a href="{% url 'DMS:share_notification_request' %}">{% trans 'User Notification '%}&nbsp;&nbsp;</a><span class="fa fa-bell">{{ total_count }}</span></p>
{% if request.user.is_manager %}
<p class="breadcrumb  accord"><a href="{% url 'DMS:account_opening_approval' %}">{% trans 'Account Opening Approval'%}</a><span class="fa fa-bell">{{ account_total }}</span></p>
{% endif %}

{% if request.user.is_maker %}
<p class="breadcrumb  accord"><a href="{% url 'DMS:account_opening_approval' %}">{% trans 'Account Opening Approval'%}</a><span class="fa fa-bell">{{ account_total }}</span></p>
{% endif %}
{% if request.user.is_checker %}
<p class="breadcrumb  accord"><a href="{% url 'DMS:account_opening_approval' %}">{% trans 'Account Opening Approval'%}</a><span class="fa fa-bell">{{ account_total }}</span></p>
{% endif %}



{% endif %}

<!-- <p class="breadcrumb  accord"><a href="{% url 'DMS:notes' %}"> {% trans 'Sticky Notes '%}</a></p> -->
{% else %}
You are not Logged In. Please login
{% endif %}

{% endblock %}
