

{% block body_block %}

{% for file in files %}

<tr>
    <td>
    <form method = 'post' action="{% url 'DMS:predict' file.pk %} " autocomplete="off">
        {%csrf_token%}
        {{ file }}
    </form>
    </td>
</tr>
{% endfor %}
{% endblock %}
