{% extends 'header.html' %}
{% load i18n %}
{% load staticfiles %}
{% block body_block %}
<title> Reports List </title>
<br/>
    <p class="breadcrumb breadcrumb_lbl"><a href="{% url 'DMS:home' %}">{% trans 'Home' %}</a>/{% trans 'Report List' %}</p>

        <p class="breadcrumb accord"><a href="{% url 'WorkflowManagement:workflow_reports' %}">{% trans 'Workflow Report' %}</a></p>
        <p class="breadcrumb accord"><a href="{% url 'DMS:reports' %}">{% trans 'Personal Data Report' %}</a></p>
{% endblock %}
