{% extends 'header.html' %}
{% load i18n %}
{% load staticfiles %}
{% block body_block %}
<title> {% block title %} Reports {% endblock %} </title>
{% if user.is_authenticated %}
  <head>
	<script src="{% static 'js/zingchart.min.js' %}"></script>	  
	<style>
    		div[id$="license"] {
  			display: none !important;
			}
                #myChart a{
                  display: none;
                  }
	</style>
 </head>
 <br/>
	<div class="breadcrumb_dms">
        <nav>
            <ol class="breadcrumb breadcrumb_lbl">
                <li class="breadcrumb-item"><a href="{% url 'DMS:home' %}">{% trans 'Home' %}</a></li>
		<li class="breadcrumb-item"><a href="{% url 'DMS:report_list' %}">{% trans 'Report List' %}</a></li>
                <li class="breadcrumb-item active">{% trans 'Reports' %}</li>
            </ol>
        </nav>
    </div>   

<p class="breadcrumb accord">{% trans 'Reports' %}</p>
   <p class="breadcrumb accord"><a href="{% url 'DMS:total_document' %}">{% trans 'Total Documents' %}</a></p>
<div class="table-responsive">
<table style="width:100%">
  <tr>
    <td style="width:90%" >
<div id='myChart'></div>
</td>
<td style="width:10%;" valign="middle">
    {% if user.is_superuser %}
        <a class="btn btn-primary" href="{% url 'DMS:other_users_info' %}">{% trans 'Other Users' %}</a>
    {% endif %}
    </td>
    </tr>
    </table>
    </div>



<script>
    var myConfig = {
      "type":"ring3d",
      "title":{
        "text":"Document Report"
      },
      "legend":{
        "x":"70%",
        "y":"60%",
        "border-width":1,
        "border-color":"gray",
        "border-radius":"5px",
        "header":{
          "text":"Info",
          "font-family":"Georgia",
          "font-size":12,
          "font-color":"#3333cc",
          "font-weight":"normal"
        }},
      "series":[
        {"values":[{{ total_docs }}], "text": 'Total Documents: {{total_docs}}'},
        {"values":[{{ shared_docs }}], "text": 'Shared Document: {{shared_docs}}', "detached":true},
        {"values":[{{ fav_docs }}], "text": 'Favorite Document: {{fav_docs}}',},
        {"values":[{{ proc_docs }}], "text": 'Protected Document: {{proc_docs}}',},
      ]
    };

    zingchart.render({
        id : 'myChart',
        data : myConfig,
        height: 330,
        width: "100%"
    });

</script>

{% endif %}

{% endblock %}
