{% extends 'header.html' %}
{% load staticfiles %}
{% block body_block %}
{% if user.is_authenticated %}
{% load i18n %}
<style>
  img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>
<br/>
<div class="breadcrumb_dms">
        <nav>
            <ol class="breadcrumb breadcrumb_lbl">
                <li class="breadcrumb-item"><a href="{% url 'DMS:home' %}">{% trans 'Home' %}</a></li>

                <li class="breadcrumb-item active">{% trans 'Scan Documents' %}</li>
            </ol>
        </nav>
    </div>
<div class="container-flex">
<img src="{% static 'images/coming-soon.jpg' %}" class="rounded mx-auto d-block img-fluid"  alt="Coming Soon">
</div>
<br/><br/>
{% else %}

Please login!

{% endif %}

{% endblock %}
