{% extends 'header.html' %}
{% load staticfiles %}

{% block body_block %}
<title>{% block title %} Documents {% endblock %}</title>
{% if user.is_authenticated %}
{% load i18n %}
<br/>

<div class="breadcrumb_dms">
        <nav>
            <ol class="breadcrumb breadcrumb_lbl">
                <li class="breadcrumb-item"><a href="{% url 'DMS:home' %}">{% trans 'Home' %}</a></li>
				<li class="breadcrumb-item"><a href="{% url 'DMS:dashboard' %}">{% trans 'Document Management'%}</a> </li>
                <li class="breadcrumb-item active">{% trans 'User Files' %}</li>
            </ol>
        </nav>
    </div>

<p class="breadcrumb accord"><a href="{% url 'DMS:user_files' 1 type %}">{% trans 'User Files' %}</a></p>
<div style="float:left;padding-bottom:1rem">
  <form class="form-inline" autocomplete="off">
    <input class="form-control mr-sm-2" type="text" style="width: 352px;" placeholder="{% trans 'Search By Full Name or User Name' %}" aria-label="Search" name="searchMe" id="more_search" data-url="{% url 'DMS:user_files' user.pk type %}">

  </form>
</div>

<div class="table-responsive">
      <table id="book-table" class = 'table table-bordered table-hover table-striped table-sm' style="white-space:nowrap">
        <thead class='table-info text-center' >
        <tr>
            <th>{% trans 'Sr. No.' %}</th>
            <th>{% trans 'Full Name' %}</th>
            <th>{% trans 'Username' %}</th>
            <th>{% trans 'Details' %}</th>
            <th>{% trans 'Documents' %}</th>

        </tr>
    </thead>
    <tbody class="text-center">
      {% include 'files/user_new_list.html' %}
    </tbody>
  </table>
</div>
<div class="mypage">
  {% include 'files/pagination.html' %}
</div>

<div class="modal fade" id="modal-book">
  <div class="modal-dialog">
    <div class="modal-content"></div>
  </div>
</div>

{% endif %}
<script type="text/javascript">


  $('#more_search').on('keyup', function() {
    if ($(this).val()){

      var val = this.value;
    }else{

      var val='0'
    }

    var url = $(this).attr("data-url");

    $.ajax({
            url: url,
            data:{
              'searchVal' : val
            },

            success: function (data) {
              if (data.form_is_valid) {

                $("#book-table tbody").html(data.html_book_list);
                $(".mypage").html(data.page_div);
              }
              else {

                $("#modal-book .modal-content").html(data.html_form);
              }
            }
          });
          return false;
  });

</script>

{% endblock %}
