{% extends 'header.html' %}
{% load staticfiles %}
{% block body_block %}
<title>{% block title %} User File {% endblock %}</title>
{% load i18n %}
{% if user.is_authenticated %}
<head>
  <style>
    #no{
      color:gray;

    }
    .input_img{
       width: 25px;
       margin-left: -29px;
       margin-top: -5px;
    }
    #yy{
      margin-left:43px;
    }
    #ye{
      margin-left:20px;
    }
    #G1{
      margin-left: 22px;
      width: 109px;
    }
    #G2{
      margin-left: 7px;
      width: 109px;
    }
    .G3{
      margin-left: 0px;

    }
    .B1{
      margin-left: 4px;
    }

    #yz{
      margin-left: 9px;

    }
    label[for=changeId]{
      padding-right: 6px;
      data-count: {{type}};
    }

  </style>

</head>
{% if user.is_superuser %}
<br/>

<div class="breadcrumb_dms">
        <nav>
            <ol class="breadcrumb breadcrumb_lbl">
                <li class="breadcrumb-item"><a href="{% url 'DMS:home' %}">{% trans 'Home' %}</a></li>
				<li class="breadcrumb-item"><a href="{% url 'DMS:dashboard' %}">{% trans 'Document Management'%}</a></li>
				<li class="breadcrumb-item"><a href="{% url 'DMS:user_files' 1 type %}">{% trans 'User Files'%}</a> </li>
                <li class="breadcrumb-item active">{{ username }} {% trans 'Files' %}</li>
            </ol>
        </nav>
    </div>

<p class="breadcrumb accord"><a href="{% url 'DMS:user_files' 1 type %}">{% trans 'User File:'%} {{ username }}</a></p>
  {% with id=id %}
  {% if files %}
  <div class="actions">

    <form  id="personForm" method="post" data-cities-url="{% url 'DMS:root_files' id type username %}" autocomplete="off" >
      {% csrf_token %}
        {{ choiceForm }}


        <input type="text" name="fromDate" value="" placeholder="From Date" class="1 me" id="yy">
        <img src="{% static 'images/calendar.png' %}" class="input_img 1 me">
        <input type="text" name="toDate" value="" placeholder="To Date" class="1 me" id="ye">
        <img src="{% static 'images/calendar.png' %}" class="input_img 1 me">
        <input type="submit" name="" class="button 1 B1 js-filter-book" value="Go">


        <label for="filerby" class="2 sup" style="padding-left:25px;">{% trans 'Sort By File Type:' %}</label>
        <select class="2 sup" name="fileFilter" id="myfilter">
            <option value="10">{% trans 'All TYPES' %}</option>
            <option value="11">{% trans 'PDF' %}</option>
            <option value="12">{% trans 'Excel' %}</option>
            <option value="13">{% trans 'Word' %}</option>
            <option value="14">{% trans 'TEXT' %}</option>
            <option value="15">{% trans 'IMAGES' %}</option>
        </select>

        <input type="text" name="newfromDate" value="" placeholder="From Date" class="2 sup" id="G1">
        <img src="{% static 'images/calendar.png' %}" class="input_img 2 sup">
        <input type="text" name="newtoDate" value="" placeholder="To Date" class="2 sup" id="G2">
        <img src="{% static 'images/calendar.png' %}" class="input_img 2 sup">
        <input type="submit" class="button 2 G3" value="Go">


      </form>
<br/>
  </div>
 <div class="table-responsive">
      <table id="book-table" class = 'table table-bordered table-hover table-striped table-sm' style="white-space:nowrap">
     <thead class='table-info text-center' >
      <tr>
        <th>{% trans 'Sr. No.' %}</th>
        <th>{% trans 'Uploader' %}</th>
        <th>{% trans 'File Name' %}</th>
        <th>{% trans 'File Type' %}  </th>
        <th>{% trans 'View' %}</th>
        <th>{% trans 'Download' %}</th>
        <th>{% trans 'Uploaded At' %} </th>
        <th>{% trans 'Delete' %} </th>
        <th>{% trans 'File Size' %} </th>
        <th>{% trans 'Fav' %} </th>
        <th>{% trans 'Share' %} </th>
        <th>{% trans 'Protect' %}  </th>

      </tr>
      </thead>
      <tbody class="text-center">
      {% if files %}
        {% include 'files/user_files_table.html' %}
      {% else %}
           <tr>
            <td colspan="12"><h1 id="no">{% trans 'No Records Found' %}</h1></td>
           </tr>
      {% endif %}
      </tbody>
    </table>
 </div>
 {% else %}
   <div class="table-responsive">
      <table id="book-table" class = 'table table-bordered table-hover table-striped table-sm' style="white-space:nowrap">
     <thead class='table-info text-center' >
      <tr>
        <th>{% trans 'Sr. No.' %}</th>
        <th>{% trans 'Uploader' %}</th>
        <th>{% trans 'File Name' %}</th>
        <th>{% trans 'File Type' %}  </th>
        <th>{% trans 'View' %}</th>
        <th>{% trans 'Download' %}</th>
        <th>{% trans 'Uploaded At' %} </th>
        <th>{% trans 'Delete' %} </th>
        <th>{% trans 'File Size' %} </th>
        <th>{% trans 'Fav' %} </th>
        <th>{% trans 'Share' %} </th>
        <th>{% trans 'Protect' %}  </th>

      </tr>
      </thead>
      <tbody class="text-center">
           <tr>
            <td colspan="12"><h1 id="no">{% trans 'No Records Found' %}</h1></td>
           </tr>
      </tbody>
    </table>
 </div>



 {% endif %}
 {% endwith %}

{% if files %}
 <div class="mypage">
        {% include 'files/pagination.html' %}
      </div>
    <div class="modal fade" id="modal-book">
      <div class="modal-dialog">
        <div class="modal-content"></div>
      </div>
    </div>

{% endif %}
<script>
		$('#yy').attr('readonly', 'readonly');
		$('#ye').attr('readonly', 'readonly');
		$('#G1').attr('readonly', 'readonly');
		$('#G2').attr('readonly', 'readonly');
   </script>
<script type="text/javascript" src="{% static 'js/my.js' %}"></script>


{% else %}
<br/>
<p class="breadcrumb breadcrumb_lbl"><a href="{% url 'home' %}">{% trans 'Home' %}</a> / <a href="{% url 'DMS:dashboard' %}">{% trans 'Document Management' %}</a>
   /{{user.username}} {% trans 'Files' %}

<p class="breadcrumb accord"><a href="{% url 'DMS:user_files' 1 type %}">{% trans 'User File:' %} {{ request.user }}</a></p>
  {% with userId=user.pk %}
 <div class="actions">

    <form  id="personForm" method="post" data-cities-url="{% url 'DMS:user_files' userId type %}" autocomplete="off" >
      {% csrf_token %}
        {{ choiceForm }}


        <input type="text" name="fromDate" value="" placeholder="From Date" class="1 me" id="yy">
        <img src="{% static 'images/calendar.png' %}" class="input_img 1 me">
        <input type="text" name="toDate" value="" placeholder="To Date" class="1 me" id="ye">
        <img src="{% static 'images/calendar.png' %}" class="input_img 1 me">
        <input type="submit" name="" class="button 1 B1 js-filter-book" value="Go">


        <label for="filerby" class="2 sup" style="padding-left:25px;">{% trans 'Sort By File Type:' %}</label>
        <select class="2 sup" name="fileFilter" id="myfilter">
            <option value="10">{% trans 'All TYPES' %}</option>
            <option value="11">{% trans 'PDF' %}</option>
            <option value="12">{% trans 'Excel' %}</option>
            <option value="13">{% trans 'Word' %}</option>
            <option value="14">{% trans 'TEXT' %}</option>
            <option value="15">{% trans 'IMAGES' %}</option>
        </select>

        <input type="text" name="newfromDate" value="" placeholder="From Date" class="2 sup" id="G1">
        <img src="{% static 'images/calendar.png' %}" class="input_img 2 sup">
        <input type="text" name="newtoDate" value="" placeholder="To Date" class="2 sup" id="G2">
        <img src="{% static 'images/calendar.png' %}" class="input_img 2 sup">
        <input type="submit" class="button 2 G3" value="Go">


      </form>

  </div>
<br/>
  <div class="table-responsive">
      <table id="book-table" class = 'table table-bordered table-hover table-striped table-sm' style="white-space:nowrap">
     <thead class='table-info text-center' >
      <tr>
        <th>{% trans 'Sr. No.' %}</th>
        <th>{% trans 'Uploader' %}</th>
        <th>{% trans 'File Name' %}</th>
        <th>{% trans 'File Type' %}  </th>
        <th>{% trans 'View' %}</th>
        <th>{% trans 'Download' %}</th>
        <th>{% trans 'Uploaded At' %} </th>
        <th>{% trans 'Delete' %} </th>
        <th>{% trans 'File Size' %}  </th>
        <th>{% trans 'Fav' %} </th>
        <th>{% trans 'Share' %} </th>
        <th>{% trans 'Protect' %}  </th>

      </tr>
      </thead>
      <tbody class="text-center">
           {% include 'files/user_files_table.html' %}
      </tbody>

    </table>
 </div>
   {% if files %}
    <div class="mypage">
    {% include 'files/pagination.html' %}
      </div>

    <div class="modal fade" id="modal-book">
      <div class="modal-dialog">
        <div class="modal-content"></div>
      </div>
    </div>

{% endif %}

  {% endwith %}
   <script>
		$('#yy').attr('readonly', 'readonly');
		$('#ye').attr('readonly', 'readonly');
		$('#G1').attr('readonly', 'readonly');
		$('#G2').attr('readonly', 'readonly');
   </script>

  <script type="text/javascript" src="{% static 'js/my.js' %}"></script>

{% endif %}
{% else %}

  <h2>You are not logged In</h2>
{% endif %}


{% endblock %}
