  {% for user in files %}
      <tr>
        <td> {{user.fields.srNo}} </td>
        <td><a href=" {%url 'DMSaccount:user_profile' user.fields.username %}" style="text-decoration:underline" data-toggle="tooltip" title="View Profile" target = _blank>{{user.fields.username}}</a></td>
        <td>{{user.fields.email}}</td>
        <td> {{ user.fields.first_name }} </td>
        <td> {{ user.fields.last_name }} </td>
        <td> <a data-cities-url="{%url 'DMSaccount:deactivate_user_view' user.pk %}" title="Delete Record" class = "btn btn-danger btn-sm btn-remove" ><i class="fa fa-trash"></i></a> </td>
      </tr>
      {% endfor %}

     <script>
   $(function() {
       $('.btn-remove').on('click', function(e) {
       var url = $(this).attr('data-cities-url');
       console.log(url);
       var isValid = isConfirm(e, url);

        return false;
     });
  });



  function isConfirm(e, url) {
   swal({
         title: "Are you sure?",
         text: "User will be deactivated?",
         type: "warning",
         showCancelButton: true,
         confirmButtonClass: "btn-warning",
         confirmButtonText: "Yes, delete it!",
         cancelButtonText: "No, cancel!",
         closeOnConfirm: false,
         closeOnCancel: false
       },
       function(isConfirm){
           if(isConfirm){
               $.ajax({
                   url: url,
                   success:  function (data) {
                       swal("Deactivated!", "User has been deactivated.!", "success");
                        $("#book-table tbody").html(data.html_book_list);
                   }

                  });
           }
           else{
           swal("Cancelled", "Request Cancelled)", "error");
           }
       }
)}
</script>

