{% extends "header.html" %}
{% load staticfiles %}
{% load i18n %}

{% block body_block %}
<title> {% block title %} User Management {% endblock %} </title>
{% if request.user.is_superuser %}
<style>
    td,th
    {
    text-align:center;
    }
</style>
<br/>
<div class="breadcrumb_dms">
        <nav>
            <ol class="breadcrumb breadcrumb_lbl">
                <li class="breadcrumb-item"><a href="{% url 'DMS:home' %}">{% trans 'Home' %}</a></li>
                <li class="breadcrumb-item active">{% trans 'All Users' %}</li>
            </ol>
        </nav>
    </div>

<p class="breadcrumb  accord">{% trans  'All Users' %}</p>
<div class="table-responsive">
    <table id="book-table" class = 'table table-bordered table-hover table-striped'>
     <thead class="table-info">
        <tr>
            <th> {% trans 'Sr. No.' %} </th>
            <th>{% trans 'User Name' %}</th>
            <th>{% trans 'Email Address' %}</th>
            <th>{% trans 'First Name' %}</th>
            <th>{% trans 'Last Name' %}</th>
            <th>{% trans 'Delete' %}</th>
        </tr>
    </thead>
    <tbody>
    {% include 'users/all_users_data.html' %}   

  </tbody>
  </table>
</div>
<div class="mypage">
       {% include 'files/pagination.html' %}
     </div>
     <div class="modal fade" id="modal-book">
       <div class="modal-dialog">
         <div class="modal-content"></div>
       </div>
     </div>
     </div>


{% endif %}
{% endblock %}
