{% extends 'header.html' %}
{% load i18n %}

{% block body_block %}
<title> {% block title %} Edit Profile {% endblock %} </title>
<style>
label{
font-weight:bold;
}

.lbl_img_border
{
border: 1px solid #ced4da;
width: 62%;
}
</style>

<br/>
<div class="breadcrumb_dms">
        <nav>
            <ol class="breadcrumb breadcrumb_lbl">
                <li class="breadcrumb-item"><a href="{% url 'DMS:home' %}">{% trans 'Home' %}</a></li>
				<li class="breadcrumb-item"><a href="{% url 'DMSaccount:user_profile' %}">{% trans 'My Account' %} </a></li>
                <li class="breadcrumb-item active">{% trans 'Edit Profile' %}</li>
            </ol>
        </nav>
    </div>

<title>Profile</title>

        <div id="message_container">
            {% include 'messages.html' %}
        </div>
		
<form method="POST" enctype='multipart/form-data' autocomplete="off">
<div class="col-7 mx-auto">
    <div class="card card.bg-success.text-white">
      <div class="card-header text-center bg-primary text-white"><strong style="font-size: 1.3rem; color:#fefefe;">{% trans 'Edit Profile' %}</strong></div>
      <div class="card-body">


           <div class="table-responsive">
                <table class="col-md-12" cellpadding="8">
            {% csrf_token %}
           <tr>
                <td><label class="col-xs-4  col-form-label">User Name: </label></td>
                <td><input type="text" class="form-control" value="{{ request.user}}" READONLY </td>
            </tr>

            <tr>
                <td><label class="col-xs-4  col-form-label">{{form.first_name.label}}: </label></td>
                <td>{{form.first_name}}  {{ form.first_name.errors }} </td>
            </tr>
            <tr>
                <td> <label class="col-xs-4  col-form-label">{{form.last_name.label}}:  </label></td>
                <td>{{form.last_name}}  {{ form.last_name.errors }}</td>
            </tr>
            <tr>
                <td><label class="col-xs-4  col-form-label"> {{form_set.email.label}}: </label></td>
                <td>{{form_set.email}}  {{ form_set.email.errors }}</td>
            </tr>
            <tr>
                <td><label class="col-xs-4  col-form-label">{{form_set.phone.label}}:</label></td>
                <td> {{form_set.phone}}  {{ form_set.phone.errors }}</td>
            </tr>
            <tr>
                <td><label class="col-xs-4 col-form-label">{{form_set.image.label}}:</label>
                </td>

                <td> {{form_set.image}}  {{ form_set.image.errors }}
                   {% if profile.image %}
                        <img src="{{ profile.image.url }}" class="rounded-circle" alt="Profile Image" width="40">
                   {% endif %}
                <div><label class="col-xs-4  col-form-label">{{form_set.remove_photo.label}}: </label>
                 {{form_set.remove_photo}}  {{ form_set.remove_photo.errors }}</div>
                </td>
            </tr>
            <tr>
                <td><label class="col-xs-4 col-form-label">{{form_set.Employee_Code.label}}: </label></td>
                <td>{{form_set.Employee_Code}}  {{ form_set.Employee_Code.errors }}</td>
            </tr>
            <tr>
                <td><label class="col-xs-4  col-form-label">{{form_set.Department.label}}: </label></td>
                <td> {{form_set.Department}}  {{ form_set.Department.errors }}</td>
            </tr>
            <tr>
                <td><label class="col-xs-4  col-form-label"> {{form_set.Designation.label}}: </label></td>
                <td> {{form_set.Designation}}  {{ form_set.Designation.errors }}</td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="text-center"><button type="submit" class="btn btn-primary">{% trans 'Submit' %}</button>
                        <button class="btn btn-primary"  type="reset" >{% trans 'Cancel' %} </button></div>
                </td>
            </tr>
            </table>
               </div>






            <!--{% for field in form %}-->
            <!--<span>{{ field.label_tag }} {% if field.field.required %} * {% endif %}</span>-->
            <!--<span>{{ field }}  </span><br>-->
            <!--{% for error in field.errors %}-->
            <!--<p style="color: red">{{ error }}</p>-->
            <!--{% endfor %}-->
            <!--{% endfor %}-->

            <!--{% for field in form_set %}-->
            <!--<span>{{ field.label_tag }} {% if field.field.required %} * {% endif %}</span>-->
            <!--<span>{{ field }}</span><br/>-->
            <!--{% for error in field.errors %}-->
            <!--<p style="color: red">{{ error }}</p>-->
            <!--{% endfor %}-->
            <!--{% endfor %}-->

           <!--{{ form.label.first_name }}-->

              <!-- {{ form.as_p }}
              {{ form_set.as_p }} -->





        </div>
      </div>
      </div>
    </form>
<br/>
<script type="text/javascript">
    function reloadPage(){
        location.reload(true);
    }



       $(function(){
    $('.numeric').bind('keypress', function (e) {
        return (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57) && e.which != 46) ? false : true;
        });
    });

         $("#phone").on('input', function(e){
        	if (this.value.length > 12) {
        	this.value = this.value.slice(0,12);
    		}
    	});



</script>
{% endblock %}
