{% extends 'base.html' %}
{% block content %}
<div class="container">
  <h2><center>Invalid OTP</center></h2>
  <center><a class="btn btn-primary" href="{% url 'enterOTP' userid mobileNo  %}">Verify Again</a></center>
</div>

{% endblock %}
