{% extends 'base.html' %}
{% block content %}
<div class="container">
  <table>
    <td>
      <form action="{% url 'verifyOTP' userid mobileNo %}" method="post" autocomplete="off">
        {% csrf_token %}
        <input type="text" name="otp" value="" placeholder="Enter OTP">
        <input type="submit" name="" value="Verify OTP" class="btn btn-primary">
      </form>
    </td>
    <td>
      <form action="{% url 'resendOTP' userid mobileNo %}" method="post" autocomplete="off">
        {% csrf_token %}
        <input type="submit" name="" value="Resend OTP" class="btn btn-primary">
      </form>

    </td>
  </table>


</div>

{% endblock %}
