{% extends 'header.html' %}
{% load i18n %}
{% block body_block %}
<title> {% block title %} Profile {% endblock %} </title>
<style>
  label{
  font-weight:bold;
  color:#4f4a4a;
  }
  
  /* The Modal (background) */
    .modal-pic {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      padding-top: 100px; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    }

    /* Modal Content (image) */
    .modal-pic-content {
      margin: auto;
      display: block;
      width: 80%;
      max-width: 700px;
    }

    /* Caption of Modal Image */
    #caption {
      margin: auto;
      display: block;
      width: 80%;
      max-width: 700px;
      text-align: center;
      color: #ccc;
      padding: 10px 0;
      height: 150px;
    }

    /* Add Animation */
    .modal-pic-content, #caption {
      -webkit-animation-name: zoom;
      -webkit-animation-duration: 0.6s;
      animation-name: zoom;
      animation-duration: 0.6s;
    }

    @-webkit-keyframes zoom {
      from {-webkit-transform:scale(0)}
      to {-webkit-transform:scale(1)}
    }

    @keyframes zoom {
      from {transform:scale(0)}
      to {transform:scale(1)}
    }

    /* The Close Button */
    .close {
      position: absolute;
      top: 15px;
      right: 35px;
      color: #f1f1f1;
      font-size: 40px;
      font-weight: bold;
      transition: 0.3s;
    }

    .close:hover,
    .close:focus {
      color: #bbb;
      text-decoration: none;
      cursor: pointer;
    }

    /* 100% Image Width on Smaller Screens */
    @media only screen and (max-width: 700px){
      .modal-pic-content {
        width: 100%;
      }
    }
  
  </style>
<br/>
	<div class="breadcrumb_dms">
        <nav>
            <ol class="breadcrumb breadcrumb_lbl">
                <li class="breadcrumb-item"><a href="{% url 'DMS:home' %}">{% trans 'Home' %}</a></li>
                <li class="breadcrumb-item active">{% trans 'My Account' %}</li>
            </ol>
        </nav>
    </div>

<form>
<div class="col-8 mx-auto">
    <div class="card card.bg-success.text-white">
      <div class="card-header text-center bg-primary text-white"><strong><label style="font-size: 1.3rem; color:#fefefe;">{% trans 'User Profile' %}</label></strong><span  style="float:right"><a data-toggle="tooltip" title="Edit Profile" data-placement="bottom" class="navbar-link" href="{% url 'DMSaccount:edit_profile' user.pk %}"><i class="fa fa-edit fa-lg"></i></a></span></div>
      <div class="card-body">
    <div class="form-group">
  <table style="display:table;" class="table-responsive">
  <tbody>
  <tr>
    <td style="padding:5px; width:50%" valign="top">
          <p><label>{% trans 'Username:' %} &nbsp;</label>{% if user is None %} {{'-'}} {% else %}{{ user }}{% endif %}</p>
          <p><label>{% trans 'First name:' %} &nbsp;</label>{% if user.first_name is None %} {{'-'}} {% else %}{{ user.first_name }}{% endif %}</p>
          <p><label>{% trans 'Last name:' %} &nbsp;</label>{% if user.last_name is None %} {{'-'}} {% else %}{{ user.last_name }}{% endif %}</p>
          <p><label>{% trans 'Email:' %} &nbsp;</label>{% if profile.email is None %} {{'-'}} {% else %}{{ profile.email }}{% endif %}</p>
          <p><label>{% trans 'Phone:' %} &nbsp;</label>{% if profile.phone is None %} {{'-'}} {% else %}{{ profile.phone }}{% endif %}</p>
          <p><label>{% trans 'Designation:' %} &nbsp;</label>{% if profile.Designation is None %} {{'-'}} {% else %}{{ profile.Designation }}{% endif %}</p>
    </td>
    <td style="padding:5px; width:50%" valign="top">
        <p><label>{% trans 'Employee Code:' %} &nbsp;</label>{% if profile.Employee_Code is None %} {{'-'}} {% else %}{{ profile.Employee_Code }}{% endif %}</p>
        <p><label>{% trans 'Department:' %} &nbsp;</label>{% if profile.Department is None %} {{'-'}} {% else %}{{ profile.Department }}{% endif %}</p>
        {% if profile.image %}
        <p><label>{% trans 'Profile Image:' %} &nbsp;</label><img id="myImg" src="{{ profile.image.url }}" class="rounded-circle" alt="Profile Image" width="40"></p>
	{% endif %}
        <p> <label>{% trans 'Last login:' %} &nbsp;</label>{{ last_login }}</p>
        <p> <label>{% trans 'Joining Date:' %} &nbsp;</label>{{ date_joined }} </p>
    </td>
  </tr>
  </tbody>
  </table>
    </div>
      </div>
    </div>
    </div>
	
	 <!-- The Modal -->
        <div id="myModal" class="modal-pic">
          <span class="close">&times;</span>
          <img class="modal-pic-content" id="img01">
          <div id="caption"></div>
        </div>

</form>
<br/>

   <script>
    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img = document.getElementById("myImg");
    var modalImg = document.getElementById("img01");
    var captionText = document.getElementById("caption");
    img.onclick = function(){
      modal.style.display = "block";
      modalImg.src = this.src;
      captionText.innerHTML = this.alt;
    }

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
      modal.style.display = "none";
    }
    </script>

{% endblock %}
