
    <a href="{%url 'DMS:fileupload'%}" class="btn btn-info"> Upload Documents </a>
    <a href="{%url 'DMS:invoice'%}" class="btn btn-info">  Invoice Upload </a>
    <a href="{%url 'DMS:starred_documents'%}" class="btn btn-info"> Starred Documents </a>
    <br>
    <br>
    <a href="{%url 'DMS:total_document'%}" class="btn btn-info"> Total Documents </a>
    <a href="{%url 'DMS:downloaded_files'%}"class="btn btn-info">  Download History </a>
    <a href="{%url 'DMS:archive_files'%}"class="btn btn-info">  Archive Documents </a>

    <br>
    <br>
    {% if user.is_superuser %}
    <a href="{%url 'DMS:files_for_approval'%}" class="btn btn-info"> Pending Task </a>
    <a href="#"class="btn btn-info">  Some Other Option </a>
    <a href="#"class="btn btn-info"> Another Option </a>
    {% endif %}
