
    {% if profile.image %}
    <a href="{%url 'DMSaccount:user_profile'%}"><img src="{{ profile.image.url }}" width="100" height="100" alt="Avatar" style="border-radius: 50%;"></a>
    {% endif %}<br>
    <b> Username: </b> {{ user.username }}<br>
    <b>Employee Name:</b> {{ user.first_name }} {{ user.last_name }}<br>
    <b>Designation:</b> {{ profile.Designation }}<br>
    <b>Employee Code:</b> {{ profile.Employee_Code}} <br>
    <b>Department:</b> {{ profile.Department }}
