@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
font-family: 'Poppins', sans-serif;
/*font-family: 'Philosopher', sans-serif;*/
}
#header{
 height: 40px;
 background: #5d6d7e;
 color: #f9f3f3;
}
#header a:link, #header a:visited {
 color: #FBE7B2;
}
#branding h1{
 color: #fff;
 font-size: 37px;
 /*font-family: 'Poppins', sans-serif;*/
 font-family: 'Philosopher', sans-serif;
}
h1{
 color: #000;
}

#content-related .module {
    border: 1px solid black;
    border-radius:3px;

}

.module h2, .module caption, .inline-group h2{
 background: #FBE7B2;
 color: #000;
 height: 20px;
}

a:link,{
    text-decoration: none;
}

a.section:link, a.section:visited {
    color: #191919;
    text-decoration: none;
   }


a.section:link{
 color: black;
}
a:link{
 color: #447e9b;
}
.button, input[type=submit], input[type=button], .submit-row input, a.button {
 background: #ff5600;
 color: #fff;
 border-radius: 30px;

}
.button:hover, input[type=submit]:hover, input[type=button]:hover, input[type=button]:hover, .submit-row input:hover, a.button:hover{
 background: #30caa0;
 color: #333;
}
.button.default, input[type=submit].default, .submit-row input.default{
 background: #ff5600;
 color: #333;
}
.button.default:hover, input[type=submit].default:hover, .submit-row input.default:hover{
 background: ##ff5600;
 color: #fff;
}
div.breadcrumbs {
 background: #30caa0;
 padding: 10px 40px;
 border: none;
 font-size: 14px;
 color: #c4dce8;
 text-align: left;
}

div.breadcrumbs a {
 color: #fff;
}

div.breadcrumbs a:focus, div.breadcrumbs a:hover {
 color: #c4dce8;
}
#content-related .module h2 {
 background: #4BC7CF;
 padding: 16px;
 margin-bottom: 16px;
 border-bottom: 1px solid #d23d3d;
 font-size: 18px;
 color: #feffff;
 }