{% extends 'header.html' %}
{% load i18n %}
{% load static %}
{% block body_block %}
<br/>

<input type="radio" name="options" value="a" id="radio1" >
  <form id="personForm" method="post" data-cities-url="{% url 'WorkflowManagement:download_workflow_document_for_ckyc' %}" enctype="multipart/form-data">
    {% csrf_token %}
              <select name="select_option" class="select_option" id="select_option">
                  <option name="download_value" value="CKYC">CKYC</option>
                  <option name="download_value" value="IB">IB</option>

              </select>


       <input type="text" name="fromDate" value="" placeholder="From Date" class="date1" id="yy" required>
        <input type="text" name="toDate" value="" placeholder="To Date" class="date1" id="ye" required>

      <input type="submit" class="btn btn-sm btn-primary" value="Submit">

  </form>


<input type="radio" name="options" value="b" id="radio2">
 <form id="personForm2" method="post" data-cities-url="{% url 'WorkflowManagement:download_workflow_document_for_ckyc' %}" enctype="multipart/form-data">
    {% csrf_token %}
              <select name="select_option" class="select_option">
                  <option name="download_value" value="CKYC">CKYC</option>
                  <option name="download_value" value="IB">IB</option>

              </select>

       <input type="text" name="Account_Number" value="" required>

      <input type="submit" class="btn btn-sm btn-primary" value="Submit">

  </form>

<br/>

    <div class="table-responsive">
         <table id = "case-table" class = "table table-bordered table-sm table-striped" style="white-space:nowrap">
            <thead class="table-info text-center">
                <tr>
                <th>{% trans 'Sr. No.' %}</th>
                <th>{% trans 'Workflow No.' %}</th>
                <th>{% trans 'Workflow Name' %}</th>
                <th>{% trans 'WorkStep Name' %}</th>
                <th>{% trans 'Created By' %}</th>
                <th>{% trans 'Entry Date Time' %}</th>
                <th>{% trans 'Maker' %}</th>
                <th>{% trans 'Modified Time' %}</th>
                <th>{% trans 'Checker' %}</th>
                <th>{% trans 'Documents' %}</th>

                </tr>
            </thead>
            <tbody id="tbody_id">
              {% include 'download_new_directory/download_workflow_doc_part.html' %}
            </tbody>
         </table>

    </div>
   <script src="{% static 'js/datepicker1.js' %}"></script>
        <script src="{% static 'js/datepicker2.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/datepicker.css' %}">

<script>
    $(".date1").datepicker({
            changeMonth: true,
            changeYear: true,
            yearRange: '1950:2050',
            dateFormat: 'dd-mm-yy'
        }).show();


    document.getElementById("radio1").checked = true;
    $("#personForm2 :input").prop("disabled", true);

     $('input[type=radio][name=options]').change(function() {
            if (this.value == 'b') {
                $("#personForm :input").prop("disabled", true);
                $("#personForm2 :input").prop("disabled", false);
            }

            else if (this.value == 'a') {
                 $("#personForm2 :input").prop("disabled", true);
                 $("#personForm :input").prop("disabled", false);
            }
        });
</script>

{% endblock %}
