{% load i18n %}
<style>
    #no_data{
        padding-left: 564px;
    }
</style>
            {% if scanned_data %}
                {% for d in scanned_data %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{d.workflow_number.workflow_number}}</td>
                    <td>{{d.workflow_id.wf_name}}</td>
                    <td>{{d.workflow_number.workstep_name}}</td>
                    <td>{{d.workflow_number.user}}</td>
                    <td>{{d.workflow_number.entry_date_time}}</td>
                    <td>{{d.workflow_number.maker}}</td>
                    <td>{{d.workflow_number.modified_date_time}}</td>
                    <td>{{d.workflow_number.checker}}</td>
                     <td>{{d.workflow_number.documents}}</td>


                </tr>
                {% endfor %}
            {% else %}
                <td colspan="10"><h1 id="no" class="text-center">{% trans 'No Records Found' %}</h1></td>
            {% endif %}


<script>
   function getRow(n) {
    var row = n.parentNode.parentNode;
    var cols = row.getElementsByTagName("td");
    var i = 0;

    while (i < cols.length) {
        var val = cols[i].childNodes[0].nodeValue
        if (val != null) {
            alert(val);
        }
        i++;
    }
    }

    $('#selectAll_1').click(function (e) {
        $(this).closest('table').find('td input:checkbox').prop('checked', this.checked);
    });



 </script>

