<!-- two_factor/templates/two_factor/new.html -->
{% extends 'base.html' %}

{% block content %}


<form class='form-inline' action="{% url 'two_factor:create' %}" method="post" autocomplete="off">

  {% csrf_token %}
  <input type="hidden" name="next" value="{{ request.GET.next }}">

  <p>
    To continue we need to verify your phone number.
  </p>

  <div class="form-group">
    <input type="text" name="number" value="{{ object.number }}"
            class='form-control'> {% if object.number %}disabled{% endif %}
  </div>
  <div class="form-group">
    <input type="submit" name="name" value="Verify" class='btn btn-primary'>
  </div>
</form>
{% endblock %}
