<!-- two_factor/templates/two_factor/verify.html -->
{% extends 'base.html' %}

{% block content %}

<form class='form-inline' action="{% url 'two_factor:confirm' %}" method="post" autocomplete="off">

  {% csrf_token %}
  <input type="hidden" name="next" value="{{request.GET.next}}">

  <p>
    We have sent a code to your number. Please type it in below.
  </p>

  <div class="form-group">
    <input type="text" name="code" class='form-control'>

  </div>
  <div class="form-group">
    <input type="submit" name="name" value="Confirm" class='btn btn-primary'>
  </div>
</form>

{% endblock %}
