{% extends 'header.html' %}
{% block body_block %}
{% load i18n %}  
<style>
#no{

      color:gray;
      padding-left: 265px;

    }
.mypage{
 position: fixed;
 bottom: 1px;
 height: 180px;
 padding-left : 112px;
}


h5
{	
	text-transform:capitalize;
    color: black;
}
* {
  box-sizing: border-box;
}

/* .zoom {
  padding: 50px;
  transition: transform .2s;
  margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
}
*/
</style>
<br/>
<div class="breadcrumb_dms">
        <nav>
            <ol class="breadcrumb breadcrumb_lbl">
                <li class="breadcrumb-item active">{% trans 'Checker '%}</li>
            </ol>
        </nav>
    </div>
<div class="table-responsive">
	<table id="book-table"  style="width:80%" class = 'table-sm table-bordered ' align="center">
	<thead class="table-info text-center" >
	<tr>
	<th>{% trans 'Sr. No.' %}</th>
	<th>{% trans 'Workflow Name' %}</th>
	<th>{% trans 'Edit' %}</th>
	</tr>
    </thead>
    {% if files %}
    <tbody class="text-center">
    {% for i in files %}
    <tr>
    <td>
	{{ i.fields.srNo }}
    </td>
    <td>
   {{ i.fields.wf_name|capfirst }}
   </td>
   
   <td>
         <a class="btn btn-info btn-sm" href="{% url 'WorkflowManagement:all_wf_for_approval' i.pk %}"><i data-toggle="tooltip" title="Check Form" class="fa fa-lg fa-check-square-o zoom"></i></a>
    </td>
  </tr>
{% endfor %}
       </tbody>
     {% else %}
     <tr>
    <td colspan="3"><h1 id="no">{% trans 'No Records Found' %}</h1></td>
   </tr>
   {% endif %}




	</table>
</div>
{% if files %}
 <div class="mypage">
    {% include 'files/pagination.html' %}
      </div>

{% endif %}


{% endblock %}

