{% extends 'header.html' %}
{% load i18n %}
{% block body_block %}
<title> Workflow Process </title>
<style>
h5
{
    text-transform:capitalize;
    color:black
}
    * {
  box-sizing: border-box;
}

.zoom {
  transition: transform .2s;
  margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
}
#no{

      color:gray;
      padding-left: 265px;

    }
.mypage{
 position: fixed;
 bottom: 1px;
 height: 180px;
 padding-left : 112px;
}
</style>
<br/>

<div class="breadcrumb_dms">
        <nav>
            <ol class="breadcrumb breadcrumb_lbl kClass">
                <li class="breadcrumb-item"><a href="{% url 'DMS:home' %}">{% trans 'Home' %}</a></li>
                <li class="breadcrumb-item">
                    <a href="{% url 'WorkflowManagement:workflow_management' %}">{% trans 'Workflow Management' %}</a>
                </li>
                <li class="breadcrumb-item active">{% trans 'Workflow Process' %} </li>
            </ol>
        </nav>
    </div>

<div class="table-responsive">
 <table id="book-table" style="width:80%" class = 'table-sm table-bordered ' align="center">
  <thead class="table-info text-center" >
    <tr>
    <th> {% trans 'Sr. No.' %}</th>
    <th>{% trans 'Workflow Name' %}</th>
    <th>{% trans 'Edit' %}</th>
    </tr>
    </thead>
 {% if files %}
 <tbody class="text-center">
 {% for i in files %}
   <tr>
   <td>
   {{ i.fields.srNo }}</td>
   <td style="text-align:left">{{ i.fields.wf_name|capfirst }}</td>
 <td>
      <a class="btn btn-info btn-sm" href="{% url 'WorkflowManagement:workflow_process' i.pk %}"><i title="Fill Form"  class="fa fa-pencil-square-o zoom" aria-hidden="true"></i></a>
   </td>
     </tr>

{% endfor %}
</tbody>
{% else %}

<tr>
<td colspan="3"><h1 id="no">{% trans 'No Records Found' %}</h1></td>
</tr>
{% endif %}

</table>

</div>


{% if files %}
 <div class="mypage">
    {% include 'files/pagination.html' %}
  </div>
{% endif %}

{% endblock %}
