{% extends 'header.html' %}
{% block body_block %}
{% load i18n %} 
<style>

#no{
     color:gray;
     padding-left: 360px;
    }

</style>

<br/>
<div class="breadcrumb_dms">
        <nav>
            <ol class="breadcrumb breadcrumb_lbl">
                <li class="breadcrumb-item"><a href="{% url 'WorkflowManagement:all_workflow_for_checker' %}">{% trans 'Checker' %}</a> </li>
   
                <li class="breadcrumb-item active"> {% trans 'Forms To Check' %}</li>
            </ol>
        </nav>
    </div>

        <div id="message_container">
            {% include 'messages.html' %}
        </div>

<div class="table-responsive">
      <table id="book-table" class = 'table table-bordered table-hover table-striped table-sm' style="white-space:nowrap" >
     <thead class='table-info text-center' >
      <tr>
        <th>{% trans 'Sr. No.' %}</th>
        <th>{% trans 'Workflow Name' %}</th>
        <th>{% trans 'Requested BY' %}</th>
        <th>{% trans 'Application Form No.' %}</th>
        <th>{% trans 'Workflow Number' %}</th>
        <th>{% trans 'Workflow Status' %}</th>
        <th>{% trans 'View' %}</th>
      </tr>
      </thead>
      {% if files %} 
      <tbody class="text-center">
      {% for data in files  %}
        <tr>
            <td>{{data.fields.srNo}}</td>
            <td>{{data.fields.wf_name}}</td>
            <td>{{data.fields.maker }}</td>
            <td>{{data.fields.application_number}}</td>
            <td>{{data.fields.workflow_number}}</td>
            <td>{{data.fields.status}}</td>
            <td><a href="{% url 'WorkflowManagement:customer_data_for_approval' data.pk %}" class="btn btn-sm btn-info"><i title="View Form" class="fa fa-eye"></i></a></td>
        </tr>
      {% endfor %}
      </tbody>
      {% else %}
          <tr >
            <td colspan="8" rowspan="10"><h1 id="no">{% trans 'No Records Found' %}</h1></td>
          </tr>
      {% endif %} 
      </table>
 </div>
 {% if files %}
  <div class="mypage">
    {% include 'files/pagination.html' %}
  </div>
  <div class="modal fade" id="modal-book">
   <div class="modal-dialog">
    <div class="modal-content"></div>
   </div>
  </div>
 {% endif %}

{% endblock %}
