{% extends 'header.html' %}
{% block body_block %}
{% load i18n %}
{% load staticfiles %}

<style>
label{
font-weight:bold;
}
table {
  table-layout: fixed;
}

        .mySlides {display:none; color:none;}
        #canvas {display:none;}

        .mySlides_div {display:none}
</style>
<script src="{% static 'js/tiff.js' %}"></script>
<br/>
<div class="breadcrumb_dms">
        <nav>
            <ol class="breadcrumb breadcrumb_lbl">
                <li class="breadcrumb-item"><a href="{% url 'WorkflowManagement:all_workflow_for_maker' %}">{% trans 'Maker' %}</a> </li>
				<li class="breadcrumb-item"><a href="{%url 'WorkflowManagement:all_wf_forms' user_data.workflow_id.id 'Pending' %}">{% trans 'Forms To Check' %}</a></li>
                <li class="breadcrumb-item active"> {% trans 'Customer Form' %}</li>
            </ol>
        </nav>
    </div>

<form>

        <div id="message_container">
            {% include 'messages.html' %}
        </div>
	<div class="table-responsive">
	<table border="2" style="background: aliceblue;width:100%" cellpadding="10">
		<tr>
			<td style="width:40%!important;">
					<div class="col-md-12">
						<div class="card card.bg-success.text-white">
						  <div class="card-header text-center bg-primary text-white"><strong>{% trans 'Customer Form' %}</strong><span  style="float:right"><a data-toggle="tooltip" title="Edit Form" data-placement="bottom" class="navbar-link" href="{% url 'WorkflowManagement:edit_workflow_maker' user_data.pk %}"><i class="fa fa-edit fa-lg"></i></a></span></div>
						  <div class="card-body">
						<div class="table-responsive table-max-height" style="overflow-y:auto;">
					  <table class="col-md-12 ">

						 {% for data in json_data %}
						  {% for i,j in data.items  %}
							<tr>

							{% if '/media/Workflow_Management/' in j %}
								<td> 
									<label class="col-xs-2  col-form-label">{{i|title}} : &nbsp;</label>
								</td> 
								<td><img src="{{j}}"  alt="{{i|title}}" width="100"></td>
								{% elif '[' and ']' in j %}
								<td>
								<label class="col-xs-2  col-form-label">{{i|title}} : &nbsp;</label>
								</td>
								<td> 
								{{j|slice:"1:-1"}}
								</td>
							{% else %}
								<td>
								<label class="col-xs-2  col-form-label">{{i}} :</label>
								</td>
								<td>{{j}}</td>	
							{% endif %}

							</tr>
					      {% endfor %}
				        {% endfor%}
				      </table>
					    </div>
					   </div>
					  </div>
					</div>
			</td>
			<td>
					<div class="col-md-12">
					<!--<div class="card card.bg-success.text-white">-->
						  <!--<div class="card-header text-center bg-primary text-white"><strong>{% trans 'Documents' %}</strong><span  style="float:right"><a data-toggle="tooltip" title="Edit Form" data-placement="bottom" class="navbar-link"></div>-->
						  <!--<div class="card-body">-->
						<div class="table-responsive">
					    <table class="col-md-12">
					   <tr>
							 <td style="width:60%!important;">
							 <div class="text-center"> 
							 <!-- New Changes in workflow for canvas-->
							<select class="my_tiff">
							{% for img in image %}
							 {% for i, j in img.items %}
									<option value="{{j}}" data-attr-value="{{j}}">{{i}}</option>
							 {% endfor %}
							 {% endfor %}
							</select>
								<button onclick="plusDivs(-1)" type="button" class="btn btn1" id="previous_button"><span title="Previous" class="fa fa-angle-double-left" aria-hidden="true"></span></button>
								<button onclick="plusDivs(1)" type="button" class="btn btn1" id="next_button"><span title="Next" class="fa fa-angle-double-right" aria-hidden="true"></span></button>
							</div>
							<br/>

								{% if documents_available %}

									 <div class="mySlides_div text-center" id="mySlides_div" style="overflow-y:scroll;height:500px; border:double;">
									<canvas class="myCanvas" id="canvas" width="900" height="1500"></canvas>
									 </div>
									<h6 id="page_number" class="text-center"></h6>
								{% else %}
								<h6>Documents Are not available</h6>
								{% endif %}
							</td>
						</tr>
					    </table>
						<!--</div>-->
						  <!--</div>-->
					</div>
					</div>
		</td>
		</tr>
	</table>
				</div>


</form>
<br/>
<script>

	   //images one by one
		var slideIndex = 1;
		var ctx = [];
		var arrayTiffURLs = [];

		var tiffURLvalue = '';

		var canvas_body=document.getElementById("canvas");


	function handleTiff(optionValue, callback){

		var tiffURLs = [];
		Tiff.initialize({TOTAL_MEMORY: 16777216 * 10});
			var xhr = new XMLHttpRequest();
			xhr.open('GET', optionValue);
			xhr.responseType = 'arraybuffer';
			xhr.responseType = 'arraybuffer';

			xhr.onload = function() {

				var buffer = xhr.response;
				var tiff = new Tiff({buffer: buffer});

				for (var i = 0, len = tiff.countDirectory(); i < len; ++i) {
				  tiff.setDirectory(i);
				  var canvas = tiff.toCanvas();
				  tiffURLs.push(canvas);
				}
				 <!--console.log(tiffURLs, 'sadsdfsdfadfsa');-->
				 return callback(tiffURLs);

			   };
		   xhr.send();
	}

	<!-- For first value in the selection of tiff images -->

	$(".my_tiff").find("option:selected").each(function(){
         var optionValue = $(this).attr("data-attr-value");

		 	console.log(optionValue);
		 	 handleTiff(optionValue, function(result) {
				arrayTiffURLs = result;
				showDivs(slideIndex, arrayTiffURLs[0])
		 	});

		});

	<!-- End Here -->

	<!-- When we change the selection of the tiff images -->
		$(".my_tiff").change(function() {
		 $(this).find("option:selected").each(function(){
         var optionValue = $(this).attr("data-attr-value");
	slideIndex = 1;
		 	console.log(optionValue);
		 	 handleTiff(optionValue, function(result) {
				arrayTiffURLs = result;
				showDivs(slideIndex, arrayTiffURLs[0])
		 	});

		});
	});
	<!-- End Here -->

	function showDivs(n, tiffURL){
		var ctx=canvas_body.getContext("2d");
		var img_div = document.getElementById("mySlides_div");

		tiffURLvalue = tiffURL
		ctx.clearRect(0, 0, canvas_body.width, canvas_body.height);
		ctx.drawImage(tiffURL, 0, 0);
		canvas_body.style.display = "block";
		img_div.style.display = "block";

		page_value = arrayTiffURLs.length

		<!-- Displaying the current and total number of pages -->

			$("#page_number").html("Page " + [slideIndex] + " of " + page_value);

		<!--  Disabling the previous and Next Button on account of page display -->
				if (slideIndex == 1){
				  $('#previous_button').attr('disabled', true);
				  $('#next_button').attr('disabled', false);
				}
				else if (slideIndex >= page_value) {
				   $('#previous_button').attr('disabled', false);
				   $('#next_button').attr('disabled', true);
				}
				else if (slideIndex < page_value) {
				  $('#previous_button').attr('disabled', false);
				  $('#next_button').attr('disabled', false);
				}


                              if (page_value == 1) {
					$('#next_button').attr('disabled', true);
				}
	}

	function plusDivs(n) {
		console.log(arrayTiffURLs)
		for( var i in arrayTiffURLs){
			if(arrayTiffURLs[i] == tiffURLvalue){
				var value = i
			}
		}
		value_final = (parseInt(value) + parseInt(n));
		console.log(value_final, 'value_final');
		showDivs(slideIndex += n, arrayTiffURLs[value_final]);
	}


</script>

{% endblock %}
