{% extends 'header.html' %}
{% load crispy_forms_tags %}
{% block body_block %}
{% if user.is_authenticated %}
{% load i18n %} 
<style>
   .list-group-item:hover
  {
   background:lavender
  }
   .list-group-item{
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
    font-size: 18px;
  }

 .active, .btn:hover {
  background-color: #666;
  color: white;
}    

#no{
     color:gray;
    }

</style>

<br/>
<div class="breadcrumb_dms">
        <nav>
            <ol class="breadcrumb breadcrumb_lbl">
                <li class="breadcrumb-item"><a href="{% url 'WorkflowManagement:all_workflow_for_maker' %}">{% trans 'Maker' %}</a> </li>
   
                <li class="breadcrumb-item active"> {% trans 'Forms To Check' %}</li>
            </ol>
        </nav>
    </div>

        <div id="message_container">
            {% include 'messages.html' %}
        </div>


  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"></h3>
        </div>
        <div class="list-group">
          <a href="{% url 'WorkflowManagement:all_wf_forms' queryset_id 'Pending' %}" class="list-group-item myclass">
           {% trans 'Pending Forms' %}
          </a>
           <a href="{% url 'WorkflowManagement:all_wf_forms' queryset_id 'Drafted' %}" class="list-group-item myclass1">
           {% trans 'Drafted Forms' %}
            </a>
          <a href="{% url 'WorkflowManagement:all_wf_forms' queryset_id 'Rejected' %}" class="list-group-item myclass2">
           {% trans 'Rejected Forms' %}
          </a>
             <a href="{% url 'WorkflowManagement:all_wf_forms' queryset_id 'Approved' %}" class="list-group-item myclass3">
           {% trans 'Approved Forms' %}
            </a>
        </div>
      </div>
    </div>


<div class="col-md-9"  style="overflow-y:scroll; width:600px; height:400px; ">
    {% include 'maker_drafted_form.html' %}
</div>
</div>
<script>

  $(function() {
    var index = localStorage.getItem("liIndex");
    var status = '{{status}}'
    console.log(status);
    if (status == 'Pending'){
        $('.myclass').addClass('active')
    }else if (status == 'Drafted'){
        $('.myclass1').addClass('active')
    }else if (status == 'Rejected'){
        $('.myclass2').addClass('active')
    }else if (status == 'Approved'){
        $('.myclass3').addClass('active')
    } 

    $('.list-group-item').click(function() {

        localStorage.setItem("liIndex", $(this).index());
        $(".list-group-item").removeClass('active').addClass('inactive');
        $(this).addClass('active').removeClass('inactive');
    });
    if (index)
        $(".list-group-item").eq(index).trigger('click');
});



  $('.kClass').on('click',function(){
    localStorage.clear();

  })



</script>

{% endif %}
<br/>
{% endblock %}
