{% extends 'header.html' %}
{% load i18n %}
{% load static %}
{% block body_block %}

<style>
        label{
        font-weight:bold;
        }

       table {
        table-layout: fixed;
       }

          /* The Modal (background) */
    .modal-pic {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      padding-top: 100px; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    }

    /* Modal Content (image) */
    .modal-pic-content {
      margin: auto;
      display: block;
      width: 80%;
      max-width: 700px;
    }

    /* Caption of Modal Image */
    #caption {
      margin: auto;
      display: block;
      width: 80%;
      max-width: 700px;
      text-align: center;
      color: #ccc;
      padding: 10px 0;
      height: 150px;
    }

    /* Add Animation */
    .modal-pic-content, #caption {
      -webkit-animation-name: zoom;
      -webkit-animation-duration: 0.6s;
      animation-name: zoom;
      animation-duration: 0.6s;
    }

    @-webkit-keyframes zoom {
      from {-webkit-transform:scale(0)}
      to {-webkit-transform:scale(1)}
    }

    @keyframes zoom {
      from {transform:scale(0)}
      to {transform:scale(1)}
    }

    /* The Close Button */
    .close {
      position: absolute;
      top: 15px;
      right: 35px;
      color: #f1f1f1;
      font-size: 40px;
      font-weight: bold;
      transition: 0.3s;
    }

    .close:hover,
    .close:focus {
      color: #bbb;
      text-decoration: none;
      cursor: pointer;
    }

    /* 100% Image Width on Smaller Screens */
    @media only screen and (max-width: 700px){
      .modal-pic-content {
        width: 100%;
      }
    }


      .mySlides {display:none; color:none;}
      #canvas {display:none;}

      .mySlides_div {display:none}


</style>
<script src="{% static 'js/tiff.js' %}"></script>
<br/>
<div class="breadcrumb_dms">
        <nav>
            <ol class="breadcrumb breadcrumb_lbl kClass">
                <li class="breadcrumb-item"><a href="{% url 'WorkflowManagement:all_workflow_for_checker' %}">{% trans 'Checker' %}</a></li>
                <li class="breadcrumb-item">
                    <a href="{%url 'WorkflowManagement:all_wf_for_approval' data.workflow_id.id %}">{% trans 'Forms To Check' %}</a>
                </li>
                <li class="breadcrumb-item active">{% trans 'Customer Form' %}</li>
            </ol>
        </nav>
    </div>


<form autocomplete="off">
	
	<div class="table-responsive">
	<table border="2" style="background: aliceblue;width:100%" cellpadding="10">
	<tr>
    <td style="width:40%!important;">
	<div class="col-md-12">
    <div class="card card.bg-success.text-white">
     <div class="card-header text-center bg-primary text-white"><strong>{% trans 'Customer Form' %}</strong><span style="float:right"><a href="#" data-placement="bottom" title="Approve" class="modal_type" data-url="{% url 'WorkflowManagement:checker_for_approval' data.id %}"><img src="{% static 'images/approved.png' %}" ></a><a href="#" data-placement="bottom" title="Reject" class="modal_type" data-url="{% url 'WorkflowManagement:checker_for_approval' data.id %}"><img src="{% static 'images/rejected.png' %}" ></a></span></div>
      <div class="card-body">
    <div class="table-responsive table-max-height" style="overflow-y:auto;">
  <table  class="col-md-12" cellpadding="5">
  {% for data in json_data %}
    {% for i,j in data.items  %}
    {% if '/media/Workflow_Management/' in j %}
  <tr>
    <td>
        <label class="col-xs-2 col-form-label">{{i|title}} : &nbsp;</label>
   </td>
   <td>
    <div  class="col-md-12">
         <img src="{{j}}" class="myImg img-responsive border" alt="{{i}}" width="100">
    </div>
   </td>
   </tr>
   {% elif '[' and ']' in j %}
   <tr>
   <td>
    <label class="col-xs-2 col-form-label">{{i|title}} : &nbsp;</label>
   </td>
   <td>
   <div class="col-md-12">
     <input type="text" class="form-control" value="{{j|slice:'1:-1'}}" READONLY/>
   </div>
   </td>
  </tr>

   {%else%}
  <tr>
      <td>
       <label class="col-xs-2  col-form-label">{{i|title}}:</label>
      </td>
     <td>
         <div class="col-md-12">
                <input type="text" class="form-control" value="{{j}}" READONLY/>
         </div>
     </td>
     </tr>
      {% endif %}



    {% endfor %}
  {% endfor%}
  </table>

    </div>
      </div>
    </div>
   </div>
       </td>
   

    <!--To Show Images in Checker View-->
  <td>
        <div class="col-md-12">
        <!--<div class="card card.bg-success.text-white">-->
              <!--<div class="card-header text-center bg-primary text-white"><strong>{% trans 'Documents' %}</strong><span  style="float:right"><a data-toggle="tooltip" title="Edit Form" data-placement="bottom" class="navbar-link"></div>-->
              <!--<div class="card-body">-->
            <div class="table-responsive">
            <table class="col-md-12">
           <tr>
                 <td  style="width:60%!important;">
               <div class="text-center">   
				 <!-- New Changes in workflow for canvas-->
                    <select class="my_tiff">
                    {% for img in image %}
                         {% for i, j in img.items %}
                                <option value="{{j}}" data-attr-value="{{j}}">{{i}}</option>
                         {% endfor %}
                     {% endfor %}
                    </select>
		 <button onclick="plusDivs(-1)" type="button" class="btn btn1" id="previous_button"><span title="Previous" class="fa fa-angle-double-left" aria-hidden="true"></span></button>
                    <button onclick="plusDivs(1)" type="button" class="btn btn1" id="next_button"><span title="Next" class="fa fa-angle-double-right" aria-hidden="true"></span></button>
		</div>
                    {% if documents_available %}
                         <div class="mySlides_div text-center" id="mySlides_div" style="overflow-y:scroll; height:500px;border:double;">
                        <canvas class="myCanvas" id="canvas" width="900" height="1500"></canvas>
                         </div>
                        <h6 id="page_number" class="text-center"></h6>
                    {% else %}
                   <div class="text-center"> 
					<h6>Documents Are not available</h6>
					</div>    
				 {% endif %}
                </td>
            </tr>
            </table>
            </div>
            </div
         </td>
                </tr>
				



<!--  <button type="button" class="btn btn-primary btn-sm fa fa-edit modal_type" data-url="{% url 'WorkflowManagement:checker_for_approval' data.id %}">Edit
                  </button>
     -->
	   </table>
       </div>
</form>
<br/>

    <div class="modal fade" id="modal_id">
      <div class="modal-dialog">
        <div class="modal-content"></div>
      </div>
    </div>

        <!-- The Modal -->
        <div id="myModal" class="modal-pic">
          <span class="close">&times;</span>
          <img class="modal-pic-content" id="img01">
          <div id="caption"></div>
        </div>

<script>

	   //images one by one
		var slideIndex = 1;
		var ctx = [];
		var arrayTiffURLs = [];

		var tiffURLvalue = '';

		var canvas_body=document.getElementById("canvas");


	function handleTiff(optionValue, callback){

		var tiffURLs = [];
		Tiff.initialize({TOTAL_MEMORY: 16777216 * 10});
			var xhr = new XMLHttpRequest();
			xhr.open('GET', optionValue);
			xhr.responseType = 'arraybuffer';
			xhr.responseType = 'arraybuffer';

			xhr.onload = function() {

				var buffer = xhr.response;
				var tiff = new Tiff({buffer: buffer});

				for (var i = 0, len = tiff.countDirectory(); i < len; ++i) {
				  tiff.setDirectory(i);
				  var canvas = tiff.toCanvas();
				  tiffURLs.push(canvas);
				}
				 <!--console.log(tiffURLs, 'sadsdfsdfadfsa');-->
				 return callback(tiffURLs);

			   };
		   xhr.send();
	}

	<!-- For first value in the selection of tiff images -->

	$(".my_tiff").find("option:selected").each(function(){
         var optionValue = $(this).attr("data-attr-value");

		 	console.log(optionValue);
		 	 handleTiff(optionValue, function(result) {
				arrayTiffURLs = result;
				showDivs(slideIndex, arrayTiffURLs[0])
		 	});

		});

	<!-- End Here -->

	<!-- When we change the selection of the tiff images -->
		$(".my_tiff").change(function() {
		 $(this).find("option:selected").each(function(){
         var optionValue = $(this).attr("data-attr-value");
			slideIndex = 1;
		 	console.log(optionValue);
		 	 handleTiff(optionValue, function(result) {
				arrayTiffURLs = result;
				showDivs(slideIndex, arrayTiffURLs[0])
		 	});

		});
	});
	<!-- End Here -->

	function showDivs(n, tiffURL){
		var ctx=canvas_body.getContext("2d");
		var img_div = document.getElementById("mySlides_div");

		tiffURLvalue = tiffURL
		ctx.clearRect(0, 0, canvas_body.width, canvas_body.height);
		ctx.drawImage(tiffURL, 0, 0);
		canvas_body.style.display = "block";
		img_div.style.display = "block";

		page_value = arrayTiffURLs.length

		<!-- Displaying the current and total number of pages -->

			$("#page_number").html("Page " + [slideIndex] + " of " + page_value);

		<!--  Disabling the previous and Next Button on account of page display -->
				if (slideIndex == 1){
				  $('#previous_button').attr('disabled', true);
				  $('#next_button').attr('disabled', false);
				}
				else if (slideIndex >= page_value) {
				   $('#previous_button').attr('disabled', false);
				   $('#next_button').attr('disabled', true);
				}
				else if (slideIndex < page_value) {
				  $('#previous_button').attr('disabled', false);
				  $('#next_button').attr('disabled', false);
				}

                               if (page_value == 1) {
					$('#next_button').attr('disabled', true);
				}

	}

	function plusDivs(n) {
		console.log(arrayTiffURLs)
		for( var i in arrayTiffURLs){
			if(arrayTiffURLs[i] == tiffURLvalue){
				var value = i
			}
		}
		value_final = (parseInt(value) + parseInt(n));
		console.log(value_final, 'value_final');
		showDivs(slideIndex += n, arrayTiffURLs[value_final]);
	}


</script>

<script>
      $('.modal_type').on("click",function (){
        var url = $(this).attr("data-url")
        var title = $(this).attr("title")
         $.ajax({
           url: url,
           data:{"title":title},
           dataType: 'json',
           beforeSend: function () {
             $("#modal_id").modal("show");
           },
           success: function (data) {
             $("#modal_id .modal-content").html(data.html_form);
           }
         });

      });

          // Get the modal
      var modal = document.getElementById("myModal");

      // Get the image and insert it inside the modal - use its "alt" text as a caption
      var img = document.getElementsByClassName("myImg");
      var modalImg = document.getElementById("img01");
      var captionText = document.getElementById("caption");

          for (i = 0; i < img.length; i++) {
                  img[i].onclick = function(){
                        modal.style.display = "block";
                        modalImg.src = this.src;
                        captionText.innerHTML = this.alt;
                  }
          }

      // Get the <span> element that closes the modal
      var span = document.getElementsByClassName("close")[0];

      // When the user clicks on <span> (x), close the modal
      span.onclick = function() {
        modal.style.display = "none";
      }

</script>

{% endblock %}

