{% extends 'header.html' %}
{% block body_block %}
{% load static %}
{% load i18n %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-1.12.4.min.js">
    </script>
<style>
.box {
  color: black;
  font-size: 25px;
  padding: 40px;
  width: 50px;
  height: 50px;

}
<!--.bttn {-->
<!--  margin-top:0px;-->
<!--  background: #FFF;-->
<!--  border: 1px solid #005bac;-->
<!--  border-radius: 50%;-->
<!--  -moz-border-radius: 50%;-->
<!--  -webkit-border-radius: 50%;-->
<!--  color: #005bac;-->
<!--  padding: 15px 10px 5px;-->
<!--  position: fixed;-->
<!--  -ms-user-select: none;-->
<!--  -moz-user-select: -moz-none;-->
<!--  -khtml-user-select: none;-->
<!--  -webkit-user-select: none;-->
<!--  user-select: none;-->
<!--	transition: all 0.3s ease;-->
<!--}-->
.zoom {
  bottom: 190px;
}

.zoom-out {
  bottom: 120px;
}
.zoom-init {
  bottom: 50px;
}
<!--label.required::after {-->
    <!--content: ' *';-->
   <!-- color: red;-->
<!--}-->

	table {
  table-layout: fixed;
}
    .label_response{
        display:none;
    }
#scroll {overflow-y:scroll;height:100%;}
<!--.split {-->
  <!--height: 70%;-->
  <!--width: 50%;-->
  <!--position: fixed;-->
  <!--z-index: 1;-->
  <!--top: 25;-->
  <!--padding-top: 20px;-->
<!--}-->

<!--.left {-->
  <!--left: 0;-->
  <!--overflow:auto;-->
  <!--background-color: white;-->
<!--}-->

<!--.right {-->
  <!--right: 0;-->
  <!--background-color: grey;-->
<!--}-->

<!--.centered {-->
  <!--position: absolute;-->
  <!--top: 2%;-->
  <!--left: 5%;-->

<!--}-->

<!--.centered img {-->
  <!--width: 150px;-->
<!--}-->

.mySlides {display:none;}
#canvas {display:none;}

.mySlides_div {display:none;}

.w3-display-left{top:50%;left:0%;}
.w3-display-right{top:50%;right:0%;}

.isDisabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
}

button
{
cursor:pointer;
}

</style>
<script src="{% static 'js/tiff.js' %}"></script>
<script src="{% static 'js/FileSaver.js' %}"></script>
<script src="{% static 'js/fabric.min.js' %}"></script>
<br/>



{% if documents_available %}
<!--<table border="2" cellpadding="30" style="background: aliceblue;">
<tr>
    <td style="width:40%;overflow-y: scroll;">-->

        <div id="message_container">
            {% include 'messages.html' %}
        </div>
   <div class="container-fluid">
            <div class="row">
                 <div class="col-md-5 border p-2">
    <form method="POST" action="{%url 'WorkflowManagement:edit_workflow_maker' user_data.pk %}"  enctype='multipart/form-data' autocomplete="off">
            {% csrf_token %}


               <div class="card card.bg-success.text-white" style="height:430px;">
                 <div class="card-header text-center bg-primary text-white"><strong>{% trans 'Form' %}</strong></div>
                   <div class="card-body table-max-height" style="overflow-y:auto;">
                    <div class="table-responsive">
            <table class="col-md-12" cellpadding="5">
            {% for field in formset %}
            <tr>
                                {% for q in queryset  %}
                    {% for j,k in q.items %}
                        {% if j|lower == field.label|lower %}
                                                        <td>{{ field.label_tag }}{% if k %} <span style="color:red;">*</span> {% endif %}</td>
                                                        <td>{{ field }}
                                                        {% if field.id_for_label == 'mobile_id' %} <span class="label_response">{% trans 'Invalid Mobile Number' %}</span>{% endif %}

                                                                {% for error in field.errors %}
                                                                        <p style="color: red">{{ error }}</p>
                                                                {% endfor %}</td>
                                                {% endif %}
                                        {% endfor %}
                                {% endfor %}

            </tr>
            {% endfor %}
          </table>
                        <br/>
                        <button type="button" class="btn btn-info fetch_btn float-right col-md-6" onclick="fetch_data();" data-attr-value="{{user_data.pk}}">{% trans 'Fetch Data' %}</button>

          </div>
                        <br/>
            <div class="text-center">
            <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
            <button class="btn btn-primary"  type="reset" >{% trans 'Cancel' %} </button></div>
         </div>
        </div>
  </form>
      <br/>
   <div class="text-center">
      <a style="width: 50%;" href="{% url 'WorkflowManagement:submit_to_checker' user_data.pk %}" class="btn btn-primary" id="with_document">{% trans 'Submit' %}</a>
       </div>
  <!--</div>-->
  <!--</div>-->

</div>
                 <div class="col-md-7 border p-2">
		<div class="text-center">
		 <!-- New Changes in workflow for canvas-->
		<select class="my_tiff form-control-sm" style="font-size: smaller;">
		{% for img in imgs %}
		 {% for i, j in img.items %}
				<option value="{{j}}" data-attr-value="{{j}}">{{i}}</option>
		 {% endfor %}
		 {% endfor %}
		</select>

			<button onclick="plusDivs(-1)" type="button" title="Previous" class="btn-sm btn1" id="previous_button"><span title="Previous" class="fa fa-angle-double-left" aria-hidden="true"></span></button>
            <button onclick="plusDivs(1)" type="button" title="Next" class="btn-sm btn1" id="next_button"><span title="Next" class="fa fa-angle-double-right" aria-hidden="true"></span></button>
            <!--<td> <button class="w3-button w3-black" onclick="plusDivs(-1)">&#10094;</button></td>-->

			<!--<a href="{% url 'WorkflowManagement:edit_workflow_maker' user_data.pk %}" class="btn a_href_button" style="background-color: buttonface;"><span class="fa fa-refresh"></span></a>-->
            <button type="button" class="btn-sm" title="Add Text" id="add_text"><span class="fa fa-text-width"></span></button>
            <button id="drawRectangle" title="Draw Filled Rectangle" class="btn-sm" type="button"><span class="fa fa-square"></span></button>
            <button id="drawVoidRectangle" title="Draw Rectangle" class="btn-sm" type="button"><span class="fa fa-square-o"></span></button>
            <button id="drawCircle" title="Draw Filled Circle" class="btn-sm" type="button"><span class="fa fa-circle"></span></button>
            <button id="drawVoidCircle" title="Draw Circle" class="btn-sm" type="button"><span class="fa fa-circle-o"></span></button>

            <button id="drawTriangle" title="Draw Filled Triangle" class="btn-sm" type="button"><span class="fa fa-caret-up"></span></button>
            <button id="drawLine" title="Draw Line" class="btn-sm" type="button"><span class="fa fa-line"></span></button>

            <button id="stop_editing" class="btn-sm" title="Stop Editing" type="button"><span class="fa fa-pause"></span></button>
            <button id="save_image" type="button" title="Save" class="btn-sm" data-attr-value="{{user_data.workflow_number}}"><span class="fa fa-save"></span></button>

            <button id="undo" disabled><span class="fa fa-undo"></span></button>
            <button id="redo" disabled><span class="fa fa-repeat"></span></button>
            <button id="zoom-in" type="button" title="Zoom" class="btn-sm"><span class="fa fa-search-plus"></span>
                <span id="zoom-view" style="font-size: smaller;"></span></button>

            <button id="refresh" type="button" title="Refresh" class="btn-sm"><span class="fa fa-refresh"></span></button>
          <button id="delete_active_object" type="button" title="Remove" class="btn-sm"><span class="fa fa-remove"></span></button>

            <button id="print_canvas" type="button" title="Print" class="btn-sm"><span class="fa fa-print"></span></button>

<!--            <button type="button" class="btn-sm"><a onclick="zoomin()"><i class="fas fa-search-plus"></i></a></button>-->
<!--            <button class="btn-sm"><a onclick="zoomout()"><i class="fas fa-search-minus"></i></a></button>-->
             <input type="button" value="zoom in" style="background-color: black; color: yellow;" onclick="onZoomIn();" />
    <input type="button" value="zoom out" style="background-color: black; color: yellow;" onclick="onZoomOut();" />

 	</div>
	<br/>
      <!--<h6 class="text-center"><u>{% trans 'Documents' %}</u></h6>-->
     <form autocomplete="off">

<!--       <a class="bttn zoom-init"><i class="fas fa-recycle"></i></a>-->

                {% if documents_available %}

						 <div class="mySlides_div text-center " id="mySlides_div"  style="overflow-y:scroll;  height: 420px; margin-top:-15px; border:1px solid black;">

						<canvas class="myCanvas" id="canvas" width="1500px" height="1150px" style="margin-top:-19px;margin-left:-15px;max-width: 120%; max-height: 120%; min-width: 50%; min-height: 50%;">

                        </canvas>
                         </div>

						<h6 id="page_number" class="text-center"></h6>
                 {% else %}
                    <h6>Documents Are not available</h6>


                {% endif %}



      </form>

        </div>
                </div>
   </div>
<!--<td style="width:20%!important;">-->
<!--<div class="col-md-12">-->
<!--<div class="table-responsive">-->
<!--<table class="col-md-12">-->
<!--<tr>-->
<!--<td>-->
        <!--<select  id="select">-->
            <!--<option value="None" selected="selected"> Select Language </option>-->
            <!--<option value="Hindi"  > Hindi </option>-->
            <!--<option value="Marathi" > Marathi </option>-->
            <!--<option value="Bengali" > Bengali </option>-->
        <!--</select>-->
               <!---->
                <!--{% for img in imgs %}-->
					<!--{% for m,k in img.items %}-->
                                <!--<button type='button' class="mySlides-btn btn btn-primary loader" id="{{k}}">Click for OCR</button>-->
                    <!--{% endfor %}-->
				<!--{% endfor %}-->
				<!---->
	<!--<div class="card-body table-max-height" style="overflow-y:auto;">-->
        <!--<div  id="ocr_contain" >-->
        <!--</div>-->
	<!--</div>-->
<!--</td>-->
<!--</tr>-->
<!--</table-->
<!--</div>-->
<!--</div>-->
<!--</td>-->

<br/>
{% else %}

  {% if messages %}
      {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          {{ message }}
        </div>
      {% endfor %}
  {% endif %}
         <form class="col-12" method="POST" action="{%url 'WorkflowManagement:edit_workflow_maker' user_data.pk %}"  enctype='multipart/form-data' autocomplete="off">
                           {% csrf_token %}
          <div class="col-6 mx-auto">
               <div class="card card.bg-success.text-white">
                 <div class="card-header text-center bg-primary text-white"><strong>{% trans 'Form' %}</strong></div>
                   <div class="card-body">
                    <div class="form-row">

                        {% include 'workflow_files/include_edit_workflow_maker.html' %}
                   <br/>
                   <button type="button" class="btn btn-info fetch_btn float-right col-md-6" onclick="fetch_data();" data-attr-value="{{user_data.pk}}">{% trans 'Fetch Data' %}</button>
           <br/>
          </div>
            <div class="text-center">
            <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
            <button class="btn btn-primary"  type="reset" >{% trans 'Cancel' %} </button></div>
         </div>
        </div>
          </div>
  </form>
   <br/>
    <div class="text-center">
         <!--<a style="width: 20%;" href="{% url 'WorkflowManagement:submit_to_checker' user_data.pk %}" class="btn btn-primary">{% trans 'Submit' %}</a>-->
        <a style="width: 20%;" href="javascript:void(0)" class="btn btn-primary isDisabled">{% trans 'Submit' %}</a>
    </div>

<br/>
{% endif %}

<script>
    //images one by one
		var slideIndex = 1;
		var ctx = [];
		var arrayTiffURLs = [];
		var drag = false;
		var rect = {};
		var edit_value = "";
		var rect_value = false;
		var selectedOption = "";
		var final_value = "";

            var fabric_canvas;

		<!--Undo Redo commands-->

		var state;
		var undo = [];
		var redo = [];

		var tiffURLvalue = '';

		var canvas_body=document.getElementById("canvas");

		// Disabling the button before any activity
            $('#stop_editing').attr('disabled', true);
            $('#save_image').attr('disabled', true);


        function handleTiff(optionValue, callback){
            optionValue2 = optionValue + "?_=" + new Date().getTime();
            var tiffURLs = [];
            Tiff.initialize({TOTAL_MEMORY: 16777216 * 10});
                var xhr = new XMLHttpRequest();
                xhr.open('GET', optionValue);
                xhr.responseType = 'arraybuffer';
                xhr.responseType = 'arraybuffer';

                xhr.onload = function() {

                    var buffer = xhr.response;
                    var tiff = new Tiff({buffer: buffer});

                    for (var i = 0, len = tiff.countDirectory(); i < len; ++i) {
                      tiff.setDirectory(i);
                      var canvas = tiff.toCanvas();
                      tiffURLs.push(canvas);
                    }
                     return callback(tiffURLs);

                   };
               xhr.send();
	    }

	    <!-- For first value in the selection of tiff images -->

            $(".my_tiff").find("option:selected").each(function(){
                 var optionValue = $(this).attr("data-attr-value");
                    selectedOption = optionValue     // Assign the value to global variable
                     handleTiff(optionValue, function(result) {
                        arrayTiffURLs = result;
                        checkFabricCanvas();

                        showDivs(slideIndex, arrayTiffURLs[0])
                    });

                });

	    <!-- End Here selection of tiff images -->

	    <!-- When we change the selection of the tiff images -->
                $(".my_tiff").change(function() {
                     $(this).find("option:selected").each(function(){
                     var optionValue = $(this).attr("data-attr-value");
                     selectedOption = optionValue     // Assign the value to global variable
                    slideIndex = 1;
                         handleTiff(optionValue, function(result) {
                            arrayTiffURLs = result;
                            checkFabricCanvas();
                            showDivs(slideIndex, arrayTiffURLs[0])
                        });
                    });
                });
	    <!-- End Here -->

	    <!-- Save states of canvas-->
                function save() {
                      redo = [];
                      $('#redo').prop('disabled', true);
                      if (state) {
                        undo.push(state);
                        $('#undo').prop('disabled', false);
                      }
                      state = JSON.stringify(fabric_canvas);
                 }
        <!--End Save States Here-->

        <!--Replay States when undo redo is called-->

            function replay(playStack, saveStack, buttonsOn, buttonsOff) {
              saveStack.push(state);
              state = playStack.pop();
              var on = $(buttonsOn);
              var off = $(buttonsOff);
              // turn both buttons off for the moment to prevent rapid clicking
              on.prop('disabled', true);
              off.prop('disabled', true);
              fabric_canvas.clear();
              fabric_canvas.loadFromJSON(state, function() {
                fabric_canvas.renderAll();
                // now turn the buttons back on if applicable
                on.prop('disabled', false);
                if (playStack.length) {
                  off.prop('disabled', false);
                }
              });
            }

        <!-- End Undo Redo Replay statess-->


        function checkFabricCanvas() {
                if (fabric_canvas){
                    fabric_canvas.dispose()
                    $(fabric_canvas.wrapperEl).remove()
                    return true;
                }
                else {
                    return false;
                }

        }




            function showDivs(n, tiffURL, rect_value){

        var bg = tiffURL.toDataURL("image/png");
        fabric_canvas = new fabric.Canvas("canvas");
        fabric_canvas.setDimensions({width: '1000px', height: '850px'}, {cssOnly: true});
        fabric_canvas.selection = false
        fabric_canvas.setBackgroundImage(bg,fabric_canvas.renderAll.bind(fabric_canvas));



		var img_div = document.getElementById("mySlides_div");

		tiffURLvalue = tiffURL

		canvas_body.style.display = "block";
		img_div.style.display = "block";

		page_value = arrayTiffURLs.length

		<!-- Displaying the current and total number of pages -->

			$("#page_number").html("Page " + [slideIndex] + " of " + page_value);

		<!--  Disabling the previous and Next Button on account of page display -->
				if (slideIndex == 1){
				  $('#previous_button').attr('disabled', true);
				  $('#next_button').attr('disabled', false);
				}
				else if (slideIndex >= page_value) {
				   $('#previous_button').attr('disabled', false);
				   $('#next_button').attr('disabled', true);
				}
				else if (slideIndex < page_value) {
				  $('#previous_button').attr('disabled', false);
				  $('#next_button').attr('disabled', false);
				}

				if (page_value == 1) {
				    $('#next_button').attr('disabled', true);
				}



             <!-- Function for zoom in canvas -->
					function zoomCanvas(){
                        fabric_canvas.on('mouse:wheel', function(opt) {
                          var delta = opt.e.deltaY;
                          var pointer = fabric_canvas.getPointer(opt.e);
                          var zoom = fabric_canvas.getZoom();
                          zoom = zoom + delta/200;
                          zoom_value_1 = parseInt(zoom*10)
                          $("#zoom-view").html(zoom_value_1*10);
                          if (zoom > 20) zoom = 20;
                          if (zoom < 1) zoom = 1;
                          fabric_canvas.zoomToPoint({ x: opt.e.offsetX, y: opt.e.offsetY }, zoom);
                          opt.e.preventDefault();
                          opt.e.stopPropagation();
                        });
                   }


                    $("#zoom-in").unbind().on('click',function(){
                        <!--draw(1.2, +20);-->
                        stopMouseEvent();
                        zoomCanvas();
                    });


        <!--Stop Editing-->
            $("#stop_editing").unbind().click(function(){
                stopMouseEvent();
            });
        <!--End Here-->


        <!--Save Canvas-->
            $("#save_image").unbind().click(function(){
                  var image = canvas_body.toDataURL("image/png")
                    var wf_number = $(this).attr("data-attr-value")

                    for( var i in arrayTiffURLs){
                        if(arrayTiffURLs[i] == tiffURLvalue){
                            var value = i
                        }
                    }
                    var image_value = value;

                    data_params = {'selected_value':selectedOption,'data_image':image, 'wf_number':wf_number,
                                'image_value':image_value}

                     $.ajax({
                        url: "/save_image_workflow_process",
                        data: data_params,
                        type:"post",
                        headers: {
                            "Pragma": "no-cache",
                            "Expires": -1,
                            "Cache-Control": "no-cache"
                        }
                    }).done(function () {
                        alert("saved")
                        window.location.reload(true);
                    });
            });

        <!-- End Here-->

        <!--Editing Images-->

        $("#drawRectangle").unbind().click(function(){

            $('#stop_editing').attr('disabled', false);
            $('#save_image').attr('disabled', false);

            edit_value = "fill_rect";
            save();
            stopMouseEvent();
            drawRectangle();
        });
        $("#drawVoidRectangle").unbind().click(function(){
            $('#stop_editing').attr('disabled', false);
            $('#save_image').attr('disabled', false);

            edit_value = "void_rect";
            save();
            stopMouseEvent();
            drawRectangle();
        });
        $("#drawCircle").unbind().click(function(){

            $('#stop_editing').attr('disabled', false);
            $('#save_image').attr('disabled', false);

            edit_value = "fill_circle";
            save();
            stopMouseEvent();
            drawCircle();
        });
        $("#drawVoidCircle").unbind().click(function(){
            $('#stop_editing').attr('disabled', false);
            $('#save_image').attr('disabled', false);

            edit_value = "void_circle";
            save();
            stopMouseEvent();
            drawCircle();
        });

        $("#drawTriangle").unbind().click(function(){
            $('#stop_editing').attr('disabled', false);
            $('#save_image').attr('disabled', false);

            edit_value = "fill_tri";
            save();
            stopMouseEvent();
            drawTriangle();
        });

        $("#delete_active_object").unbind().click(function(){
                let activeObjects = fabric_canvas.getActiveObjects();
                  fabric_canvas.discardActiveObject();
                  if (activeObjects.length) {
                    fabric_canvas.remove.apply(fabric_canvas, activeObjects);
                  }
        });

        $("#print_canvas").unbind().click(function(){
                url = document.getElementById('canvas').toDataURL();
                printCanvas(url);
        });


        $("#drawLine").unbind().click(function(){
			$('#stop_editing').attr('disabled', false);
            $('#save_image').attr('disabled', false);
            save();
            stopMouseEvent();
            drawLine();
        });


             <!--End Here-->


             <!-- Add Text -->
                    function Addtext() {
                    stopMouseEvent();

					fabric_canvas.add(new fabric.IText('Tap and Type', {
						  left: 50,
						  top: 100,
						  fontFamily: 'arial black',
						  fill: 'black',
						  borderColor:'red',
						  cornerColor:'red',
						  fontSize: 20

					}));
					save();

				}

				$('#add_text').unbind().on('click', function(){
				    $('#stop_editing').attr('disabled', false);
                    $('#save_image').attr('disabled', false);
					Addtext()
				});
            <!-- End Here -->

         <!-- Refresh Page-->

         	$('#refresh').unbind().on('click', function(){
                checkFabricCanvas();
                showDivs(slideIndex, tiffURL)
            });

        <!-- End Here-->

	}
	    <!--Stop Mouse Event-->
	    function stopMouseEvent() {
            fabric_canvas.off('mouse:down');
            fabric_canvas.off('mouse:move');
            fabric_canvas.off('mouse:up');
            fabric_canvas.off('mouse:wheel');
        }
        <!--End Here-->


    // undo and redo buttons
          $('#undo').click(function() {
            replay(undo, redo, '#redo', this);
          });
          $('#redo').click(function() {
            replay(redo, undo, '#undo', this);
      })



	function plusDivs(n) {
		for( var i in arrayTiffURLs){
			if(arrayTiffURLs[i] == tiffURLvalue){
				var value = i
			}
		}
		value_final = (parseInt(value) + parseInt(n));
		checkFabricCanvas();
		showDivs(slideIndex += n, arrayTiffURLs[value_final]);
	}

       function drawRectangle() {
				if (edit_value=="fill_rect"){
					fabric_canvas.add(new fabric.Rect({
						left: 100,
						top: 100,
						fill: '#000',
						width: 100,
						height: 100,
						originX: 'center',
						originY: 'center',
						strokeWidth: 0
					   }));
				}
			   if (edit_value=="void_rect"){
					fabric_canvas.add(new fabric.Rect({
						left: 200,
						top: 100,
						fill: 'rgba(0,0,0,0)',
						width: 100,
						height: 100,
						stroke: 'black',
						strokeWidth: 1,
						originX: 'center',
						originY: 'center',

					   }));
			   }
            }


            function drawCircle() {
				if (edit_value=="fill_circle"){
					fabric_canvas.add(new fabric.Circle({
					left: 250,
					top: 150,
					fill: '#000',
					radius: 50,
					originX: 'center',
					originY: 'center',
					strokeWidth: 0
				  }));
				}
			   if (edit_value=="void_circle"){
					fabric_canvas.add(new fabric.Circle({
						left: 200,
						top: 100,
						radius: 50,
						fill: 'rgba(0,0,0,0)',
						width: 100,
						height: 100,
						stroke: 'black',
						strokeWidth: 1,
						originX: 'center',
						originY: 'center',

					   }));
                   }
            }

            function drawTriangle() {
                if(edit_value=="fill_tri"){
                    fabric_canvas.add(new fabric.Triangle({
                    left: 250,
                    top: 200,
                    fill: '#000',
                    width: 100,
                    height: 100,
                    originX: 'center',
                    originY: 'center',
                    strokeWidth: 0
                  }));
                }
            };


            function drawLine() {
                fabric_canvas.add(new fabric.Line([50, 100, 200, 200], {
                    left: 170,
                    top: 150,
                    stroke: 'red'
                }));

            };

	function printCanvas(url) {
        var dataUrl = url;
        var windowContent = '<!DOCTYPE html>';
        windowContent += '<html>'
        windowContent += '<head><title>Print</title></head>';
        windowContent += '<body>'
        windowContent += '<img src="' + dataUrl + ' " onload=window.print();window.close();>';
        windowContent += '</body>';
        windowContent += '</html>';
        var printWin = window.open('', '', 'width=1000,height=1000');
        printWin.document.open();
        printWin.document.write(windowContent);
    }



</script>


<script>
        function fetch_data(){
        user_data_pk = $('.fetch_btn').attr("data-attr-value");
            $.ajax({
                url: '/edit_workflow_maker/' + user_data_pk ,
                data : {},
                success: function (data) {
                    if (data.Matched == "Matched") {
                        $('.form-row').html(data.html_form);
                    }
                    else if (data.Matched == "Not Matched") {
                        confirmFunction(user_data_pk);
                    }
                }
            });
        }

        function confirmFunction(user_data_pk) {
           swal({
                 title: "Please Confirm",
                 text: "Branch Name and Finacle Name Don't Match. Do you want to Continue?",
                 type: "warning",
                 showCancelButton: true,
                 confirmButtonClass: "btn-warning",
                 confirmButtonText: "Yes",
                 cancelButtonText: "No, cancel!",
                 closeOnConfirm: false,
                 closeOnCancel: false
               },
               function(isConfirm){
                   if(isConfirm){
                        swal("Data Fetched!", "Successful", "success");
                        function explode(){
                               location.reload()
                            }
                        setTimeout(explode, 2000);


                   }
                   else{
                    var frm = $('#post-id');
                       $.ajax({
                           url: '/confirm_finacle_entry/' + user_data_pk ,
                           data: {},
                           success:  function (data) {
                                swal("Cancelled", "Your request is taken", "error");
                           }

                      });
                   }
               }
        )}
</script>

<script>
    $('#with_document').on('click', function(){
        console.log('asdfasdf')
            setTimeout(function () { window.close();}, 1000);
            window.opener.location.reload(true);
        });
</script>

<script>

    $('.loader').on('click', function(e){
        var imgUrl = $(this).attr('id');
        var loaderUrl="{% static 'images/demo_wait.gif' %}";
        $(document).ajaxStart(function(){
            document.getElementById("ocr_contain").innerHTML="<img src= " + loaderUrl + " width=\"150px\" height=\"150px\" class = \"inner\" >";
        });
        var e = document.getElementById("select");
        var lang = e.options[e.selectedIndex].value;

        $.ajax({
                 type: "POST",
                 url: "/image_ocr/",
                 data: { imgUrl: imgUrl,
                         lang:lang,
                         csrfmiddlewaretoken: '{{ csrf_token }}'},
                         success: function (data) {
                                 document.getElementById("ocr_contain").innerHTML= "<b>OCR Contain </b>" + "<br>"
                                 data_list=data[1];
                                 console.log(data);
                                 console.log(data_list);
                                 data_list.forEach(myFunction);
                        }
                 });
      });

function myFunction(item, index) {
             if(!item ==" ")
              document.getElementById("ocr_contain").innerHTML +=    "<p id =" + index + " "+ "class "+ " <button  onclick=copyToClipboard('"+index+"')"  + " style= color:black; value='"+item +"'> "  + item + " <span id=myTooltip"+index + "" + " class='tooltiptext' "+" >  </span>" +"</p>"  ;
     }

function copyToClipboard(elementId) {

  // Create an auxiliary hidden input
  var aux = document.createElement("input");


  var elementStr  =document.getElementById(elementId).textContent
  var elementStr = elementStr.substring(3, elementStr.length);
  aux.setAttribute("value",elementStr );

  // Append the aux input to the body
  document.body.appendChild(aux);

  // Highlight the content
  aux.select();

  // Execute the copy command
  document.execCommand("copy");

  // Remove the input from the body

  document.body.removeChild(aux);


  var toolId="myTooltip"+elementId
  var tooltip = document.getElementById(toolId);
  tooltip.style.color = 'red';
  tooltip.innerHTML = "Copied: ";
  setTimeout(function() { tooltip.innerHTML = ""; }, 1500);
}

function log(){
        console.log('-&#45;&#45;')
}

function outFunc(tooltip) {

}

</script>
<script type="text/javascript">
<!--        var zoom = 1;-->
<!--		$('.zoom').on('click', function(){-->
<!--		    zoom += 0.1;-->
<!--			$('.target').css('zoom', zoom);-->
<!--		});-->
<!--		$('.zoom-init').on('click', function(){-->
<!--			zoom = 1;-->
<!--			$('.target').css('zoom', zoom,max-zoom);-->
<!--		});-->
<!--		$('.zoom-out').on('click', function(){-->
<!--			zoom -= 0.1;-->
<!--			$('.target').css('zoom', zoom);-->
<!--		});-->


<!--function zoomin(){-->
<!--        var myImg = document.getElementById("canvas");-->
<!--        var currWidth = myImg.clientWidth;-->
<!--        var currHeight = myImg.clientHeight;-->
<!--        if(currWidth == 100 && currHeight == 100) return false;-->
<!--         else{-->
<!--            myImg.style.width = (currWidth + 20) + "px";-->
<!--            myImg.style.height = (currHeight + 20) + "px";-->
<!--        }-->
<!--    }-->
<!--    function zoomout(){-->
<!--        var myImg = document.getElementById("canvas");-->
<!--        var currWidth = myImg.clientWidth;-->
<!--        var currHeight = myImg.clientHeight;-->
<!--        if(currWidth == 1000 && currHeight == 1000) return false;-->
<!--		 else{-->
<!--            myImg.style.width = (currWidth - 100) + "px";-->
<!--            myImg.style.height = (currHeight - 100) + "px";-->
<!--        }-->
<!--    }-->



 var copiedObject;
var copiedObjects = new Array();
        var canvasScale = 1;
        var SCALE_FACTOR = 1.2;
 var onZoomIn = function () {
            // TODO limit the max canvas zoom in

            canvasScale = canvasScale * SCALE_FACTOR;

<!--            fabric_canvas.setHeight(canvas.getHeight() * SCALE_FACTOR);-->
<!--            fabric_canvas.setWidth(canvas.getWidth() * SCALE_FACTOR);-->

            var objects = canvas.getObjects();
            for (var i in objects) {
                var scaleX = objects[i].scaleX;
                var scaleY = objects[i].scaleY;
                var left = objects[i].left;
                var top = objects[i].top;

                var tempScaleX = scaleX * SCALE_FACTOR;
                var tempScaleY = scaleY * SCALE_FACTOR;
                var tempLeft = left * SCALE_FACTOR;
                var tempTop = top * SCALE_FACTOR;

                objects[i].scaleX = tempScaleX;
                objects[i].scaleY = tempScaleY;
                objects[i].left = tempLeft;
                objects[i].top = tempTop;

                objects[i].setCoords();
            }

            fabric_canvas.renderAll();
        }

        var onZoomOut = function () {
            canvasScale = canvasScale / SCALE_FACTOR;

<!--            fabric_canvas.setHeight(canvas.getHeight() * (1 / SCALE_FACTOR));-->
<!--            fabric_canvas.setWidth(canvas.getWidth() * (1 / SCALE_FACTOR));-->

            var objects = canvas.getObjects();
            for (var i in objects) {
                var scaleX = objects[i].scaleX;
                var scaleY = objects[i].scaleY;
                var left = objects[i].left;
                var top = objects[i].top;

                var tempScaleX = scaleX * (1 / SCALE_FACTOR);
                var tempScaleY = scaleY * (1 / SCALE_FACTOR);
                var tempLeft = left * (1 / SCALE_FACTOR);
                var tempTop = top * (1 / SCALE_FACTOR);

                objects[i].scaleX = tempScaleX;
                objects[i].scaleY = tempScaleY;
                objects[i].left = tempLeft;
                objects[i].top = tempTop;

                objects[i].setCoords();
            }

            fabric_canvas.renderAll();
        }


</script>
<!--<script type="text/javascript">-->
<!--        function zoomin() {-->
<!--            var GFG = document.getElementById("geeks");-->
<!--            var currWidth = GFG.clientWidth;-->
<!--            GFG.style.width = (currWidth + 100) + "px";-->
<!--        }-->

<!--        function zoomout() {-->
<!--            var GFG = document.getElementById("geeks");-->
<!--            var currWidth = GFG.clientWidth;-->
<!--            GFG.style.width = (currWidth - 100) + "px";-->
<!--        }-->
<!--    </script>-->
{% endblock %}



