{% load i18n %}

  <form id="personForm" method="post" data-cities-url="{% url 'WorkflowManagement:all_wf_forms' queryset_id status %}" enctype="multipart/form-data">
    {% csrf_token %}
      <div class="row">
      <div class="col-md-6">
        <input type="text" name="search_text"  maxlength="30" class="form-control" required="" id="search_text">
      </div>
          <div class="col-md-4">
    <input type="submit" value="Submit" class="btn btn-primary">

          </div>

          <!-- To Show the pagination at the top also -->
                 {% if files %}
                        <div class="mypage col-md-2">
                            {% include 'files/pagination.html' %}
                        </div>
                {% endif %}
          </div>

  </form>

<div class="table-responsive">
      <table id="book-table" class = 'table table-bordered table-hover table-striped table-sm' style="white-space:nowrap" >
     <thead class='table-info text-center' >
      <tr>
        <th>{% trans 'Sr. No.' %}</th>
        <th>{% trans 'Workflow Name' %}</th>
        <th>{% trans 'Workflow Number' %}</th>
	<th>{% trans 'Account Number' %}</th>
        <th>{% trans 'Workflow Status' %}</th>
		<th>{% trans 'Documents' %}</th>

        {% if status == 'Pending' or status == 'Rejected' %}
            <th>{% trans 'View' %} </th>
        {% endif %}
        {% if status == 'Approved' or status == 'Rejected' %}
            <th>{% trans 'Remarks' %}</th>
            <th> {% if status == 'Approved' %} {% trans 'Approved By' %} {% elif status == 'Rejected' %}{% trans 'Rejected By' %} {% endif %} </th>
        {% endif %}

      </tr>
      </thead>
      <tbody class="text-center">
      {% if files %}
      {% for f in files %}
        <tr>
          <td>{{f.fields.srNo}}</td>
            <td>{{f.fields.wf_name}}</td>
            <td>{{f.fields.workflow_number}}</td>
            	<td>{{f.fields.account_number}}</td>
            <td>{{f.fields.status}}</td>
			<td>{{f.fields.documents |yesno:"Available,Not Available" }}</td>
            {% if f.fields.status == 'Pending' %}
            <td><a href="{% url 'WorkflowManagement:all_user_forms_workflow' f.pk %}" title="View Form" class="btn btn-sm btn-info"><i class="fa fa-eye"></i></a></td>
            {% elif f.fields.status == 'Rejected'  %}
            <td>
                <a href="{%url 'WorkflowManagement:all_rejected_forms' f.pk %}" title="View Form" class="btn btn-info"><i class="fa fa-eye"></i></a>
            {% endif %}
            </td>
            {% if f.fields.status == 'Approved' or f.fields.status == 'Rejected' %}
            <td>{{f.fields.remarks}}</td>
            <td> {{f.fields.checker }}</td>
            {% endif %}
        </tr>
      {% endfor %}
      {% else %}
      <tr>
        <td colspan="9"><h1 id="no">{% trans 'No Records Found' %}</h1></td>
      </tr>


      {% endif %}
      </tbody>
    </table>
 </div>
{% if files %}
    <div class="mypage float-right">
        {% include 'files/pagination.html' %}
    </div>
{% endif %}
<div class="modal fade" id="modal-book">
  <div class="modal-dialog">
    <div class="modal-content"></div>
  </div>
</div>
