{% extends 'header.html' %}
{% block body_block %}
{% load i18n %}
<br/>
<p class="breadcrumb breadcrumb_lbl"><a href="{% url 'DMS:home' %}">Home</a> / <a href="{% url 'WorkflowManagement:workflow_management' %}">{% trans 'Workflow Management' %}</a>/ Scan Documents </p>

<p class="breadcrumb accord">Scan Images</p>
<br/>
        <div id="message_container">
            {% include 'messages.html' %}
        </div>

{% if devices %}
<form action="{% url 'WorkflowManagement:scan_documents_sanelib' %}" method='post' enctype="multipart/form-data">
  {% csrf_token %}
   <div class="container">
     <div class="row">
      <p>Select Scanner :</p>
      <div class="col-md-4">
      <select name="device" class="form-control">
        {% for device in devices %}
        <option  value="{{device}}">{{device}}</option>
        {% endfor %}
      </select>
      </div>
     <div class="col-md-3">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
   </div>
   </div>
 </form>

{% endif %}

{% if success %}
<p>Device Selected = <span class="fa fa-check-circle" style="color:green" aria-hidden="true"></span>&nbsp;{{device_name}}</p>
  <form action="{% url 'WorkflowManagement:document_scan_parameter' %}" method='post' enctype="multipart/form-data">
    {% csrf_token %}
  <div class="row">
   <div class="col-md-3"> 
    <select name='source' class="form-control">
      <option value='Flatbed' selected >Flatbed</option>
      <option value='ADF'>ADF</option>
    </select>
</div>
    <div class="col-md-3">
    <select name="mode" class="form-control">
    <!--<option value='grayscale' selected> Grayscale</option>-->
    <!--<option value='halftone'> Halftone </option>-->
      <option value='lineart'> Lineart </option>
      <option value='color'> Color </option>
    </select>
   </div>
  <div class="col-md-3">
    <input type="hidden" name="device" value={{device_name}}>

    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
 </div>
{% endif %}


{% if view_data %}
<!-- <h6>Scan Completed</h6> --> 
   <br/>
   <br/>
    <a href="{% url 'WorkflowManagement:scanned_images' %}" class="btn btn-primary">View</a>
{% endif %}

<!--
<script>
    var canvas = document.getElementById('myCanvas');
    context = canvas.getContext('2d');
    base_image = new Image();
    base_image.src = document.getElementById('scanned_image').src;

    base_image.width  = canvas.width;
    base_image.height = canvas.height;
    base_image.onload = function(){
    context.drawImage(base_image, 0, 0, base_image.width, base_image.height);
  }
</script> -->
  </form>
{% endblock %}
