{% extends 'header.html' %}
{% load staticfiles %}
{% load i18n %}
{% block body_block %}
<title>{% block title %} MIS Query {% endblock %} </title>
<br/>

<div class="breadcrumb_dms">
        <nav>
            <ol class="breadcrumb breadcrumb_lbl kClass">
                <li class="breadcrumb-item"><a href="{% url 'DMS:home' %}">{% trans 'Home' %}</a></li>
                <li class="breadcrumb-item">
                    <a href="{% url 'WorkflowManagement:workflow_management' %}">{% trans 'Workflow Management' %}</a>
                </li>
				<li class="breadcrumb-item"><a href="{% url 'WorkflowManagement:workflow_docs' %}">{% trans 'Workflow Documents' %}</a></li>
                <li class="breadcrumb-item active">{% trans 'MIS Query' %}</li>
            </ol>
        </nav>
    </div>

<form method="post" id="tableForm" style="text-align: left;">
    {% csrf_token %}
        <!--{{ table_form.as_p }}-->
    {% for field in table_form %}
    <span>{{ field.label_tag }} {% if field.field.required %} <span style="color:red;">*</span> {% endif %}</span>
    <span>{{ field }}  </span><br>
    {% for error in field.errors %}
    <p style="color: red">{{ error }}</p>
    {% endfor %}
    {% endfor %}
    <button type="submit" class="btn btn-sm btn-primary">Submit</button>
    <button type="reset" class="btn btn-sm btn-danger">Reset</button>
</form>


<div id="message_container">
    {% include 'messages.html' %}
</div>

{% endblock %}
