{% extends 'header.html' %}
{% load static %}
{% block body_block %}
{% load i18n %}
<title> Generate Workflow</title> 
<style>

    input.err {
    color: #444444;
    font-size: 1rem;
    width: 180px;
    height: 30px;
    }

    #hidden_div{
        display:none;
    }
    .button5 {border-radius: 50%;}

    .label_response{
        display:none;
       }
    #id_form-0-element_type
       {
       max-height:250px;/* you can change as you need it */
       overflow:auto;/* to get scroll */
      }

    label{
	font-weight:bold;
	}
   .errorlist{
      color: red
      }

    span.label_response{
        display:none;
    }
</style>

<div class="breadcrumb_dms">
        <nav>
            <ol class="breadcrumb breadcrumb_lbl">
                <li class="breadcrumb-item"><a href="{% url 'DMS:home' %}">{% trans 'Home' %}</a></li>
                <li class="breadcrumb-item">
                    <a href="{% url 'WorkflowManagement:workflow_management' %}">{% trans 'Workflow Management' %}</a>
                </li>
				<li class="breadcrumb-item"><a href="{% url 'WorkflowManagement:workflow_form_selection' %}">{% trans 'Create Workflow' %}</a></li>
				
                <li class="breadcrumb-item active">{% trans 'Generate Workflow' %}</li>
            </ol>
        </nav>
    </div>

{% if not queryset.status  %}
    <p class="breadcrumb accord">{% trans 'Generate Workflow' %}</p>
    <form method="post" action="" enctype="multipart/form-data" autocomplete="off">
        {% csrf_token %}
    {{ formset.management_form }}
    {% for form in formset.forms %}
        <div class="col-md-6 mx-auto">
       <div class="card-header text-center bg-primary text-white"><strong>{{queryset}}</strong></div>
       <div class="card-body">
        <table class='no_error'>
        <!-- {{ form.as_table }} -->
          {% for field in form %}
          <tr>
          <td>
           <label> {{ field.label_tag }} {% if field.field.required %} * {% endif %}
           </label>
          </td>
         <td> {{ field }}
          {% if field.id_for_label == 'id_form-0-label' %}<span class="label_response" style="display:inline; color:red;"></span>{%endif%}
            {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
           <td>
            {% endfor %}
           </tr>
            {% endfor%}
         </table>
        </div>
    {% endfor %}

        <div id="hidden_div">
           <p><input type="text" value="" id="option_name_1" class="err" name="option_name_1" placeholder="{% trans 'Enter Option Values' %}">
            <button type="button" class="button button5 btn" id="add_more"><b>+</b></button>
            <button type="button" class="button button5 btn" id="remove_more"><b>-</b></button>
           </p>
        </div>

        <div id="new_chq"></div>
        <input type="hidden" value="1" id="total_chq" name="total_chq">

         <input type="submit" class="btn btn-primary"  value="{% trans 'Submit' %}" id="id_submit">
         <input type="reset" class="btn btn-primary"  value="{% trans 'Cancel' %}">
	</div>
    </form>



{% if queryset.wf_definition %}

<a href="{% url 'WorkflowManagement:workflow_form_view' queryset.id %}" class="btn btn-primary" >{% trans 'View Form' %}</a>
<br/>
<br/>
 <div class="table-responsive">
          <table id="book-table" class = 'table table-bordered table-hover table-striped table-sm' >
         <thead class='table-info text-center' >
          <tr>
            <th>{% trans 'Sr. No.' %}</th>
            <th>{% trans 'Label' %}</th>
            <th>{% trans 'Element Type' %}</th>
			<th>{% trans 'Validations' %} </th>
            <th>{% trans 'Mandatory' %} </th>

            <th>{% trans 'Delete Field' %}</th>

          </tr>
          </thead>
          <tbody class="text-center">

            {% include 'workflow_files/workflow_fields.html' %}

          </tbody>
        </table>
     </div>
     <div class="mypage">
    {% include 'files/pagination.html' %}
</div>
<div class="modal fade" id="modal-book">
      <div class="modal-dialog">
        <div class="modal-content"></div>
      </div>
    </div>

{% endif %}

{%else%}
   <p style="text-transform:capitalize" class="breadcrumb accord">{{queryset.wf_name}}</p>
   <h6 style="font-size:19px;">Your workflow with name {{queryset.wf_name}} has been created.
    <a href="{% url 'WorkflowManagement:workflow_form_view' queryset.id %}" title="Edit Workflow" class="btn btn-primary" ><i class="fa fa-eye"></i></a></h6>
{% endif %}




<script>

    $('.removefield').on('click', function(){
        var url = $(this).attr('data-cities-url');
        $.ajax({
              url: url,

              success: function (data) {
                   $("#book-table tbody").html(data.html_book_list);
                   $(".mypage").html(data.page_div);

              }
            });
            return false;

    })

    $("#id_form-0-element_type").change(function(){
                  $(this).find("option:selected").each(function(){
                      var optionValue = $(this).attr("value");

                      if(optionValue=='RadioButton' || optionValue=='CheckBox' || optionValue=='ChoiceField'){
                            $('#hidden_div').show();
                            $('#option_name_1').attr('required', true);

                      }else{
                        $('#hidden_div').hide();
                        $('#option_name_1').removeAttr('required');

                  }
              });
          });

    var jsonData = [];
    var json = {};
    $('#add_more').on('click', add);
    $('#remove_more').on('click', remove);

    function add() {
      var new_chq_no = parseInt($('#total_chq').val()) + 1;
      var new_input = "<p><input type='text' class='err' required placeholder='Enter Option Values' name='option_name_" + new_chq_no + "' id='new_" + new_chq_no + "'></p>";
      $('#new_chq').append(new_input);

      $('#total_chq').val(new_chq_no);
    }

    function remove() {
      var last_chq_no = $('#total_chq').val();

      if (last_chq_no > 1) {
        $('#new_' + last_chq_no).remove();
        $('#total_chq').val(last_chq_no - 1);
      }
    }



$("#id_form-0-label").on('change', function(){

          var label = $(this).val().trim();
          queryset_id = {{queryset.id}}
          console.log(queryset_id)
          if(label != '')
          {
          $.ajax({
            url: "/validate_label_name_workflow/" + queryset_id,
            cache:'false',
            dataType: 'json',
            type:"GET",
            data: {
                  'label': label
                },
        success: function(data){
        console.log(data.is_taken)
         if (data.is_taken){
                       $(".label_response").html("Already Exists");
                        $("#id_submit").attr('disabled', 'true');
                    }else{
                       $("#id_submit").removeAttr('disabled');
                    }
        if(! data.match){
            $(".label_response").html("Only Alphanumeric Characters are allowed");
          }
        }

      });
      }else {
        $("#email_response").html("<span class='exists'></span>");}


        });

</script>

{% endblock %}
