{% extends 'header.html' %}
{% load i18n %}
{% block body_block %}
<title> {% block title %} Workflow Management {% endblock %} </title>
<br/>

<div class="breadcrumb_dms">
        <nav>
            <ol class="breadcrumb breadcrumb_lbl">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans 'Home' %} </a></li>
                <li class="breadcrumb-item active">{% trans 'Workflow Management' %}</li>
            </ol>
        </nav>
    </div>
{% if user.is_manager %}
<p class="breadcrumb accord">
 <a href="{% url 'WorkflowManagement:workflow_form_selection' %}" >{% trans 'Workflow Definition' %}</a><br/>
</p>
{% endif %}
<!--<p class="breadcrumb accord">-->
 <!--<a href="{% url 'WorkflowManagement:workflow_selection_for_department' %}" >{% trans 'Fill Form' %} </a><br/>-->
<!--</p>-->
<p class="breadcrumb accord">
 <a href="{% url 'WorkflowManagement:workflow_selection_for_department' %}" >{% trans 'Workflow Process' %} </a><br/>
</p>

<p class="breadcrumb accord">

 <a href="{% url 'WorkflowManagement:workflow_docs' %}" >{% trans 'Workflow Docs' %} </a><br/>
</p>
<!--{% if user.is_maker %}-->
<!--<p class="breadcrumb accord">-->
 <!--<a href="{% url 'WorkflowManagement:all_workflow_for_maker' %}">{% trans 'Maker' %} </a><br/>-->
<!--</p>-->
<!--{% endif %}-->
<!--{% if user.is_checker %}-->
<!--<p class="breadcrumb accord">-->
 <!--<a href="{% url 'WorkflowManagement:all_workflow_for_checker' %}">{% trans 'Checker' %} </a><br/>-->
<!--</p>-->
<!--{% endif %}-->

<!--<p class="breadcrumb accord">-->
<!--<a href="{% url 'WorkflowManagement:scan_documents_sanelib' %}" > Scanner </a><br/>-->
<!--</p>-->


{% endblock %}
