{% extends 'header.html' %}
{% load static %}
{% load i18n %}
{% block body_block %}
<title> Confirm Workflow </title>

<style>

   ul
    {
        display:flex;

    }

    ul li
    {
        padding:5px
    }
    .btn3d {
	position: relative;
	border: 0;
	transition: all 40ms linear;
}

.btn3d:active:focus,
.btn3d:focus:hover,
.btn3d:focus {
	-moz-outline-style: none;
	outline: medium none;
}

.btn3d:active,
.btn3d.active {
	top: 2px;
}

.btn3d.btn-primary {
	box-shadow: 0 0 0 1px #417fbd inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #4D5BBE, 0 8px 8px 1px rgba(0, 0, 0, 0.5);
	background-color: #4274D7;
}

.btn3d.btn-primary:active,
.btn3d.btn-primary.active {
	box-shadow: 0 0 0 1px #417fbd inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 1px 3px 1px rgba(0, 0, 0, 0.3);
	background-color: #4274D7;
}
</style>

<br/>
<div class="breadcrumb_dms">
        <nav>
            <ol class="breadcrumb breadcrumb_lbl">
                <li class="breadcrumb-item"><a href="{% url 'DMS:home' %}">{% trans 'Home' %}</a></li>
                <li class="breadcrumb-item">
                    <a href="{% url 'WorkflowManagement:workflow_management' %}">{% trans 'Workflow Management' %}</a>
                </li>
				<li class="breadcrumb-item"><a href="{% url 'WorkflowManagement:workflow_form_selection' %}">{% trans 'Create Workflow' %}</a></li>
				
                <li class="breadcrumb-item active">{% trans 'Confirm Workflow' %}</li>
            </ol>
        </nav>
    </div>

        <div id="message_container">
            {% include 'messages.html' %}
        </div>

<p class="breadcrumb accord" style="text-transform:capitalize">{{queryset.wf_name}}</p><br/>
    <form enctype="multipart/form-data" autocomplete="off">
     <div class="col-6 mx-auto">
      <div class="card card.bg-success.text-white">
       <div class="card-header text-center bg-primary text-white"><strong>{% trans 'Edit Form' %}</strong></div>
        <div class="card-body">
         <div class="table-responsive">
          <table cellpadding="4" style=" width: 100%;">
       {% for field in form %}
       <tr>
        <td>
            {{ field.label_tag }} {% if field.field.required %} * {% endif %}
        </td>
        <td>
            {{ field }}
            <span id="id_{{field.name}}_id" style="color: red;"></span>
                {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}</td>
        {% endfor %}
       </tr>
       <tr>
       <td class="text-center" colspan="2"> <input type="button" class="btn btn-primary" value="{% trans 'Submit' %}" disabled>
        <input type="reset" class="btn btn-danger" value="{% trans 'Cancel' %}" disabled></td>
       </tr>
       </table>
      </div>
     </div>
     </div>
    </div>
    </form>
<br/>
<div class="text-center">
	<a href="{% url 'WorkflowManagement:workflow_management_selection' queryset.id %}" class="btn btn-primary">{% trans 'Update Workflow' %}</a>
	<a href="{% url 'WorkflowManagement:confirm_workflow' queryset.id %}" class="btn btn-primary">{% trans 'Confirm Workflow' %}</a>
</div>
<br/><br/>
<script>
    $(".mobile_id").on('change', function(){
          var id = $(this).attr('name');
          var mobile = $(this).val().trim();
          if(mobile != '')
          {
          $.ajax({
            url: "/validate_mobile_number_workflow/",
            cache:'false',
            data:{'mobile':mobile},
            dataType: 'json',
            type:"GET",
            data: {
                  'mobile': mobile
                },
        success: function(data){
         if (data.invalid){
                        document.getElementById("id_" + id + "_id").innerHTML = "Invalid Mobile Number"
                    }else{
                       document.getElementById("id_" + id + "_id").innerHTML = "" 
                    }
        }
      });
      }
        });

   $(".pan_id").on('change', function(){

          var pan = $(this).val().trim();
          var id = $(this).attr('name');
          if(pan != '')
          {
          $.ajax({
            url: "/validate_pan_number_workflow/",
            cache:'false',
            data:{'pan':pan},
            dataType: 'json',
            type:"GET",
            data: {
                  'pan': pan
                },
        success: function(data){
         if (data.invalid){
                       document.getElementById("id_" + id + "_id").innerHTML = "Invalid Pan Number" 
                    }else{
                       document.getElementById("id_" + id + "_id").innerHTML = "" 
                    }
        }
      });
      }
        });

   $(".aadhar_id").on('change', function(){

          var aadhar = $(this).val().trim();
          var id = $(this).attr('name');
          if(aadhar != '')
          {
          $.ajax({
            url: "/validate_aadhar_number/",
            cache:'false',
            data:{'aadhar':aadhar},
            dataType: 'json',
            type:"GET",
            data: {
                  'aadhar': aadhar
                },
        success: function(data){
         if (data.invalid){
                       document.getElementById("id_" + id + "_id").innerHTML = "Invalid Aadhar Number" 
                    }else{
                       document.getElementById("id_" + id + "_id").innerHTML = "" 
                    }
        }
      });
      }
        });

   $(".email_validate").on('change', function(){

          var email = $(this).val().trim();
          var id = $(this).attr('name');
          if(email != '')
          {
          $.ajax({
            url: "/validateEmail/",
            cache:'false',
            data:{'email':email},
            dataType: 'json',
            type:"GET",
            data: {
                  'email': email
                },
            success: function(data){
             if (data.invalid){
                           document.getElementById("id_" + id + "_id").innerHTML = "Invalid Email" 
                        }else{
                           document.getElementById("id_" + id + "_id").innerHTML = "" 
                        }
            }
      });
      }
        });
   $(".alpha").on('change', function(){

          var value = $(this).val().trim();
          var id = $(this).attr('name');
          if(value != '')
          {
          $.ajax({
            url: "/validateOnlyAlphabets/",
            cache:'false',
            data:{'value':value},
            dataType: 'json',
            type:"GET",
            data: {
                  'value': value
                },
            success: function(data){
             if (data.invalid){
                           document.getElementById("id_" + id + "_id").innerHTML = "Only Alphabets are allowed" 
                        }else{
                           document.getElementById("id_" + id + "_id").innerHTML = "" 
                        }
            }

      });
      }
        });

    $(".alpha-num").on('change', function(){

          var value = $(this).val().trim();
          var id = $(this).attr('name');
          if(value != '')
          {
          $.ajax({
            url: "/validateAlphaNumeric/",
            cache:'false',
            data:{'value':value},
            dataType: 'json',
            type:"GET",
            data: {
                  'value': value
                },
            success: function(data){
             if (data.invalid){
                           document.getElementById("id_" + id + "_id").innerHTML = "Only Alphanumeric Characters are allowed"


                        }else{
                           document.getElementById("id_" + id + "_id").innerHTML = ""
                        }
            }

      });
      }
        });


</script>

{% endblock %}
