{% extends 'header.html' %}
{% load i18n %}
{% block body_block %}
<title> {% block title %} Workflow Definition {% endblock %} </title>
<style>

.form-control
{
display: inline-block;
width: 37%;
}

  .switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 34px;
}

.switch input {display:none;}

.xyz{
  background-color: #2ab934;
}

.abc
{
  background-color: #ca2222;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
     -webkit-transition: .4s;
  transition: .4s;
   border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
     -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .xyz{
  background-color: #2ab934;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
     -webkit-transform: translateX(26px);
     -ms-transform: translateX(26px);
  transform: translateX(55px);
}

/*------ ADDED CSS ---------*/
.slider:after
{
 content:attr(data-count);
 color: white;
 display: block;
 position: absolute;
 transform: translate(-50%,-50%);
 top: 50%;
 left: 50%;
 font-size: 10px;
 font-family: Verdana, sans-serif;
}

input:checked + .slider:after
{
  content:attr(data-count);
}


.disabled {
  color: #666;
  cursor: not-allowed;
  -webkit-transform: none;
    -ms-transform: none;
  transform: none;
}

/*--------- END --------*/
</style>
<br/>
  <div class="breadcrumb_dms">
        <nav>
            <ol class="breadcrumb breadcrumb_lbl">
                <li class="breadcrumb-item"><a href="{% url 'DMS:home' %}">{% trans 'Home' %}</a></li>
                <li class="breadcrumb-item">
                    <a href="{% url 'WorkflowManagement:workflow_management' %}">{% trans 'Workflow Management' %}</a>
                </li>
                <li class="breadcrumb-item active">{% trans 'Create Workflow' %}</li>
            </ol>
        </nav>
    </div>

        <div id="message_container">
            {% include 'messages.html' %}
        </div>
		
<form id="personForm" method="post" data-cities-url="{% url 'WorkflowManagement:workflow_form_selection' %}" enctype="multipart/form-data" autocomplete="off">
{% csrf_token %}
    {% for field in form %}
        <label class="col-xs-2 col-form-label" for="{{ field.name }}">{{ field.label }}</label>
        {{ field }}
          {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
          {% endfor %}
    {% endfor %}
<input type="submit" id="submit-wf" value="{% trans 'Submit' %}" class="btn">

</form>
<br/>
<form class="form-inline"  autocomplete="off">
<input class="form-control mr-sm-2" type="text" style="width:300px;" placeholder="{% trans 'Search By WorkFlow Name' %}" aria-label="Search" name="searchMe" id="more_search" data-url="{% url 'WorkflowManagement:workflow_form_selection' %}">
</form>
<br/>
        <div class="table-responsive">
              <table id="book-table" class = 'table table-bordered table-hover table-striped table-sm' style="white-space:nowrap">
             <thead class='table-info text-center' >
              <tr>
                <th>{% trans 'Sr. No.' %}</th>
                <th>{% trans 'Workflow Name' %}</th>
                <th>{% trans 'Workflow Status' %}</th>
                <th>{% trans 'Delete' %} </th>
                <th>{% trans 'View' %}</th>

              </tr>
              </thead>
              <tbody class="text-center">

                {% include 'workflow_files/workflow_names.html' %}


              </tbody>
            </table>
         </div>
       {% if files %}
         <div class="mypage">
            {% include 'files/pagination.html' %}
        </div>
        <div class="modal fade" id="modal-book">
      <div class="modal-dialog">
        <div class="modal-content"></div>
      </div>
    </div>
    {% endif %}


<script>


$('#more_search').on('keyup', function() {
        if ($(this).val()){

          var val = this.value;
          console.log(val);
        }else{

          var val='0'
        }

        var url = $(this).attr("data-url");

        $.ajax({
                url: url,
                data:{
                  'searchVal' : val
                },

                success: function (data) {
                  if (data.form_is_valid) {

                    $("#book-table tbody").html(data.html_book_list);
                    $(".mypage").html(data.page_div);
                  }
                  else {

                    $("#modal-book .modal-content").html(data.html_form);
                  }
                }
              });
              return false;
  });


     $('#id_name').bind('keypress', function(e) {
        var k = e.which;
        var ok = k >= 65 && k <= 90 || // A-Z
            k >= 97 && k <= 122 || // a-z
            k >= 48 && k <= 57 || // 0-9
            k == 32;  // space
        if (!ok){
            e.preventDefault();
        }

    });


</script>

{% endblock %}
