{% extends 'header.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block body_block %}
<title> Workflow Process </title>
{% if user.is_authenticated %}
{% load i18n %}
<head>


    <link rel = "stylesheet" type = "text/css" href = "{% static 'table/css/jquery.dataTables.css' %}"/>
    <script src="{% static 'js/bootstrap_modal_box.min.js' %}"></script>
    <script src = "{% static 'table/js/jquery.dataTables.js' %}"></script>
    <style>
  ul {
     padding:0!important;
   }

   .list-group-item:hover
  {
   background:lavender
  }
   .list-group-item{
    border: none;
  }
  .card-body
  {
  padding:0;
  }
 li a, td:nth-of-type(2)
 {
 cursor:pointer;
 }

 td:nth-of-type(2)
 {
 color:#007bff;
 }

#no{
     color:gray;
    }

#outer
{
    width:100%;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: white !important;
    border: 1px solid #2980B9!important;
    background-color: #2980B9!important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2980B9), color-stop(100%, #2980B9))!important;
    background: -webkit-linear-gradient(top, #2980B9 0%, #2980B9 100%)!important;
    background: -moz-linear-gradient(top, #2980B9 0%, #2980B9 100%)!important;
    background: -ms-linear-gradient(top, #2980B9 0%, #2980B9 100%)!important;
    background: -o-linear-gradient(top, #2980B9 0%, #2980B9 100%)!important;
    background: linear-gradient(to bottom, #2980B9 0%, #2980B9 100%)!important;
}

</style>
</head>

<div class="breadcrumb_dms">
        <nav>
            <ol class="breadcrumb breadcrumb_lbl kClass">
                <li class="breadcrumb-item"><a href="{% url 'DMS:home' %}">{% trans 'Home' %}</a></li>
                <li class="breadcrumb-item">
                    <a href="{% url 'WorkflowManagement:workflow_management' %}">{% trans 'Workflow Management' %}</a>
                </li>
				<li class="breadcrumb-item"><a href="{% url 'WorkflowManagement:workflow_selection_for_department' %}">{% trans 'All Workflow' %}</a></li>
                <li class="breadcrumb-item active">{% trans 'Workflow Process' %} </li>
            </ol>
        </nav>
    </div>




<br/>
<!-- <p class="breadcrumb breadcrumb_lbl kClass"><a href="{% url 'DMS:home' %}">{% trans 'Home' %}</a> /-->
<!--  <a href="{% url 'WorkflowManagement:workflow_management' %}">{% trans 'Workflow Management' %}</a> /-->
<!--  <a href="{% url 'WorkflowManagement:workflow_selection_for_department' %}">{% trans 'Workflow Process' %}</a>/-->
<!--  {% trans 'Workflow Process List' %}   </p>-->



        <div id="message_container">
            {% include 'messages.html' %}
        </div>

  <div class="row border">
    <div class="col-md-2 p-2">
        <div class="card bg-info">
            <div class="card-header">
                <b>Queue List</b>
            </div>
            <div class="card-body">
            <ul>
              <li><a class="list-group-item" id="my-queue">AO_Introduction</a></li>
              <li><a class="list-group-item" id="my-queue1">AO_Scanning</a></li>
              <li><a class="list-group-item" id="my-queue4">Finacle Data Entry</a></li>
              <li><a class="list-group-item" id="my-queue2">AOC_Acceptance</a></li>
              <li><a class="list-group-item" id="my-queue3">Download Workflow</a></li>
              <li><a class="list-group-item" id="my-queue5">Exit</a></li>
	    </ul>
            </div>
            </div>
    </div>

<div class="col-md-10" id="outer">
    <div class="p-2 float-right"><input  type="button" id="Button" class="btn btn-primary btn-sm" value="Refresh">
   <input  type="button" id="Button1" class="btn btn-primary btn-sm" value="New" data-attr="{{wf_id.id}}" onclick="OpenFormWindow();"/>
   <input  type="button" id="Button2" class="btn btn-primary btn-sm" value="Download" onclick="OpenDownloadWindow();"/>   

</div>
    <!--<div class="inner"><input  type="button" id="Button4" value="More" style="background-color:grey"/></div>-->
    <div class="table-responsive">

        {% include 'workflow_files/workflow_process_list.html' %}

    </div>
</div>
</div>
<div class="modal fade" id="modal-case">
  <div class="modal-dialog">
    <div class="modal-content"></div>
  </div>
</div>

{% endif %}
<br/>
<script>
    var wf_id = $('#Button1').attr('data-attr')

    $(document).ready(function(){
        $.noConflict();
        var myTable = $('#case-table').DataTable({
      <!--    "scrollY": 200,-->
            "scrollX": true
        });

        <!--$(".list-group-item").css("background-color",'grey')-->
        $(".list-group-item").click(function() {
            $(".list-group-item").css({ 'background-color' : '', 'opacity' : ''});
            $(this).css("background-color", "#007bff");
            if ($(this).attr('id') == 'my-queue'){

                $('#Button1').removeAttr('disabled');
            }else{
                $('#Button1').attr('disabled', 'disabled');
            }

            if ($(this).attr('id') == 'my-queue3'){

                $('#Button2').removeAttr('disabled');
            }else{
                $('#Button2').attr('disabled', 'disabled');
            }

            if ($(this).attr('id') == 'my-queue2'){

                $('#Button3').removeAttr('disabled');
            }else{
                $('#Button3').attr('disabled', 'disabled');
            }

            selected_menu = $(this).text();

            $.ajax({
              url: '/workflow_process/' + wf_id,
              type: 'GET',
              data:{
                'selected_menu': selected_menu
              },
              success: function (response) {
                    myTable.clear().draw()
                    var $data = $(response);
                    <!--console.log($data)-->
                    for (var i = 0; i < $data.length; i++) {

                        if ($data[i]) {
                            myTable.row.add([
                                $data[i].fields['srNo'],
                                $data[i].fields['workflow_number'],
                                $data[i].fields['wf_name'],
                                $data[i].fields['workstep_name'],
                                $data[i].fields['previous_workstep'],
                                $data[i].fields['user_name'],
                                $data[i].fields['entry_date_time'],
                                $data[i].fields['maker_user_name'],
                                $data[i].fields['modified_date_time'],
                                $data[i].fields['checker_user_name']]
                            )

                        }
                        <!--$(myTable.cell($data[i].fields['workflow_number'])).on('click', function() {-->
                            <!--console.log('huu');-->
                            <!--alert('here');-->
                        <!--});-->
                    }

                 myTable.draw();

                 //td on click
                    $(document).unbind().on('click','#case-table td:nth-of-type(2)',function(e){
                        var cell_clicked    = myTable.cell(this).data();
                        var row_clicked     = $(this).closest('tr');
                        var row_data      = myTable.row(row_data).data();
                          for (var i = 0; i < $data.length; i++) {
                             if ($data[i]) {
                                    d_value = $data[i].fields['workflow_number']
                                    if (d_value === cell_clicked) {
                                        data_value = d_value
                                        pk_value = $data[i]['pk']
                                        work_step_name = $data[i].fields['workstep_name']
                                        break;
                                    }
                                }
                          }


                        <!--console.log(cell_clicked, data_value, pk_value, work_step_name);-->
                        if (work_step_name == "AOC Acceptance"){
                            window.open("/customer_data_for_approval/" + pk_value ,null,"height=680px, width=1350px,bottom=10, status=no, resizable=yes");
                        }
                        if (work_step_name == "Finacle Data Entry") {
                            window.open("/edit_workflow_maker/" + pk_value ,null,"height=680px, width=1350px,bottom=10, status=no, resizable=yes");
                        }
                    });

                }
            });
            return false;



        });
    });



    $('#Button1').attr('disabled', 'disabled');
    $('#Button2').attr('disabled', 'disabled');
    $('#Button3').attr('disabled', 'disabled');

    function OpenFormWindow(){
        window.open("/fill_workflow_form/" + wf_id, null,"height=680px, width=1350px,bottom=10, status=no, resizable=yes");
        window.location.reload()


    }

   function OpenDownloadWindow(){
        window.open("/download_workflow_document_for_ckyc/",null,"height=680px, width=1350px,bottom=10, status=no, resizable=yes");
        window.location.reload()


    }


    function OpenCheckerWindow(){
        window.open("/all_workflow_for_checker",null,"height=680px, width=1350px,bottom=10, status=no, resizable=yes");
        window.location.reload()


    }
var dummy = '<span>Label: <input type="text"><small>(ft)</small></span>\r\n';
document.getElementById('wrapper').innerHTML += dummy;
</script>
{% endblock %}
