{% extends 'header.html' %}
{% block body_block %}
{% load crispy_forms_field %}
{% load crispy_forms_tags %}
{% load i18n %}
<style>
.table td
{
    border-top: none
}
.form-control
{
display: inline-block;
}
ul li{
  display: inline;
}

</style>

<br/>

<div class="breadcrumb_dms">
        <nav>
            <ol class="breadcrumb breadcrumb_lbl">
                <li class="breadcrumb-item active">{% trans 'Fill Form' %}</li>
            </ol>
        </nav>
    </div>

        {% if messages %}
            {% for message in messages %}
             <div id="wf_messages" data-attr-value="{{message}}">
             </div>
            {% endfor %}
        {% endif %}

<!-- <p class="breadcrumb accord" style="text-transform: capitalize;">Fill Form</p>-->
<form method="post" action="{%url 'WorkflowManagement:fill_workflow_form' queryset.pk %}" enctype="multipart/form-data" autocomplete="off" >
   <div class="col-12 mx-auto">
    <div class="card card.bg-success.text-white">
     <div class="card-header text-center bg-primary text-white"><strong>{{queryset.wf_name}}</strong></div>
     <div class="card-body">
         <div class="form-row">
    {% csrf_token %}

     <div class="container">

            <div class="col-md-12">
         
         <table class="table border table-sm" id="submenu" style="white-space:nowrap">
     <tr>
       {% for field in form %}

             {% for q in queryset.wf_definition %}
             {% if q.required %}
            {% if q.label|lower == field.label|lower %}

    <td  class=" col-form-label">{{ field.label_tag }} {% if q.required %} <span style="color:red;">*</span> {% endif %}</td>
                      <td>{{ field }}
            {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}</td>
         {% endif %}
         {% endif %}
        {% endfor %}



    {% endfor %}
     </tr>
     </table>
    </div>
       </div>
            </div>

<div class="text-center">
    <button type="submit" class="btn btn-primary" value="Submit">Submit</button>
    <button type="reset"  class="btn btn-primary" value="Reset"> Reset </button>
</div>
      </div>
    </div>
    </div>
</form>
<br/>

 <script type="text/javascript">
        $(document).ready(function() {
          if($('#wf_messages').is(':visible')){
                var wf_message = $("#wf_messages").attr('data-attr-value');
                swal({   
                  title: "",
                  text: '<span style="color:black;">' + wf_message +'</span>', 
                  html: true
                  },
                    function(isConfirm){
                      if (isConfirm) {
                        window.opener.location.reload(true);
                        window.close();
                        <!--window.location.href = "/workflow_process/";-->
                      }
                }); 
               }
        });
    </script>

<script>
var td = $("#submenu td");                    // Getting all td
td.each(function(i){                         // Looping the td
    if (i % 4 == 0) {                        // Splitting td as multiple of 4
        td.slice(i, i+4).wrapAll('<tr/>')    // Wrapping it inside tr
    }
}).parent('tr').unwrap();
</script>

{% endblock %}
