{% extends 'header.html' %}
{% load staticfiles %}
{% block body_block %}
{% load i18n %}
<br/>
<head>

    <link rel = "stylesheet" type = "text/css" href = "{% static 'table/css/jquery.dataTables.css' %}"/>
    <script src = "{% static 'table/js/jquery.dataTables.js' %}"></script>

    <style>

        td{
        text-align:center;
    }
    </style>

</head>

<div class="breadcrumb_dms">
        <nav>
            <ol class="breadcrumb breadcrumb_lbl">
                <li class="breadcrumb-item active">{% trans 'Document Version' %}</li>
            </ol>
        </nav>
    </div>

<div style="text-align:center;">
    <label>Document : </label>&nbsp;<strong><span>{{selected_doc}}</span></strong>
</div>
<br>
     <table id = "case-table" class = "table table-bordered table-sm table-striped" style="white-space:nowrap">
        <thead class="table-info text-center">
            <tr>
               <th>{% trans 'Sr No' %}</th>
                <th>{% trans 'Versions' %}</th>
                <th>{% trans 'Date Created' %}</th>
                <th>{% trans 'Download' %}</th>
            </tr>
        </thead>
        <tbody id="tbody_id">
                {% if req_value %}
                {% for da in req_value %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                            <td>{{ da.version }}</td>
                            <td>{{ da.modified_time }}</td>

                            <td><a data-toggle="tooltip" title="Download" data-placement="bottom" href="{% url 'WorkflowManagement:download_version_file' da.path %}" class ="btn btn-primary btn-sm btn_download" >
          <i class='fa fa-download'></i>
      </a></td>
               </tr> 

                {% endfor %}
            {% endif %}

        </tbody>
        </table>

<script>
    $(document).ready(function(){
        $.noConflict();
        $('#case-table').DataTable();
    });
</script>

{% endblock %}
