{% extends 'header.html' %}
{% load i18n %}
{% block body_block %}
<title> {% block title %} Workflow Docs {% endblock %} </title> 
<br/>
<div class="breadcrumb_dms">
        <nav>
            <ol class="breadcrumb breadcrumb_lbl">
                <li class="breadcrumb-item"><a href="{% url 'DMS:home' %}">{% trans 'Home' %}</a> </li>
				<li class="breadcrumb-item"><a href="{% url 'WorkflowManagement:workflow_management' %}">{% trans 'Workflow Management' %}</a></li>
                <li class="breadcrumb-item active">{% trans 'Workflow Docs' %} </li>
            </ol>
        </nav>
    </div>

<p class="breadcrumb accord">
 <a href="{% url 'WorkflowManagement:workflow_docs_search' %}" >{% trans 'Search Document' %} </a><br/>
</p>

<p class="breadcrumb accord">
 <a href="{% url 'WorkflowManagement:view_mis_report' %}" >{% trans 'MIS Query Report' %} </a><br/>
</p>

{% endblock %}
