{% extends 'header.html' %}
{% block body_block %}

    <form method="post" action="" enctype="multipart/form-data" autocomplete="off">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" value="Submit">{% trans 'Submit' %}</button>
    </form>

{% endblock %}
