{% extends 'header.html' %}
{% load staticfiles %}
{% load i18n %}
{% block body_block %}
<title> {% block title %} Shared Documents {% endblock %}</title>
<head>
  <style>
    #no{

      color:gray;

    }
  </style>
</head>
<br/>
<div class="breadcrumb_dms">
        <nav>
            <ol class="breadcrumb breadcrumb_lbl">
                <li class="breadcrumb-item"><a href="{% url 'DMS:home' %}">{% trans 'Home' %}</a></li>
				<li class="breadcrumb-item"><a href="{% url 'DMS:dashboard' %}">Document Management</a></li>
            </ol>
        </nav>
    </div>    

<p class="breadcrumb  accord">Shared Documents</p>
<div class="table-responsive">
    <table id="book-table" class = 'table table-bordered table-hover table-striped table-sm' style="white-space:nowrap">
            <thead class="table-info text-center" >
                <tr>
                    <th> {% trans 'Sr. No.' %}</th>
                    <th> {% trans 'Shared By' %} </th>
                    <th> {% trans 'File Name' %}  </th>
					<th> {% trans 'Shared With' %} </th>
                    <th> {% trans 'File' %} </th>
                </tr>
            </thead>
            {% if files %} 
            <tbody class="text-center">
                    {% for file in files %}
                        <tr>
                            <td> {{ file.fields.srNo }} </td>
                            <td> {{ file.fields.user.username }} </td>
                            <td> {{ file.fields.file.Filename }} {% if file.fields.file.is_protected %} <i class="fa fa-lock" style="color:red;"></i> {% endif %} </td>
                            <td> {{ file.fields.requested_user.username }} </td>
							<td>
      <a data-toggle="tooltip" title="Download Record" data-placement="bottom" data-cities-url="{% url 'DMS:download' file.fields.file.pk 'user_files' %}" class ="btn btn-primary btn-sm btn_download" name={{file.fields.file.pk}}>
          <i class='fa fa-download'></i>
      </a>
    </td>
                        </tr>
                    {% endfor %}
            </tbody>
           {% else %}
            <tr>
             <td colspan="4"><h1 id="no">No Records Found</h1></td>
             </tr>
           {% endif %}
    </table>
</div>
{% if files %}
<div class="mypage">
    {% include 'files/pagination.html' %}
      </div>
{% endif %}
<script src="{% static 'javascript/fav_shared_button.js' %}"></script>

{% endblock %}
