{% extends 'header.html' %}
{% load i18n %}
{% load staticfiles %}

{% block body_block %}
<title> Request for Approval  </title>
{% if user.is_authenticated %}

<style>
    #no{
      padding-left:400px;
      padding-top:200px;
      color:gray;

    }
</style>
<br/>
<div class="breadcrumb_dms">
        <nav>
            <ol class="breadcrumb breadcrumb_lbl">
                <li class="breadcrumb-item"><a href="{% url 'DMS:home' %}">{% trans 'Home' %}</a></li>
				<li class="breadcrumb-item"><a href="{%url 'DMS:notification_files' %}">{% trans 'Notifications' %}</a></li>
				 <li class="breadcrumb-item active">{% trans 'User"s Requests' %}</li>
            </ol>
        </nav>
    </div>

<p class="breadcrumb accord">{% trans 'Notifications' %}</p>
    <div class="table-responsive">
      <table id="book-table" class = 'table table-bordered table-hover table-striped table-sm' style="white-space:nowrap">
                <thead class='table-info text-center'>
                    <tr>
                    <th> {% trans 'Sr. No.' %} </th>
                    <th> {% trans 'Requested By' %} </th>
                    <th> {% trans 'File Name' %}  </th>
                    <th> {% trans 'Requested To' %} </th>
                    <th> {% trans 'Time Stamp' %} </th>
                    <th> {% trans 'Status' %} </th>
                    <th> {% trans 'File' %} </th>
                </tr>
            </thead>
            {% if files %}
            <tbody class="text-center">

              {% include 'files/new_files_for_approval.html' %}
            </tbody>
            {% else %}
              <tr>
              <td colspan="7"><h1 id="no">No Records Found</h1></td>
              </tr>
            {% endif %}

    </table>
    </div>
    {% if files %}
     <div class="mypage">
        {% include 'files/pagination.html' %}
      </div>
     {% endif %}

    <div class="modal fade" id="modal_id">
      <div class="modal-dialog">
        <div class="modal-content"></div>
      </div>
    </div>

   {% else %}
    You are not Logged In. Please login
   {% endif %}


<script>
      $('.modal_type').on("click",function (){
         $.ajax({
           url: $(this).attr("data-url"),
           dataType: 'json',
           beforeSend: function () {
             $("#modal_id").modal("show");
           },
           success: function (data) {
             $("#modal_id .modal-content").html(data.html_form);
           }
         });

      });
</script>


{% endblock %}
