{% load staticfiles %}
<title>{% block title %} Archive Documents {% endblock %}</title>
{% if files %}

{% for file in files %}

 <tr>
    <td>{{ file.fields.srNo }}</td>
    <td>{{ file.fields.Uploader }}</td>
    <td> {{ file.fields.Filename }}</td>
    <td>{{ file.fields.file_type}}</td>
    <td>{{ file.fields.category}}</td>
    <td> <a data-toggle="tooltip" title="View Record" data-placement="bottom" class = "btn btn-sm btn-primary btn_view" data-cities-url="{% url 'DMS:download' file.pk 'archive_files' %}" name="{{file.fields.File1}}" about="{{file.fields.protected}}"> <i class="fa fa-eye" aria-hidden="true"></i></a></td>

    <!--<td>{{file.fields.uploaded_at}}</td>-->
    <td>{{file.fields.deleted_at}}</td>
    <td>
        <button type="button"
            class="btn btn-primary btn-sm js-restore-file"

            data-url="{% url 'DMS:restore_document' file.pk %} " name='{{file.pk}}'>

            <i data-toggle="tooltip" title="Restore Record" data-placement="bottom" class="fa fa-undo"></i>
            <img hidden src="{% static 'images/icons8-restart-80.png' %}" style='width:150px;'>
        </button>
    </td>
    <td>
        <button type="button"
            class="btn btn-danger btn-sm js-delete-file"
            data-url="{% url 'DMS:delete_archive_files' file.pk file.fields.category %} ">
            <i data-toggle="tooltip" title="Delete Record" data-placement="bottom" class="fa fa-trash"></i>
        </button>
    </td>

  </tr>


{% endfor %}

{% else %}
  <tr>
    <td colspan="10"><h1 id="no">No Records Found</h1></td>
  </tr>


{% endif %}


<script src="{% static 'js/my.js' %}"></script>

<script src="{% static 'javascript/fav_shared_button.js' %}"></script>
