{% extends 'basic-upload.html' %}
{% load static %}
{% load i18n %}
{% block javascript %}
<title> Bulk Upload </title>
  <script src="{% static 'js/jquery-file-upload/vendor/jquery.ui.widget.js' %}"></script>
  <script src="{% static 'js/jquery-file-upload/jquery.iframe-transport.js' %}"></script>
  <script src="{% static 'js/jquery-file-upload/jquery.fileupload.js' %}"></script>

  <script src="{% static 'javascript/basic-upload.js' %}"></script>
{% endblock %}

{% block title %}{% trans 'Bulk Upload' %}{% endblock %}

{% block upload_content %}
<style>
   ol
   {
   list-style-type: square;
   }
</style>
<!--<button type="button" class="btn btn-primary js-upload-photos">
  <span class="fa fa-cloud-upload"></span> {% trans 'Upload Documents' %}
</button>
-->


<div class="well text-muted text-center" style="padding-top: 1rem; padding-bottom: 1rem;">
  <span class="fa fa-cloud-upload js-upload-photos" style="font-size: 4rem;"></span>
  <h3>{% trans 'Drop Docs Here to Upload' %}</h3>
</div>

<input id="fileupload" type="file" name="File1" multiple
       style="display: none;"
       data-url="{% url 'DMS:bulk_upload_for_files' %}"
       data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>
<br><br>
<table id="bulkUpload" class="table-sm table table-bordered ">
  <thead>
    <tr>
      <th class="text-center text-white btn-doc" style="display: none; background-color: #007bff; ">{% trans 'Document' %}</th>
    </tr>
  </thead>
  <tbody>

  </tbody>
</table>



{% endblock %}
