{% load staticfiles %}
{% load i18n %}

<form id="deleteForm" autocomplete="off">
  {% csrf_token %}
  <div class="modal-header">
    <h4 class="modal-title">{% trans 'Confirm file deletion' %}</h4>
       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p class="lead">{% trans 'Are you sure you want to delete the file' %} <strong>{{ file.Filename }}</strong>?</p>
  </div>
  <div class="modal-footer">
    <input type="button" class="btn btn-danger js-file-delete-form" about="{{file.pk}}" data-attr-value="{{type}}" name="{{file.is_protected}}" value="{% trans 'Delete File' %}">
     <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
  </div>
</form>
<script src="{% static 'js/my.js' %}"></script>
