
{% load staticfiles %}
<head>
    <style>

     #wrong-msg{
        display :none;
        color : red;
     }
    </style>

</head>
<form id="delete_form_id" autocomplete="off">
    {% csrf_token %}
    <div class="modal-header">
        <h4 class="modal-title">Enter Password</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
    <h6 style="color:red;">This File is Protected. Kindly Enter Password.</h6>
    <br>
    <input type="password" name="xyz" id="password"  required>
    <input type="button" class="btn btn-info btn-password1" value="Submit">
    </div>

    <div class="modal-footer">
        <span id="wrong-msg">Wrong Password</span>
    </div>
</form>

<script>
    $('.btn-password1').on('keypress click',function (e){

       var url = '/check_protection/{{file.pk}}/{{url_sub}}/';
       type_of_url = '{{url_sub}}';
       if (e.which === 13 || e.type === 'click') {
       $.ajax({
           url: url,
           type: 'GET',
           data:{'pass': $('#password').val()},
           dataType: 'json',

           success: function (data) {
             if (data['is_matched']){
                var conceptName = $('#changeId').find(":selected").text();
                var main_url = window.location.href;
                var url_sub=main_url.split('/')[3]
                var search = $(".mr-sm-2").attr('value')
                var meta_search = $('#data_meta_search').val();
                if (type_of_url == 'user_files' || type_of_url == 'root_files'){
                    var url = '/delete_files/{{file.pk}}/{{type}}/';
                }else if(type_of_url == 'archive_files'){
                    var url = '/delete_archive_files/{{file.pk}}/{{type}}/';
                }

                if(search){
                  console.log("delete HGFYTR");
                  $.ajax({
                    url: url,
                    data:{
                      'delete':'true',
                      'page':'1',
                      'searchFOR':search
                    },

                    success: function (data) {
                      if (data.form_is_valid) {

                        $("#book-table tbody").html(data.html_book_list);
                        $(".mypage").html(data.page_div);
                        $("#modal-book").modal("hide");
                      }
                      else {
                        $("#modal-book .modal-content").html(data.html_form);
                      }
                    }
                  });
                  return false;
                }
                if(meta_search){

                   $( document ).ajaxComplete(function() {

                    $("#modal-book").modal("hide");
                 });

                  console.log("metasearch HGFYTR");
                  $.ajax({
                    url: url,
                    data:{
                      'delete':'true',
                      'page':'1',
                      'meta_search_text':meta_search
                    },

                    success: function (data) {

                            $("#modal-book").modal("hide");
                            $("#book-table tbody").html(data.html_book_list);
                            $(".mypage").html(data.page_div);


                    }
                  });
                  return false;
                }

                if (conceptName === 'Date'){

                  var fromDate = $('#yy').val();
                  var toDate = $('#ye').val();
                  if (fromDate || toDate ){
                    console.log("oopo date");
                    $.ajax({
                      url: url,
                      data:{
                        'delete':'true',
                        'page':'1',
                        'fDate':fromDate,
                        'tDate':toDate,
                        'url_sub':url_sub,
                        'type': $("#changeId").attr('data-count')
                      },

                      success: function (data) {
                        if (data.form_is_valid) {
                          $("#book-table tbody").html(data.html_book_list);
                          $(".mypage").html(data.page_div);
                          $("#modal-book").modal("hide");
                        }
                        else {

                          $("#modal-book .modal-content").html(data.html_form);
                        }
                      }
                    });
                    return false;
                  }else{
                    console.log("Date not found");
                    $.ajax({
                      url: url,
                      data:{
                        'delete':'true',
                        'url_sub':url_sub
                      },

                      success: function (data) {
                        if (data.form_is_valid) {
                          $("#book-table tbody").html(data.html_book_list);
                          $(".mypage").html(data.page_div);
                          $("#modal-book").modal("hide");
                        }
                        else {

                          $("#modal-book .modal-content").html(data.html_form);
                        }
                      }
                    });
                    return false;
                  }

                }else if (conceptName === 'All'){
                  $.ajax({
                    url: url,
                    data:{
                      'delete':'true',
                      'url_sub':url_sub
                    },

                    success: function (data) {
                      if (data.form_is_valid) {
                        $("#book-table tbody").html(data.html_book_list);
                        $(".mypage").html(data.page_div);
                        $("#modal-book").modal("hide");
                      }
                      else {

                        $("#modal-book .modal-content").html(data.html_form);
                      }
                    }
                  });
                  return false;
                }else if (conceptName === 'File Type'){
                  console.log("DSGSD");
                  var FileType = $('#myfilter').find(":selected").text();
                  console.log('FileType',FileType);
                  var fromDate = $('#G1').val();
                  var toDate = $('#G2').val();
                  if (FileType === 'PDF'){
                    newoption='11'
                  }else if(FileType === 'Excel'){
                    newoption='12'
                  }else if(FileType === 'Word'){
                    newoption='13'
                  }else if(FileType === 'TEXT'){
                    newoption='14'
                  }else if(FileType === 'IMAGES'){
                    newoption='15'
                  }else if(FileType === 'All TYPES'){
                    newoption='10'
                  }
                  if (fromDate || toDate){
                    console.log("ITEM");
                    $.ajax({
                      url: url,
                      data:{
                        'delete':'true',
                        'page': '1',
                        'newOption': newoption,
                        'newfromDate':fromDate,
                        'newtoDate':toDate,
                        'url_sub':url_sub,
                        'type': $("#changeId").attr('data-count')

                      },

                      success: function (data) {
                        if (data.form_is_valid) {

                          $("#book-table tbody").html(data.html_book_list);
                          $(".mypage").html(data.page_div);
                          $("#modal-book").modal("hide");
                        }
                        else {

                          $("#modal-book .modal-content").html(data.html_form);
                        }
                      }
                    });
                    return false;
                  }else{
                    $.ajax({
                      url: url,
                      data:{
                        'delete':'true',
                        'page': '1',
                        'newOption': newoption,
                        'newfromDate':'0',
                        'newtoDate':'0',
                        'url_sub':url_sub,
                        'type': $("#changeId").attr('data-count')

                      },

                      success: function (data) {
                        if (data.form_is_valid) {
                          $("#book-table tbody").html(data.html_book_list);
                          $(".mypage").html(data.page_div);
                          $("#modal-book").modal("hide");
                        }
                        else {

                          $("#modal-book .modal-content").html(data.html_form);
                        }
                      }
                    });
                    return false;
                  }
                }else{
                  console.log("GOODAY");
                  $.ajax({
                    url: url,
                    data:{
                      'delete':'true',
                      'page':'1'

                    },

                    success: function (data) {
                      if (data.form_is_valid) {
                        $("#book-table tbody").html(data.html_book_list);
                        $(".mypage").html(data.page_div);
                        $("#modal-book").modal("hide");
                      }
                      else {

                        $("#modal-book .modal-content").html(data.html_form);
                      }
                    }
                  });
                  return false;
                }
             }else{
               $('#wrong-msg').show();
             }
           }
     });

     }


    });



    $('#delete_form_id').on('keyup keypress', function(e) {
      var keyCode = e.keyCode || e.which;
      if (keyCode === 13) {
        e.preventDefault();
        return false;
      }
    });

    $('#password').on('change', function(){
        console.log("dfsda")
        $(".btn-password1").focus();
    });

</script>
