{% extends 'header.html' %}
{% load staticfiles %}
{% load i18n %}
{% block body_block %}
<title> Download History </title>
{% if user.is_authenticated %}
<style>
    td,th
    {
    text-align:center;
    }
</style>
<head>
  <style>
    #no{
      color:gray;

    }
    .input_img{
       width: 25px;
       margin-left: -29px;
       margin-top: -5px;
    }
    #yy{
      margin-left:28px;
    }
    #ye{
      margin-left:20px;
    }
    #G1{
      margin-left: 37px;
      width: 109px;
    }
    #G2{
      margin-left: 7px;
      width: 109px;
    }
    #G3{
      margin-left: 1136px;

    }
    .B1{
      margin-left: 12px;
    }

    #yz{
      margin-left: 9px;

    }
    label[for=changeId]{
      padding-bottom: 1rem;
    }

  </style>

</head>
<br/>
<div>
<p class="breadcrumb breadcrumb_lbl"><a href="{% url 'home' %}">{% trans 'Home' %}</a>/{% trans 'Download History' %}</p>
</div>
<p class="breadcrumb  accord">{% trans 'Downloaded Files' %}</p>

<div class="actions">

  <form id="personForm" method="post" data-cities-url="{% url 'DMS:downloaded_files' %}" autocomplete="off" >
    {% csrf_token %}
      {{ NewChoiceForm }}


      <input type="text" name="fromDate" value="" placeholder="From Date" class="1 me" id="yy">
      <img src="{% static 'images/calendar.png' %}" class="input_img 1 me">
      <input type="text" name="toDate" value="" placeholder="To Date" class="1 me" id="ye">
      <img src="{% static 'images/calendar.png' %}" class="input_img 1 me">
      <input type="submit" name="" class="button 1 B1 js-filter-book" value="Go">

    </form>
    <div style="float:left;">
      <form class="form-inline" autocomplete="off">
        <input class="form-control mr-sm-2" type="text" style="width: 300px;" placeholder="{% trans 'Search By File Name or User Name' %}" aria-label="Search" name="searchMe" id="more_search" data-url="{% url 'DMS:downloaded_files' %}">

      </form>
    </div>
</div>
<div align="right">
<i class="fa fa-file-excel-o fa-2x" data-toggle="tooltip" title="Download Report in Excel" data-placement="bottom" style="color:green" id="btnExportToExcel" aria-hidden="true"></i>
<i class="fa fa-file-pdf-o fa-2x" data-toggle="tooltip" title="Download Report in PDF" data-placement="bottom" style="color:red" id="btnExportToPdf" aria-hidden="true"></i>
</div>
<div class="table-responsive">
        <table id="book-table" class = 'table table-bordered table-hover table-striped table-sm'>
            <thead class='table-info' >
                <tr>
                    <th>{% trans 'Sr. No.' %}</th>
                    <th>{% trans 'User' %} </th>
                    <th>{% trans 'File Name' %}  </th>
                    <th>{% trans 'IP Address' %} </th>
                    <th>{% trans 'Downloaded At' %}</th>
                </tr>
            </thead>
                {% if files %}
                <tbody>
                    {% include 'files/download_file_list.html' %}
                </tbody>
                {% else %}
                <tr>
                 <td colspan="5"><h1 id="no">No Records Found</h1></td>
                </tr>
                {% endif %}
        </table>
</div>
{% if files %}
<div class="mypage">
  {% include 'files/pagination.html' %}
</div>
{% endif %}
<div class="modal fade" id="modal-book">
  <div class="modal-dialog">
    <div class="modal-content"></div>
  </div>
</div>
{% else %}
  You are not logged in.
{% endif %}
<script type="text/javascript">
  $('#yy').attr('readonly', 'readonly');
  $('#ye').attr('readonly', 'readonly');	

  $('#more_search').on('keyup', function() {
    if ($(this).val()){

      var val = this.value;
    }else{

      var val='0'
    }

    var url = $(this).attr("data-url");

    $.ajax({
            url: url,
            data:{
              'searchVal' : val
            },

            success: function (data) {
              if (data.form_is_valid) {

                $("#book-table tbody").html(data.html_book_list);
                $(".mypage").html(data.page_div);
              }
              else {

                $("#modal-book .modal-content").html(data.html_form);
              }
            }
          });
          return false;
  });

</script>
<script type="text/javascript" src="{% static 'js/my.js' %}"></script>
<script src="{% static 'javascript/download_scripts.js' %}"></script>
{% endblock %}
