
{% if files %}
{% for file in files %}
    <tr>

        <td> {{ file.fields.srNo }} </td>
        <td> {{ file.fields.username }} </td>
        <td> {{ file.fields.download }} </td>
        <td> {{ file.fields.ip_address }} </td>
        <td> {{ file.fields.download_at }} </td>
    </tr>
{% endfor %}
{% else %}
  <tr>
    <td colspan="6"><h1 id="no">No Records Found</h1></td>
  </tr>
{% endif %}
