{% load staticfiles %}
{% load i18n %}
<title> {% block title %} Encrypt Document {% endblock %} </title>
{% if files %}

{% for file in files %}
    <tr>
      <td>{{ file.fields.srNo }}</td>
      <td>{{ file.fields.Uploader }}</td>
      <td> {{ file.fields.Filename }}</td>
        <td> {{ file.fields.file_type }}</td>
      <td>
           <a data-toggle="tooltip" title="Download Record" data-placement="bottom" data-cities-url="{% url 'DMS:download' file.pk 'user_files' %}" class ="btn btn-primary btn-sm btn_download" name={{file.pk}}>
	  <i class='fa fa-download'></i>
          </a>
     </td>
        <td> <a data-form-data="{{file.fields.is_encrypted}}" title="{% if file.fields.is_encrypted %} Decrypt File {% else %} Encrypt File {% endif %}" class="btn {% if file.fields.is_encrypted %} btn-danger {% else %} btn-primary {% endif %} btn-sm btn-encrypt"
                data-url="{% url 'DMS:encrypt_document' file.pk %}"><i class="fa fa-shield"></i>
             </a>
        </td>
    </tr>
{% endfor %}

<script src="{% static 'js/my.js' %}"></script>
{% else %}
  <tr>
    <td colspan="6"><h1 id="no">{% trans 'No Records Found' %}</h1></td>
  </tr>


{% endif %}
<script src="{% static 'javascript/fav_shared_button.js' %}"></script>
<script src="{% static 'javascript/notification.js' %}"></script>
