{% for file in files %}
    <tr>
        <td>{{ file.fields.srNo }}</td>
        <td> {{ file.fields.history_user  }} </td>
        <td> {{ file.fields.username }} </td>
        <td> {{ file.fields.Filename }} </td>
        <td> {{ file.fields.file_type }} </td>
        <td> {{ file.fields.history_date  }} </td>
        <td> {% if file.fields.history_type == '+' %} Added {% elif file.fields.history_type == '-' %} Deleted
                {% endif %}</td>
    </tr>
{% endfor %}
