
{% for task in files %}
      <tr>
          <td> {{ task.fields.srNo }} </td>
          <td> {{ task.fields.user }} </td>
          <td> {{ task.fields.file }} </td>
          <td> {{ task.fields.requested_user }} </td>
          <td> {{ task.fields.timestamp }} </td>
          <td> {{ task.fields.status }} </td>
        <td>
            <button type="button" class="btn btn-primary btn-sm fa fa-edit modal_type" title="Edit Record" data-url="{% url 'DMS:for_approval' task.pk %}">Edit
              </button>
        </td>
    </tr>
{% endfor %}
