{% load i18n %} 
<title> Sticky Notes </title>
<style>
    .hideme{
        display : none;
    }

</style>

<ul style="display: contents;">
      {% for note in notes %}

    <li>
          <div class="note hide_class_{{note.pk}}">
                <p style="border-bottom:1px solid black"><a title="Edit Note" data-cities-url="{%url 'DMSapp:edit_sticky_notes' note.pk %}" data-index="{{note.pk}}" class="edit-btn"><i style="color:grey" class="abc fa fa-lg fa-edit "></i></a>
               <b><label style="font-size:18px;"> {{note.created_at }}</label></b>

                <a style="float:right" title="Delete Note" data-cities-url="{%url 'DMSapp:delete_sticky_notes' note.pk %}" data-index="{{note.pk}}" class="remove-btn"><i style="color:grey" class="abc fa fa-close"></i></a></p>
                <div class="note_cnt">
                    <h6><strong>{{ note.title}}</strong></h6>
                    <p>{{ note.note}}</p>
                     <p class="pull-right">-<i>{{ note.created_by }}</i></p>
                </div>
          </div>


          <div class="hideme" id="my_{{note.pk}}">

        </div>
     </li>

  {% endfor %}

    </ul>

{% include 'files/sticky_notes_form.html' %}


<script>
    $(function() {
       $('.remove-btn').on('click', function(e) {
       var url = $(this).attr('data-cities-url');
       var isValid = isConfirm(e, url);

        return false;
     });
  });

   $('.edit-btn').on('click',function (){
        var id = $(this).attr('data-index')
        var url = $(this).attr('data-cities-url')
        $.ajax({
               url: url,
               type : 'GET',
               success:  function (data) {
                   if (data){
                        $(".hide_class_" + id).hide();

                        $("#my_" + id).html(data.html_sticky_form);
                        $("#my_" + id).show();
                   }
               }

              });
              return false;
   });

  function isConfirm(e, url) {
   swal({
         title: "Are you sure?",
         text: "You will not be able to recover this Note!",
         type: "warning",
         showCancelButton: true,
         confirmButtonClass: "btn-warning",
         confirmButtonText: "Yes, delete it!",
         cancelButtonText: "No, cancel plx!",
         closeOnConfirm: false,
         closeOnCancel: false
       },
       function(isConfirm){
           if(isConfirm){
               $.ajax({
                   url: url,
                   success:  function (data) {
                       swal("Deleted!", "Your note has been deleted.", "success");
                       $("#note-id-0").html(data.html_book_list);
                   }

                  });
           }
           else{
           swal("Cancelled", "Your note is safe :)", "error");
           }
       }
)}


</script>

