{% extends 'header.html' %}
{% load staticfiles %}
{% load i18n %}
{% block body_block %}
<title> Notification Request </title>
{% if user.is_authenticated %}
<style>
    a
    {
    text-decoration:underline;
    }
</style>
<br/>

<div class="breadcrumb_dms">
        <nav>
            <ol class="breadcrumb breadcrumb_lbl">
                <li class="breadcrumb-item"><a href="{% url 'DMS:home' %}">{% trans 'Home' %}</a></li>
				<li class="breadcrumb-item"><a href="{%url 'DMS:notification_files' %}">{% trans 'Notifications' %}</a></li>
				<li class="breadcrumb-item active">{% trans 'Notifications Request' %}</li>
            </ol>
        </nav>
    </div>

<p class="breadcrumb accord">{% trans 'Notifications Request' %}</p>
<div class="table-responsive">
<table id="notification_list" class = 'table table-bordered table-hover table-striped'>
   <thead class='table-info text-center'>
        <tr>
            <th> {% trans 'Sr. No.' %} </th>
            <th> {% trans 'Notification' %}  </th>
            <th> {% trans 'File' %} </th>
        </tr>
    </thead>
    <tbody class="text-center">
    {% for notif in notification %}
        <tr>
            <td> {{ forloop.counter }} </td>
            {% for value in notif %}
                {% if request.user.is_superuser %}
            <td> {{ value.user.username}} has requested to share filename <strong>{{ value.file.Filename }}</strong> to {{ value.requested_user.username }} </td>
            <td> <a href="{{value.file.File1.url }}" > {{ value.file.Filename }} </a> </td>
                {% else %}
            <td> {{ value.user.username}} has shared a filename <strong>{{ value.file.Filename }}</strong> with you </td>
             <td> <a href="{{value.file.File1.url }}" data-toggle="tooltip" title="View Document" > {{ value.file.Filename }} </a> </td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
</tbody>
    </table>
</div>

{% else %}
You are not Logged In. Please login
{% endif %}

{% endblock %}
