{% extends 'header.html' %}
{% block body_block %}
{% load i18n %}
{% load staticfiles %}
<title> Notification Request </title>
{% if user.is_superuser %}
<style>
        .a1
        {
        font-weight: bold;
        }
        tr,table,td,th
        {
        border:1px solid black
        }
        #no{
          color:gray;
          padding-left: 361px;

        }
</style>
<br/>
<div class="breadcrumb_dms">
        <nav>
            <ol class="breadcrumb breadcrumb_lbl">
                <li class="breadcrumb-item"><a href="{% url 'DMS:home' %}">{% trans 'Home' %}</a></li>
				<li class="breadcrumb-item"><a href="{%url 'DMS:notification_files' %}">{% trans 'Notifications' %}</a></li>
				<li class="breadcrumb-item active">{% trans 'Notification Request' %}</li>
            </ol>
        </nav>
    </div>

<p class="breadcrumb accord">{% trans 'Notification Request' %}</p>

<div class="table-responsive">
<table id="book-table" class = 'table table-bordered table-hover table-striped'>
    <thead class="table-info text-center">
        <tr>
            <th> {% trans 'Sr No.' %} </th>
            <th> {% trans 'Notification' %}  </th>
            <th> {% trans 'Status' %} </th>
        </tr>
    </thead>
    {% if files %}
    <tbody class="text-center">
      {% include 'other_files/notifications_request_list.html' %}
    </tbody>
    {% else %}
     <tr>
      <td colspan="3"><h1 id="no">No Records Found</h1></td>
     </tr>
    {% endif %}


    </table>
</div>
{% if files %}
<div class="mypage">
    {% include 'files/pagination.html' %}
</div>
{% endif %}
<div class="modal fade" id="modal-book">
      <div class="modal-dialog">
        <div class="modal-content"></div>
      </div>
    </div>
  </div>
{% endif %}

                {% if messages %}
                    {% for message in messages %}
                      <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                        {{ message }}
                      </div>
                    {% endfor %}
                {% endif %}

<script src="{% static 'javascript/notification.js' %}"></script>
{% endblock %}
