{% extends 'header.html' %}
{% block body_block %}
{% load i18n %}
{% load staticfiles %}
    <title> Account Opening Approval </title>
<style>
        .a1
        {
        font-weight: bold;
      /*  background:bisque;
       */
}
        tr,table,td,th
        {
        border:1px solid black
        }
        #no{
          color:gray;

        }
</style>
<br/>

<div class="breadcrumb_dms">
        <nav>
            <ol class="breadcrumb breadcrumb_lbl">
                <li class="breadcrumb-item"><a href="{% url 'DMS:home' %}">{% trans 'Home' %}</a></li>
				<li class="breadcrumb-item"><a href="{%url 'DMS:notification_files' %}">{% trans 'Notifications' %}</a></li>
				<li class="breadcrumb-item active">{% trans 'Notification Request' %}</li>
            </ol>
        </nav>
    </div>

<p class="breadcrumb accord">{% trans 'Notification Request' %}</p>

<div class="table-responsive">
<table id="notification_list" class = 'table table-bordered table-hover table-striped'>
    <thead class="table-info text-center" >
        <tr>
            <th> Sr No. </th>
            <th> Notification  </th>
            <th> Status </th>
            <th> Delete </th>
            <th> Link </th>
       </tr>
    </thead>
    <tbody class="text-center">
        {% include 'other_files/delete_notification.html' %}
    </tbody>
    </table>
    {% if files %}
     <div class="mypage">
        {% include 'files/pagination.html' %}
      </div>
      {% endif %}
</div>


                {% if messages %}
                    {% for message in messages %}
                      <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                        {{ message }}
                      </div>
                    {% endfor %}
                {% endif %}

{% endblock %}
