{% extends 'header.html' %}
{% load staticfiles %}
{% load i18n %}
{% block body_block %}
<title> {% block title %} Users Report {% endblock %}</title>
{% if user.is_authenticated %}
  <head>
      <!-- <script src= "https://cdn.zingchart.com/zingchart.min.js"></script> -->
      <script src="{% static 'js/zingchart.min.js' %}"></script>
      <style>
        tr,td{
          border:1px solid black
        }
        .a1
        {
        text-decoration:underline;
        font-weight:bold;
        }
        </style>
  </head>

  <br/>


<div class="breadcrumb_dms">
        <nav>
            <ol class="breadcrumb breadcrumb_lbl">
                <li class="breadcrumb-item"><a href="{% url 'DMS:home' %}">{% trans 'Home' %}</a></li>
				<li class="breadcrumb-item"><a href="{% url 'DMS:reports' %}">{% trans 'Reports' %}</a></li>
				<li class="breadcrumb-item active">{% trans 'Other User Info' %}</li>
            </ol>
        </nav>
    </div>

    <p class="breadcrumb accord">{% trans 'Users Report' %}</p>

<div style="height:400px" class="table-responsive">
  <table style="width:100%">
    <tr>

      <td style="width:40%">
       {% for value in all_users %}
          <a href='#' class="reports_class a1" data-url="{% url 'DMS:reports_of_user' value.id %}" id="{{value.username}}">{{ value }}</a><br>
       {% endfor %}
      </td>
    <td style="width:60%;text-align:left" >
        <div id="user_info">
      </div>
    </td>
    </tr>
    </table>
    </div>




<script src="{% static 'javascript/reports_of_all_users.js' %}"></script>


{% endif %}
{% endblock %}
