{% load staticfiles %}
{% if user.is_authenticated %}
<head>
<style>
  .pag_fa
  {color: #308286;}

</style>
</head>
{% if files %}
<ul class="pagination">
{% if files.has_previous %}
    <li class="page-item"><a class="page-link vivo" href="?page={{ files.previous_page_number }}"><span class="fa fa-chevron-left pag_fa"></span></a></li>
{% else %}
    <li class="disabled page-item"><span class="page-link fa fa-chevron-left pag_fa"></span></li>
{% endif %}

{% if files.number|add:'-3' > 1 %}
    <li class="page-item"><a class="page-link oppo" href="?page={{ files.number|add:'-4' }}">&hellip;</a></li>
{% endif %}

{% for i in files.paginator.page_range %}
    {% if files.number == i %}
        <li class="active page-item"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
    {% elif i > files.number|add:'-4' and i < files.number|add:'4' %}
        <li class="page-item"><a class="page-link oppo" href="?page={{ i }}">{{ i }}</a></li>
    {% endif %}
{% endfor %}

{% if files.paginator.num_pages > files.number|add:'3' %}
    <li class="page-item"><a class="page-link oppo" href="?page={{ files.number|add:'4' }}">&hellip;</a></li>
{% endif %}

{% if files.has_next %}
    <li class="page-item"><a class="page-link redmi fa fa-chevron-right pag_fa" href="?page={{ files.next_page_number }}"></a></li>
{% else %}
    <li class="disabled page-item"><span class="page-link fa fa-chevron-right pag_fa"></span></li>
{% endif %}

</ul>
{% endif %}

<script type="text/javascript">
  function diffDays(date1, date2)
    {
      console.log("HELLO calculating date")

      date1 = date1.split('-');
      dd = date1[0]
      mm = date1[1]
      yyyy = date1[2]

      new_date1 = mm+'-'+dd+'-'+yyyy
      date2 = date2.split('-');
      dd1 = date2[0]
      mm1 = date2[1]
      yyyy1 = date2[2]
      new_date2 = mm1+'-'+dd1+'-'+yyyy1

      date1 = new Date(new_date1);
      date2 = new Date(new_date2);
      var res = Math.abs(date1 - date2) / 1000;
      var days = Math.floor(res / 86400);
      return days;

    }
  $(".oppo").click(function (){

    console.log("OPPO")
    var conceptName = $('#changeId').find(":selected").text();
    var page = $(this).attr('href');
    var page_no = page.split('=')[1]
    var search = $(".mr-sm-2").attr('value')
    var url = $(".mr-sm-2").attr('data-url')
    var meta_search = $('#data_meta_search').val();
    var meta_url = $('.bulk_search').attr('data-cities-url');
    if (meta_search){
        function padNumber(number) {
            var string  = '' + number;
            string      = string.length < 2 ? '0' + string : string;
            return string;
        }
        var fromDate = $('#calendar').val();
        var toDate = $('#calendar1').val();

        var To_Date = toDate.split('-');
        dd = To_Date[0]
        mm = To_Date[1]
        yyyy = To_Date[2]
        var To_Date = yyyy+'-'+mm+'-'+dd
        To_Date = new Date(To_Date);
        next_date = new Date(To_Date.setDate(To_Date.getDate() + 1));
        formatted = next_date.getUTCFullYear() + '-' + padNumber(next_date.getUTCMonth() + 1) + '-' + padNumber(next_date.getUTCDate())
        var t_date = formatted.split('-')
        dd = t_date[2]
        mm = t_date[1]
        yyyy = t_date[0]
        var toDate = dd+'-'+mm+'-'+yyyy

        var nDays = diffDays(fromDate, toDate);
        if ( nDays >31){
            $('#range-msg').show();
        }else{


            $.ajax({
            url: meta_url,

            data:{
            'search_text':meta_search,
            'fromDate': fromDate,
            'toDate': toDate,
            'page':page_no,
            },

            success: function (data) {
              $("#book-table tbody").html(data.html_book_list);
              $(".mypage").html(data.page_div);

            }
          });
          return false;
         }
    }
    if(search){
      console.log("HGFYTR");
      $.ajax({
        url: url,
        data:{

          'page':page_no,
          'searchFOR':search
        },

        success: function (data) {
          if (data.form_is_valid) {

            $("#book-table tbody").html(data.html_book_list);
            $(".mypage").html(data.page_div);
          }
          else {

            $("#modal-book .modal-content").html(data.html_form);
          }
        }
      });
      return false;
    }
    if (conceptName === 'Date'){
      var url = $("#personForm").attr("data-cities-url");
      var fromDate = $('#yy').val();
      var toDate = $('#ye').val();
      if (fromDate || toDate ){
        console.log("oopo date");
        $.ajax({
          url: url,
          data:{
            'optionValue': '1',
            'page':page_no,
            'fDate':fromDate,
            'tDate':toDate
          },

          success: function (data) {
            if (data.form_is_valid) {

              $("#book-table tbody").html(data.html_book_list);
              $(".mypage").html(data.page_div);
            }
            else {

              $("#modal-book .modal-content").html(data.html_form);
            }
          }
        });
        return false;
      }else{
        console.log("oopo not date");
        $.ajax({
          url: url,
          data:{
            'optionValue': '0',
            'page':page_no,
            'fDate':'0',
            'tDate':'0'
          },

          success: function (data) {
            if (data.form_is_valid) {

              $("#book-table tbody").html(data.html_book_list);
              $(".mypage").html(data.page_div);
            }
            else {

              $("#modal-book .modal-content").html(data.html_form);
            }
          }
        });
        return false;
      }

    }else if (conceptName === 'File Type'){

      var url = $("#personForm").attr("data-cities-url");
      var FileType = $('#myfilter').find(":selected").text();
      console.log('FileType',FileType);
      var fromDate = $('#G1').val();
      var toDate = $('#G2').val();
      if (FileType === 'PDF'){
        newoption='11'
      }else if(FileType === 'Excel'){
        newoption='12'
      }else if(FileType === 'Word'){
        newoption='13'
      }else if(FileType === 'TEXT'){
        newoption='14'
      }else if(FileType === 'IMAGES'){
        newoption='15'
      }else if(FileType === 'All TYPES'){
        newoption='10'
      }
      if (fromDate || toDate){
        $.ajax({
          url: url,
          data:{
            'optionValue': '2',
            'page': page_no,
            'newoption': newoption,
            'newfromDate':fromDate,
            'newtoDate':toDate

          },

          success: function (data) {
            if (data.form_is_valid) {

              $("#book-table tbody").html(data.html_book_list);
              $(".mypage").html(data.page_div);
            }
            else {

              $("#modal-book .modal-content").html(data.html_form);
            }
          }
        });
        return false;
      }else{
        $.ajax({
          url: url,
          data:{
            'optionValue': '2',
            'page': page_no,
            'newoption': newoption,
            'newfromDate':'0',
            'newtoDate':'0'

          },

          success: function (data) {
            if (data.form_is_valid) {

              $("#book-table tbody").html(data.html_book_list);
              $(".mypage").html(data.page_div);
            }
            else {

              $("#modal-book .modal-content").html(data.html_form);
            }
          }
        });
        return false;
      }


    }else if (conceptName === 'All'){
      var url = $("#personForm").attr("data-cities-url");
      $.ajax({
        url: url,
        data:{
          'optionValue': '0',
          'page':page_no,
          'fDate':'0',
          'tDate':'0'
        },

        success: function (data) {
          if (data.form_is_valid) {

            $("#book-table tbody").html(data.html_book_list);
            $(".mypage").html(data.page_div);
          }
          else {

            $("#modal-book .modal-content").html(data.html_form);
          }
        }
      });
      return false;
    }
  });
  $(".vivo").click(function (){
    console.log("VIVO")
    var conceptName = $('#changeId').find(":selected").text();
    var page = $(this).attr('href');
    var page_no = page.split('=')[1]
    var search = $(".mr-sm-2").attr('value')
    var url = $(".mr-sm-2").attr('data-url')
    var meta_search = $('#data_meta_search').val();
    var meta_url = $('.bulk_search').attr('data-cities-url');
    if (meta_search){
        function padNumber(number) {
            var string  = '' + number;
            string      = string.length < 2 ? '0' + string : string;
            return string;
        }
        var fromDate = $('#calendar').val();
        var toDate = $('#calendar1').val();

        var To_Date = toDate.split('-');
        dd = To_Date[0]
        mm = To_Date[1]
        yyyy = To_Date[2]
        var To_Date = yyyy+'-'+mm+'-'+dd
        To_Date = new Date(To_Date);
        next_date = new Date(To_Date.setDate(To_Date.getDate() + 1));
        formatted = next_date.getUTCFullYear() + '-' + padNumber(next_date.getUTCMonth() + 1) + '-' + padNumber(next_date.getUTCDate())
        var t_date = formatted.split('-')
        dd = t_date[2]
        mm = t_date[1]
        yyyy = t_date[0]
        var toDate = dd+'-'+mm+'-'+yyyy

        var nDays = diffDays(fromDate, toDate);
        if ( nDays >31){
            $('#range-msg').show();
        }else{


            $.ajax({
            url: meta_url,

            data:{
            'search_text':meta_search,
            'fromDate': fromDate,
            'toDate': toDate,
            'page':page_no,
            },

            success: function (data) {
              $("#book-table tbody").html(data.html_book_list);
              $(".mypage").html(data.page_div);

            }
          });
          return false;
         }


    }
    if(search){
      console.log("HGFYTR");
      $.ajax({
        url: url,
        data:{

          'page':page_no,
          'searchFOR':search
        },

        success: function (data) {
          if (data.form_is_valid) {

            $("#book-table tbody").html(data.html_book_list);
            $(".mypage").html(data.page_div);
          }
          else {

            $("#modal-book .modal-content").html(data.html_form);
          }
        }
      });
      return false;
    }
    if (conceptName === 'Date'){
      var url = $("#personForm").attr("data-cities-url");
      var fromDate = $('#yy').val();
      var toDate = $('#ye').val();
      if (fromDate || toDate ){
        console.log("vivo date");
        $.ajax({
          url: url,
          data:{
            'optionValue': '1',
            'page':page_no,
            'fDate':fromDate,
            'tDate':toDate
          },

          success: function (data) {
            if (data.form_is_valid) {

              $("#book-table tbody").html(data.html_book_list);
              $(".mypage").html(data.page_div);
            }
            else {

              $("#modal-book .modal-content").html(data.html_form);
            }
          }
        });
        return false;
      }else{
        console.log("vivo not date");
        $.ajax({
          url: url,
          data:{
            'optionValue': '0',
            'page':page_no,
            'fDate':'0',
            'tDate':'0'
          },

          success: function (data) {
            if (data.form_is_valid) {

              $("#book-table tbody").html(data.html_book_list);
              $(".mypage").html(data.page_div);
            }
            else {

              $("#modal-book .modal-content").html(data.html_form);
            }
          }
        });
        return false;
      }

    }else if (conceptName === 'File Type'){
      var url = $("#personForm").attr("data-cities-url");
      var fromDate = $('#G1').val();
      var toDate = $('#G2').val();
      var FileType = $('#myfilter').find(":selected").text();
      if (FileType === 'PDF'){
        newoption='11'
      }else if(FileType === 'Excel'){
        newoption='12'
      }else if(FileType === 'Word'){
        newoption='13'
      }else if(FileType === 'TEXT'){
        newoption='14'
      }else if(FileType === 'IMAGES'){
        newoption='15'
      }else if(FileType === 'All TYPES'){
        newoption='10'
      }
      if (fromDate || toDate){
        $.ajax({
          url: url,
          data:{
            'optionValue': '2',
            'page': page_no,
            'newoption': newoption,
            'newfromDate':fromDate,
            'newtoDate':toDate

          },

          success: function (data) {
            if (data.form_is_valid) {

              $("#book-table tbody").html(data.html_book_list);
              $(".mypage").html(data.page_div);
            }
            else {

              $("#modal-book .modal-content").html(data.html_form);
            }
          }
        });
        return false;
      }else{
        $.ajax({
          url: url,
          data:{
            'optionValue': '2',
            'page': page_no,
            'newoption': newoption,
            'newfromDate':'0',
            'newtoDate':'0'

          },

          success: function (data) {
            if (data.form_is_valid) {

              $("#book-table tbody").html(data.html_book_list);
              $(".mypage").html(data.page_div);
            }
            else {

              $("#modal-book .modal-content").html(data.html_form);
            }
          }
        });
        return false;
      }
    }else if (conceptName === 'All'){
      var url = $("#personForm").attr("data-cities-url");
      $.ajax({
        url: url,
        data:{
          'optionValue': '0',
          'page':page_no,
          'fDate':'0',
          'tDate':'0'
        },

        success: function (data) {
          if (data.form_is_valid) {

            $("#book-table tbody").html(data.html_book_list);
            $(".mypage").html(data.page_div);
          }
          else {

            $("#modal-book .modal-content").html(data.html_form);
          }
        }
      });
      return false;
    }
  });
  $(".redmi").click(function (){
    console.log("REDMI")
    var conceptName = $('#changeId').find(":selected").text();
    var page = $(this).attr('href');
    var page_no = page.split('=')[1]
    var search = $(".mr-sm-2").attr('value')
    var url = $(".mr-sm-2").attr('data-url')
    var meta_search = $('#data_meta_search').val();
    var meta_url = $('.bulk_search').attr('data-cities-url');
    if (meta_search){
        function padNumber(number) {
            var string  = '' + number;
            string      = string.length < 2 ? '0' + string : string;
            return string;
        }
        var fromDate = $('#calendar').val();
        var toDate = $('#calendar1').val();

        var To_Date = toDate.split('-');
        dd = To_Date[0]
        mm = To_Date[1]
        yyyy = To_Date[2]
        var To_Date = yyyy+'-'+mm+'-'+dd
        To_Date = new Date(To_Date);
        next_date = new Date(To_Date.setDate(To_Date.getDate() + 1));
        formatted = next_date.getUTCFullYear() + '-' + padNumber(next_date.getUTCMonth() + 1) + '-' + padNumber(next_date.getUTCDate())
        var t_date = formatted.split('-')
        dd = t_date[2]
        mm = t_date[1]
        yyyy = t_date[0]
        var toDate = dd+'-'+mm+'-'+yyyy

        var nDays = diffDays(fromDate, toDate);
        if ( nDays >31){
            $('#range-msg').show();
        }else{


            $.ajax({
            url: meta_url,

            data:{
            'search_text':meta_search,
            'fromDate': fromDate,
            'toDate': toDate,
            'page':page_no,
            },

            success: function (data) {
              $("#book-table tbody").html(data.html_book_list);
              $(".mypage").html(data.page_div);

            }
          });
          return false;
         }
    }
    if(search){
      console.log("HGFYTR");
      $.ajax({
        url: url,
        data:{

          'page':page_no,
          'searchFOR':search
        },

        success: function (data) {
          if (data.form_is_valid) {

            $("#book-table tbody").html(data.html_book_list);
            $(".mypage").html(data.page_div);
          }
          else {

            $("#modal-book .modal-content").html(data.html_form);
          }
        }
      });
      return false;
    }
    if (conceptName === 'Date'){
      var url = $("#personForm").attr("data-cities-url");
      var fromDate = $('#yy').val();
      var toDate = $('#ye').val();
      if (fromDate || toDate ){
        console.log("redmi date");
        $.ajax({
          url: url,
          data:{
            'optionValue': '1',
            'page':page_no,
            'fDate':fromDate,
            'tDate':toDate
          },

          success: function (data) {
            if (data.form_is_valid) {

              $("#book-table tbody").html(data.html_book_list);
              $(".mypage").html(data.page_div);
            }
            else {

              $("#modal-book .modal-content").html(data.html_form);
            }
          }
        });
        return false;
      }else{
        console.log("redmi not date");
        $.ajax({
          url: url,
          data:{
            'optionValue': '0',
            'page':page_no,
            'fDate':'0',
            'tDate':'0'
          },

          success: function (data) {
            if (data.form_is_valid) {

              $("#book-table tbody").html(data.html_book_list);
              $(".mypage").html(data.page_div);
            }
            else {

              $("#modal-book .modal-content").html(data.html_form);
            }
          }
        });
        return false;
      }

    }else if (conceptName === 'File Type'){
      var url = $("#personForm").attr("data-cities-url");
      var fromDate = $('#G1').val();
      var toDate = $('#G2').val();
      var FileType = $('#myfilter').find(":selected").text();
      if (FileType === 'PDF'){
        newoption='11'
      }else if(FileType === 'Excel'){
        newoption='12'
      }else if(FileType === 'Word'){
        newoption='13'
      }else if(FileType === 'TEXT'){
        newoption='14'
      }else if(FileType === 'IMAGES'){
        newoption='15'
      }else if(FileType === 'All TYPES'){
        newoption='10'
      }
      if (fromDate || toDate){
        $.ajax({
          url: url,
          data:{
            'optionValue': '2',
            'page': page_no,
            'newoption': newoption,
            'newfromDate':fromDate,
            'newtoDate':toDate

          },

          success: function (data) {
            if (data.form_is_valid) {

              $("#book-table tbody").html(data.html_book_list);
              $(".mypage").html(data.page_div);
            }
            else {

              $("#modal-book .modal-content").html(data.html_form);
            }
          }
        });
        return false;
      }else{
        $.ajax({
          url: url,
          data:{
            'optionValue': '2',
            'page': page_no,
            'newoption': newoption,
            'newfromDate':'0',
            'newtoDate':'0'

          },

          success: function (data) {
            if (data.form_is_valid) {

              $("#book-table tbody").html(data.html_book_list);
              $(".mypage").html(data.page_div);
            }
            else {

              $("#modal-book .modal-content").html(data.html_form);
            }
          }
        });
        return false;
      }
    }else if (conceptName === 'All'){
      var url = $("#personForm").attr("data-cities-url");
      $.ajax({
        url: url,
        data:{
          'optionValue': '0',
          'page':page_no,
          'fDate':'0',
          'tDate':'0'
        },

        success: function (data) {
          if (data.form_is_valid) {

            $("#book-table tbody").html(data.html_book_list);
            $(".mypage").html(data.page_div);
          }
          else {

            $("#modal-book .modal-content").html(data.html_form);
          }
        }
      });
      return false;
    }
  });
</script>

{% endif %}
