{% if user.is_authenticated %}
{% load i18n %}
    <form method="post" action="{% url 'DMS:for_approval' task.id %}" enctype="multipart/form-data" id="form-id" autocomplete="off">
    {%csrf_token%}
        <div class="modal-header">
            <h4 class="modal-title">{% trans 'Change Permission' %}</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
        {% for field in form %}
        {{ field.label_tag }}
        {{ field }}
        <br>
        <br>
        {% endfor %}
        </div>
        <div class="modal-footer">
            <input type="submit" class="btn btn-info" name="Submit" value="Submit" onclick="this.form.submit();this.value='Submiting...';">
            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
        </div>

    </form>

{% else %}
 You are not logged in.
{% endif %}
