{% load i18n %}
{% load staticfiles %}
<form method="post" action="{% url 'DMS:protecting_doc' file.id %}" id="{{file.pk}}" enctype="multipart/form-data" class="form-class" autocomplete="off">
    {% csrf_token %}
    <div class="modal-header">
        <h4 class="modal-title">{% if file.is_protected %}{% trans 'Remove Password' %}{% else %}{% trans 'Set Password' %}{% endif %}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
    {{ pdf_file }}
    <br>
    <input type="password" name="password" required>
    <input type="submit" class="btn btn-info btn-password1" data-cities-url="#" name="Submit" value="{% trans 'Submit' %}">
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">{% trans 'Close' %}</button>
    </div>
</form>


<script src="{% static 'javascript/fav_shared_button.js' %}"></script>
