
{% load staticfiles %}
<head>
    <style>

     #wrong-msg{
        display :none;
        color : red;
     }
    </style>

</head>
<form id="delete_form_id" autocomplete="off">
    {% csrf_token %}
    <div class="modal-header">
        <h4 class="modal-title">Enter Password</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <h6 style="color:red;">This File is Protected. Kindly Enter Password.</h6>
    <br>
    <input type="password" name="password" id="password"  required>
    <input type="button" class="btn btn-info btn-password1" value="Submit">
    </div>

    <div class="modal-footer">
        <span id="wrong-msg">Wrong Password</span>
    </div>
</form>

<script>
    $('.btn-password1').on('keypress click',function (e){

       var url = '/check_protection/{{file_id}}/';

       if (e.which === 13 || e.type === 'click') {
       $.ajax({
           url: url,
           type: 'GET',
           data:{'pass': $('#password').val()},
           dataType: 'json',

           success: function (data) {
             if (data['is_matched']){
                SweetAlert.close();
                swal("Done!", "File Replaced Successfully.", "success");

                var formData = new FormData($("#this-form")[0]);
                swal({

                    title: "Success",
                    text: "File Replaced Successfully",
                    icon: "success",
                    showConfirmButton: true


                }, function() {
                    location.reload();
                })


                $.ajax({
                    type:'POST',
                    url :'/replace_file/',
                    data : formData,
                    processData: false,
                    contentType: false,

                    });
                    }
             else{
               $('#wrong-msg').show();
             }
                    }
                    });
           }

           });
</script>
