{% extends 'header.html' %}
{% load staticfiles %}
{% load i18n %}
{% block body_block %}
<title> Search Documents</title>
<head>
  <style>
    #no{
      color:gray;
    }
  </style>
</head>
{% if user.is_authenticated %}
<br/>


<div class="breadcrumb_dms">
        <nav>
            <ol class="breadcrumb breadcrumb_lbl">
                <li class="breadcrumb-item"><a href="{% url 'DMS:home' %}">{% trans 'Home' %}</a></li>
				<li class="breadcrumb-item active">{% trans 'Search Documents' %}</li>
            </ol>
        </nav>
    </div>

<p class="breadcrumb accord"><a href="{% url 'DMS:search_files' user.pk %}">{% trans 'Search Documents' %}</a></p>
<div style="float:left;padding-bottom:1rem">
  <form class="form-inline" autocomplete="off">
      <input class="form-control mr-sm-2" type="text" style="width: 352px;" placeholder="{% trans 'Search By Filename or Uploader Name' %}" value="{{searchfor}}" aria-label="Search" name="searchMe" id="more_search" data-url="{% url 'DMS:search_files' user.pk %}">
  </form>
</div>

<div class="table-responsive">
    <table id="book-table" class = 'table table-bordered table-hover table-striped' >
      <thead class='table-info text-center' >

    <tr>

      <th>{% trans 'Sr. No.' %}</th>
      <th>{% trans 'Uploader' %}</th>
      <th>{% trans 'File Name' %}</th>
      <th>{% trans 'File Type' %}</th>
      <th>{% trans 'View' %}</th>
      <th>{% trans 'Download' %}</th>
      <th>{% trans 'Uploaded At' %} </th>
      <th>{% trans 'Delete' %} </th>
      <th>{% trans 'Size' %} </th>
      <th>{% trans 'Fav' %} </th>
      <th>{% trans 'Share' %} </th>
      <th>{% trans 'Protect' %} </th>

    </tr>
    </thead>
    <tbody class="text-center">

      {% include 'files/user_files_table.html' %}

    </tbody>
  </table>
  <div class="mypage">
    {% include 'files/pagination.html' %}
  </div>

  <div class="modal fade" id="modal-book">
    <div class="modal-dialog">
      <div class="modal-content"></div>
    </div>
  </div>



</div>
<script type="text/javascript">
  $('#more_search').on('keyup', function() {
    if ($(this).val()){

      var val = this.value;
    }else{

      var val='0'
    }
    console.log(val)
    var url = $(this).attr("data-url");
    console.log(url)
    $.ajax({
            url: url,
            data:{
              'searchVal' : val
            },

            success: function (data) {
              if (data.form_is_valid) {

                $("#book-table tbody").html(data.html_book_list);
                $(".mypage").html(data.page_div);
              }
              else {

                $("#modal-book .modal-content").html(data.html_form);
              }
            }
          });
          return false;
  });

</script>
<script type="text/javascript" src="{% static 'js/my.js' %}"></script>
{% else %}
<h2>You are not logged In</h2>
{% endif %}
{% endblock %}
