{% extends 'header.html' %}
{% load staticfiles %}

{% block body_block %}

<form method="post" enctype="multipart/form-data" autocomplete="off" >
    {%csrf_token%}
    {{form}}
    <button type="submit">Submit</button>
</form>
{% endblock %}
