{% for file in files %}

         <tr>

        <td> {{ file.fields.srNo }} </td>
            <td> {{ file.fields.user.username }} </td>
        <td> {{ file.fields.file.Filename }} {% if file.fields.file.is_protected %} <i class="fa fa-lock" style="color:red;"></i> {% endif %}</td>
        <td>
          <a data-toggle="tooltip" title="Download Record" data-placement="bottom" data-cities-url="{% url 'DMS:download' file.fields.file.pk 'user_files' %}" class ="btn btn-primary btn-sm btn_download" name={{file.fields.file.pk}}>
              <i class='fa fa-download'></i>
          </a>
        </td>

        <td> <a href="{% url 'DMS:stop_sharing' file.pk %}"  data-toggle="tooltip" title="Stop Sharing Record" data-placement="bottom" class="btn btn-primary btn-sm btn-sharing">
                 <i class="fa fa-clock-o fa-lg"></i>
             </a>
        </td>
    </tr>
{% endfor %}
