{% load staticfiles %}
<head>
    <style>

     #wrong-msg{
        display :none;
        color : red;
     }
    </style>

</head>
<form id="delete_form_id">
    {% csrf_token %}
    <div class="modal-header">
        <h4 class="modal-title">Enter Password</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <h6 style="color:red;">This File is Protected. Kindly Enter Password.</h6>
    <br>
    <input type="password" name="password" id="password"  required>
    <input type="button" class="btn btn-info btn-password1" value="Submit">
    </div>

    <div class="modal-footer">
        <span id="wrong-msg">Wrong Password</span>
    </div>
</form>
<script>
    $('.btn-password1').on('keypress click',function (e){

       var url = '/check_protection/{{file_id}}/user_files/';

       if (e.which === 13 || e.type === 'click') {
       $.ajax({
           url: url,
           type: 'GET',
           data:{'pass': $('#password').val()},
           dataType: 'json',

           success: function (data) {
             if (data['is_matched']){
                        var isValid = isConfirm(e, url);
                        $("#modal-book").modal("hide");
                        return false;
                    }
             else{
               $('#wrong-msg').show();
             }
                    }
                    });
           }

           });


    function isConfirm(e, url) {
       swal({
             title: "Share Document",
             text: "You are requesting to share your document with other People!",
             type: "warning",
             showCancelButton: true,
             confirmButtonClass: "btn-warning",
             confirmButtonText: "Yes, Share it!",
             cancelButtonText: "No, cancel plx!",
             closeOnConfirm: false,
             closeOnCancel: false
           },
           function(isConfirm){
               if(isConfirm){
                   var frm = $('#post-id');
                   e.preventDefault();
                   $.ajax({
                       type: frm.attr('method'),
                       url: frm.attr('action'),
                       data: frm.serialize(),

                       success:  function (data) {
                           swal("Shared!", "Your file has been requested for Sharing.", "success");
                       }

                      });
               }
               else{
               swal("Cancelled", "Your file is safe :)", "error");
               }
           })
}
</script>
