{% extends 'header_sharing_files.html' %}
{% load staticfiles %}
{% block share_content %}
{% load i18n %}
<div class="card bg-light text-dark">
    <div class="card-body">
    <strong>{% trans 'File Name:' %} </strong>&nbsp; {{ doc.Filename }}<br>
    <strong>{% trans 'URL:' %} </strong>&nbsp; <u><a href="{{ doc.File1.url }}" data-cities-url="{% url 'DMS:download' doc.id 'user_files' %}" style="color:red;" class="btn_link_view" name="{{ doc.File1.url }}" about="{{doc.protected}}">{{ doc.Filename }}</a></u>

<br>
<br>

<form method="post" id="post-id" action="{% url 'DMS:share_document_to_user' doc.id %}" autocomplete="off">
    {% csrf_token %}

    {% for field in form %}
    <b>{{ field.label_tag }}</b>
    {{ field }}
    {% for error in field.errors %}
    <p style="color: red">{{ error }}</p>
    {% endfor %}
    {% endfor %}

<button type="submit" class="btn-share" about={{doc.id}} name="{{doc.is_protected}}" data-cities-url="{% url 'DMS:share_document_to_user' doc.id %}"> Submit </button>


</form>
   </div>
</div>
<div class="modal fade" id="modal-book">
  <div class="modal-dialog">
    <div class="modal-content"></div>
  </div>
</div>
<script src="{% static 'javascript/fav_shared_button.js' %}"></script>

<script>


    // Executed when DOM is loaded
    $(document).ready(function() {
   // Executed when select is changed
    $("select").on('change',function() {
        var x = this.selectedIndex;

        if (x == "") {
           $(".btn-share").attr("disabled", true);
        } else {
           $(".btn-share").attr("disabled", false);
        }
    });

    // It must not be visible at first time
    $(".btn-share").attr("disabled", true);
});
</script>
{% endblock %}
