{% extends 'header_sharing_files.html' %}
{% load staticfiles %}
{% block share_content %}
<div class="card bg-light text-dark">
<div class="card-body">
 <strong>File Name: </strong>&nbsp; {{ doc.Filename }}<br>
    <strong>URL: </strong>&nbsp; <u><a href="{{ doc.File1.url }}" data-cities-url="{% url 'DMS:download' doc.id 'user_files' %}" class="btn_link_view" name="{{ doc.File1.url }}" about="{{doc.protected}}" style="color:red;" > {{ doc.Filename }}</a></u>

<br>

<form method="post" id="post-id" autocomplete="off">
    {% csrf_token %}
    {% for field in form %}
    <b>{{ field.label_tag }}</b>
    {{ field }}<br/>
    {% for error in field.errors %}
    <p style="color: red">{{ error }}</p>
    {% endfor %}
    {% endfor %}

<button type="submit" class="btn-share"> Submit </button>

</form>
</div>
 </div>

<div id="error-msg">

</div>

    {% if messages %}
        {% for message in messages %}
          <div class="alert {{ message.tags }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
          </div>
        {% endfor %}
    {% endif %}
<script src="{% static 'javascript/fav_shared_button.js' %}"></script>
{% endblock %}
