{% extends 'header.html' %}
{% load staticfiles %}
{% block body_block %}
{% load i18n %}
<title> Shared Documents </title>
<style>
    td,th
    {
    text-align:center;
    }
    #no{
     color:gray;

    }
</style>
<br/>
<div class="breadcrumb_dms">
        <nav>
            <ol class="breadcrumb breadcrumb_lbl">
                <li class="breadcrumb-item"><a href="{% url 'DMS:home' %}">{% trans 'Home' %}</a></li>
				 <li class="breadcrumb-item active"><a href="{% url 'DMS:dashboard' %}">{% trans 'Document Management' %}</a></li>
				 <li class="breadcrumb-item active">{% trans 'Shared By You' %}</li>
            </ol>
        </nav>
    </div>

    <p class="breadcrumb  accord">{% trans 'Shared Documents' %} </p>
    <table id="book-table" class = 'table table-bordered table-hover table-striped table-sm' style="white-space:nowrap">
            <thead class="table-info" >
                <tr>
                    <th> {% trans 'Sr. No.' %} </th>
                    <th> {% trans 'User' %} </th>
                    <th> {% trans 'File Name' %}  </th>
                    <th> {% trans 'File' %} </th>
                    <th> {% trans 'Stop Sharing' %} </th>
                </tr>
            </thead>
            {% if files %}
            <tbody>
              {% include 'files/shared_by_you_files.html' %}
            </tbody>
            {% else %}
              <tr>
                    <td colspan="5"><h1 id="no">No Records Found</h1></td>
                  </tr>
            {% endif %}
    </table>

{% if files %}
      <div class="mypage">
        {% include 'files/pagination.html' %}
      </div>
{% endif %}
<script src="{% static 'javascript/fav_shared_button.js' %}"></script>


{% endblock %}
