{% load i18n %}

<form method="POST" action="{% url 'DMS:notes' note_id %}" autocomplete="off">
    {% csrf_token %}
    <ul>
        <li>
              <div class="note"  >
        <p class="text-center" style="border-bottom:1px solid black;font-size:18px;"><b>
            {% if note_id != "NULL" %} Edit Note {% else %} Add New Note {% endif %}</b></p>
        <div class="note_cnt">

             <div class="row">

            <div class="form-inline">
                <div class="col-md-12 form-group">
                 {% for field in form %}
                     <span class="col-sm-2  col-form-label" >
                    {{ field.label_tag }}</span>
                    <span style="margin-bottom: 4.5%;">{{ field }}</span><br/><br/>
                    {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                    {% endfor %}
                {% endfor %}
                </div>
            </div>
            </div>
        </div>
          <div class="text-center">
          <input type="submit" class="btn btn-sm button_style" style="color:white;text-align:right" value="{% trans 'Submit' %}">
          {% if note_id != "NULL" %}
            <input type="button" class="btn btn-sm btn-danger edit-cancel_{{note_id}}" data-attr-value="{{note_id}}" style="color:white;text-align:right" value="{% trans 'Cancel' %}">
          {% else %}
            <input type="button" class="btn btn-sm btn-danger" onclick="this.form.reset();" style="color:white;text-align:right" value="{% trans 'Cancel' %}">
          {% endif %}</div>
          </div>

        </li>

    </ul>

    </form>

<script>
$('.edit-cancel_'+'{{note_id}}').on('click', function(e) {
       var id = $(this).attr('data-attr-value')
       $("#my_" + id).hide();
       $(".hide_class_" + id).show();
     });

</script>
