{% extends 'header.html' %}
{% load i18n %}
{% block body_block %}
<title> {% block title %} Total Documents {% endblock %} </title>
{% if user.is_authenticated %}
<style>
    td,th
    {
    text-align:center;
    }
</style>
<br/>
<div class="breadcrumb_dms">
        <nav>
            <ol class="breadcrumb breadcrumb_lbl">
                <li class="breadcrumb-item"><a href="{% url 'DMS:home' %}">{% trans 'Home' %}</a></li>
				 <li class="breadcrumb-item active">{% trans 'Total Documents' %}</li>
            </ol>
        </nav>
    </div>

{% if user.is_superuser %}
<p class="breadcrumb  accord">{% trans 'Total Documents Of Users' %}</p>
{% else %}
<p class="breadcrumb  accord">{% trans 'Total Documents' %}</p>
{% endif %}
{% if user.is_superuser %}
    <div class="table-responsive">
     <table id="table_list_id" class = 'table table-bordered table-hover table-striped table-sm' style="white-space:nowrap">
         <thead class="table-info">
                <tr>
	                 <th>{% trans 'Sr. No.' %}</th>
                    <th>{% trans 'User' %} </th>
                    <th> {% trans 'Number of Documents' %}</th>
                </tr>
         </thead>
         <tbody>
            {% include 'files/documents.html' %}
         </tbody>
     </table>
     </div>
     <div class="mypage">
       {% include 'files/pagination.html' %}
     </div>
     <div class="modal fade" id="modal-book">
       <div class="modal-dialog">
         <div class="modal-content"></div>
       </div>
     </div>
 {% else %}

 <b>{% trans 'Total No. of Documents:' %} {{ posts }}</b>

 {% endif %}
{% else %}
 You are not logged in.
{% endif %}
<script type="text/javascript">


  $('#more_search').on('keyup', function() {
    if ($(this).val()){

      var val = this.value;
    }else{

      var val='0'
    }

    var url = $(this).attr("data-url");

    $.ajax({
            url: url,
            data:{
              'searchVal' : val
            },

            success: function (data) {
              if (data.form_is_valid) {

                $("#table_list_id tbody").html(data.html_book_list);
                $(".mypage").html(data.page_div);
              }
              else {

                $("#modal-book .modal-content").html(data.html_form);
              }
            }
          });
          return false;
  });

</script>
{% endblock %}
