


<div class="results">

  <table class="table" id="book-table">
    <thead >
    <tr>
        <th scope="col"  class="column-__str__">
            <div class="text"><span>File upload</span></div>
            <div class="clear"></div>
        </th>
    </tr>
    <tr>

        <th>Uploader</th>
        <th>Filename</th>
        <th> File Type </th>
        <th>View</th>
        <th>Download</th>
        <th> Upload At</th>
        <th> Update</th>
        <th> Delete</th>

    </tr>
    </thead>
    <tbody>

      {% include 'files/user_files_table.html' %}

    </tbody>
  </table>
  <div class="modal fade" id="modal-book">
    <div class="modal-dialog">
      <div class="modal-content"></div>
    </div>
  </div>
</div>
