{% load staticfiles %}
{% if files %}
{% for file in files %}
{% load i18n %}

 <tr>
    <td>{{ file.fields.srNo }}</td>
    <td>{{ file.fields.Uploader }}</td>
    <td> {{ file.fields.Filename }}</td>
    <td> {{ file.fields.file_type }} </td>
    <td>
      <a data-toggle="tooltip" title="View Record" data-placement="bottom" class="btn btn-sm btn-primary btn_view" data-cities-url="{% url 'DMS:download' file.pk 'user_files' %}" name="{{file.fields.File1}}" about="{{file.fields.protected}}"><i class="fa fa-eye" aria-hidden="true"></i>
      </a>
    </td>

    <td>
      <a data-toggle="tooltip" title="Download Record" data-placement="bottom" data-cities-url="{% url 'DMS:download' file.pk 'user_files' %}" class ="btn btn-primary btn-sm btn_download" name={{file.pk}}>
          <i class='fa fa-download'></i>
      </a>
    </td>
    <td>{{file.fields.uploaded_at}}</td>
    <td>
      <a class="btn btn-danger btn-sm js-delete-file" data-url="{% url 'DMS:delete_files_files' file.pk file.fields.category %}">
            <i data-toggle="tooltip" title="Delete Record" data-placement="bottom" class="fa fa-trash"></i>
      </a>
    </td>
    <td>{{file.fields.File_size }} bytes </td>
    <td>
      <a id="{{file.pk}}" class="btn btn-info btn-sm btn-favorite" data-toggle="tooltip" title="Add as Favourite" data-placement="bottom" data-cities-url="{% url 'DMS:is_favorite' file.pk %}" >
          <i class="fav-btn-{{file.pk}} fa {%if file.fields.is_favorite%} fa-thumbs-o-up {% else %} fa-asterisk {% endif %}">
          </i>
      </a>
    </td>
     <td>
       <a class="btn btn-info btn-sm" data-toggle="tooltip" title="Share Record" data-placement="bottom" href="{% url 'DMS:share_document_to_user' file.pk %}"  class="btn btn-default btn-sm btn-share">
             <i  class="fa fa-share-alt" aria-hidden="true"></i>
         </a>
     </td>
     <td><a class="btn btn-info btn-sm btn-protect" data-url="{% url 'DMS:protecting_doc' file.pk %}">
          <i data-toggle="tooltip" title="Protect your File" data-placement="bottom" class="protect_{{file.pk}} fa {% if file.fields.is_protected %} fa-lock {% else %} fa-unlock{% endif %}" aria-hidden="true"></i></a>
     </td>
  </tr>
{% endfor %}
{% else %}
<tr>
 <td colspan="12"><h1 id="no">{% trans 'No Records Found' %}</h1></td>
</tr>
{% endif %}
<script src="{% static 'js/my.js' %}"></script>

<script>
     //Set Favorite

$(function() {
        $('.btn-favorite').on('click', function(e) {

            var self = $(this);
            var url = $(this).attr('data-cities-url');
            var id = $(this).attr('id');

            $y.getJSON(url, function(result) {
                if (result.fav) {
                    $('.fav-btn-' + id).removeClass('fa-asterisk');
                    $('.fav-btn-' + id).addClass('fa-thumbs-o-up');

                }
                if (result.not_fav) {
                    $('.fav-btn-' + id).removeClass('fa-thumbs-o-up');
                    $('.fav-btn-' + id).addClass('fa-asterisk');
                }
            });
            return false;
        });
    });
</script>

<script src="{% static 'javascript/fav_shared_button.js' %}"></script>
