{% for subject in files %}

<tr>
  <td>{{ subject.fields.srNo }}</td>
  <td> {{ subject.fields.first_name }} {{subject.fields.last_name}} </td>
  <td>{{subject.fields.username}}</td>
  <td> <a data-toggle="tooltip" title="View Profile" data-placement="bottom" href="{%url 'DMSaccount:user_profile' subject.fields.username %}" class = "fa fa-user-circle fa-lg" target = _blank></a> </td>
  <td> <a data-toggle="tooltip" title="View Document" data-placement="bottom"href="{% url 'DMS:root_files' subject.pk type subject.fields.username %}" class = "fa fa-file-text-o fa-lg" ></a> </td>
</tr>
{% endfor %}
