{% load i18n %}
{% load staticfiles %}

<form id="deleteForm" method="post" data-cities-url="{% url 'WorkflowManagement:delete_workflow' work_flow.id %}" autocomplete="off">
  {% csrf_token %}
  <div class="modal-header">
    <h4 class="modal-title">{% trans 'Confirm Workflow deletion' %}</h4>
       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p class="lead">{% trans 'Are you sure you want to delete the Workflow' %}<strong>{{ work_flow.wf_name }} </strong>?</p>
  </div>
  <div class="modal-footer">
    <input type="submit" class="btn btn-danger js-workflow-delete-form" value="{% trans 'Delete' %}">
     <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
  </div>
</form>
<script>

    $('.js-workflow-delete-form').on("click",function(){
        console.log("FREEZE");
        var url = $("#deleteForm").attr("data-cities-url");
        var search = $(".mr-sm-2").attr('value')

        if(search){
          console.log("hello HGFYTR");
          $.ajax({
            url: url,
            data:{
              'delete':'true',
              'page':'1',
              'searchFOR':search
            },

            success: function (data) {
              if (data.form_is_valid) {

                $("#book-table tbody").html(data.html_book_list);
                $(".mypage").html(data.page_div);
                $("#modal-book").modal("hide");
              }
              else {

                $("#modal-book .modal-content").html(data.html_form);
              }
            }
          });
          return false;
          }
          else{
             $.ajax({
            url: url,
            type:'GET',
            data:{
              'delete':'true',

            },
            success: function (data) {
              if (data.form_is_valid) {
                $("#book-table tbody").html(data.html_book_list);
                $(".mypage").html(data.page_div);
                $("#modal-book").modal("hide");
              }
              else {
                $("#modal-book .modal-content").html(data.html_form);
              }
            }
          });
          return false;
          }

          });

</script>
