{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scanning</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" />
    <!--<link  href="https://cdn.rawgit.com/fengyuanchen/cropper/v2.0.1/dist/cropper.min.css" rel="stylesheet">-->
    <!--<script src="https://cdn.rawgit.com/fengyuanchen/cropper/v2.0.1/dist/cropper.min.js"></script>-->
    <script src="{% static 'javascript/cropper.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/cropper.css' %}">

</head>
<body>


    <img id="crop_image" src="{{img}}" data-id="{{img}}"><br><br>

    <div id="image_loaded" data-attr-value={{image_loaded}}></div>

    <button id="crop-image">Crop</button><br><br>


    <div id="cropped-result"></div>

    <button id="crop_image_submit">Submit</button>
</body>
<script>
   <!-- var image = $('#crop_image');-->
    <!--var cropper = image.cropper({-->
            <!--aspectRatio: 16 / 9,-->
            <!--crop: function(e) {-->

              <!--}-->
          <!--});-->
        var image = document.getElementById('crop_image');
	var myCropper = new Cropper(image);
	myCropper.enable();


        $('#crop-image').on('click', function (){
            var imgURL = myCropper.crop();

	    var data2 = imgURL.getCroppedCanvas().toDataURL();

             let img = document.createElement("img");
	     img.src = data2;
             img.id = "unique_image"
	     $("#cropped-result").append(img);


            <!--let imgUrl = image.data('cropper').getCroppedCanvas().toDataURL();-->
            <!--let img = document.createElement("img");-->
            <!--img.src = imgUrl;-->
            <!--img.id = "unique_image"-->
            <!--$("#cropped-result").append(img);-->
        });

      $('#crop_image_submit').on('click', function (){

            var image_data = document.getElementById("unique_image").src;
            var image_loaded = document.getElementById("image_loaded").getAttribute("data-attr-value");

            $.post('/submit_cropped_image',
                        { image_data: image_data, image_loaded: image_loaded},
                         function(data) {
                      <!--      window.close(); -->
                        })
      });

</script>
</html>
