{% load i18n %}
{% load staticfiles %}

<form id="deleteForm" method="post" data-cities-url="{% url 'WorkflowManagement:delete_form' user_form.pk %}" autocomplete="off">
  {{work_flow.id}}
  {% csrf_token %}
  <div class="modal-header">
    <h4 class="modal-title">{% trans 'Confirm Userform deletion' %}</h4>
       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p class="lead">{% trans 'Are you sure you want to delete the <strong>{{user_form.customer_id}}</strong> for <strong>{{ user_form.workflow_id.wf_name }}</strong>?</p>
  </div>
  <div class="modal-footer">
    <input type="submit" class="btn btn-danger js-workflow-delete-form" value="Delete">
     <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  </div>
</form>
<script>

    $('.js-workflow-delete-form').on("click",function(){
        console.log("FREEZE");
        var url = $("#deleteForm").attr("data-cities-url");
          $.ajax({
            url: url,
            type:'GET',
            data:{
              'delete':'true',
            },
            success: function (data) {
              if (data.form_is_valid) {
                alert("fdgfdshfd")
                $("#modal-book").modal("hide");
                window.location.href= "/all_wf_forms/"+ data.wf_id+'/Rejected';
              }
              else {
                $("#modal-book .modal-content").html(data.html_form);
              }
            }
          });
          return false;
          });

</script>
