{% load i18n %}
 <table cellpadding="6" style=" width: 100%;">
                   {% for field in formset %}

            <tr>
                        {% for q in queryset  %}
                    {% for j,k in q.items %}
                        {% if j|lower == field.label|lower %}
                                                        <td>{{ field.label_tag }}{% if k %} <span style="color:red;">*</span> {% endif %}</td>
                                                        <td>{{ field }}
                                                        {% if field.id_for_label == 'mobile_id' %} <span class="label_response">{% trans 'Invalid Mobile Number' %}</span>{% endif %}

                                                                {% for error in field.errors %}
                                                                        <p style="color: red">{{ error }}</p>
                                                                {% endfor %}</td>
                                                {% endif %}
                                        {% endfor %}
                        {% endfor %}
            </tr>
            {% endfor %}
          </table>