<head>
       <style>

@page {
        size: A6;
        margin: 1em;
    }


 </style>
</head>
<div class="table-responsive">
   <table  border="1" id="book-table" class ="table-sm table-bordered" align="center">
    <thead class="table-info text-center" >
    <tr>
        {% for col in columns %}
            <th>{{ col }}</th>
        {% endfor %}
    </tr>
    </thead>

    <tbody class="text-center">
     {% for tab in table_data %}

        <tr>
            {% for t, k in tab.items %}
                <td>{{k}}</td>
            {% endfor %}
        </tr>
     {% endfor %}
    </tbody>


   </table>
</div>
