{% load i18n %}
{% if user.is_authenticated %}
    <form method="POST" action="{% url 'WorkflowManagement:checker_for_approval' task.id %}" enctype="multipart/form-data" id="form-id" autocomplete="off">
    {%csrf_token%}
        <div class="modal-header">
            <h4 class="modal-title">{% trans title %}</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
        {% for field in form %}
        {{ field.label_tag }}
        {{ field }}
        <br>
        <br>
        {% endfor %}
        {% if title == 'Approve' %}
            <input type="text"  name="TITLE" value="Approve" style="display:none;">
        {% elif title == 'Reject' %}
            <input type="text"  name="TITLE" value="Reject" style="display:none;">
        {% endif %}
        </div>
        <div class="modal-footer">
            <input type="submit" class="btn btn-info btn-submit" name="Submit" value="{% trans 'Submit' %}">
            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
        </div>

    </form>


<!--<script>-->
    <!--// Executed when DOM is loaded-->
    <!--$(document).ready(function() {-->
   <!--// Executed when select is changed-->
    <!--$("select").on('change',function() {-->
        <!--var x = this.selectedIndex;-->

        <!--if (x == "") {-->
           <!--$(".btn-submit").attr("disabled", true);-->
        <!--} else {-->
           <!--$(".btn-submit").attr("disabled", false);-->
        <!--}-->
    <!--});-->

    <!--// It must not be visible at first time-->
    <!--$(".btn-submit").attr("disabled", true);-->
<!--});-->

<!--</script>-->

{% else %}
 You are not logged in.
{% endif %}

<script>
    $('.btn-submit').on('click', function(){
        setTimeout(function () { window.close();}, 1000);
        window.opener.location.reload(true);

    });
</script>
