{% extends 'header.html' %}
{% block body_block %}
{% load i18n %}
<title> {% block title %} Workflow Process {% endblock %}</title> 
<style>
  label
  {
  font-weight:bold
  }
</style>
<br/>
<br/>
  
<div class="breadcrumb_dms">
        <nav>
            <ol class="breadcrumb breadcrumb_lbl">
                <li class="breadcrumb-item"><a href="{% url 'DMS:home' %}">{% trans 'Home' %}</a></li>
                <li class="breadcrumb-item">
                    <a href="{% url 'WorkflowManagement:workflow_management' %}">{% trans 'Workflow Management' %}</a>
                </li>
				<li class="breadcrumb-item"><a href="{% url 'WorkflowManagement:all_workflow_for_maker' %}">{% trans 'Maker' %}</a> </li>
				<li class="breadcrumb-item"><a href="{%url 'WorkflowManagement:all_wf_forms' data.workflow_id.id 'Rejected' %}">{% trans 'Forms To Check' %}</a></li>
                <li class="breadcrumb-item active">{% trans 'Rejected Form' %}</li>
            </ol>
        </nav>
    </div>

<div class="col-6 mx-auto">
    <div class="card card.bg-success.text-white">
      <div class="card-header text-center bg-primary text-white"><strong>{% trans 'Rejected Form' %}</strong>
      <span style="float:right">
        <a href="{% url 'WorkflowManagement:edit_workflow_maker' data.pk %}"><i title="Edit Record" class="fa fa-edit fa-lg"></i></a>
       <a data-url="{% url 'WorkflowManagement:delete_form' data.pk %}" class="delete_wf"><i title="Delete Record" class="fa fa-trash fa-lg"></i></a>
      </span>
      </div>
      <div class="card-body">
          <table style="width:100%" cellpadding="4">
       {% for data in json_data %}
        {% for i,j in data.items  %}
      {% if '/media/Workflow_Management/' in j %} 
      <tr>
      <td>
        <label  class="col-xs-2 col-form-label">{{i}} : &nbsp;</label>
      </td>
     <td> 
    <div  class="col-sm-4"> 
   <img src="{{j}}" class="img-responsive border" alt="Image" width="100">
   </div>
    </td>    
    </tr> 
     {% elif '[' and ']' in j %}
    <tr>
    <td>   
       <label class="col-xs-2 col-form-label">{{i}} : &nbsp;</label>
    </td>
    <td>
    <div class="col-sm-10">
       <input type="text" class="form-control" value="{{j|slice:'1:-1'}}" READONLY/> 
    </div>
    </td>    
    </tr>
  {%else%}
      <tr>
         <td>
      <label class="col-xs-2  col-form-label">{{i}}:</label>
             </td>
         <td>
         <div class="col-sm-10">
                <input type="text" class="form-control" value="{{j}}" READONLY/>
             </div>
         </td>
        </tr>

 {% endif %}

    {% endfor %}
  {% endfor%}


        <tr>
  <td>
      <label class="col-xs-2 col-form-label">{% trans 'Status:' %} </label>
     </td>
          <td>
            <div class="col-sm-10">
                <input type="text" class="form-control" value="{{data.status}}" READONLY/>
             </div>
          </td>
        </tr>
        <tr>
          <td>
            <label class="col-xs-2 col-form-label">{% trans 'Remarks:' %}</label>
          </td>
          <td>
            <div class="col-sm-10">
                <input type="text" class="form-control" value="{{data.remarks}}" READONLY/>
             </div>
          </td>
        </tr>
          </table>

 </div>
    </div>
  </div>


<div class="modal fade" id="modal-book">
      <div class="modal-dialog">
        <div class="modal-content"></div>
      </div>
    </div>

<script>
    $('.delete_wf').on("click",function (){


         var btn = $(this);
         $.ajax({
           url: btn.attr("data-url"),
           type: 'get',
           dataType: 'json',
           beforeSend: function () {
             $("#modal-book").modal("show");


           },
           success: function (data) {
             $("#modal-book .modal-content").html(data.html_form);
           }
         });

      });
</script>

{% endblock %}
