{% extends 'header.html' %}
{% load static %}
{% load i18n %}
{% block body_block %}

    <head>
      <style>
        .mySlides {display:none; color:none;}
        #canvas {display:none;}

        .mySlides_div {display:none}

        <!--.tagging_data {-->
              <!--pointer-events: none;-->
              <!--opacity: 0.4;-->
          <!--}-->

          .actions {
              pointer-events: none;
              opacity: 0.4;
          }
         .table td
         {
             border: double;
         } 
        .btn1:hover
        {
             background:green
        } 
	 </style>
  </head>
  <body>
<br/>
          
<div class="breadcrumb_dms">
        <nav>
            <ol class="breadcrumb breadcrumb_lbl">
                <li class="breadcrumb-item"><a href="{% url 'DMS:home' %}">{% trans 'Home' %}</a></li>
                <li class="breadcrumb-item">
                    <a href="{% url 'WorkflowManagement:workflow_management' %}">{% trans 'Workflow Management' %}</a>
                </li>
				<li class="breadcrumb-item"><a href="{% url 'WorkflowManagement:scan_documents_sanelib' %}">{% trans 'Scan Documents' %}</a>  </li>
				
                <li class="breadcrumb-item active">{% trans 'Scanned Images' %}</li>
            </ol>
        </nav>
    </div>


<div id="message_container">
            {% include 'messages.html' %}
        </div>
<div class="table-responsive" >
<table class="table" style="border: double;">
      <tr>
        <td style="width: 33%!important;">
        <form method="post" id="first_form" enctype="multipart/form-data" action="{% url 'WorkflowManagement:scanned_user_data' %}">
          {% csrf_token %}
          <div class="field">
              Account Number: <input type="text" class="account_number_text" name="account_number_text"><br/>
          </div>
        </form>
        </td>


    <td rowspan="2">
      <div style="border:double;padding:5px" class="text-center">
        <button onclick="plusDivs(-1)" class="btn btn1" id="previous_button"><span title="Previous" class="fa fa-angle-double-left" aria-hidden="true"></span></button>
        <button onclick="plusDivs(1)" class="btn btn1" id="next_button"><span title="Next" class="fa fa-angle-double-right" aria-hidden="true"></span></button>
        <button onclick="deletePage()" class="btn btn1" id="delete_page"><span title="Delete" class="fa fa-trash" aria-hidden="true"></span></button>
        <button onclick="crop_image();" class="btn btn1" id="crop_image"><span title="Crop" class="fa fa-crop" aria-hidden="true"></span></button>
        <button id="clockwise" class="btn btn1"><span title="Rotate Left" class="fa fa-repeat" aria-hidden="true"></span></button>
        <button id="counterclockwise" class="btn btn1"><span title="Rotate Right" class="fa fa-undo" aria-hidden="true"></span></button>
        <button id="save_image" class="btn btn1"><span title="Save" class="fa fa-save" aria-hidden="true"></span></button>
      </div>
        <div class="mySlides_div text-center" id="mySlides_div" style="overflow-y:scroll; height:400px;border:double;">
        {% for img in image %}
            <canvas class="myCanvas" id="canvas" width="700" height="600"></canvas>
            {% for i, j in img.items %}

               <img class="mySlides" id="mySlides_{{forloop.parentloop.counter}}" src="{{j}}" data-id="{{j}}" data-attr-value="{{i}}">

            {% endfor %}
          {% endfor %}
           </div>
        <h6 id="page_number" data-attr-value="{{list_count}}" class="text-center"></h6>
   </td>
  </tr>

  <tr>
    <td>
      <div class="tagging_data">
      <p>Doc Type With Valid Page Range</p>

       <form id="form_div_2" enctype="multipart/form-data" method="post">
          {% csrf_token %}
         {% for field in form %}
          <span>{{ field }} </span><br>
          {% endfor %}
       </form>

       <div class="actions">
        <button class="tag-submit btn btn-primary" type="button" data-cities-url="{% url 'WorkflowManagement:submit_tag_option' %}">Submit</button>
       </div>
    <!-- The Modal -->
        <div class="modal fade" id="modal_id">
          <div class="modal-dialog">
            <div class="modal-content"></div>
          </div>
        </div>
      </div>

    </td>
</tr>

</table>

</div>

    <script>

      // Executed when DOM is loaded
      $(document).ready(function() {
          $('.field input').on('keyup', function() {
            let empty = false;

                $('.field input').each(function() {
                  empty = $(this).val().length == 0;
                });

                if (empty)
                  $('.actions').removeClass('actions')
                else
                  $('.actions').removeClass('actions')
            });
      });

    <!-- Tagging Value-->

          $("#id_account_saving input[name='account_saving']").click(function(){
            if($('input:radio[name=account_saving]:checked').val() == "Application Form"){
                    checked_value = $('input:radio[name=account_saving]:checked').val()
                    var img = document.getElementsByClassName("mySlides");
                    images_value = []
                    for (var i=0; i < img.length; i++) {

                       var img_id_data = document.getElementById("mySlides_" + [i+1]).getAttribute("data-attr-value");

                       if (img_id_data == checked_value) {
                            var src_data_value = document.getElementById("mySlides_" + [i+1]).getAttribute("data-id");
                            images_value.push(src_data_value);

                       }
                  }
                    if(typeof images_value[0] !== "undefined"){
                        stringValue = images_value[0].split('/')
                        slideData = stringValue[stringValue.length-1]
                        slideIndex = parseInt(slideData.substr(2, 1))+1;
                        showDivs( slideIndex, images_value[0]);
                    }
                }


             if($('input:radio[name=account_saving]:checked').val() == "Aadhar Card"){
                    checked_value = $('input:radio[name=account_saving]:checked').val()
                    var img = document.getElementsByClassName("mySlides");
                    images_value = []
                    for (var i=0; i < img.length; i++) {

                       var img_id_data = document.getElementById("mySlides_" + [i+1]).getAttribute("data-attr-value");

                       if (img_id_data == checked_value) {
                            var src_data_value = document.getElementById("mySlides_" + [i+1]).getAttribute("data-id");
                            images_value.push(src_data_value);

                       }
                  }

                  if (typeof images_value[0] !== 'undefined') {
                        stringValue = images_value[0].split('/')
                        slideData = stringValue[stringValue.length-1]
                        slideIndex = parseInt(slideData.substr(2, 1))+1;
                        showDivs(slideIndex, images_value[0]);
                    }
                }

              if($('input:radio[name=account_saving]:checked').val() == "Pan Card"){
                    checked_value = $('input:radio[name=account_saving]:checked').val()
                    var img = document.getElementsByClassName("mySlides");
                    images_value = []
                    for (var i=0; i < img.length; i++) {

                       var img_id_data = document.getElementById("mySlides_" + [i+1]).getAttribute("data-attr-value");

                       if (img_id_data == checked_value) {
                            var src_data_value = document.getElementById("mySlides_" + [i+1]).getAttribute("data-id");
                            images_value.push(src_data_value);

                       }
                  }
                  if (typeof images_value[0] !== 'undefined') {
                        stringValue = images_value[0].split('/')
                        slideData = stringValue[stringValue.length-1]
                        slideIndex = parseInt(slideData.substr(2, 1))+1;
                        showDivs(slideIndex, images_value[0]);
                    }
                }

              if($('input:radio[name=account_saving]:checked').val() == "Signature"){
                    checked_value = $('input:radio[name=account_saving]:checked').val()
                    var img = document.getElementsByClassName("mySlides");
                    images_value = []
                    for (var i=0; i < img.length; i++) {

                       var img_id_data = document.getElementById("mySlides_" + [i+1]).getAttribute("data-attr-value");

                       if (img_id_data == checked_value) {
                            var src_data_value = document.getElementById("mySlides_" + [i+1]).getAttribute("data-id");
                            images_value.push(src_data_value);

                       }
                  }
                  if (typeof images_value[0] !== 'undefined') {
                        stringValue = images_value[0].split('/')
                        slideData = stringValue[stringValue.length-1]
                   			page_value = $("#page_number").attr('data-attr-value');
                  			if (slideData == 'A_S.jpeg'){
                  				slideIndex = parseInt(page_value);
                  			}
                        showDivs(slideIndex, images_value[0]);
                    }
                }

                if($('input:radio[name=account_saving]:checked').val() == "Photo"){
                    checked_value = $('input:radio[name=account_saving]:checked').val()
                    var img = document.getElementsByClassName("mySlides");
                    images_value = []
                    for (var i=0; i < img.length; i++) {

                       var img_id_data = document.getElementById("mySlides_" + [i+1]).getAttribute("data-attr-value");

                       if (img_id_data == checked_value) {
                            var src_data_value = document.getElementById("mySlides_" + [i+1]).getAttribute("data-id");
                            images_value.push(src_data_value);

                       }
                  }
                  if (typeof images_value[0] !== 'undefined') {
                        stringValue = images_value[0].split('/')
                        slideData = stringValue[stringValue.length-1]
                        page_value = $("#page_number").attr('data-attr-value');
                  			if (slideData == 'A_P.jpeg'){
                                slideIndex = page_value-1;
                        }
			                       showDivs(slideIndex, images_value[0]);
                    }
                }
          });

    <!--End Here-->

    </script>

    <script>

    //images one by one
    var slideIndex = 1;
    var imageURLs=[];
	var ctx = [];
	var imgs=[];
	var imageURLvalue = '';


	var canvas=document.getElementById("canvas");
    var ctx=canvas.getContext("2d");

    // put the paths to your images in imageURLs[]
    var img = document.getElementsByClassName("mySlides");
    for (i = 0; i < img.length; i++) {
        var img_value_src = document.getElementById("mySlides_" + [i+1]).getAttribute("data-id");
        imageURLs.push(img_value_src)
    }


    showDivs(slideIndex, imageURLs[0]);


    function plusDivs(n) {
		for( var i in imageURLs){
			if(imageURLs[i] == imageURLvalue){
				var value = i
			}
		}
		value_final = (parseInt(value) + parseInt(n));
        showDivs(slideIndex += n, imageURLs[value_final]);
    }


    function showDivs(n, imageURL){
        console.log(slideIndex, n);
        var img_img = document.getElementsByClassName("mySlides");
        var img_div = document.getElementById("mySlides_div");
        if (n > img_img.length) {slideIndex = 1}
        if (n < 1) {slideIndex = img_img.length}

        for (var i=0; i < img_img.length; i++) {
                 <!--Hiding Color of Img-->
              img_img[i].style.color = "brown";
          }

        imageURLvalue = imageURL;

             var img = new Image();
                  imgs.push(img);

                  img.onload = function(){

                          var imgWidth = img.width;
                          var imgHeight = img.height;
                          canvas.width = imgWidth;
                          canvas.height = imgHeight;

                            ctx.font="30px sans-serif";
                            ctx.fillStyle="#333333";
                            <!--console.log(img, 'here')-->
                            ctx.clearRect(0, 0, canvas.width, canvas.height);
                            ctx.drawImage(img,0,0);
                            canvas.style.display = "block";
                  };
                // notify if there's an error
                img.onerror=function(){alert("image load failed");}
                // set img properties
                img.src = imageURL;

             img_img[slideIndex-1].style.color = "tomato";
             img_div.style.display = "block";
             page_value = $("#page_number").attr('data-attr-value');
             <!--console.log(page_value)-->
            
	<!-- Displaying the current and total number of pages -->

	      $("#page_number").html("Page " + [slideIndex] + " of " + page_value);


	<!--  Disabling the previous and Next Button on account of page display -->
            if (slideIndex == 1){
              $('#previous_button').attr('disabled', true);
              $('#next_button').attr('disabled', false);
            }
            else if (slideIndex >= page_value) {
               $('#previous_button').attr('disabled', false);
               $('#next_button').attr('disabled', true);
            }
            else if (slideIndex < page_value) {
              $('#previous_button').attr('disabled', false);
              $('#next_button').attr('disabled', false);
            }

		}




<!--Tagging Images-->
      var value_btn = document.getElementsByClassName("myValues");


      function checkDisplayTag() {
             var img_btn = document.getElementsByClassName("mySlides")
             for(var i=0; i<img_btn.length; i++){
              if( img_btn[i].style.color == 'tomato' )
                {
                  var src_img_id = document.getElementById("mySlides_" + [i+1])
                  var src_data = src_img_id.getAttribute("data-id");
                  return src_data;
                }

            }

        }

      for(var i=1; i <= value_btn.length; i++){

        $('#myValues_' + i ).click(function(){
        var tag_no = $(this).attr('data-id')

        src_data_value = checkDisplayTag()
        var account_data = $('.account_number_text').val();

        $.ajax(
            {
               type: 'GET',
               url: 'tagging_pages/' + i,
               data: {'data_page': tag_no,
                        'src_data': src_data_value,
                        'account_data': account_data},
               success: function()
               {
                  // To disable button once clicked
                  <!--var x = document.getElementById("myValues_" + tag_no).disabled = true;-->

               },
               error: function(xml)
               {
                  // Handle errors here.
               }
            });

        });

        }

    <!--End Here-->



    <!--Submit Data-->
    $('#submit_data_btn').click(function() {
        var data = document.getElementById("first_form");
        var fd = new FormData(data);
        var url = $('#first_form').attr('action');
          $.ajax({
            url: url,
            data: fd,
            cache: false,
            processData: false,
            contentType: false,
            type: 'POST',
            success: function (result) {
                if(result.success)
                {
                   if(result.data == "Submitted"){
                    <!--$('.tagging_data').removeClass('tagging_data')-->
                  }
                }
            }
      });
    });

    <!--End Submit Data-->


     <!--Submit Tag Option-->
         $('.tag-submit').click(function() {
        var url = $(this).attr('data-cities-url');
        var account_data = $('.account_number_text').val();

        obj_data_values = []
        var submit_img = document.getElementsByClassName("mySlides");
        for (i = 0; i < submit_img.length; i++) {
            var src_img_value = document.getElementById("mySlides_" + [i+1]).getAttribute("data-id");
            var tag_img_value = document.getElementById("mySlides_" + [i+1]).getAttribute("data-attr-value");
            data_values = {};
            data_values[tag_img_value] = src_img_value;
            obj_data_values.push(data_values);
        }

        var json_obj = JSON.stringify(obj_data_values);

        $.ajax({
            url: url,
            data: {'account_data': account_data, 'json_data_values': json_obj},
            type: 'POST',
            success: function (result) {
                if(result.account == 'Exist'){
                  swal("Success!", "Your Data has been Submitted.", "success");
                }
                else if(result.account == "Not Exist"){
                  swal("Error!", "No Such Data Like This", "error");
                }
            }
      });

      });
    <!--End Submit Tag Option-->


    <!--Crop Images -->

        function crop_image(){
              var img_btn = document.getElementsByClassName("mySlides")
              image_loaded = checkDisplayTag()
               for(var i=0; i<img_btn.length; i++){
                if( img_btn[i].style.color == 'tomato' )
                  {
                    var img = document.getElementById("mySlides_" + [i+1])
                    var path = img.getAttribute('data-id')

                    window.open("crop_popup/?path="+path+"&image_loaded="+image_loaded,null,"height=450px, width=600px, status=no, resizable=yes");
                  }

              }

          }

    <!--End Crop Images Tag-->


    <!-- Rotating Images -->
        var angleInDegrees=0;

        $("#clockwise").click(function(){
            angleInDegrees+=90;
            drawRotated(angleInDegrees);
        });

        $("#counterclockwise").click(function(){
            angleInDegrees-=90;
            drawRotated(angleInDegrees);
        });

        function drawRotated(degrees){

            canvas_image = checkDisplayTag()

            var img = new Image();


            img.onload = function(){
                      ctx.clearRect(0,0,canvas.width,canvas.height);
                      ctx.save();
                      ctx.translate(canvas.width/2,canvas.height/2);
                      ctx.rotate(degrees*Math.PI/180);
                      ctx.drawImage(img,-img.width/2,-img.width/2);
                      ctx.restore();
                      canvas.style.display = "block";
            };

            img.onerror=function(){alert("image load failed");}
            img.src = canvas_image;

        }

    <!-- End Here -->

    <!--Save Rotated Images-->

      $("#save_image").on('click', function() {
          canvas = document.getElementById("canvas");
	         image_loaded = checkDisplayTag()
          if (canvas.style.display == "block"){
               var canvas_data = canvas.toDataURL();
              $.post('/save_rotated_image', { canvas_data: canvas_data,  image_loaded: image_loaded}, function(data) {

                })
          }

      });

    <!--End Here-->



  </script>
  </body>

{% endblock %}
