<!DOCTYPE html>
{% load i18n %}
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
      <link rel="stylesheet" href="{% static 'css/file.css' %}">
      <link rel="stylesheet" href="{% static 'css/w3_css.css' %}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="{% static 'css/bootstrap.min_new.css' %}">
      <link href= "{% static 'css/style5.css' %}" rel="stylesheet">
      <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>

  </head>
<style>
        table {
          table-layout: fixed;
        }
        .label_response{
            display:none;
        }
        .mySlides {display:none;}
        #canvas {display:none;}

        .mySlides_div {display:none}

        .w3-display-left{top:50%;left:0%;}
        .w3-display-right{top:50%;right:0%;}

        .isDisabled {
            color: currentColor;
            cursor: not-allowed;
            opacity: 0.5;
            text-decoration: none;
        }

        button
        {
        cursor:pointer;
        }
</style>
<script src="{% static 'js/tiff.js' %}"></script>
<script src="{% static 'js/FileSaver.js' %}"></script>
<script src="{% static 'js/fabric.min.js' %}"></script>

<br/>

	<div class="breadcrumb_dms">
        <nav>
           <ol class="breadcrumb breadcrumb_lbl">
                <li class="breadcrumb-item"><a href="{% url 'WorkflowManagement:workflow_docs_list' %}?id={{doc_id}}&docs={{doc}}'">{% trans 'Workflow Docs' %}</a></li>
                <li class="breadcrumb-item active">{% trans 'View Document' %}</li>
            </ol>
        </nav>
    </div>

{% if documents_available %}
        <div id="message_container">
            {% include 'messages.html' %}
        </div>
           <div class="container-fluid">
                    <div class="row">
                         <div class="col-md-9 border p-2">
                                                 <div class="text-center">
                <select class="my_tiff form-control-sm" style="font-size: smaller;">
                    {% for img in imgs %}
                     {% for i, j in img.items %}
                            <option value="{{j}}" data-attr-value="{{j}}">{{i}}</option>
                     {% endfor %}
                     {% endfor %}
                </select>
            <button onclick="plusDivs(-1)" type="button" title="Previous" class="btn-sm btn1" id="previous_button"><span title="Previous" class="fa fa-angle-double-left" aria-hidden="true"></span></button>
            <button onclick="plusDivs(1)" type="button" title="Next" class="btn-sm btn1" id="next_button"><span title="Next" class="fa fa-angle-double-right" aria-hidden="true"></span></button>

            <button type="button" class="btn-sm" title="Add Text" id="add_text"><span class="fa fa-text-width"></span></button>
            <button id="drawRectangle" title="Draw Filled Rectangle" class="btn-sm" type="button"><span class="fa fa-square"></span></button>
            <button id="drawVoidRectangle" title="Draw Rectangle" class="btn-sm" type="button"><span class="fa fa-square-o"></span></button>
			
			<button id="drawCircle" title="Draw Filled Circle" class="btn-sm" type="button"><span class="fa fa-circle"></span></button>
            <button id="drawVoidCircle" title="Draw Circle" class="btn-sm" type="button"><span class="fa fa-circle-o"></span></button>

            <button id="drawTriangle" title="Draw Filled Triangle" class="btn-sm" type="button"><span class="fa fa-caret-up"></span></button>
            <button id="drawLine" title="Draw Line" class="btn-sm" type="button"><span class="fa fa-line"></span></button>

            <button id="stop_editing" class="btn-sm" title="Stop Editing" type="button"><span class="fa fa-pause"></span></button>
            <button id="save_image" type="button" title="Save" data-attr="{{doc_id}}" class="btn-sm"><span class="fa fa-save"></span></button>

            <button id="undo" disabled><span class="fa fa-undo"></span></button>
            <button id="redo" disabled><span class="fa fa-repeat"></span></button>

            <button id="zoom-in" type="button" title="Zoom" class="btn-sm"><span class="fa fa-search-plus"></span>
            <span id="zoom-view" style="font-size: smaller;"></span></button>

            <button id="refresh" type="button" title="Refresh" class="btn-sm"><span class="fa fa-refresh"></span></button>
			<button id="delete_active_object" type="button" title="Remove" class="btn-sm"><span class="fa fa-remove"></span></button>

            <button id="print_canvas" type="button" title="Print" class="btn-sm"><span class="fa fa-print"></span></button>
 

        </div>
      <br/>
      <form style="border:1px solid black" autocomplete="off">
                {% if documents_available %}
                   <div class="mySlides_div text-center" id="mySlides_div" style="overflow-y:scroll; height:500px;">
                   <canvas class="myCanvas" id="canvas" width="1000" height="1500"></canvas>
                   </div>
                   <h6 id="page_number" class="text-center"></h6>
                 {% else %}
                    <h6>Documents Are not available</h6>
                {% endif %}


      </form>


        </div>

      <div class="col-md-3 border p-2">
                        <form autocomplete="off">
            <div class="card card.bg-success.text-white">
                 <div class="card-header text-center bg-primary text-white"><strong>{% trans 'Form' %}</strong></div>
                   <div class="card-body table-max-height" style="overflow-y:auto;">
                    <div class="table-responsive">
                        <table class="col-md-12" cellpadding="5">
                            {% for field in formset %}
                            <tr>
                                  {% for q in queryset  %}
                                    {% for j,k in q.items %}
                                        {% if j|lower == field.label|lower %}
                                              <td>{{ field.label_tag }}{% if k %} <span style="color:red;">*</span> {% endif %}</td>
                                                  <td>{{ field }}
                                                       {% for error in field.errors %}
                                                            <p style="color: red">{{ error }}</p>
                                                        {% endfor %}</td>
                                        {% endif %}
                                    {% endfor %}
                                  {% endfor %}

                            </tr>
                            {% endfor %}
                          </table>
                    </div>
                   </div>
            </div>
        </form>



      </div>
       </div>
                    </div>


{% else %}

{% endif %}

<script>
    //images one by one
                var slideIndex = 1;
                var ctx = [];
                var arrayTiffURLs = [];
                var drag = false;
                var rect = {};
                var edit_value = "";
                var rect_value = false;
                var selectedOption = "";
                var final_value = "";

                var fabric_canvas;

                <!--Undo Redo commands-->

                var state;
                var undo = [];
                var redo = [];

                var tiffURLvalue = '';

                var canvas_body=document.getElementById("canvas");

                // Disabling the button before any activity
            $('#stop_editing').attr('disabled', true);
            $('#save_image').attr('disabled', true);


        function handleTiff(optionValue, callback){
            optionValue2 = optionValue + "?_=" + new Date().getTime();
            var tiffURLs = [];
            Tiff.initialize({TOTAL_MEMORY: 16777216 * 10});
                var xhr = new XMLHttpRequest();
                xhr.open('GET', optionValue);
                xhr.responseType = 'arraybuffer';
                xhr.responseType = 'arraybuffer';

                xhr.onload = function() {

                    var buffer = xhr.response;
                    var tiff = new Tiff({buffer: buffer});

                    for (var i = 0, len = tiff.countDirectory(); i < len; ++i) {
                      tiff.setDirectory(i);
                      var canvas = tiff.toCanvas();
                      tiffURLs.push(canvas);
                    }
                     return callback(tiffURLs);

                   };
               xhr.send();
            }

            <!-- For first value in the selection of tiff images -->

            $(".my_tiff").find("option:selected").each(function(){
                 var optionValue = $(this).attr("data-attr-value");
                    selectedOption = optionValue     // Assign the value to global variable
                     handleTiff(optionValue, function(result) {
                        arrayTiffURLs = result;
                        checkFabricCanvas();

                        showDivs(slideIndex, arrayTiffURLs[0])
                    });

                });

            <!-- End Here selection of tiff images -->

            <!-- When we change the selection of the tiff images -->
                $(".my_tiff").change(function() {
                     $(this).find("option:selected").each(function(){
                     var optionValue = $(this).attr("data-attr-value");
                     selectedOption = optionValue     // Assign the value to global variable
                    slideIndex = 1;
                         handleTiff(optionValue, function(result) {
                            arrayTiffURLs = result;
                            checkFabricCanvas();
                            showDivs(slideIndex, arrayTiffURLs[0])
                        });
                    });
                });
            <!-- End Here -->

            <!-- Save states of canvas-->
                function save() {
                      redo = [];
                      $('#redo').prop('disabled', true);
                      if (state) {
                        undo.push(state);
                        $('#undo').prop('disabled', false);
                      }
                      state = JSON.stringify(fabric_canvas);
                 }
        <!--End Save States Here-->

        <!--Replay States when undo redo is called-->

            function replay(playStack, saveStack, buttonsOn, buttonsOff) {
              saveStack.push(state);
              state = playStack.pop();
              var on = $(buttonsOn);
              var off = $(buttonsOff);
              // turn both buttons off for the moment to prevent rapid clicking
              on.prop('disabled', true);
              off.prop('disabled', true);
              fabric_canvas.clear();
              fabric_canvas.loadFromJSON(state, function() {
                fabric_canvas.renderAll();
                // now turn the buttons back on if applicable
                on.prop('disabled', false);
                if (playStack.length) {
                  off.prop('disabled', false);
                }
              });
            }

        <!-- End Undo Redo Replay statess-->


        function checkFabricCanvas() {
                if (fabric_canvas){
                    fabric_canvas.dispose()
                    $(fabric_canvas.wrapperEl).remove()
                    return true;
                }
                else {
                    return false;
                }

        }




        function showDivs(n, tiffURL, rect_value){

        var bg = tiffURL.toDataURL("image/png");
        fabric_canvas = new fabric.Canvas("canvas");

        fabric_canvas.setDimensions({width:tiffURL.width, height:tiffURL.height});

        fabric_canvas.selection = false
        fabric_canvas.setBackgroundImage(bg,fabric_canvas.renderAll.bind(fabric_canvas));



                var img_div = document.getElementById("mySlides_div");

                tiffURLvalue = tiffURL

                canvas_body.style.display = "block";
                img_div.style.display = "block";

                page_value = arrayTiffURLs.length

                <!-- Displaying the current and total number of pages -->

                        $("#page_number").html("Page " + [slideIndex] + " of " + page_value);

                <!--  Disabling the previous and Next Button on account of page display -->
                                if (slideIndex == 1){
                                  $('#previous_button').attr('disabled', true);
                                  $('#next_button').attr('disabled', false);
                                }
                                else if (slideIndex >= page_value) {
                                   $('#previous_button').attr('disabled', false);
                                   $('#next_button').attr('disabled', true);
                                }
                                else if (slideIndex < page_value) {
                                  $('#previous_button').attr('disabled', false);
                                  $('#next_button').attr('disabled', false);
                                }

                                if (page_value == 1) {
                                    $('#next_button').attr('disabled', true);
                                }



             <!-- Function for zoom in canvas -->
                                        function zoomCanvas(){
                        fabric_canvas.on('mouse:wheel', function(opt) {
                          var delta = opt.e.deltaY;
                          var pointer = fabric_canvas.getPointer(opt.e);
                          var zoom = fabric_canvas.getZoom();
                          zoom = zoom + delta/200;
                          zoom_value_1 = parseInt(zoom*10)
                          $("#zoom-view").html(zoom_value_1*10);
                          if (zoom > 20) zoom = 20;
                          if (zoom < 1) zoom = 1;
                          fabric_canvas.zoomToPoint({ x: opt.e.offsetX, y: opt.e.offsetY }, zoom);
                          opt.e.preventDefault();
                          opt.e.stopPropagation();
                        });
                   }


                    $("#zoom-in").unbind().on('click',function(){
                        <!--draw(1.2, +20);-->
                        stopMouseEvent();
                        zoomCanvas();
                    });


        <!--Stop Editing-->
            $("#stop_editing").unbind().click(function(){
                stopMouseEvent();
            });
        <!--End Here-->


        <!--Save Canvas-->
            $("#save_image").unbind().click(function(){
                  var image = canvas_body.toDataURL("image/png")
                    <!-- var wf_number = $(this).attr("data-attr-value") -->
                                        var doc_id = $(this).attr('data-attr')

                    for( var i in arrayTiffURLs){
                        if(arrayTiffURLs[i] == tiffURLvalue){
                            var value = i
                        }
                    }
                    var image_value = value;

                    data_params = {'selected_value':selectedOption,'data_image':image, 'doc_id':doc_id,
                                'image_value':image_value}

                     $.ajax({
                        url: "/save_image_workflow_process",
                        data: data_params,
                        type:"post",
                        headers: {
                            "Pragma": "no-cache",
                            "Expires": -1,
                            "Cache-Control": "no-cache"
                        }
                    }).done(function () {
                        alert("saved")
                        window.location.reload(true);
                    });
            });

        <!-- End Here-->

        <!--Editing Images-->

        $("#drawRectangle").unbind().click(function(){

            $('#stop_editing').attr('disabled', false);
            $('#save_image').attr('disabled', false);

            edit_value = "fill_rect";
            save();
            stopMouseEvent();
            drawRectangle();
        });
        $("#drawVoidRectangle").unbind().click(function(){
            $('#stop_editing').attr('disabled', false);
            $('#save_image').attr('disabled', false);

            edit_value = "void_rect";
            save();
            stopMouseEvent();
            drawRectangle();
        });
		
		$("#drawCircle").unbind().click(function(){

            $('#stop_editing').attr('disabled', false);
            $('#save_image').attr('disabled', false);

            edit_value = "fill_circle";
            save();
            stopMouseEvent();
            drawCircle();
        });
        $("#drawVoidCircle").unbind().click(function(){
            $('#stop_editing').attr('disabled', false);
            $('#save_image').attr('disabled', false);

            edit_value = "void_circle";
            save();
            stopMouseEvent();
            drawCircle();
        });

        $("#drawTriangle").unbind().click(function(){
            $('#stop_editing').attr('disabled', false);
            $('#save_image').attr('disabled', false);

            edit_value = "fill_tri";
            save();
            stopMouseEvent();
            drawTriangle();
        });

        $("#delete_active_object").unbind().click(function(){
                let activeObjects = fabric_canvas.getActiveObjects();
                  fabric_canvas.discardActiveObject();
                  if (activeObjects.length) {
                    fabric_canvas.remove.apply(fabric_canvas, activeObjects);
                  }
        });

        $("#print_canvas").unbind().click(function(){
                url = document.getElementById('canvas').toDataURL();
                printCanvas(url);
        });


        $("#drawLine").unbind().click(function(){
			$('#stop_editing').attr('disabled', false);
            $('#save_image').attr('disabled', false);
            save();
            stopMouseEvent();
            drawLine();
        });

            
        <!--End Here-->


             <!-- Add Text -->
                    function Addtext() {
                    stopMouseEvent();

                                        fabric_canvas.add(new fabric.IText('Tap and Type', {
                                                  left: 50,
                                                  top: 100,
                                                  fontFamily: 'arial black',
                                                  fill: 'black',
                                                  borderColor:'red',
                                                  cornerColor:'red',
                                                  fontSize: 20

                                        }));
                                        save();

                                }

                                $('#add_text').unbind().on('click', function(){
                                    $('#stop_editing').attr('disabled', false);
                    $('#save_image').attr('disabled', false);
                                        Addtext()
                                });
            <!-- End Here -->

         <!-- Refresh Page-->

                $('#refresh').unbind().on('click', function(){
                checkFabricCanvas();
                showDivs(slideIndex, tiffURL)
            });

        <!-- End Here-->

        }
            <!--Stop Mouse Event-->
            function stopMouseEvent() {
            fabric_canvas.off('mouse:down');
            fabric_canvas.off('mouse:move');
            fabric_canvas.off('mouse:up');
            fabric_canvas.off('mouse:wheel');
        }
        <!--End Here-->


    // undo and redo buttons
          $('#undo').click(function() {
            replay(undo, redo, '#redo', this);
          });
          $('#redo').click(function() {
            replay(redo, undo, '#undo', this);
      })



        function plusDivs(n) {
                for( var i in arrayTiffURLs){
                        if(arrayTiffURLs[i] == tiffURLvalue){
                                var value = i
                        }
                }
                value_final = (parseInt(value) + parseInt(n));
                checkFabricCanvas();
                showDivs(slideIndex += n, arrayTiffURLs[value_final]);
        }
		
		
		
		
		function drawRectangle() {
				if (edit_value=="fill_rect"){
					fabric_canvas.add(new fabric.Rect({
						left: 200,
						top: 100,
						fill: '#000',
						width: 100,
						height: 100,
						originX: 'center',
						originY: 'center',
						strokeWidth: 0
					   }));
				}
			   if (edit_value=="void_rect"){
					fabric_canvas.add(new fabric.Rect({
						left: 200,
						top: 100,
						fill: 'rgba(0,0,0,0)',
						width: 100,
						height: 100,
						stroke: 'black',
						strokeWidth: 1,
						originX: 'center',
						originY: 'center',

					   }));
			   }
            }


            function drawCircle() {
				if (edit_value=="fill_circle"){
					fabric_canvas.add(new fabric.Circle({
					left: 250,
					top: 150,
					fill: '#000',
					radius: 50,
					originX: 'center',
					originY: 'center',
					strokeWidth: 0
				  }));
				}
			   if (edit_value=="void_circle"){
					fabric_canvas.add(new fabric.Circle({
						left: 200,
						top: 100,
						radius: 50,
						fill: 'rgba(0,0,0,0)',
						width: 100,
						height: 100,
						stroke: 'black',
						strokeWidth: 1,
						originX: 'center',
						originY: 'center',

					   }));
                   }
            }

            function drawTriangle() {
                if(edit_value=="fill_tri"){
                    fabric_canvas.add(new fabric.Triangle({
                    left: 250,
                    top: 200,
                    fill: '#000',
                    width: 100,
                    height: 100,
                    originX: 'center',
                    originY: 'center',
                    strokeWidth: 0
                  }));
                }
            };


            function drawLine() {
                fabric_canvas.add(new fabric.Line([50, 100, 200, 200], {
                    left: 170,
                    top: 150,
                    stroke: 'red'
                }));

            };

	function printCanvas(url) {
        var dataUrl = url;
        var windowContent = '<!DOCTYPE html>';
        windowContent += '<html>'
        windowContent += '<head><title>Print</title></head>';
        windowContent += '<body>'
        windowContent += '<img src="' + dataUrl + '" onload=window.print();window.close();>';
        windowContent += '</body>';
        windowContent += '</html>';
        var printWin = window.open('', '', 'width=1200,height=1000');
        printWin.document.open();
        printWin.document.write(windowContent);
    }




</script>



</html>
