{% for k in files %}

     <tr>
        <td>{{ k.srNo }}</td>
        <td>{{ k.label }}</td>
        <td> {{ k.element_type }}</td>
        <td> {{ k.validation }} </td>
		<td> {% if k.required == True %}<input type="checkbox"  class="mandat" id="man_{{k.srNo}}" data-attr="{{k.label}}" checked>{% elif k.required == False %}<input type="checkbox"  class="mandat" id="man_{{k.srNo}}" data-attr="{{k.label}}">{% endif %}</td>
        <td> <a data-cities-url="{% url 'WorkflowManagement:removeField' queryset.pk k.label %}" title="Delete Field" class="btn btn-sm btn-danger removefield"><i class="fa fa-trash"></i></a> </td>
      </tr>

{% endfor %}
<script>

    $(".mandat").on('change', function() {
        var id = $(this).attr('id');
        var value = $('#'+id).is(':checked')
        var element = $(this).attr('data-attr');
        $.post("/workflow_management_selection/{{queryset.id}}",{'checked':value,'queryset_id':{{queryset.id}},'element':element}, function({'checked':value}, status){

          });
    });
</script>
