{% load i18n %}
{% load sizify %}
{% load pagie_count %}


<style>
    #no_data{
        padding-left: 564px;
    }
</style>


                {% if data %}

                {% for da in data %}
                {% for d, k in da.items %}
                <tr>
                  {% if data|length == 1 %}
                        {% if k == "" %}
                            <td class="text-center"><input name="choices1" class="abc" type="checkbox" disabled/></td>
                        {% else %}
                            <td class="text-center"><input name="choices1" class="abc" type="checkbox" /></td>
                        {% endif %}
                    {% else %}
                        {% if k == "" %}
                            <td class="text-center"><input name="choices1" class="abc" type="checkbox" disabled/></td>
                        {% else %}
                            <td class="text-center"><input name="choices1" class="abc" type="checkbox" /></td>
                        {% endif %}
                    {% endif %}

                    <td style="color:#007bff;"><a href="{% url 'WorkflowManagement:view_approved_document' d docs_id%}" class="view_document" data-attr-value="{{d}}">{{d}}</a></td>

                    <td>{{k|pagie_count}}</td>
                    <td>{{k|sizify}}</td>
                    <td>{% if k %}Available {%else%} Not Available{%endif%}</td>

                </tr>
                {% endfor %}
                {% endfor %}
            {% endif %}

<script>
   function getRow(n) {
    var row = n.parentNode.parentNode;
    var cols = row.getElementsByTagName("td");
    var i = 0;

    while (i < cols.length) {
        var val = cols[i].childNodes[0].nodeValue
        if (val != null) {
            alert(val);
        }
        i++;
    }
    }

    $('#selectAll_1').click(function (e) {
        $(this).closest('table').find('td input:checkbox').prop('checked', this.checked);
    });



 </script>

