{% load i18n %}
<title> {% block title %} Workflow Process {% endblock %} </title>
        <table id = "case-table" class = "table table-bordered table-sm table-striped" style="white-space:nowrap">
        <thead class="table-info text-center">
            <tr>
                <th>{% trans 'Sr. No.' %}</th>
                <th>{% trans 'Workflow No.' %}</th>
                <th>{% trans 'Workflow Name' %}</th>
                <th>{% trans 'WorkStep Name' %}</th>
                <th>{% trans 'Previous WorkStep' %}</th>
                <th>{% trans 'Created By' %}</th>
                <th>{% trans 'Entry Date Time' %}</th>
                <th>{% trans 'Maker' %}</th>
                <th>{% trans 'Turn Around Date Time' %}</th>
                <th>{% trans 'Checker' %}</th>

            </tr>
        </thead>
        <tbody>
                {% for d in data %}
                <tr>
                    <td>{{d.fields.srNo}}</td>
                    <td>{{d.fields.workflow_number}}</td>
                    <td>{{d.fields.wf_name}}</td>
                    <td>{{d.fields.workstep_name}}</td>
                    <td>{{d.fields.previous_workstep}}</td>
                    <td>{{d.fields.user_name}}</td>
                    <td>{{d.fields.entry_date_time}}</td>
                    <td>{{d.fields.maker_user_name}}</td>
                    <td>{{d.fields.modified_date_time}}</td>
                    <td>{{d.fields.checker_user_name}}</td>


                </tr>
                {% endfor %}

        </tbody>
        </table>

