{% extends 'header.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block body_block %}
{% load i18n %}
<head>
    <link rel = "stylesheet" type = "text/css" href = "{% static 'table/css/jquery.dataTables.css' %}"/>
    <script src = "{% static 'table/js/jquery.dataTables.js' %}"></script>

</head>
<br/>
<p class="breadcrumb breadcrumb_lbl kClass"><a href="{% url 'DMS:home' %}">{% trans 'Home' %}</a> /
    <a href="{% url 'WorkflowManagement:workflow_management' %}">{% trans 'Workflow Management' %}</a> /
    <a href="{% url 'WorkflowManagement:workflow_docs' %}">{% trans 'Workflow Docs' %}</a> /
    {% trans 'Search Document' %}
</p>

  <form id="personForm" method="post" data-cities-url="{% url 'WorkflowManagement:workflow_docs_search' %}" enctype="multipart/form-data">
    {% csrf_token %}
      <div class="row">
    <div class="col-md-3">
        <input type="text" name="search_data"  maxlength="30" class="form-control form-control-sm" value="{{search_data}}" required="" placeholder="Enter Workflow No / Account Number" id="search_text" />
    </div>
          <div class="col-md-2">
    <input type="submit" value="Submit" class="btn btn-primary btn-sm">
</div>
          <div class="col-md-7">
              <div class="p-2 float-right">
             <form>
              <select class="select_option" id="select_option">
                  <option name="download_value" value="Tiff">Tiff</option>
                  <option name="download_value" value="JPEG">JPEG</option>
                  <option name="download_value" value="PDF">PDF</option>
              </select>
             </form>
                <input  type="button" id="btn_download" data-attr-value="{{docs_id}}" class="btn btn-primary btn-sm" value="Download">
                <input  type="button" id="btn_delete" data-attr-value="{{docs_id}}" class="btn btn-primary btn-sm" value="Delete"/>
	        {% if data %}
				 <input type="button" id="btn_version" data-attr-value="{{docs_id}}" class="btn btn-primary btn-sm" value="Versions" onclick="WindowOpenForVersions();">
                {% else %}
                  <input type="button" id="btn_version" data-attr-value="{{docs_id}}" class="btn btn-primary btn-sm" value="Versions" onclick="WindowOpenForVersions();" disabled>
                {% endif %}			
            </div>
          </div>
      </div>
  </form>

    <div class="table-responsive">
         <table id = "case-table" class = "table table-bordered table-sm table-striped" style="white-space:nowrap">
            <thead class="table-info text-center">
                <tr>
                    {% if data|length == 1 %}
                        <th><input type="checkbox" id="selectAll_1" checked/></th>
                    {% else %}
                        <th><input type="checkbox" id="selectAll_1" /></th>
                    {% endif %}
                    <th>{% trans 'Document Name' %}</th>
                    <th>{% trans 'Availability' %}</th>

                </tr>
            </thead>
            <tbody id="tbody_id">
              {% include 'workflow_files/workflow_docs_list.html' %}
            </tbody>
         </table>

    </div>

<script src="{% static 'javascript/workflow_docs_js.js' %}"></script>
<script>
                   $(document).ready(function(){
        $.noConflict();
        $('#case-table').DataTable();
    });


                   $('#btn_delete').on('click', function(e) {
                       var value = $(this).attr('data-attr-value');
                       $("#tbody_id input[type=checkbox]:checked").each(function () {
                            var row = $(this).closest("tr")[0];
                            message = row.cells[1].innerHTML;
                        });

                        data_url = "del_workflow_docs/" + value + '/' + message ;
                        var isValid = isConfirmDel(e, data_url);

                        return false;
                 });


              function isConfirmDel(e, data_url) {
                   swal({
                         title: "Are you sure?",
                         text: "Selected Document will be deleted.!",
                         type: "warning",
                         showCancelButton: true,
                         confirmButtonClass: "btn-warning",
                         confirmButtonText: "Yes, delete it!",
                         cancelButtonText: "No, cancel plx!",
                         closeOnConfirm: false,
                         closeOnCancel: false
                       },
                       function(isConfirmDel){
                           if(isConfirmDel){
                               $.ajax({
                                   url: data_url,
                                   success:  function (data) {
                                       swal("Deleted!", "Document has been deleted.", "success");
                                       $("#note-id-0").html(data.html_book_list);
                                   }

                                  });
                           }
                           else{
                               swal("Cancelled", "Your note is safe :)", "error");
                           }
                       }
                )}
				
	function WindowOpenForVersions(){
        var value = $('#btn_version').attr('data-attr-value');
        var message = ""
        $("#tbody_id input[type=checkbox]:checked").each(function () {
            var row = $(this).closest("tr")[0];
            message = row.cells[1].innerHTML;
        });
        window.open("/workflow_docs_for_version?message=" + message + "&workflow_number="+value,null,"height=550px, width=1300px,bottom=10, status=no, resizable=yes");
        var value = $(this).attr('data-attr-value');


        window.location.reload()
    }	
</script>
{% endblock %}
