{% extends 'header.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block body_block %}
{% load i18n %}
<title> {% block title %} Workflow Docs {% endblock %} </title> 
<head>
    <link rel = "stylesheet" type = "text/css" href = "{% static 'table/css/jquery.dataTables.css' %}"/>
    <script src = "{% static 'table/js/jquery.dataTables.js' %}"></script>

</head>
<br/>

<div class="breadcrumb_dms">
        <nav>
            <ol class="breadcrumb breadcrumb_lbl kClass">
                <li class="breadcrumb-item"><a href="{% url 'DMS:home' %}">{% trans 'Home' %}</a></li>
                <li class="breadcrumb-item">
                    <a href="{% url 'WorkflowManagement:workflow_management' %}">{% trans 'Workflow Management' %}</a>
                </li>
				<li class="breadcrumb-item"><a href="{% url 'WorkflowManagement:workflow_docs' %}">{% trans 'Workflow Docs' %}</a></li>
                <li class="breadcrumb-item active">{% trans 'Search Document' %} </li>
            </ol>
        </nav>
    </div>

  <form id="personForm" method="post" data-cities-url="{% url 'WorkflowManagement:workflow_docs_search' %}" enctype="multipart/form-data">
    {% csrf_token %}
      <div class="row">
    <div class="col-md-3">
        <input type="text" name="search_data"  maxlength="30" class="form-control form-control-sm" value="{{search_data}}" required="" placeholder="Enter Workflow No / Account Number" id="search_text" />
    </div>
          <div class="col-md-2">
    <input type="submit" value="Submit" class="btn btn-primary btn-sm">
</div>
          <div class="col-md-7">
              <div class="p-2 float-right">
                   <input type="button" id="btn_delete" value="Delete" disabled class="btn btn-danger btn-sm">
              
            </div>
          </div>
      </div>
  </form>

<br/>
<div class="table-responsive">
         <table id = "case-table" class = "table table-bordered table-sm table-striped" style="white-space:nowrap">
            <thead class="table-info text-center">
                <tr>
                    <th>{% trans 'SrNo' %} </th>
                    <th>{% trans 'Document Name' %}</th>
                    <th>{% trans 'User' %}</th>
                </tr>
            </thead>
            <tbody id="tbody_id">
                {% if data_list %}
                    {% for da in data_list %}

                        <tr>
                                <td class="text-center"><input type="checkbox"/></td>
                                <td style="color:#007bff;"><a style="cursor:pointer" class="class_document" data-attr="{{da.account}}" data-attr-value="{{da.id}}">{{da.account}} </a> </td>
                                <td>None </td>
                        </tr>

                    {% endfor %}
                {% endif %}
            </tbody>
         </table>

    </div>

<script src="{% static 'javascript/workflow_docs_js.js' %}"></script>
<script>
    $(document).ready(function(){
        $.noConflict();
        $('#case-table').DataTable();
    });

    $('.class_document').on('click', function(e) {
        var docs = $(this).attr('data-attr');
        var wf_id = $(this).attr('data-attr-value');
        window.open("/workflow_docs_list?docs=" + docs + "&id="+wf_id,null,"height=680px, width=1350px,bottom=10, status=no, resizable=yes");

    });

	$('#btn_delete').on('click', function(e) {

            $("#tbody_id input[type=checkbox]:checked").each(function () {
                var row = $(this).closest("tr")[0];
                console.log(row.cells[1])

                message = $(row.cells[1]).find(".class_document").text();
                value = $(row.cells[1]).find(".class_document").attr('data-attr-value');

            });
            console.log("message", message, value)
            if (message != "") {
                    data_url = "delete_workflow_scanned_data/" + value;

                     $.getJSON(data_url, function(result) {
                    if (result){
                         alert('Deleted');
                     }
                    else {
                        alert("No Such Account")
                        window.location.reload(true);
                    }
                });

            }

            return false;
        });

      $('#tbody_id').on('change', 'input[type=checkbox]', function() {

                   $('#btn_delete').prop('disabled', false);

                if($('#tbody_id input:checked').length >= 2){
                    $('#btn_delete').prop('disabled', true);
                }

                if($('#tbody_id input:checked').length == 0){
                    $('#btn_delete').prop('disabled', true);
                }

        });


 </script>

{% endblock %}
