{% load staticfiles %}
{% load i18n %}
{% if files %}
{% for i in files %}
     <tr>
        <td>{{ i.fields.srNo }}</td>
        <td>{{ i.fields.wf_name }}</td>
        <td> <label class="switch">
            <input data-cities-url="{% url 'WorkflowManagement:toggle_button' i.pk %}" type="checkbox"
                           data-target="{{i.pk}}"  class="togbtn" id="togBtn_{{i.pk}}" data-attr-value="{{ i.fields.status }}"
                            data-attr-value_foo="{{i.fields.wf_definition}}" {% if i.fields.status %} checked {%endif%}>
                <span id="{{i.pk}}"  class="{% if i.fields.status %} myclass slider xyz round_{{i.pk}} {% else %} slider abc round_{{i.pk}} {% endif %}"
                      data-count="{% if i.fields.status %} ON {% else %} OFF {% endif %}">
                </span>

            </label>
        </td>
         <td>
            <a data-url="{% url 'WorkflowManagement:delete_workflow' i.pk %}" title="Delete Record" class="btn btn-danger delete_wf wf_{{i.pk}} {% if i.fields.status %} disabled {% endif %}"><i class="fa fa-trash"></i></a>
         </td>
         <td>
		{% if  i.fields.status == False %}  <!--When it was blank then use '""'  -->
            <a href="{% url 'WorkflowManagement:workflow_management_selection' i.pk %}" title="Create Record" class="btn btn-warning"><i class="fa fa-edit"></i></a>

            {% else %}
            <a href="{% url 'WorkflowManagement:workflow_form_view' i.pk %}" title="Edit Record" class="btn btn-info"><i class="fa fa-edit"></i></a>
            {% endif %}
         </td> 
	 </tr>
    {% endfor %}
{% else %}
  <tr>
    <td colspan="6"><h1 id="no">{% trans 'No Records Found' %}</h1></td>
  </tr>


{% endif %}
<script>

    $('.delete_wf').on("click",function (){
         var btn = $(this);
         $.ajax({
           url: btn.attr("data-url"),
           type: 'get',
           dataType: 'json',
           beforeSend: function () {
             $("#modal-book").modal("show");


           },
           success: function (data) {
             $("#modal-book .modal-content").html(data.html_form);
           }
         });

      });
     
       $(".togbtn").on('change', function() {
     var check = $(this).attr('data-attr-value');
       var url = $(this).attr('data-cities-url');
       var id2  = $(this).attr('data-target');
       var id = $('.round_' + id2).attr('id');
       var wf_def = $(this).attr('data-attr-value_foo');
        if (wf_def){
            $.getJSON(url, function(result) {
                    if (result.success) {
                        $('.round_' + id2).attr('data-count', 'ON');
                        $('.round_' + id2).removeClass('abc');
                        $('.round_' + id2).addClass('xyz');
                        $('.wf_' + id2).addClass('disabled');
                        document.getElementById('togBtn_' + id2).checked = true;
                    }
                    else{
                        $('.round_' + id2).attr('data-count', 'OFF');
                        $('.round_' + id2).removeClass('xyz');
                        $('.round_' + id2).addClass('abc');
                        $('.wf_' + id2).removeClass('disabled');
                        console.log('togBtn_' + id2)
                        document.getElementById('togBtn_' + id2).checked = false;
                    }

                });
                return false;
         }
         else{
            console.log("dgfdh");
            $('.round_' + id2).addClass('disabled');
            $('.round_' + id2).attr('title', 'Form is not yet created');
         }
    });



</script>
