<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="utf-8">
        <title>DMS</title>
        {% load staticfiles %}

        <link href= "{% static 'css/bootstrap.min_new.css' %}" rel ='stylesheet'>
        <link href= "{% static 'css/style.css' %}" rel="stylesheet" id="bootstrap-css">
        <link href= "{% static 'css/style2.css' %}" rel="stylesheet">


        <!-- Custom styles for this template -->
        <!--<link href= "{% static 'css/jumbotron.css' %}" rel="stylesheet">-->
        <script src="{% static 'js/jquery.min.js'%}" ></script>
        <script src="{% static 'js/popper.min.js'%}"></script>
        <script src="{% static 'js/bootstrap.min.js'%}"></script>
     </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="navbar-header">
            <!--<img src="{% static 'images/adroit12.svg' %}" align="left" class="navbarlogo img-responsive " />fixed-top-->
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'contact' %} ">Contact</a>
                    </li>
                </ul>
                <!--<form class="form-inline my-2 my-lg-0">-->
                    <!--<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">-->
                    <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
                <!--</form>-->
                <ul class="navbar-nav ">
                    <li class="nav-item active">
                {% if user.is_authenticated %}
                        <li class="nav-item active dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown01">
                                <a class="dropdown-item" href="{% url 'DMSaccount:edit_profile' user.pk %}">Edit Profile</a>
                                <a class="dropdown-item" href="{% url 'change_password' %}">Change Password</a>
                                <a class="dropdown-item" href="{% url 'DMSaccount:logout' %}">Logout</a>
                            </div>
                        </li>
                    {% else %}
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'signup' %}">Signup <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'user_login' %}">Login <span class="sr-only">(current)</span></a>
                        </li>
                    {% endif %}
                    </li>
                </ul>
            </div>
        </nav>
    <!-- Main jumbotron for a primary marketing message or call to action -->
        <!--<header>-->
         <!--<div class="row_h3" class="fixed-top" id="myHeader">-->
            <!--<div class="navbar-header ">-->
               <!--<a href="http://www.adroitcorporate.com" title="Adroit Corporate Services Pvt. Ltd."><img src="{% static 'images/adroit12.svg' %}" align="left" class="navbarlogo img-responsive " alt="Adroit Corporate Services Pvt. Ltd."></a>-->
            <!--</div>-->
            <!--&lt;!&ndash;<div class="center_h3">&ndash;&gt;-->
               <!--&lt;!&ndash;<h3>Ad-Procure</h3>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
         <!--</div>-->
      <!--</header>-->
        <main role="main">

                <!-- <div class="container"> -->
                        {% block content %}
                        {% endblock content %}
                <!-- </div> -->

        </main>

    </body>

<footer>
    <div class="row_foot">
                    <p class="foot_p">© <span id="year"><script>document.write(new Date().getFullYear())</script></span> <a href="http://www.adroitcorporate.com/" target="_blank" title="Adroit Corporate Services Pvt.Ltd."> Adroit Corporate Services Pvt. Ltd</a> &nbsp;|&nbsp; All rights reserved.</p>
                </div>
</footer>
</html>
