<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
    <head>
          <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>DMS</title>
        {% load staticfiles %}

        <link href= "{% static 'css/bootstrap.min.css' %}" rel ='stylesheet'>
        <link href= "{% static 'css/style.css' %}" rel="stylesheet" id="bootstrap-css">
        <link href= "{% static 'css/style2.css' %}" rel="stylesheet">


        <!-- Custom styles for this template -->
        <link href= "{% static 'css/jumbotron.css' %}" rel="stylesheet">
        <script src="{% static 'js/jquery.min.js'%}" ></script>
        <script src="{% static 'js/popper.min.js'%}"></script>
        <script src="{% static 'js/bootstrap.min.js'%}"></script>

        <script src="{% static 'js/sweetalert.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/sweetalert.css' %}">

        <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
        {% block javascript_webcam %}
        {% endblock javascript_webcam %}




     </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="navbar-header">
            <!--<img src="{% static 'images/adroit12.svg' %}" align="left" class="navbarlogo img-responsive " />fixed-top-->
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <!-- <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a> -->
                       <!-- <a href="#"><img src="{% static 'images/Adroit-logo.png' %}" class="img-responsive" width="70" alt=""/></a>-->
                    </li>
                    <!-- <li class="nav-item active">
                        <a class="nav-link" href="{% url 'contact' %} ">Contact</a>
                    </li> -->
                </ul>
                <!--<form class="form-inline my-2 my-lg-0">-->
                    <!--<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">-->
                    <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
                <!--</form>-->
                <ul class="navbar-nav ">
                    <li class="nav-item active">
              {% load i18n %}

                <form action="{% url 'set_language' %}" method="post">
                  {% csrf_token %}
                    <input name="next" type="hidden" value="{{ redirect_to }}">
                    <select name="language"  style="margin-top:6px" onchange=this.form.submit();>
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                                {{ language.name_local }} ({{ language.code }})
                            </option>
                        {% endfor %}
                    </select>
                </form>


                {% if user.is_authenticated %}
                        <li class="nav-item active dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" style="padding-right: 70px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% trans 'Account' %}</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown01">
                                <a class="dropdown-item" href="{% url 'DMSaccount:edit_profile' user.pk %}">{% trans 'Edit Profile' %}</a>
                                <a class="dropdown-item" href="{% url 'change_password' %}">{% trans 'Change Password' %}</a>
                                <a class="dropdown-item" href="{% url 'DMSaccount:logout' %}">{% trans 'Logout' %}</a>
                            </div>
                        </li>
                    {% else %}
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'signup' %}">{% trans 'Signup' %}<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'user_login' %}">{% trans 'Login' %}<span class="sr-only">(current)</span></a>
                        </li>
                    {% endif %}
                    </li>
                </ul>
            </div>
        </nav>
    <!-- Main jumbotron for a primary marketing message or call to action -->
        <!--<header>-->
         <!--<div class="row_h3" class="fixed-top" id="myHeader">-->
            <!--<div class="navbar-header ">-->
               <!--<a href="http://www.adroitcorporate.com" title="Adroit Corporate Services Pvt. Ltd."><img src="{% static 'images/adroit12.svg' %}" align="left" class="navbarlogo img-responsive " alt="Adroit Corporate Services Pvt. Ltd."></a>-->
            <!--</div>-->
            <!--&lt;!&ndash;<div class="center_h3">&ndash;&gt;-->
               <!--&lt;!&ndash;<h3>Ad-Procure</h3>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
         <!--</div>-->
      <!--</header>-->
        <main role="main">
            <div class="jumbotron">
                <div class="container">
                        {% block content %}
                        {% endblock content %}
                </div>
            </div>
        </main>

    </body>



<footer>
    <div class="row_foot">
                    <p style="color:white;" class="foot_p">© <span id="year"><script>document.write(new Date().getFullYear())</script></span> <a style="color:white;" href="http://www.adroitcorporate.com/" target="_blank" title="Adroit Corporate Services Pvt.Ltd."> Adroit Corporate Services Pvt. Ltd</a> &nbsp;|&nbsp; All rights reserved.</p>
                </div>
</footer>
</html>
