{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Access Camera</title>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/webcamjs/1.0.25/webcam.min.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" />
    <script src="{% static 'js/sweetalert.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/sweetalert.css' %}">

</head>
<body>

    <div id="my_camera"></div>
    <input type="hidden" name="image" class="image-tag" id="{{user}}">
    <input type="button" value="Take Snapshot" onclick="takeSnapshot();" id="hello" data-attr-value="{{forType}}">
</body>

</html>
<script language="JavaScript">

      var currentLocation = window.location;
      console.log(currentLocation)
      Webcam.set({

          width: 490,

          height: 390,

          image_format: 'jpeg',

          jpeg_quality: 90

      });


        Webcam.reset();
        Webcam.attach( '#my_camera' );


        function takeSnapshot(){
          Webcam.snap( function(data_uri) {

                $(".image-tag").val(data_uri);

                var userme = $('.image-tag').attr('id');
                console.log(userme);
                console.log('i m here now');
                $.ajax({
                    url: "/snataken/",
                    type: "post",
                    data: {'data': data_uri,'userName':userme},
                    success : function(result)
                    {
                        if(result.Face_Captured){
                          swal({
                            title: "Done",
                            text: "Face Registered Successfully!",
                            type: "success",
                            confirmButtonText: "OK"
                          },
                          function(isConfirm){
                            console.log('Success on Face Capturing');
                            });
                          }
                        else{
                          swal({
                            title: "Error",
                            text: "Face Not Captured Properlly!",
                            type: "warning",
                            confirmButtonText: "OK"
                          },
                          function(isConfirm){
                            console.log('Error on Face Capturing');
                          });

                        }
                        }
                });

                // $.post("/snataken/", {'data': data_uri,'userName':userme});
                document.getElementById('results').innerHTML = '<img src="'+data_uri+'"/>';
            } );

          }

         $('#hello').on('click',function (){
              var fortype = $(this).attr('data-attr-value');
              console.log(fortype);

              if ( fortype == 'login' ){

                swal({
                  title: "Done",
                  text: "Face Registered Successfully!",
                  type: "success",
                  confirmButtonText: "OK"
                },
                function(isConfirm){
                  if (isConfirm) {
                    window.close();
                  }
                });
              }else{
                 setTimeout(function () {
                    window.close();
                    }, 5000);
              }
          });




    </script>
