<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Access Camera</title>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/webcamjs/1.0.25/webcam.min.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" />


</head>
<body>

    <div id="my_camera"></div>
    <input type="hidden" name="image" class="image-tag" id="{{user}}">
    <input type="button" value="Take Snapshot" onclick="takeSnapshot();" id="hello">
</body>

</html>
<script language="JavaScript">

      var currentLocation = window.location;
      console.log(currentLocation)
      Webcam.set({

          width: 490,

          height: 390,

          image_format: 'jpeg',

          jpeg_quality: 90

      });


        Webcam.reset();
        Webcam.attach( '#my_camera' );


        function takeSnapshot(){
          Webcam.snap( function(data_uri) {

                $(".image-tag").val(data_uri);

                var userme = $('.image-tag').attr('id');
                console.log(userme);
                console.log('i m here now');
                $.post("/snatakenforlogin/", {'data': data_uri,'userName':userme});
                document.getElementById('results').innerHTML = '<img src="'+data_uri+'"/>';
            } );

          }

         $('#hello').on('click',function (){
            setTimeout(function () {
            window.close();
            }, 1000);

          });


    </script>
