{% extends 'header.html' %}
{% load i18n %}
{% block body_block %}
<title> Change Password </title>
<br/>
<head>
    <style>
        #my_pwd {
          display: none;
          color: red;
        }

        #confirm_pwd {
          display: none;
          color: red;
        }
    </style>
</head>
 <div class="breadcrumb_dms">
        <nav>
            <ol class="breadcrumb breadcrumb_lbl">
                <li class="breadcrumb-item"><a href="{% url 'DMS:home' %}">{% trans 'Home' %}</a></li>
				<li class="breadcrumb-item"> <a href="{% url 'DMSaccount:dms_settings' %}">{% trans 'Settings'%}</a></li>
                <li class="breadcrumb-item active">{% trans 'Password Settings' %}</li>
            </ol>
        </nav>
    </div>    

<div id="message_container">
        {% include 'messages.html' %}
    </div>
    <form autocomplete="off" action="{% url 'DMSaccount:change_password' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <h3>Change Password</h3>
        <h6>Use this form to change your password. Once changed, your new password will be in effect next time you login. </h6><br>

        Current Password : <input type="password" class="form-control" name="current_pwd" id="current_password" required><span id="my_pwd">Wrong Password!</span><br>

        New Password : <input type="password" class="form-control" name="new_pwd" id="new_pwd" required disabled><br>

        Re-enter New Password : <input type="password" class="form-control" name="re_pwd" id="re_pwd"  required disabled><span id="confirm_pwd">Password didn't match!</span><br>

        <input type="submit" id="save_pwd" class="btn btn-primary" value="Change Password" disabled>
    </form>

<script>

    $("#current_password").on('change', function(){
        var val = $(this).attr('value');
        $.ajax({
           url: '/check_user_password/',
           type: 'get',
           data:{
                'original_password': val,
           },
           success: function (data) {
             if(data.is_matched == true){
                $('#new_pwd').removeAttr('disabled');
                $('#re_pwd').removeAttr('disabled');
                <!--$('#save_pwd').removeAttr('disabled');-->
             }else{
                $('#my_pwd').attr('style','display:block');
                $('#new_pwd').attr('disabled', true);
                $('#re_pwd').attr('disabled', true);
                $('#save_pwd').attr('disabled',true);
             }

           }
         });
    });

    $('#re_pwd').on('change', function (){

        var pwd = $('#new_pwd').val();
        var renter_pwd = $('#re_pwd').val();
        if (pwd == renter_pwd){
            $('#save_pwd').removeAttr('disabled');
            $('#confirm_pwd').attr('style','display:none');
        }else{

            $('#save_pwd').attr('disabled',true);
            $('#confirm_pwd').attr('style','display:block');
        }

    });
</script>
{% endblock %}
