{% if user.is_authenticated %}
<!DOCTYPE html>
{% load i18n %}
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="{% static 'css/file.css' %}">
    <link rel="stylesheet" href="{% static 'css/w3_css.css' %}">
<!--    <link rel="stylesheet" href="{% static 'font-awesome/Fonts/font-awesome.min.css' %}"> -->
    
      <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min_new.css' %}">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <link href= "{% static 'css/style5.css' %}" rel="stylesheet">
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script>
       var $ = jQuery.noConflict();
    </script>
    <script src="{% static 'js/jquery-1.9.1.min.js' %}"></script>
    <script>
       var $y = jQuery.noConflict();
    </script>
    <script src = "{% static 'table/js/jquery-3.2.1.js' %}"></script>
      <script type="text/javascript">
         $(function () {
        $('[data-toggle="tooltip"]').tooltip()
        });
    </script>
    <style>
        #start-record-btn { cursor: pointer; }

        #stop-btn { cursor: pointer; display: none; }
        #note-textarea{
           margin-right : 12px;
        }
        #start-record-btn{
           margin-left : 8px;
        }
        
       .placeholder_class::-webkit-input-placeholder { /* Chrome/Opera/Safari *
          font-size:73%
        }
        .placeholder_class::-moz-placeholder { /* Firefox 19+ */
          font-size:73%
        }
        .placeholder_class:-ms-input-placeholder { /* IE 10+ */
          font-size:73%
        }
        .placeholder_class:-moz-placeholder { /* Firefox 18- */
          font-size:73%
        }
        span:hover{
        background-color:#D3D3D3;
            border-radius: 3px;
        }
 </style>
  </head>
  <body style="overflow:auto; background:{{color}};">
    <div class="navbar-container">
      <div class="bg-light navbar-light" data-sticky="top">
          <div class="topnav" style="background:{{header_color}}">
		<a href="" title="Adroit Corporate Services Pvt. Ltd"><img src="{% static 'images/Adroit-logo-2.png' %}" class="img-responsive" width="90" alt="Adroit Corporate Services Pvt. Ltd"></a>
			  <div class="search-container">
                            <form class="form-inline my-2 my-lg-0" id="search-form" action="{% url 'DMS:search_files' user.pk %}" autocomplete="off">

				  <input type="text" id="note-textarea" class="placeholder_class" placeholder="{% trans 'Search By Filename/Uploader Name' %}" name="searchMe" required>
				  <button type="submit"><i style="color:black;font-size:19px" class="fa fa-search"></i></button>
                                  <button id="start-record-btn" data-attr-value={{user.pk}}><i class="fa fa-microphone-slash" style="font-size:19px;color:red"></i></button>
                                  <button id="stop-btn" ><i class="fa fa-microphone" style="font-size:19px;color:green"></i></button>&nbsp;&nbsp;
                            <!--<button style="margin-left:1px !important;"><a style="float:right;font-size:19px;padding:0.3rem;" class="fa fa-power-off" href="{% url 'DMSaccount:logout' %}"></a></button>
-->                                <span onclick="window.location.href='{% url 'DMSaccount:logout' %}';" style="border:0.1px solid black;font-size:21px;hover:background-color: yellow;">
             <i class="fa fa-power-off" style="font-size:21px;color:black;padding-right: 9px;padding-left: 8px;">
             </i></span>

                            </form>
                           <a style="float: right;font-size: inherit;color:red">{% trans "Last Login:" %} {{user.last_login}}</a><br/>
                 <!--        <a style="float:right;padding:5px;font-size:x-large;" class="fa fa-power-off" href="{% url 'DMSaccount:logout' %}"></a>-->
			 </div>
      </div>
      </div>
    </div>

    <div class="col-md-11 mx-auto">
    {% block body_block %}
    {% endblock %}
    </div>
<br/>
<br/>
        <script src="{% static 'js/datepicker1.js' %}"></script>
        <script src="{% static 'js/datepicker2.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/datepicker.css' %}">


        <script src="{% static 'js/table2excel.js' %}"></script>
        <script src="{% static 'js/html2canvas.min.js' %}"></script>
        <script src="{% static 'js/pdfmake.min.js' %}"></script>

        <script src="{% static 'js/sweetalert.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/sweetalert.css' %}">

        <script type="text/javascript">

          $(document).ready(function(){
		  
		 $('.show_calendar').datepicker({
               stepMonths: 0,
                    dateFormat: 'dd-mm-yy',
              })

         $('.show_calendar2').datepicker({
                stepMonths: 0,
                    dateFormat: 'dd-mm-yy',
                })
	
              $("#changeId").change(function(){
                  $(this).find("option:selected").each(function(){
                      var optionValue = $(this).attr("value");

                      if(optionValue=='1'){


                            $(".me").datepicker({
                                changeMonth: true,
                                changeYear: true,
                                yearRange: '1950:2050',
                                dateFormat: 'dd-mm-yy'
                            }).hide();
                            $(".B1").hide();
                            $("." + optionValue).show();

                      } else{


                            $(".me").hide();
                            $(".B1").hide();

                      }
                      if(optionValue=='2'){



                            $(".sup").datepicker({
                                changeMonth: true,
                                changeYear: true,
                                yearRange: '1950:2050',
                                dateFormat: 'dd-mm-yy'
                            }).hide();
                            $(".G3").hide();
                            $("." + optionValue).show();

                      } else{

                            $(".sup").datepicker({
                                changeMonth: true,
                                changeYear: true,
                                yearRange: '1950:2050',
                                dateFormat: 'dd-mm-yy'
                            }).hide();
                            $(".G3").hide();



                      }
                      if(optionValue=='10'|| optionValue=='11' || optionValue=='12' || optionValue=='13' || optionValue=='14' || optionValue=='15'){
                        $(".sup").datepicker({
                            changeMonth: true,
                            changeYear: true,
                            yearRange: '1950:2050',
                            dateFormat: 'dd-mm-yy'
                        }).hide();

                        $(".sup").datepicker({
                            changeMonth: true,
                            changeYear: true,
                            yearRange: '1950:2050',
                            dateFormat: 'dd-mm-yy'
                        }).show();
                      }






                  });
              }).change();



          });

        {% if messages %}
         <!-- Hide Messages in Django after some time -->
         var message_django = document.getElementById("message_container");
         message_django.className = "show_message";

          setTimeout(function(){

             message_django.className = message_django.className.replace("show_message", "");
          }, 3000);
        {% endif %}


        </script>
        <script>
          var pdfurl = '{% static 'images/pdf.jpg' %}';
          var csvurl = '{% static 'images/csv.png' %}';
          var excelurl = '{% static 'images/excel.png' %}';
          var texturl = '{% static 'images/text.png' %}';
          var wordurl = '{% static 'images/word.png' %}';
        </script>

        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap_modal_box.min.js' %}"></script>
        <script src="{% static 'javascript/speech_recognition.js' %}"></script>
        {% block javascript %}
        {% endblock %}
    <footer>

    <div class="row_foot" style="background:{{footer_color}}">
        <div class="container">
        <p style="color:white" class="foot_p">© <span id="year"><script>document.write(new Date().getFullYear())</script></span> <a href="http://www.adroitcorporate.com/" target="_blank" title="Adroit Corporate Services Pvt.Ltd."> Adroit Corporate Services Pvt. Ltd</a> &nbsp;|&nbsp; All rights reserved.</p>
    </div>
    </div>
    </footer>
  </body>

</html>
{% else %}
{% include 'login.html' %}
{% endif %}
