{% extends 'base.html' %}
{% block content %}

<div class="container">
  <h1><center>Invalid User</center></h1>
  <center><a class="btn btn-primary" href="{% url 'user_login' %}">Try out again</a></center>

</div>

{% endblock content %}
