{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load i18n %}
{% block content %}
<head>
  {% block javascript_webcam %}
<!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/webcamjs/1.0.25/webcam.min.js"></script>-->
<!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>-->
   <script src="{% static 'js/cryptoJS.js' %}"></script>
   <script src="{% static 'js/webcam.min.js' %}"></script>
  {% endblock %}

  <style type="text/css">

      #results { padding:20px; border:1px solid; background:#ccc; display: none;}
      #accesscam { cursor: pointer; }
      #login { cursor: pointer; display: none; }


  </style>
   <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
</head>
<br/>
<br/>
<body class="body_signup">
 {%if login_action == "workflowLogin"%}
        {% with action_value="url 'WorkflowManagement:workflowLogin'" %}
        {%endwith%}
 {%elif login_action == 'workflowDocLogin'%}
        {% with action_value="url 'WorkflowManagement:workflow_docs'" %}
        {%endwith%}
 {%else%}
        {% with action_value="url 'user_login'" %}
        {%endwith%}
 {%endif%}

<form class="form-signin" method="post" {%if login_security == 6%} id='formId' {%endif%}
             action="{{action_value}}" autocomplete="off">
  {% csrf_token %}

   <div class="text-center mb-4">
        <script src="{% static 'javascript/captcha-refresh.js' %}"></script>
        <!--<img class="mb-4" src="{% static 'images/dms.png' %}" alt="" width="72" height="72">-->
        <!--<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>-->
          <br>
          <!-- <div style="border:1px solid black;height:40%;width:100%" >
            </div> -->
          <!-- <div class="center-div_fixed"></div> -->
          <div class="tile" style="margin:auto;">
              <div class="tile-header" style=" width:43%; height:140px;" >
              </div>
                <!--<label for="username" class="sr-only">Username:</label>-->
                <!--<input type="text" class="form-control" name="username" placeholder="Username">-->
          <div class="tile-body">
                <label for="username" class="form-input" style="margin-left: 2.25rem">
                    <i class="fa fa-user" style="position: absolute;font-size: 1.5rem;top: 1.4rem;margin-left: -2.5rem;"></i>
                    <input type="text" name="auth" id="id_username" autocomplete="off" required />
                    <span class="label" style="font-size:medium;">{% trans 'Username' %}</span>
                    <div class="underline"></div>
                </label>
                <label for ="password" class="form-input" style="margin-left: 2.25rem">
                    <i class="fa fa-lock" style="position: absolute;font-size: 1.5rem;top: 1.4rem;margin-left: -2.5rem;"></i>
                    <input type="password" name="auth_key" id="id_password" required />
                    <span class="label" style="font-size:medium;">{% trans 'Password' %}</span>
                    <div class="underline"></div>
                </label>
		<input type="hidden" name="next" value="{{ request.GET.next }}" />
		            {% if messages %}
                    {% for message in messages %}
                      <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                        {{ message }}
                      </div>
                    {% endfor %}
                {% endif %}

		{% if login_security == 2 %}
                    {{ form }}

                    <a href="#void" class="captcha-refresh"><img src="{% static 'images/refresh.png'%}" width="50" height="40" ></a>
                    <br/>
                {% endif %}

      	{% if login_security == 3 %}
                    <script src='https://www.google.com/recaptcha/api.js'></script>
                    <div class="g-recaptcha" data-sitekey="6Ldde5EUAAAAABYZJNp32wuo7UGA1aoJ2jb9_O-W"></div>
                {% endif %}
                <br/>
          {% if login_security == 5 %}

                 <div class="container">
                 <input type="hidden" name="sum" id="sum" />
                 <span id="question" style='color:#0d4c91; float:left;' ></span>
                 <span id="success" style='color:green; float: right;'>&#10004;</span>
                 <span id="fail" style='color:red;  float: right;'>&#10008;</span>

                <input id="ans" type="text" name='success' placeholder="Enter captcha result" autocomplete="off">

                 <span><a id="reset" value="reset" ><img src="{% static 'images/refresh.png'%}" width="40" height="30" ></a></span>
                 <span id="message"style='color:#0d4c91;  float: right;'>Please verify.</span>
             </div>
       {% endif %}
                 <a class="float-right" href="{% url 'DMSaccount:reset' %}">{% trans 'Forgot Password?' %}</a>
        {% if login_security == 6 %}
                <!-- <a href="{% url 'DMSaccount:reset' %}"> Forget Password</a> -->
                <input type="submit" data-cities-data='{{aes_pass}}' class="btn btn-lg btn-primary btn-block btn-submit-aes" value="{% trans 'Login' %}" id="login"><br>
                <input type="button" class="btn btn-lg btn-primary btn-block" value="{% trans 'Access Camera' %}" id="accesscam" disabled="disabled" onclick="openCamera();">
                <input type="hidden" name="image" class="image-tag">
                <div id="results">Your captured image will appear here...</div>
        {% else %}
                <input type="submit" data-cities-data='{{aes_pass}}' class="btn btn-lg btn-primary btn-block btn-submit-aes" value="{% trans 'Login' %}" ><br>
        {% endif %}
          </div>
          </div>
       <br>
   </div>
</form>

</body>
<script src="{% static 'javascript/math-captcha-refresh.js' %}"></script>
<script language="JavaScript">

    $("input[type='text'], input[type='password']").on("change", function(){

        if($("#id_username").val() != "" && $("#id_password").val() != ""){

            $("input[type='button']").removeAttr("disabled");
        }
        else if($("#id_username").val() === "" || $("#id_password").val() === ""){

            $("input[type='button']").attr("disabled",'true');
        }
    });
    $('#mylink').on('click',function (){
        var user = $(this).attr('class')
        var forType = "login"
        window.open("/camera/"+user+"/"+forType+"/",null,"height=450px, width=600px, status=no, resizable=yes");
        window.location.reload()
    });


	$('#formId').on('keyup keypress', function(e) {
          var keyCode = e.keyCode || e.which;
          if (keyCode === 13) {
            e.preventDefault();
            return false;
          }
        });

  $(document).ready(function () {
      $("#accesscam").click(function () {
         $("#login").show()
         $("#accesscam").hide()
        });

      // validate();
      // $('input').on('keyup', validate);

  });



  function validate() {
    var inputsWithValues = 0;

    // get all input fields except for type='submit'
    var myInputs = $("input:not([type='button'],[type='submit'],[type='image'],[type='hidden'])");

    myInputs.each(function(e) {
      // if it has a value, increment the counter
      if ($(this).val()) {
        inputsWithValues += 1;
      }
    });

    if (inputsWithValues == myInputs.length) {
      $("input[type=button]").prop("disabled", false);
    } else {
      $("input[type=button]").prop("disabled", true);
    }
  }


  function openCamera(){
       var user = $('#id_username').val();



     window.open("/camera2/"+user+"/",null,"height=450px, width=600px, status=no, resizable=yes");
      Webcam.set({

        width: 490,

        height: 390,

        image_format: 'jpeg',

        jpeg_quality: 90

    });






  }

<!--     $('#id_username').bind('keypress', function(e) { -->
<!--        var k = e.which; -->
<!--        var ok = k >= 65 && k <= 90 || // A-Z -->
<!--            k >= 97 && k <= 122 || // a-z -->
<!--            k >= 48 && k <= 57 || // 0-9 -->
<!--	    k == 8 && k == 9; //backspace and tab -->
<!--        if (!ok){ -->
<!--            e.preventDefault(); -->
<!--        }-->

<!--    });--> 

    $('.btn-submit-aes').on('click', function(){
        var passWD = document.getElementById("id_password");
        var key_parse = $(this).attr('data-cities-data');
        var key = CryptoJS.enc.Utf8.parse(key_parse);
        var iv = CryptoJS.lib.WordArray.random(16);
        var encrypted_pass = CryptoJS.AES.encrypt(passWD.value, key, {iv: iv});
        var value_pass = iv.concat(encrypted_pass.ciphertext).toString(CryptoJS.enc.Base64);
        passWD.value = value_pass;
   });


</script>
{% endblock %}
