{% extends 'base.html' %}
{% block content %}
<head>
    <title> DMS - Logged Out</title>
</head>

<body>
    You have successfully logged out.
    <a href="{% url 'user_login'%}">Click here to Login Again </a>
</body>

{% endblock %}