{% extends 'header.html' %}
{% load i18n %}
{% block body_block %}
<title> {% block title %} Pagination {% endblock %} </title>
<br/>
      
	<div class="breadcrumb_dms">
        <nav>
            <ol class="breadcrumb breadcrumb_lbl">
                <li class="breadcrumb-item"><a href="{% url 'DMS:home' %}">{% trans 'Home' %}</a></li>
				<li class="breadcrumb-item"> <a href="{% url 'DMSaccount:dms_settings' %}">{% trans 'Settings'%}</a></li>
                <li class="breadcrumb-item active">{% trans 'Pagination Settings' %}</li>
            </ol>
        </nav>
    </div>
	

<div id="message_container">
            {% include 'messages.html' %}
        </div>
      <form action="{% url 'DMSaccount:page_records_setting' %}" method="post">
          {% csrf_token %}
          {{ form.as_p }}

          <input type="submit" class="btn-submit2 btn btn-primary" value="Submit"/>

        </form>
<script>


    // Executed when DOM is loaded
    $(document).ready(function() {
   // Executed when select is changed
    $("select").on('change',function() {
        var x = this.selectedIndex;

        if (x == "") {
           $(".btn-submit2").attr("disabled", true);
        } else {
           $(".btn-submit2").attr("disabled", false);
        }
    });

    // It must not be visible at first time
    $(".btn-submit2").attr("disabled", true);
});
</script>

{% endblock %}
