{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% if user.is_authenticated %}
<form method="post" >
  {% csrf_token %}
  {{ form | crispy }}
  <button type="submit">Save changes</button>
</form>
{% else %}
    <h2>You are not logged in.Please login</h2>
{% endif %}
{% endblock %}
