{% extends base.html %}


{% body content %}

<div id="content" class="colM">

        <h1>Change password: karan</h1>
        <div id="content-main">
<form action="" method="post" id="user_form" autocomplete="off"><input type="hidden" name="csrfmiddlewaretoken" value="JDpOBhrybRKja9h378guFhLccCOj0dNM2u369xBBmwc9I8WtHRmjaIncHk2HHYHM">
<input type="text" name="username" value="karan" style="display: none">
<div>



<p>Enter a new password for the user <strong>karan</strong>.</p>

<fieldset class="module aligned">

<div class="form-row">

  <label class="required" for="id_password1">Password:</label> <input type="password" name="password1" autofocus required id="id_password1">

  <div class="help"><ul><li>Your password can&#39;t be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can&#39;t be a commonly used password.</li><li>Your password can&#39;t be entirely numeric.</li></ul></div>

</div>

<div class="form-row">

  <label class="required" for="id_password2">Password (again):</label> <input type="password" name="password2" required id="id_password2">

  <div class="help">Enter the same password as before, for verification.</div>

</div>

</fieldset>

<div class="submit-row">
<input type="submit" value="Change password" class="default">
</div>

</div>
</form></div>
</div>
{% endblock %}
