{% extends 'header.html' %}
{% load i18n %}
{% block body_block %}
<title> {% block title %} Change Security {% endblock %} </title>
<style>
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #0d4c91;
}

input:focus + .slider {
  box-shadow: 0 0 1px #0d4c91;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
</style>
<br/>

<div class="breadcrumb_dms">
        <nav>
            <ol class="breadcrumb breadcrumb_lbl">
                <li class="breadcrumb-item"><a href="{% url 'DMS:home' %}">{% trans 'Home' %}</a></li>
                <li class="breadcrumb-item">
                    <a href="{% url 'DMSaccount:dms_settings' %}">{% trans 'Settings'%}</a>
                </li>
				<li class="breadcrumb-item"><a href="{% url 'DMSaccount:select_security' %}">Login Security</a> </li>
				
                <li class="breadcrumb-item active">{% trans 'Change Security' %}</li>
            </ol>
        </nav>
    </div>

<span style="font-family: 'Poppins', sans-serif; font-size: 1.4em;"><u>Confirm for below security </u> </span>
<br/><br/>
<span style="font-size: 20px;">Activate:</span>&nbsp;&nbsp;
<label class="switch">
    <input data-cities-url="{% url 'DMSaccount:toggle_security' select.pk %}" class="togbtn" type="checkbox"
            {% if select.is_activate %} checked {%endif%}>
        <span class="slider round"></span>
    </label>
<script>
        $(".togbtn").on('change', function() {
       var url = $(this).attr('data-cities-url');
      console.log(url); 
	       $.getJSON(url, function(result) {
                    if (result.success) {
                        console.log('Set True');
                    }
                    else{
                        console.log('Set False');
                    }

                });
                return false;
    });

</script>
{% endblock %}

