{% extends 'header.html' %}
{% load i18n %}
{% block body_block %}
<title> {% block title %} Security {% endblock %} </title>
<br/>

<div class="breadcrumb_dms">
        <nav>
            <ol class="breadcrumb breadcrumb_lbl">
                <li class="breadcrumb-item"><a href="{% url 'DMS:home' %}">{% trans 'Home' %}</a></li>
                <li class="breadcrumb-item">
                    <a href="{% url 'DMSaccount:dms_settings' %}">{% trans 'Settings'%}</a>
                </li>
				
                <li class="breadcrumb-item active">{% trans 'Login Security' %}</li>
            </ol>
        </nav>
    </div>

{% if not user.is_superuser %}
    <p style="color:red">{% trans 'You need Administrative permission to Edit Bellow Setting.' %}</p>
  {% endif %}


    {% for sec in security %}

    <p class="breadcrumb accord">

       <strong style="font-weight:initial">  {{ sec.id }} :&nbsp;</strong>&nbsp;
       {% if user.is_superuser %}
        <strong style="font-weight:initial"><a href=" {%url 'DMSaccount:select_security' sec.id %}" class = "btn btn-danger btn-sm" >{{ sec.security_option }}</a></strong>&nbsp;
        {% endif  %}
        {% if not user.is_superuser %}
        <strong style="font-weight:initial"><button class = "btn btn-danger btn-sm" > {{ sec.security_option }} </button></strong>&nbsp;
        {% endif %}
       <!-- <strong style="font-weight:initial">{{ sec.description}} :&nbsp; </strong>-->
         <strong style="font-weight:initial"> {{ sec.is_activate }} &nbsp;</strong>
         
    </p>
    {% endfor %}

{% endblock %}
