{% extends 'header.html' %}
{% load i18n %}
{% block body_block %}
<title> {% block title %} Setting {% endblock %} </title>
<br/>

	<div class="breadcrumb_dms">
        <nav>
            <ol class="breadcrumb breadcrumb_lbl">
                <li class="breadcrumb-item"><a href="{% url 'DMS:home' %}">{% trans 'Home' %}</a></li>
				
                <li class="breadcrumb-item active">{% trans 'Settings' %}</li>
            </ol>
        </nav>
    </div>

<div class="breadcrumb  accord"><a href="{% url 'DMSaccount:select_security' %}">{% trans 'Login Security' %}</a></div>

<div class="breadcrumb  accord"><a href="{% url 'DMSaccount:change_password' %}">{% trans 'Password Settings' %}</a></div>

<div class="breadcrumb  accord"><a href="{% url 'DMS:theme_management_selection' %}">Theme Management</a></div>

<div class="breadcrumb  accord"><a href="{% url 'DMSaccount:page_records_setting' %}">Pagination Settings</a></div>

{% endblock %}
