{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% load i18n %}
{% load static %}
<head>
  {% block javascript_webcam %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/webcamjs/1.0.25/webcam.min.js"></script>
  {% endblock %}

  <style type="text/css">

    #results { padding:20px; border:1px solid; background:#ccc; display: none; }

    #accesscam { cursor: pointer; }
    {% if login_security == 6%}
    #signup { cursor: pointer; display: none; }
    {% endif %}

  </style>
</head>
<style>
body{
    margin: 0;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    text-align: left;
    <!--background: linear-gradient(to bottom, #3372b7, #ffffff);-->
}

    /* Response */

    span.response{
        padding: 6px;
        display: none;
    }

    span.not-exists{
        color: red;
    }

    .exists{
        color: green;
    }

</style>
<main class="my-form">
    <div class="card">
        <div class="card-header text-center" style="background: #0d4c91;color: white;font-size: large;">{% trans 'Registration' %}</div>
        <div class="card-body">
          {% if messages %}
              {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  {{ message }}
                </div>
              {% endfor %}
          {% endif %}
            <form autocomplete="off"  method="POST" enctype="multipart/form-data" id="form-id">
                {% csrf_token %}
                <table style="display:table;" class="table-responsive">
                    <tbody>
                    <tr>
                        <td style="padding:5px; width:50%" valign="top">
                            {% for field in form %}
                            <span>{{ field.label_tag }} {% if field.field.required %} * {% endif %}
                             {% if field.name == 'username' %} <span><i id="uname_response" class="response"></i></span>{% endif %}
                             {% if field.name == 'password2' %} <span><i id="password_response" class="response"></i></span>{% endif %}
                             </span>
                            <span>{{ field }}  </span><br>
                            {% if field.name == 'password1' %}
                              <p id="pass_length" class="response"></p>
                              <p id="pass_commom" class="response"></p>
                              <p id="pass_number" class="response"></p>
                              <p id="pass_char" class="response"></p>
                            {% endif %}
                            {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                            {% endfor %}
                            {% endfor %}
                        </td>
                        <td style="padding:5px; width:50%" valign="top">
                            {% for field1 in profile_form %}
                            <span>{{ field1.label_tag }} {% if field1.field.required %} * {% endif %}
                            {% if field1.name == 'email' %} <span><i id="email_response" class="response"></i></span>{% endif %}
                            </span>
                            <span>{{ field1 }} </span><br>
                            {% for error in field1.errors %}
                            <p style="color: red">{{ error }}</p>
                            {% endfor %}
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <div id="my_camera"></div>
                        {% if login_security == 6 %}
                        <td> <button type="submit" class="form-control btnRegister btnSubmit" id="signup" value="Signup" >{% trans 'Sign Up' %}</button>
                        <input type="button" class="form-control" value="{% trans 'Access Camera' %}" id="accesscam" onclick="openCamera();"></td>
                        {% else %}
                          <td> <button type="submit" class="form-control btnRegister btnSubmit" id="signup" value="Signup" >{% trans 'Sign Up' %}</button></td>
                        {% endif %}
                        <td> <button type="reset" class="form-control btnRegister" value="Reset">{% trans 'Cancel' %}</button></td>
                        <input type="hidden" name="image" class="image-tag" value="{{ data_uri }}">
                        <div id="results">Your captured image will appear here...</div>
                    </tr>
                    </tbody>
                </table>
            </form>

        </div>
</main>

<script src="{% static 'js/datepicker1.js' %}"></script>
<script src="{% static 'js/datepicker2.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/datepicker.css' %}">

<script src="{% static 'js/sweetalert.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/sweetalert.css' %}">
<script language="JavaScript">


  $(document).ready(function () {
      $("#accesscam").click(function () {
         $("#signup").show()
         $("#accesscam").hide()
        });

      // validate();
      // $('input').on('keyup', validate);

  });



  function validate() {
    var inputsWithValues = 0;

    // get all input fields except for type='submit'
    var myInputs = $("input:not([type='button'],[type='submit'],[type='image'],[type='hidden'])");
    console.log(myInputs);

    myInputs.each(function(e) {
      // if it has a value, increment the counter
      if ($(this).val()) {
        inputsWithValues += 1;
      }
    });

    if (inputsWithValues == myInputs.length) {
      $("input[type=button]").prop("disabled", false);
    } else {
      $("input[type=button]").prop("disabled", true);
    }
  }


  function openCamera(){
      console.log("POPUP OPENED")
       var user = $('#id_username').val();
       console.log("main user",user)
      <!--setTimeout(function () {-->
      <!--win.close();-->
      <!--}, 10000);-->


     var forType = 'signup'
     window.open("/camera/"+user+"/" + forType + '/',null,"height=450px, width=600px, status=no, resizable=yes");
      Webcam.set({

        width: 490,

        height: 390,

        image_format: 'jpeg',

        jpeg_quality: 90

    });






  }

</script>
<script>
  $(function () {
    $("#yz").datepicker({
        changeMonth: true,
        changeYear: true,
        yearRange: '1950:2001',
        dateFormat: 'dd-mm-yy'
    })

    $(function(){
    $('.numeric').bind('keypress', function (e) {
        return (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57) && e.which != 46) ? false : true;
        });
    });


    $("#phone").on('input', function(e){
     if (this.value.length > 12) {
        this.value = this.value.slice(0,12);
    }
    })


  });




</script>
<script src="{% static 'javascript/signup-validations.js' %}"></script>
{% endblock %}
