{% extends 'base.html' %}

{% block content %}
Thank You for your Response. Please confirm your email first to login.
<a href="{% url 'signup' %}" class="btn btn-primary"> Back </a>
<a href="{% url 'user_login' %}" class="btn btn-info"> Login </a>
{% endblock %}
