
{%extends 'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block content %}
<style>
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);


body{
    margin: 0;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    text-align: left;
    background: linear-gradient(to bottom, #3372b7, #ffffff);
}

</style>

<main class="my-form">
                    <div class="card">
                        <div class="card-header text-center" style="background: #0d4c91;color: white;font-size: large;">Registration</div>
                        <div class="card-body">
<form autocomplete="off"  method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div style="display:table-cell;padding:5px;width:50%">
                {% for field in form %}
                    <span class="cell">{{ field.label_tag }}</span>
                    <span class="cell">{{ field }}</span><br>
                    {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                {% endfor %}
            </div>
            <div style="display:table-cell;padding:5px;">
                {% for field1 in profile_form %}
                    <span class="cell">{{ field1.label_tag }}</span>
                    <span class="cell">{{ field1 }}</span><br>
                        {% for error in field1.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                {% endfor %}

            </div>
                <button type="submit" class="form-control btnRegister" value="Signup">Sign Up</button>
</form>

        </div>
      </div>

</main>

    <script src="{% static 'js/datepicker1.js' %}"></script>
    <script src="{% static 'js/datepicker2.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/datepicker.css' %}">
    <script>
      $(function () {
        $("#yz").datepicker({
            changeMonth: true,
            changeYear: true,
            yearRange: '1950:3000',
            dateFormat: 'dd-mm-yy'
        })
      });
    </script>
{% endblock %}
