{% load i18n %}
<h2>Delete your account</h2>
<hr>
<form action="all_users" method="POST" class="padding" autocomplete="off">{% csrf_token %}
    {{ user_form.as_p }}
    <button class="btn btn-primary" type="submit" name="action">{% trans "Confirm" %}</button>
</form>
